.ac-pular,
.ac-explicacao{font-size:1px; text-indent: -99999px; height:0px; overflow: hidden;position:absolute;background: none!important;}

.ac-link{
	{font-size:1px; text-indent: -99999px; height:0px; overflow: hidden;position:absolute;background: none!important;}
}
