/*assets */
.todos-assets { float:right; cursor: pointer; }
.todos-assets:hover p { text-decoration:underline; }
.todos-assets i { float:left; margin-right:0 !important; position:relative; margin:0px!important; }
.interna.videos #content .filtro h3 i.sprite-btn-voltar-videos { margin-top:0; }
.todos-assets p { background: url(/portal/images/capaPrograma/vilasesamo2/pattern-diagonal-jogos.png) repeat; float:left; margin:0 !important; margin-left:-15px !important; height:48px; line-height:48px; padding:0 10px 0 20px; color: #FFFFFF;    font-size: 25px!important;    font-weight: normal;    text-transform: uppercase; }
#content .filtro { border-bottom:none; margin-bottom:0; }
#content .filtro h3 { padding-right:0; }
.conteudo-asset { padding:10px 20px 20px; background:#fff; overflow: hidden; width: 900px;}
h2 { font-size:18px; line-height:22px; margin:0; font-weight:normal; color:#1993f7; text-transform:uppercase; }
#content p { font-size:16px; float:left; }
.conteudo-asset p a { float:right; width: 220px; margin-left:2%; }


.conteudo-asset .asset { text-align:center;}
#content .relacionados { background:#0191fb; color:#fff; margin:0 auto; padding:0; max-width:940px; overflow:hidden; position:relative; border-bottom:7px solid #02CBFF; }
.relacionados h2 { margin:0; color:#fff; padding:10px; background:#3aaaec}
.relacionados p {  float:left;}
.relacionados p a { color:#fff; }
.relacionados p a:hover { text-decoration:underline; }
.relacionados .todos-assets  { position:absolute; top:10px; right:0; }
.relacionados .divisa { margin:0 auto; }
/*#carrossel-interna .slider-mask-wrap { margin:0 auto; }
#carrossel-interna { margin:20px auto 0; }
#carrossel-interna .slider li { border-bottom:1px solid #7732e5;  background:#883feb; }
#carrossel-interna .slider li a { color:#fff; text-transform:uppercase; }
#carrossel-interna .slider li img { border:1px solid #7732e5; margin:0 -1px; }
#carrossel-interna .slider li.atividade { background:#883feb; }
#carrossel-interna .slider li.jogo { background:#3aaaec; border-color:#0191fb; }
#carrossel-interna .slider li.jogo img { border-color:#0191fb; }
#carrossel-interna .slider li.video { background:#f5861f; border-color:#f07317; }
#carrossel-interna .slider li.video img { border-color:#f07317; }
#carrossel-interna .slider li .nome { padding:0; display: block; height:40px; line-height: 40px; }
#carrossel-interna .slider li .nome i { float:left; margin:0 15px; }
#carrossel-interna .slider li .nome i.sprite-ico-videos-p { margin-top:4px; }
#carrossel-interna .slider li .nome i.sprite-ico-jogos-p { margin-top:7px; }
#carrossel-interna .slider li:hover a { text-decoration:underline; }*/
/* form */
#content .form{position:relative; overflow: hidden;margin-bottom:20px;}
#content .form .span12{margin-bottom:20px;}
#content .form .span8{margin:0;}
#content .form .span4{margin-left:20px;}

#content .section.form,
#content section.form { background:#3aaaec; margin:0 auto; padding:20px; max-width:900px; }
#content .section.form .span8,
#content section.form .span8 { width: 64%; }
#content .section.form .span4,
#content section.form .span4 { margin:0 !important; float:right; width:300px; }
#content .section.form p,
#content section.form p,
#content .section.form label,
#content section.form label,
#content .section.form h2, 
#content section.form h2 { color:#fff; }
#content .section.form h2,
#content section.form h2 { font-size: 25px;margin-bottom: 20px; }
#content .form input.error,
#content .form select.error,
#content .form textarea.error{margin-left: 10px;border: #fffd2f 2px solid;color: #fffd2f!important;background: #737373;}
.form-horizontal .control-label {text-align:left; *float:left; float:left; width:40px !important;}
.form-horizontal .control-group.span12{width:100%;}
.form-horizontal .control-group textarea { width: 495px;margin-left: 1%;height: 80px;margin-left: 10px;border-radius: 0px; }

.form-horizontal .control-group { float: left;    margin-left: 0;    margin-right: 0;    width: 91%; }
.form-horizontal .control-group input {margin: 0; float:left;}
#content section.form .form-horizontal .span8 { width: 410px; }
.form-horizontal .span8.control-group input{width:340px;margin-left:10px;}
.form-horizontal .span8.control-group.cidade{width:468px!important; margin-bottom:20px;}
.form-horizontal .span8.control-group.cidade input{width:400px;}
.form-horizontal .idade.span2 input,
.form-horizontal .span8.control-group input,
.form-horizontal .control-group a  { height:26px; line-height:26px; display: block;border-radius: 0;height: 35px;float: left;}
.form-horizontal .estado .control-label { width:auto; }
.form-horizontal .estado .control-group,
.form-horizontal .estado select { width:90px; }
.form-horizontal .estado select { height:36px; line-height:36px; }
.form-horizontal .estado .control-group { margin:0; }
.form-horizontal .control-group { margin:0 0 2% 0; min-height:25px; }
.form-horizontal .control-group.idade  .control-group { width: 66%; float:right; } 
.form-horizontal .idade.span2 input{width: 75px; margin-left: 10px;}
.form-horizontal .idade.span2 { width:145px; float:left; margin-left:20px;}
.form-horizontal .span2.estado { width:85px; float:left; margin-left:20px; }
.form-horizontal .span2.estado select{width:85px;}
.form-horizontal .span2 input { width: 75%; }
.form-horizontal .span2 .control-group { margin-right:0; }
.form-horizontal .anexo .control-group { overflow:hidden; width: 61% !important; }
/*.form-horizontal .anexo input { overflow:hidden; margin-left: -37px; float:left; }*/
.form .sucesso .btn,
.form-horizontal .span11 .btn,
.form-horizontal .anexo a { height:36px; line-height:36px; background:url(/portal/images/capaPrograma/vilasesamo2/pattern-botao.jpg) repeat-x; display: block; padding:0 5px; color:#737373; text-transform:uppercase; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; font-size: 18px; text-align:center; }
.form-horizontal .control-label.sprite-ico-email, 
.form-horizontal .sprite-ico-email { margin-top:4px; }
.form-horizontal .sprite-ico-anexo { width:28px !important; }
.form-horizontal .anexo .control-group { width:71% !important; }
.form-horizontal .span11 { float:right; }
.form-horizontal .span11 a { color:#fffb49;}
.form .sucesso .btn,
.form-horizontal .span11 .btn { width:100%; border:none; box-shadow:none; text-shadow:none; font-size:18px; margin-bottom: 28px; }
.form .sucesso { float:left; margin:60px 0; }
.form .sucesso p { font-size:18px; text-transform:uppercase; text-align:center; }
.form .termo{width: 526px;background: #d9d9d9;float: right;height: 90px;border-radius: 5px;overflow:scroll;}
.form .termo::-webkit-scrollbar {height: 12px;width: 20px;background: #d9d9d9;}
.form .termo::-webkit-scrollbar-thumb {background:#737373;-webkit-border-radius: 0.5ex; border:2px solid #d9d9d9;}
.form .termo::-webkit-search-results-decoration,
.form .termo::-webkit-scrollbar-corner {background: #d9d9d9;}
.form label.error{position:absolute;position: absolute;bottom: 18px;left: 37px;font-size: 21px!important;padding: 0;margin: 0;}
.atividades .form label.error{background:#883feb; }
.form .control-group.span11 label{margin: 0; padding: 0; font-size:16px;}
.form .control-group.span11 input{margin: 3px;}
/* /form */

/* ie */
.pais .row-fluid .span4 {  *margin:2px !important;}
#content .filtro h3 { *position:relative }
.todos-assets { *position:absolute; *top:7px; *right:0 }
.option-assets{ display: block; float:right; font-size: 25px; color:#571ed9;font-family: 'din-blackregular',Arial, Helvetica, sans-serif; text-transform:uppercase; padding: 10px 10px 10px 0px; margin: 10px 0 30px 0;}
.option-assets:hover span{color:#571ed9; text-decoration:underline;}
.option-assets span{float:left;margin: 10px;}
/* /assets */

/* atividades*/
.interna.atividades .todos-assets p { background-image: url(/portal/images/capaPrograma/vilasesamo2/pattern-diagonal-atividades.png);font-size:25px!important; }
.interna.atividades .conteudo-asset h2 { color:#883feb; }
.interna.atividades #content{background-color:#571ed9;}
.interna.atividades #content .relacionados {background:#7732e5; border-bottom:none;}
.interna.videos #content .section.form,
.interna.atividades #content section.form,
.interna.atividades .relacionados h2 { background:#883feb }
.interna.atividades .divisa{background-color: #883feb;margin-bottom: 0;} 
 
/* /atividades*/

/* videos */
.interna.videos .todos-assets p { background-image: url(/portal/images/capaPrograma/vilasesamo2/pattern-diagonal-videos.png); }
.interna.videos .conteudo-asset h2 { color:#f27300; }
.interna.videos #content .relacionados {background:#f57301; border:none;}
.interna.videos #content .filtro h3 span,
.interna.videos #content .filtro h3 i,
.interna.videos #content h3 span,
.interna.videos #content h3 i { margin-top:-6px; }
.interna.videos #content .section.form,
.interna.videos #content section.form,
.interna.videos #content .relacionados h2 { background:#f78701; }
/* /videos */
