.inner{position:relative}
.inner a{overflow: hidden;width:100%; height:100%;}
.inner a img{position:absolute; top:0;}
/* carrossel personagem */
#carrossel-personagem { margin-bottom:0 !important; }
#carrossel-personagem .header-carrossel-personagens{position:relative; border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;overflow:hidden;}
#carrossel-personagem .topo-p {width:100%; height: 7px; border-bottom:2px solid #c31408; background:#ee3021;display: block; border-top-left-radius: 10px; -moz-border-top-left-radius: 10px; -webkit-border-top-left-radius: 10px; border-top-right-radius: 10px;  -moz-border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px;}
#carrossel-personagem .sprite-icon-personagens-peq { display:block; float:left; margin:2px 10px;}
#carrossel-personagem h3 { color:#fff; text-transform:uppercase; margin:0; }
#carrossel-personagem .arrow span { height: 70px;  width: 46px; background-color:transparent; margin-top:100%; }
#carrossel-personagem .slider .inner { margin:5px 0 5px 5px; border:none; }
#carrossel-personagem .slider li { height:auto; width:auto; }
#slider .mpc_ls_ui_button.style02 { background: url("/portal/images/capaPrograma/vilasesamo2/sprite-setas.png")  0 -1565px; ; width: 46px; height: 70px; }
#slider .mpc_ls_next_slide.style02 { background-position:  0 -1267px; }
.navbar-inverse .navbar-inner.topo-vila { /* background:  url("/portal/images/capaPrograma/vilasesamo2/bg-topo-vila-home.jpg") repeat-x */; height:55px; }
#content { top:51px; }
/* /carrossel personagem */

#slider .mpc_ls_slides_thumbs.style02 .mpc_ls_thumb { background:#fcbb00; border:2px solid #FEE133; border-radius: 8px; }
#slider .mpc_ls_slides_thumbs.style02 .mpc_ls_thumb.active { background:#feff33;  border:2px solid #fcbb00; }
#slider .mpc_ls_slides_thumbs.style01 { box-shadow: inset 0 1px 1px red;}
.divisa.tipo2 { background: url("/portal/images/capaPrograma/vilasesamo2/pattern-divisa2.jpg") repeat-x; height: 2px; margin:0 auto; }

#carrossel-personagem .slider .inner.garibaldo { background:#ff6525 !important; }
#carrossel-personagem .slider .inner.bel { background:#ffcccb !important; }
#carrossel-personagem .slider .inner.enio { background:#61cbff !important; }
#carrossel-personagem .slider .inner.beto { background:#00cccd !important; }
#carrossel-personagem .slider .inner.grover { background:#ffff33 !important; }
#carrossel-personagem .slider .inner.elmo { background:#9acd34 !important; }
#carrossel-personagem .slider .inner.comecome { background:#9928ce !important; }
#carrossel-personagem .slider .inner.zoe { background:#ce62cf !important;}

#carrossel-personagem .slider .nome { font-size:18px; color:#d71c0d; text-transform:uppercase; display:block; text-align:center; }
#carrossel-personagem .slider li:hover .nome { font-family: 'din-blackregular', "Helvetica Neue", Helvetica, Arial, sans-serif; text-decoration:underline; }


.destaques .span4.atividades a{background: #883feb;border-bottom: 2px solid #7732e5;border-top: 2px solid #7732e5; padding:0;}
.destaques .span4.jogos a{background: #3aaaec;border-bottom: 2px solid #0191fb;border-top: 2px solid #0191fb; padding:0;}
.destaques .span4.videos a{background: #f5861f;border-bottom: 2px solid #f57301;border-top: 2px solid #f57301; padding:0;}

.destaques .span4.atividades img{border-bottom: 2px solid #7732e5;}
.destaques .span4.jogos img{border-bottom: 2px solid #0191fb;}
.destaques .span4.videos img{border-bottom: 2px solid #f57301;} 
 
.destaques .span4.atividades{border-top: 7px solid #b16af2;border-bottom: 7px solid #b16af2;border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius:4px;}
.destaques .span4.jogos{border-top: 7px solid #02cbff;border-bottom: 7px solid #02cbff;border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius:4px;}
.destaques .span4.videos{border-top: 7px solid #fba500;border-bottom: 7px solid #fba500;border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius:4px;}
.destaques .span4 .texto{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;padding: 0; font-size:16px;font-family:'dinmedium',Arial, Helvetica, sans-serif;}