/* carrossel personagem */
#carrossel-personagem { margin-bottom:0 !important; }
#carrossel-personagem .header-carrossel-personagens{position:relative; border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;overflow:hidden;}
#carrossel-personagem .topo-p {width:100%; height: 4px; border-bottom:1px solid #c31408; background:#ee3021;display: block; border-top-left-radius: 10px; -moz-border-top-left-radius: 10px; -webkit-border-top-left-radius: 10px; border-top-right-radius: 10px;  -moz-border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px;}
#carrossel-personagem .sprite-icon-personagens-peq { display:block; float:left; margin:10px;}
#carrossel-personagem h3 { color:#fff; text-transform:uppercase; }
#carrossel-personagem .arrow span { height: 70px;  width: 46px; background-color:transparent; margin-top:100%; }
#carrossel-personagem .slider .inner { margin:5px 0 5px 5px; border:none; }
#carrossel-personagem .slider li { height:auto; width:auto; }
#slider .style02 { background: url("/portal/images/capaPrograma/vilasesamo2/sprite-setas.png")  0 -1570px; ; width: 46px; height: 70px; }
#slider .mpc_ls_next_slide.style02 { background-position: 0 -1272px; }
/* /carrossel personagem */