/*header*/
a:hover, a:visited{color:#fff!important;}

.header--fixed {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.bounceOutUp{top:-90px}

.header-bar .header-bar-mobile{display:none}
.header-desktop{display:none;}
.header-tablet{display:none;}
.header-mobile{display:block; position: fixed;z-index: 50000;background: #fff;width: 100%;top:0;}
.header-mobile{height: 70px;-moz-box-shadow: 0 0 30px 1px #C2C2C2;-webkit-box-shadow: 0 0 30px 1px #C2C2C2;box-shadow: 0 0 30px 1px #C2C2C2;-moz-box-shadow:inset 0 0 30px 5px #e5e5e5 ;}
.header-mobile a.logo-mobile{margin:1px 0 0 10px;overflow: hidden;float: left;max-width:125px;display: block;left: 5%;}
.header-mobile a.btn-menu{margin-top:5px;overflow: hidden;float:right;margin: 11px 15px 0 0px;width:50px;}
.header-mobile .search-mobile{background:#FCF2AE;overflow: hidden;}
.icone-busca {background-size: 74%;height: 38px;background-position: 9px -355px;width: 38px;}
.icone-busca:hover {background-position: 10px -310px;height: 38px;}
.header-mobile .search-mobile form{margin: 2% 0% 2% 2%;max-width: 255px; float:right;}
.header-mobile .search-mobile form input {width: 69%;height: 25px;font-size: 1.1em;line-height: 25px;text-align: center;}
.imagem-topo{position: absolute;width: 125px;bottom: 0;left: 50%;margin-left: -29px;}
#header-bar-mobile{display:none;}
#header-bar-mobile .content h1{width:50%;display: block;float: left;}
#nav-mobile{width:100%;padding: 0;background: #ffffff; position: absolute;z-index: 40000;top: 70px;display:none;}
#nav-mobile a{padding:1% 2%;text-decoration:none;font-family:'din-blackregular', Arial, Helvetica, sans-serif;width:100%;border-bottom:1px dotted #333;font-size: 1.2em; float:left; text-align:right; text-transform:uppercase;color:#333!important;line-height: 40px;}
#nav-mobile img{float: right;width: 25px; margin:6px 15px 0 15px;}
#nav-mobile a:last-child{border:none}
.navbar-fixed-top {margin-bottom: 0;position:fixed;}
.navbar-inverse .navbar-inner.topo-vila {background:#fff!important;height: 105px!important;padding: 4px 6px;}
.navbar .container {width: auto;background: url(http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/mobile/icon_menu_mobile.png) no-repeat right;}
.last{background: url(http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/mobile/icon_fecha.png) no-repeat right;}
/*desaparece se for mobile o topo dos pais*/
.topo-vila .nav {display: none;}
.header-bar{display: none;}
.form-search{display: none;}
/*desaparece o topo dos pais*/


/*section{background:green!important;}*/

/* geral */
/* footer{display:none;}
#carrossel-destaque{display:none;}*/
#no-mobile{display: none;}
#content{top:70px!important;margin-bottom:0!important;}
#mobile{display: block; padding-bottom:0;margin-top:80px; }
.atividades.interna #mobile{margin-top: 80px; }
/*.videos #content{top:20px!important; }*/
.videos #mobile{margin-top: 40px; }
footer{width: 100%;}
footer .logos ul{padding:0;}
footer .logos ul li{width:50%; float:left;height:30px; margin:10px 0}
footer .logos .col-dir a {margin-top: 6%;}
footer .mapa {margin:2%;}
footer .mapa .span12 {border: 1px solid #f0f0f0;margin-left: 0;clear: both;height: auto;}
footer .mapa .col-esq.cuidadores-footer{width:50%;}
footer .mapa .col-central.natv-footer{width:50%;}
footer .mapa h2, footer .mapa a {font-size:  1.8em;}    
footer .copyright small {text-align: center;font-size: 0.9em;}
footer .copyright {height: 30px;margin-left: 2%;display:none} 
footer .relacionados {display:none}
footer .relacionados h1 {width: 100%; text-align:center; margin:0 auto 10px auto; font-size:1.3em;}

.relacionados-mobile{width: 96%;padding: 2%;overflow: hidden;display: block;}
.relacionados-mobile a{width: 16%;float: left;margin-left: 6%;}
.relacionados-mobile a > img{margin:0 auto;display: block;}
.fifty{width:48%!important;}
/*.icone-busca {width: 30px;height: 30px;}*/
.logos{width: 100%;}
.logos a{width: 80%;display: block;margin:0 auto;}
.logos a > img{width:100%;} 
.logos .last-li{margin-top: 15px;}

/* geral */

/* index */
#carrossel-destaque{display:none}
#carrossel-destaque-mobile{display:block!important;}
#content h1 {font-size: 1.5em;/* padding-left:60px;*/}
a{text-decoration:underline!important;}
.destaques{padding:0 10px}
.destaques > .span4{width:100%!important;margin:10px 0; position:relative;overflow: hidden;min-height: 80px;}
.destaques > .span4 img{}
.destaques > .span4 .texto{font-size:0.9em!important; padding-top: 10px!important;}
.destaques > .span4 .icones-sprite-interna{margin-top: 10px!important;}
.destaques > .span4 .container-image{overflow: hidden; height: 150px;}
.span4.banner{display:none!important;}
.destaques.span8{width:100%!important;padding:0 8%;}
.bgtotal{padding-bottom: 10px;}
.destaques .videos .yt-menu img {max-width:800px; top:-40px!important;}
#carrossel-personagem {padding: 0 8%; margin-top:10px!important; max-width:100%!important;}
#carrossel-personagem h1{display:none;}
#carrossel-personagem .slider .nome {color:#d71c0d!important;font-size: 0.9em!important;font-family:'din-blackregular',Arial, Helvetica, sans-serif;}
#carrossel-personagem .slider li{width: 80px!important; height:100px!important;}
#carrossel-personagem .slider .inner{width:75px!important; height:75px!important; }
#carrossel-personagem .slider-mask-wrap {height:108px!important}
#carrossel-personagem .slider-nav{display:none!important;}
#slider-mobile{height:115px!important}


/*acessibilidade*/
.acessibilidade .box-acessibilidade {width: 100%!important;}
.acessibilidade #content .filtro h1 {font-size:1.2em;padding: 0;height: 56px;margin: 0;line-height: 56px;}
.acessibilidade .fundo-acessibilidade {width:100%!important; margin:0 auto;display: none}
.icone-acessibilidade{background: url(http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/sprites/icones-interna.png) no-repeat top left;background-position: -125px -544px;margin: 3% 0 0 18%;width: 15%;height: 40px;}



/* na tv */
.na-tv #content{margin:20px 5%}
.na-tv #content .filtro {margin-bottom: 80px!important;}
.na-tv #content .filtro h1{font-size:1.2em;padding: 0;height: 56px;margin: 0;line-height: 56px}
.na-tv .ola{font-size: 1.4em!important;top: 5%!important;left: 3%!important;}
.na-tv #content .fundo-na-tv {width: 70%;margin: 0 auto;position: relative;top: 35px;display:none;}
.na-tv #content .container-na-tv {padding-bottom:20px}
.na-tv #content .container-na-tv .container-horarios {width:100%; max-height:500px; float:left;}
.na-tv #content .box-horario{width:98%; margin:0 0 10px 0;}
.na-tv .icone-na-tv-grande {background-position: -125px -466px;margin: -1% 0 0 33%!important;width: 44px;}
.na-tv footer #mobile{margin-top:-70px;}


/*pais capa*/
.cuidadores .span8{width: 100%!important;}
.cuidadores .selecione .btn-group {width:100%!important; margin-bottom:15px!important; float:left;}
.cuidadores .selecione .btn-group .dropdown-toggle {width: 96%!important; font-size: 14px;}
.cuidadores .divisa{width:90%; margin: 0 5%;}
.cuidadores #content .selecione .barra-selecao h3 {font-size:1.1em}
#content .todos-itens a{font-size:1em}
.container-carrossel h1{height:67px!important}
.cuidadores #content .span8{padding:0 8%}
#carrossel-interna-artigo {height: auto!important;}
#carrossel-interna-artigo .slider-mask{width:100%!important;}
#carrossel-interna-artigo .slider .videoorimage {width: 180px;padding: 20px;float: none;margin: 0 auto;}
#carrossel-interna-artigo .arrow-left.arrow,
#carrossel-interna-artigo .arrow-right.arrow{display:none;}
#carrossel-interna-artigo .slider li{height:auto!important;}
#carrossel-interna-artigo .slider .descritivo{width:90%; padding: 0% 5% 5% 5%!important; }
#carrossel-interna-artigo .btn-carrossel,
#carrossel-interna-artigo .btn-carrossel:hover,
#carrossel-interna-artigo .btn-carrossel:visited{color:#00c76e!important;text-decoration:none!important; }
#carrossel-interna-artigo .slider .descritivo{padding:0 5%;}
#carrossel-interna-artigo .titulo-slider h2{padding:0; margin:0;font-size: 1.2em;line-height: 1.3em; text-decoration:underline; }
#carrossel-interna-artigo .slider .descritivo p {font-size: 1em!important;line-height: 1.3em!important;margin-top: 15px;text-decoration: none!important;}
#carrossel-interna-artigo .container-itens{width: 100%!important;bottom: 0;top: auto!important;}

/*  Pais Artigos */
.cuidadores .icone-cuidadores-grande {background-position: 0 -563px;margin: -3% 0 0 14%!important;width: 40px;}
.cuidadores #content{margin:1%;}
.cuidadores #content h1 a{margin-top:10px;}
.cuidadores .filtro  {margin: 20px auto!important;width: 96%;}
.cuidadores .todos-assets p {text-align: center!important;font-size: 0.7em;line-height: 51px;}
.cuidadores .container-cuidadores .col-esq article .redes-artigo {display:none}
.cuidadores .container-cuidadores h3 {margin:0 auto;width: 70%;}
.cuidadores .img-topo-asset {width:90%!important}
.cuidadores .container-cuidadores .col-dir .box-ler .titulo-box, .cuidadores .container-cuidadores .col-dir .box-brincarjunto .titulo-box {width: auto!important}
.cuidadores .col-direita,#comente-este-artigo,.fb_iframe_widget,#div-gpt-ad-1385748525978-0{display: none!important;}
.cuidadores .container-cuidadores .col-dir{width:100%!important;margin:0!important}
.cuidadores .container-cuidadores .col-esq {width:100%!important; padding:5%!important;}
.cuidadores .container-cuidadores .col-esq article p {font-size: 1em!important; line-height:1.25em;}
.cuidadores .container-cuidadores .col-esq article ul{margin:0 0 10px 0;}
.cuidadores .container-cuidadores .col-esq article ul li{font-size: 1em!important;line-height: 1.25em; font-size:1em;}
.cuidadores .container-cuidadores .col-esq article ul li:before{content:"-"}
.cuidadores .container-cuidadores .col-dir .box-sobre .bottom-box-sobre {max-width:none!important;width: 100%}
.cuidadores .container-cuidadores .col-dir .box-sobre .bottom-box-sobre img {width: 100%}
.cuidadores .container-cuidadores .col-dir .box-sobre a{width: 95%;text-align: center;}
.cuidadores .todos-assets {width: 90%!important;font-size: 1em!important;background-image:none!important;background-color: #1DC252;margin-right: 7%;display: block;border-radius: 13px;}
.cuidadores .container-cuidadores .col-esq article section a {font-size: 1em!important}
.cuidadores .icone-voltar-artigo {height:0px!important}
.cuidadores #content .filtro h1 {height: 56px!important;font-size:1.2em!important;line-height: 3em;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding: 0 3%;}
.artigo #content .container-image{height: 150px;overflow: hidden;} 
.artigo #content header h1 {overflow: visible!important;white-space:normal!important;}
.cuidadores .container-cuidadores .col-dir .box-ler p {height: 57px!important;}
.ac-explicacao  {width: 0!important}
.parceiros-cuidadores, .na-tv .container-na-tv,.acessibilidade .box-acessibilidade p{text-align: left;font-size:1em;line-height: 1.25em;}/*texto corrido celular*/
.primeiro-p {font-size:1.2em;color:#666}/*texto corrido celular, primeiro p*/
.cuidadores .container-cuidadores .col-dir .box-ler p {color: #666;font-size: 1.1em;}
.destques{display:none!important}
.cuidadores #content .box-ler{display:none}
.cuidadores #content .destaques{display:none}
.cuidadores #content .box-sobre .links a:hover {color:#00aa52!important}

/* personagens */
.personagens #content{margin: 20px 5%;}
.personagens #content .conteudo-asset {width:100%;}
.personagens #content .conteudo-asset .asset{margin-left:0;}
.personagens #content h1{padding:0!important;font-size: 1.2em;height: 3em;}
.personagens #content .q-pers{width:134px;height:134px;}
.personagens #content #container-personagens a {width:100%;height:100%;margin-left:0;}
.personagens #content #container-personagens a p { background: url(http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/bg-transparente.png)  repeat; color:#d71c0d; font-size: 1.2em;font-family: 'din-blackregular',Arial, Helvetica, sans-serif!important;}
.personagens #carrossel-interna-personagem {height:310px;position:relative;max-width: 100%;}
.personagens #carrossel-interna-personagem #selector-interna-personagem a{width:12px;height:12px}
.personagens #carrossel-interna-personagem #selector-interna-personagem ul{width:142px}
.personagens .filtro .inner.personagem .active img {top: -27px!important;}
.personagens .filtro .inner.personagem img {top: -27px!important; opacity:1;-moz-opacity:1;-webkit-opacity:1;-ms-opacity:1;-o-opacity:1}
.personagens .filtro .filtro-personagem li {width: 58px;height: 58px;}
.personagens .filtro .filtro-personagem{width: 279px; margin: 0 auto!important;}
.personagens .filtro .span2 {width: 100%;margin:0!important;}
.personagens .dest-pers .span4.pull-left{display:none;}
.personagens #carrossel-interna-personagem .container-itens {width: 100%;top: 89%!important;}
.personagens #carrossel-interna-personagem .slider ul{overflow:hidden;}
.personagens #carrossel-interna-personagem .slider li {width: 288px;height: 288px;float: left;margin: 0;}
.personagens .filtro .span2 {width: 100%;}
.personagens .filtro .inner {width: 100%;height: auto;}
.personagens .desc-personagem {float: right;width: 100%;}
.personagens #content .filtro .descritivo {padding: 20px;width: 90%;float: left;}
.personagens #carrossel-interna-personagem .container-itens {width:100%;top: 33%;}
.personagens #content.dest-pers .span4.pull-left{width: 100%;padding: 0;min-height: 0}
.personagens .dest-pers img {width: 100%;padding: 0;border:none;}
.personagens .dest-pers {margin:0;padding:0;}
.personagens #carrossel-interna-personagem .slider .videoorimage {max-width: 245px!important;padding: 20px;margin: 0 auto;float: none;}
.personagens #content .span8 {width: 100%;padding: 0;margin: 10px auto!important;}
.personagens #content .span8 .span4{width: 90%;margin: 5%;}
.personagens a .container-image{height:150px;overflow: hidden;}
.personagens #page_nav{margin:0!important; height: 50px;padding: 0!important;}
.icone-personagem-grande{ background-position: 0 -1335px; width: 39px; height: 47px;margin: 0 0 0 23%!important;} 

.icone-carregar-br-grande{ background-position: 0 -1409px; width: 33px; height: 39px; margin-top: -5%!important;}    
.icone-carregar-lj-grande {background-position: 0 -1495px;width: 39px;height: 39px;}
  
/* assets internas (jogos, atividades, videos) */
.interna.jogos #content section,
.interna.videos #content section,
.interna.atividades #content section{margin: 10px auto;}

.interna.jogos #content .divisa,
.interna.videos #content .divisa,
.interna.atividades #content .divisa{margin: 0;}

.interna.jogos #content,
.interna.videos #content,
.interna.atividades #content{margin:0px 5%;}

.interna.jogos #content h1 .icones-sprite-interna,
.interna.atividades #content h1 .icones-sprite-interna,
.interna.videos #content h1 .icones-sprite-interna {margin: -7% 0 0 27%!important;}

.interna.jogos #content h1,
.interna.atividades #content h1,
.interna.videos #content h1 {font-size: 1.2em;white-space: nowrap;text-overflow: ellipsis;overflow: hidden; height:5.4em;line-height:1.4em!important;}

.interna.jogos #content .span12 h1,
.interna.atividades #content .span12 h1,
.interna.videos #content .span12 h1{ font-size: 1.2em;white-space: nowrap;text-overflow: ellipsis;overflow: hidden; height:1.4em;line-height:1.4em!important;}

.interna.jogos #content .icone-jogos-grande { background-position: 0 -947px; width: 40px; height: 45px}
.interna.atividades #content .icone-atividades-grande { background-position: 0 -371px; width: 34px; height: 55px}
.interna.videos #content .icone-videos-grande { background-position: 0 -1732px; width: 40px; height: 50px}

.interna.jogos #page_nav{font-size: 1em!important;background-image:none!important;background-color: #0172f9;display: block;border-radius: 13px;margin-bottom: -20%;}
.interna.videos #page_nav{font-size: 1em!important;background-image:none!important;background-color: #f78701;display: block;border-radius: 13px;margin-bottom: -20%;}
.interna.atividades #page_nav{font-size: 1em!important;background-image:none!important;background-color:#571ed9 ;display: block;border-radius: 13px;margin-bottom: -20%;}

.interna.jogos .conteudo-asset,
.interna.atividades .conteudo-asset,
.interna.videos .conteudo-asset{width:auto;}

.interna.jogos .todos-assets,
.interna.atividades .todos-assets,
.interna.videos .todos-assets{width: 90%!important;font-size: 1em!important;margin: 3% 7% 0 7%;;display: block;}

.interna.jogos #content .todos-assets p{background:#0172f9!important;font-size: 1em!important}
.interna.atividades #content .todos-assets p{background:#571ed9!important;font-size: 1em!important}
.interna.videos #content .todos-assets p{background:#f36701!important;font-size: 1em!important}

.interna.jogos .todos-assets p,
.interna.atividades .todos-assets p,
.interna.videos .todos-assets p{line-height: 51px;margin: 0 auto!important; padding:0; width: 104%;text-align: center;border-radius: 13px;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px; }

.interna.jogos .conteudo-asset p a {float: none;width: 220px;margin: 20px auto;display: block;}
.interna.videos .conteudo-asset p a {float: none;width: 220px;margin: 20px auto;display: block;}
.interna.atividades .conteudo-asset p a {float: none;width: 220px;margin: 20px auto;display: block;}

.interna.jogos .todos-assets i,
.interna.videos .todos-assets i,
.interna.atividades .todos-assets i {display:none!important;}


.interna .conteudo-asset h2{line-height: 32px;font-size: 1.2em;}

.interna.videos #player{width:270px; height:169px;}
.interna.atividades .paginas span{width:100%;font-size:1.2em}
.interna.atividades .changePicture{float:left; margin-right:5px}
.interna.atividades .option-assets.download{display:none;}
.interna.atividades .option-assets{font-size:1.2em}
.interna.atividades .option-assets.print{float:left;}

/*capa jogos, atividades, videos*/
.interna.videos .span10.destaque-filtro,
.interna.jogos .span10.destaque-filtro,
.interna.atividades .span10.destaque-filtro{display:none;}

.interna.videos .filtro .span12,
.interna.atividades .filtro .span12,
.interna.jogos .filtro .span12{border:none!important;}

.interna.videos .filtro .span12 h1,
.interna.atividades .filtro .span12 h1,
.interna.jogos .filtro .span12 h1{line-height:60px!important;}

.interna.videos .filtro .span12 nav.span2,
.interna.atividades .filtro .span12 nav.span2,
.interna.jogos .filtro .span12 nav.span2{display:none;}

.relacionados h2 {font-size: 1.1em}

#page_nav{margin-top: 25%!important;/* margin-bottom: 10%; */}

/*box pais*/

.pais .redes {display:none!important}
.pais h2.tit-box {font-size:1.2em}
.box-pais .dica-pai{width:95%!important;height:auto!important;}
.box-pais .artigo{width:95%!important;min-height: 0!important;}
.box-pais .parceiros{width:95%!important;height:auto!important;}
.box-pais .artigo p {height:auto!important;}
.box-pais a{color:#000!important;}
.pais .fechar-toogle.ativo {width:100%!important}
.box-pais.span12 {margin-left: 0;}

/* bo*/
#categoria-box-pais .pais .redes {display:none!important}
#categoria-box-pais .pais h2.tit-box {font-size:1.2em}
#categoria-box-pais .box-pais .dica-pai{width:95%!important;height:auto!important;min-height: 0;}
#categoria-box-pais .box-pais .artigo{width:95%!important;min-height: 0!important;}
#categoria-box-pais .box-pais .parceiros{width:95%!important;height:auto!important;}
#categoria-box-pais .box-pais .artigo p {height:auto!important;}
#categoria-box-pais .pais .fechar-toogle.ativo {width:100%!important}
#categoria-box-pais .box-pais.span12 {margin-left: 0;display: none;}

#sfWebDebugBar{display:none!important}
/*categorias *, habitos*/
.campanhas #content .filtro h1 {font-size:1.6em!important;}
.campanhas #content .container-campanhas iframe {width: 100%;margin-top: 0;}
.campanhas #content .btn-group {margin-top: 16%;width: 100%;right: 0;}

/*coleção incluir*/
.interna.campanhas .container-campanhas{margin: 2%;padding: 2%;}
.container-campanhas .texto {width:100%!important;}
.container-campanhas .asset{float: left!important;;margin-bottom:2%!important;margin-left: 0!important;}
.btns-download {width:100%!important}

@media screen and (max-width:500px) and (orientation:landscape){
  #carrossel-interna-personagem .slider .videoorimage {width:250px; padding: 20px;margin: 0 auto;float: none;display:block;}
}

@media screen and (orientation:landscape){
  #nav-mobile a {width:46%}
  
  .destaques > .span4 {margin-left:0!important;}
  
  .cuidadores .destaques .container-image{width: 35%!important;float: left!important;height: 50px!important;}
  .cuidadores .destaques .texto{padding-right: 4%!important;}
  .cuidadores .destaques a {line-height: 60px;}
  .cuidadores .destaques a i{margin:3% 1%!important;}
  
  /*
  .personagens #content .q-pers{width:22.7%;height:90px;}
  .personagens #content {min-height:0;}
  */
  #content .todos-itens {margin:15px auto;}
  #content .todos-itens .yt-menu,
  #content .todos-itens .container-image{height:150px!important; max-width:310px;}
  #page_nav{padding:0 8%;}
  #page_nav .container-ajax-loader{top:35%;left:8%;}
}

@media screen and (min-width:430px){
  .imagem-topo {width: 190px;left: 50%;margin-left: -77px;}
  .cuidadores .container-cuidadores .col-dir .box-sobre a {width: 45%!important;float: left!important;}
  .cuidadores .destaques .container-image{width: 35%;float: left;height: 61px!important;}
  .cuidadores .destaques .texto{padding-right: 4%!important;}
  .cuidadores .destaques a {line-height: 60px;}
  .cuidadores .destaques a i{margin:3% 1%!important;}
}

@media screen and (min-width:360px) and (max-width:500px) {
  #content .todos-itens #container {width: 100%;margin-left: 0!important}
	#content .todos-itens {margin:15px auto;padding: 1%;}
  #content .todos-itens .element{width: 48%;margin: 5px 0 0 5px!important;}
  #content .todos-itens li img{width:100%;}
  #content .todos-itens .yt-menu,
  #content .todos-itens .container-image{height:150px!important; max-width:310px;}
  #page_nav .mais{float: none!important;width: 190px!important;margin: 0 auto!important;font-size: 1.2em;line-height: 2em;}

}

@media screen and (max-width: 359px) {
	
	#content .todos-itens #container {width: 100%;margin-left: 0!important}
	.destaques > .span4 {margin-left:0!important;}
	#content .todos-itens {margin:15px auto;padding: 2%;}
	#content .todos-itens .element{width:100%; margin:5px 0!important}
	#content .todos-itens li img{width:100%;}
	#content .todos-itens .yt-menu,
	#content .todos-itens .container-image{height:150px!important; max-width:360px;}
	#page_nav .mais{float: none!important;width: 190px!important;margin: 0 auto!important;font-size: 1.2em;line-height: 2em;}
	#page_nav .container-ajax-loader{position:relative;margin:0 auto!important;top:0;left:0;}
	/*
	#carrossel-interna .slider li {width: 137px!important;float: left;}
  #carrossel-interna .slider li a {width:122px!important;}
  */
}

@media only screen and (max-width: 500px) and (min-width: 321px){
	.interna.jogos #content h1 .icones-sprite-interna {margin: -5% 0 0 36%!important;}
	.interna.jogos #content .span12 h1, .interna.atividades #content .span12 h1, .interna.videos #content .span12 h1{line-height: 1em!important;}
	.interna.atividades #content h1 .icones-sprite-interna{margin: -5% 0 0 32%!important;}
	.icone-acessibilidade{background-position: -101px -544px;}
	.cuidadores .icone-cuidadores-grande {background-position: 0 -563px;margin: -2% 0 0 23%!important;width: 9%;}
	.interna.videos #content h1 .icones-sprite-interna {margin: -5% 0 0 34%!important;}
	.icone-personagem-grande{margin: 0 0 0 31%!important;} 
}


/*form campanhas*/
#content .form .span12{margin-bottom:20px;padding: 4%;}
#content .form 	#content .span8 {width:100%!important;padding:0}
#form-campanha .span4 iframe {width: 270px;}
.form-horizontal .span8.control-group input {width: 80%!important;}
#content section.form { padding:0!important }
.form-horizontal .span2.estado {width: 100%;}
.form .dk_container {margin-left:78%}
.form-horizontal .idade.span2{width:90%!important;margin-left: 2%!important;}
.form-horizontal .idade.span2 input {float:left!important}
.form .file-wrapper .button {float:left!important}
.form-horizontal .control-group textarea{width: 76%!important;}
.form-horizontal .span11, .form .termo {float:none!important}
.form .control-group.span11 label {height:65px;float:left}
.conteudo-asset .asset {margin-left:-4%}
#content section.form .span4 {width: 286px!important; padding: 2%;}

.logotv-mobile{width: 17%; margin: 0 auto;padding: 2%;}


.interna.jogos #content .pais{display:none}
.interna.personagens #content .pais{display:none}
.interna.atividades #content .pais{display:none}
.interna.videos #content .pais{display:none}

.campanhas.categorias #mobile{margin-top: 0!important}

.campanhas.categorias #page_nav{background: #fffb49;margin: 0!important;height: 50px;padding: 0!important;}
.interna.jogos,.interna.videos,.intena.atividades #page_nav{margin-bottom: -20%!important;}
