@font-face {
  font-family: 'din-blackregular';
  src: url('http://cmais.com.br/portal/css/fontes/din/din-black-webfont.eot');
  src: url('http://cmais.com.br/portal/css/fontes/din/din-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://cmais.com.br/portal/css/fontes/din/din-black-webfont.woff') format('woff'),
       url('http://cmais.com.br/portal/css/fontes/din/din-black-webfont.ttf') format('truetype'),
       url('http://cmais.com.br/portal/css/fontes/din/din-black-webfont.svg#din-blackregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*header*/
.header-mobile button.alca{margin: 0 auto;position: absolute;bottom: 0;left: 50%;background: #e5e5e5;border: none;width: 50px;margin-bottom: 5px;border-radius: 10px;height: 20px;}   
.header-bar .header-bar-mobile{display:none}
.header-desktop{display:none;}
.header-tablet{display:none;}
.header-mobile{display:block; position: fixed;z-index: 50000;background: #fff;width: 100%;top:0;}
.header-mobile{height: 70px;-moz-box-shadow: 0 0 30px 1px #C2C2C2;-webkit-box-shadow: 0 0 30px 1px #C2C2C2;box-shadow: 0 0 30px 1px #C2C2C2;-moz-box-shadow:inset 0 0 30px 5px #e5e5e5 ;}
.header-mobile a.logo-mobile{margin:1px 0 0 10px;overflow: hidden;float: left;max-width:125px;display: block;left: 5%;}
.header-mobile a.btn-menu{margin-top:5px;overflow: hidden;float:right;margin: 11px 15px 0 0px;width:50px;}
.header-mobile .search-mobile{background:#FCF2AE;overflow: hidden;}
.header-mobile .search-mobile form{margin: 2% 3%;max-width: 255px; float:right;}
.header-mobile .search-mobile form input {width: 70%;height: 25px;font-size: 1.3em;line-height: 25px;}
.imagem-topo{position: absolute;width: 125px;bottom: 0;left: 50%;margin-left: -29px;}
#header-bar-mobile{display:none;}
#header-bar-mobile .content h1{width:50%;display: block;float: left;}
#nav-mobile{width:100%;padding: 0;background: #ffffff; position: absolute;z-index: 40000;top: 70px;display:none;}
#nav-mobile a{padding:1% 2%;text-decoration:none;font-family:'din-blackregular', Arial, Helvetica, sans-serif;width:100%;border-bottom:1px dotted #333;font-size: 1.2em; float:left; text-align:right; text-transform:uppercase;color:#333!important;line-height: 30px;}
#nav-mobile img{float: right;width: 25px; margin:2px 15px 0 15px;}
#nav-mobile a:last-child{border:none}
.navbar-fixed-top {margin-bottom: 0;position:fixed;}
.navbar-inverse .navbar-inner.topo-vila {background:#fff!important;height: 105px!important;padding: 4px 6px;}
.navbar .container {width: auto;background: url(/portal/images/capaPrograma/vilasesamo2/mobile/icon_menu_mobile.png) no-repeat right;}
.last{background: url(/portal/images/capaPrograma/vilasesamo2/mobile/icon_fecha.png) no-repeat right;}
/*desaparece se for mobile o topo dos pais*/
.topo-vila .nav {display: none;}
.header-bar{display: none;}
.form-search{display: none;}
/*desaparece o topo dos pais*/



/*section{background:green!important;}*/

/* geral */
/* footer{display:none;}
#carrossel-destaque{display:none;}*/
#no-mobile{display: none;}
#content{top:0!important;margin-bottom:0;}
#mobile{display: block; padding-bottom:0; }
footer{width: 100%;}
footer .logos ul{padding:0;}
footer .logos ul li{width:50%; float:left;height:30px; margin:10px 0}
footer .logos .col-dir a {margin-top: 6%;}
footer .mapa {margin:2%;}
footer .mapa .span12 {border: 1px solid #f0f0f0;margin-left: 0;clear: both;height: auto;}
footer .mapa .col-esq.cuidadores-footer{width:50%;}
footer .mapa .col-central.natv-footer{width:50%;}
footer .mapa h2, footer .mapa a {font-size:  1.8em;}    
footer .copyright small {text-align: center;font-size: 0.9em;}
footer .copyright {height: 30px;margin-left: 2%;} 
footer .relacionados h1 {width: 100%; text-align:center; margin:0 auto 10px auto; font-size:1.3em;}

.relacionados-mobile{width: 96%;padding: 2%;overflow: hidden;display: block;}
.relacionados-mobile a{width: 16%;float: left;margin-left: 6%;}
.relacionados-mobile a > img{margin:0 auto;display: block;}
.fifty{width:48%!important;}
/*.icone-busca {width: 30px;height: 30px;}*/
.logos{width: 100%;}
.logos a{width: 80%;display: block;margin:0 auto;}
.logos a > img{width:100%;} 
/* geral */

/* index */
#carrossel-destaque{display:none}
#carrossel-destaque-mobile{display:block!important;}
#content h1 {font-size: 1.5em;/* padding-left:60px;*/}
.destaques{padding:0 10px}
.destaques > .span4{width:100%!important;margin:10px 0; position:relative;overflow: hidden;min-height: 80px;}
.destaques > .span4 img{}
.destaques > .span4 .texto{font-size:0.9em!important; padding-top: 10px!important;}
.destaques > .span4 .icones-sprite-interna{margin-top: 10px!important;}
.destaques > .span4 .container-image{overflow: hidden; height: 150px;}
.span4.banner{display:none!important;}
.destaques.span8{width:100%!important;padding:0 8%;}
.bgtotal{padding-bottom: 10px;}
.destaques .videos .yt-menu img {max-width:800px; top:-40px!important;}
#carrossel-personagem {padding: 0 8%; margin-top:20px!important; max-width:100%!important;}
#carrossel-personagem h1{display:none;}
#carrossel-personagem .slider .nome {font-size: 0.9em!important;font-family:'din-blackregular',Arial, Helvetica, sans-serif;}
#carrossel-personagem .slider li{width: 80px!important; height:100px!important;}
#carrossel-personagem .slider .inner{width:75px!important; height:75px!important; }
#carrossel-personagem .slider-mask-wrap {height:108px!important}
#carrossel-personagem .slider-nav{display:none!important;}

/* index */

/*acessibilidade*/
 

/* na tv */
.na-tv #content{margin:20px 5%}
.na-tv .filtro {margin-bottom: 0!important;}
.na-tv .ola{font-size: 1.4em!important;top: 5%!important;left: 3%!important;}
.na-tv #content .fundo-na-tv {width: 70%;margin: 0 auto;position: relative;top: 35px;}
.na-tv #content .container-na-tv .container-horarios {width:100%; max-height:500px; float:left;}
.na-tv #content .box-horario{width:98%; margin:0 0 10px 0;}
.na-tv footer#mobile{margin-top:-148px;}
 
/*  Pais Artigos */
.cuidadores #content{margin:1%;}
.cuidadores #content h1 a{margin-top:10px;}
.cuidadores .filtro  {margin: 20px auto!important;width: 96%;}
.cuidadores .todos-assets p {text-align: center!important;font-size: 0.9em;line-height: 51px;}
.cuidadores .container-cuidadores .col-esq article .redes-artigo {display:none}
.cuidadores .container-cuidadores h3 {margin:0 auto;width: 70%;}
.cuidadores .img-topo-asset {width:90%!important}
.cuidadores .container-cuidadores .col-dir .box-ler .titulo-box, .cuidadores .container-cuidadores .col-dir .box-brincarjunto .titulo-box {width: auto!important}
.cuidadores .col-direita,#comente-este-artigo,.fb_iframe_widget,#div-gpt-ad-1385748525978-0{display: none!important;}
.cuidadores .container-cuidadores .col-dir{width:100%!important;margin:0!important}
.cuidadores .container-cuidadores .col-esq {width:100%!important; padding:5%!important;}
.cuidadores .container-cuidadores .col-esq article p {font-size: 1.25em!important; line-height:1.25em;}
.cuidadores .container-cuidadores .col-esq article ul{margin:0 0 10px 0;}
.cuidadores .container-cuidadores .col-esq article ul li{font-size: 1.25em!important;line-height: 1.25em; font-size:1em;}
.cuidadores .container-cuidadores .col-esq article ul li:before{content:"-"}
.cuidadores .container-cuidadores .col-dir .box-sobre .bottom-box-sobre {max-width:none!important;width: 100%}
.cuidadores .container-cuidadores .col-dir .box-sobre .bottom-box-sobre img {width: 100%}
.cuidadores .container-cuidadores .col-dir .box-sobre a{width: 95%;text-align: center;}
.cuidadores .todos-assets {width: 90%!important;font-size: 1em!important;background-image:none!important;background-color: #1DC252;margin-right: 7%;display: block;border-radius: 13px;}
.cuidadores .container-cuidadores .col-esq article section a {font-size: 1em!important}
.cuidadores .icone-voltar-artigo {height:0px!important}
.cuidadores #content .filtro h1 {height: 130px;font-size: 1.6em;line-height: 3em;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding: 0 3%;}
.artigo #content .container-image{height: 150px;overflow: hidden;} 
.artigo #content header h1 {overflow: visible!important;white-space:normal!important;}
.cuidadores .container-cuidadores .col-dir .box-ler p {height: 57px!important;}
.ac-explicacao  {width: 0!important}
.parceiros-cuidadores, .na-tv .container-na-tv,.acessibilidade .box-acessibilidade p{text-align: left;font-size:1.5em;line-height: 1.25em;}/*texto corrido celular*/
.primeiro-p {font-size:1.2em;color:#666}/*texto corrido celular, primeiro p*/
.cuidadores .container-cuidadores .col-dir .box-ler p {color: #666;font-size: 1.1em;}



/* personagens */
.personagens #content h1 {font-size: 3em;}
.personagens .q-pers {width: 45%!important;min-height: 112px!important;height: 350px!important;margin: 5px 5px 5px 3%!important;}
.personagens #container-personagens a {width: 100%!important;height: 100%!important;}
.personagens .conteudo-asset {width: 95%!important;margin: 0 auto!important;}
.filtro .inner img {width: 100%!important;}
.personagens #container-personagens p {font-size: 3em!important;}


@media screen and (min-width:430px){
  .imagem-topo {width: 190px;left: 50%;margin-left: -77px;}
  .cuidadores .container-cuidadores .col-dir .box-sobre a {width: 45%!important;float: left!important;}
  .cuidadores .destaques .container-image{width: 35%;float: left;height: 61px!important;}
  .cuidadores .destaques .texto{padding-right: 4%!important;}
  .cuidadores .destaques a {line-height: 60px;}
  .cuidadores .destaques a i{margin:3% 1%!important;}
}
@media screen and (orientation:landscape){
  #nav-mobile a {width:46%}
  .cuidadores .destaques .container-image{width: 35%!important;float: left!important;height: 50px!important;}
}

