@font-face {
    font-family: 'din-blackregular';
    src: url('http://cmais.com.br/portal/css/fontes/din/din-black-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/din/din-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/din/din-black-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/din/din-black-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/din/din-black-webfont.svg#din-blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*section{background:blue!important;}*/
.header-desktop{display:none;}
.header-tablet{display:block; position: fixed;z-index: 50000;background: #fff;width: 100%;top:0;}
.header-mobile{display:none;}
#header-bar-mobile{display:none;}
.imagem-topo{position: absolute;width: 220px;bottom: 0;left: 50%;margin-left: -81px;}
.header-tablet{height: 70px;-moz-box-shadow: 0 0 30px 1px #C2C2C2;-webkit-box-shadow: 0 0 30px 1px #C2C2C2;box-shadow: 0 0 30px 1px #C2C2C2;-moz-box-shadow:inset 0 0 30px 5px #e5e5e5 ;}
.header-tablet a.logo-mobile{margin:1px 0 0 35px;overflow: hidden;float: left;max-width:125px;display: block;left: 5%;}
.header-tablet a.btn-menu{overflow: hidden;float:right!important;margin: 11px 30px 0 0px!important;width:50px!important;}
.header-tablet .search-mobile{background:#FCF2AE;overflow: hidden;}
.header-tablet .search-mobile form{margin: 2% 3%;max-width: 255px; float:right;}
.header-tablet .search-mobile form input {width: 70%;height: 25px;font-size: 1.3em;line-height: 25px;}
.header-tablet button.alca{margin: 0 auto;position: absolute;bottom: 0;left: 50%;background: #e5e5e5;border: none;width: 100px;margin-bottom: 5px;border-radius: 10px;height: 16px;display:none;}   

/* menu principal geral */
.topo-vila .container {height: 65px;}
.navbar .container img{width: 128px;}
#nav-tablet{width: 510px;padding:0;background: #FFFFFF;display: none; position: absolute;z-index: 40000;top: 70px;right:0px;}
#nav-tablet a{padding: 1% 0;text-decoration: none;font-family: 'din-blackregular', Arial, Helvetica, sans-serif;width: 100%;border-bottom: 1px dotted #333;font-size: 1.2em;float: left;text-align: right;text-transform: uppercase;color: #333!important;line-height: 37px;}
#nav-tablet a:last-child{border:none}
#nav-tablet img{float: right;width: 35px; margin:2px 24px 0 9px;}
.navbar-fixed-top {margin-bottom: 0;position: absolute;}
.navbar-inverse .navbar-inner.topo-vila {background:#fff!important;height: 65px!important;padding: 4px 6px;}
.navbar .container {width: auto;background: url(/portal/images/capaPrograma/vilasesamo2/mobile/icon_menu_mobile.png) no-repeat right;}
.last{background: url(/portal/images/capaPrograma/vilasesamo2/mobile/icon_fecha.png) no-repeat right;}
/*desaparece se for mobile o topo dos pais*/
.topo-vila .nav {display: none;}
.header-bar{display: none;}
.form-search{display: none;}
#content {background: #FEE132;}
.nav-mobile{display:none;}

/* index */
#carrossel-destaque{display:none;}
#carrossel-destaque-mobile{display:block;}
#carrossel-personagem .slider .nome {font-family: 'din-blackregular', "Helvetica Neue", Helvetica, Arial, sans-serif!important; }
#carrossel-personagem {padding: 0 20px;}
#carrossel-personagem .slider .nome {font-size: 1.7em;}
.mpc_ls .mpc_ls_ui .mpc_ls_ui_button.style02 {margin-top: -107px;}
.destaques.span12{width:100%; padding: 0 20px!important;}
.destaques.span8{width: 100%!important;padding: 0 20px;}
.destaques.span8 > .span4{width:31.9%!important; float:left;}
.span4.banner{display:none!important;}
/* index */

/* assets interna */
.interna #content { top:30px!important; margin-bottom:60px!important; }
/* assets interna */

/* Acessibilidade */
.acessibilidade .box-acessibilidade {width:100%!important}
.acessibilidade .fundo-acessibilidade {width:50%!important; margin:0 auto;}
.acessibilidade #content .filtro h1 {font-size: 45px;}




/* Na TV */
.na-tv #content{top:20px!important; margin:0 5%;  }
.na-tv #content .fundo-na-tv{position: relative;top: 10px;margin: 0 auto;width: 81%;}
.na-tv #content .ola{font-size:48px;}
.na-tv #content .container-horarios{float:none; margin:10px auto!important;}
.na-tv #content .container-na-tv p {font-size:1.2em; line-height:1.25em;margin-bottom:10px;max-width: 100%!important; padding-bottom:1%;}
.na-tv #content .container-na-tv .container-horarios .box-horario {width: 47%;}
.na-tv #content .container-na-tv .container-horarios {width:100%;}
.na-tv #content .filtro {margin-bottom:0!important;}

/*  Pais Artigos */
.cuidadores #content {top: 20px;margin-bottom:0px}
.cuidadores .filtro  {margin: auto 2%!important;width: 96%;}
.cuidadores .container-cuidadores .col-esq article .redes-artigo {display:none}
.cuidadores .container-cuidadores h3 {margin:0 auto;width: 70%;}
.parceiros-cuidadores p{text-align:left;font-size:1.5em;padding: 10px;display: block;float: left;}
.cuidadores .img-topo-asset {width:90%!important}
.cuidadores .container-cuidadores .col-dir .box-ler .titulo-box, .cuidadores .container-cuidadores .col-dir .box-brincarjunto .titulo-box {width: auto!important}
.cuidadores .col-direita,#comente-este-artigo,.fb_iframe_widget,#div-gpt-ad-1385748525978-0{display: none!important;}
.cuidadores .container-cuidadores .col-dir{width:100%!important;margin:0!important}
.cuidadores .container-cuidadores .col-esq {width:100%!important; padding:5%!important;}
.cuidadores .container-cuidadores .col-esq article p {font-size: 1.25em!important; line-height:1.25em;}
.cuidadores .container-cuidadores .col-esq article ul{margin:0 0 10px 0;}
.cuidadores .container-cuidadores .col-esq article ul li{font-size: 1.25em!important;line-height: 1.25em; font-size:1em;}
.cuidadores .container-cuidadores .col-esq article ul li:before{content:"-"}
.cuidadores .container-cuidadores .col-dir .box-sobre .bottom-box-sobre {max-width:none!important;width: 100%;bottom:}
.cuidadores .destaques .jogos{width:32%!important;float:left;}
.cuidadores .destaques .videos,
.cuidadores .destaques .atividades{width:32%!important;float:left;margin-left:2%;}
.cuidadores .container-cuidadores .col-dir .box-sobre {margin-bottom: 8%!important;min-height: 170px;}
.cuidadores .container-cuidadores .col-dir .box-sobre .bottom-box-sobre {width: 100%;bottom: -22%!important;position: absolute;}
.cuidadores .container-cuidadores .col-dir .box-sobre a{max-width: 95%;text-align: center;}
.cuidadores .todos-assets {width: 41%!important;margin-top: 2%;}
.cuidadores .todos-assets p {font-size: 0.7em!important}
.cuidadores #content .filtro h1 {min-height: 60px;font-size: 1.6em!important;}
.ac-explicacao{width: 0!important}
.primeiro-p {font-size:1.2em;color:#666}
.cuidadores .container-cuidadores .col-dir .box-ler p {color: #666;font-size: 1.1em;}

/* Personagens */
.personagens .q-pers {width: 29%!important;margin: 5px 5px 5px 3%!important;}
.personagens #container-personagens a {width: 100%!important;height: 100%!important;}
.personagens .conteudo-asset {width: 95%!important;margin: 0 auto!important;height: 100%!important;}
.filtro .inner img {width: 100%!important;}



/*footer*/
footer {margin-top: 84px;margin-top:60px;}
footer #no-mobile{display: block;}
footer #mobile{display: none;}
footer .mapa{margin:2%;}
footer .mapa .span12 {border: 1px solid #f0f0f0;}
footer .mapa a{font-size:1.2em}
footer #personagens-rodape{display: none!important;;}
footer .relacionados ul{display: none;}
footer nav{display: block!important;}
footer .relacionados-mobile{width: 96%;padding: 2%;overflow: hidden;}
footer .relacionados-mobile a{width: 23%;float:left;margin-left: 2%;}
footer .relacionados-mobile a > img{margin:0 auto;display: block;}
footer .logos .col-esq a {margin-left: 32%!important;}
footer .logos .col-central a {margin: 33px 0 0 52px!important;}
footer .logos .col-dir{border:none!important;}
footer .logos .col-dir a {margin: 39px 0 0 22px;}
.fifty{width:48%!important;}
footer .relacionados h1{margin-left:5%;width: 90%;}
footer .logos li{width: 33%;display: block;float: left;height:20%;}
footer .copyright {height: 30px;margin-left: 2%;}
/* footer */

