/* Landscape phones and down */
@media (max-width: 540px) {
	/*section{background:green;}
  footer{display:none;}
  #carrossel-destaque{display:none;}*/
	footer .mapa .span12 {border: 1px solid #f0f0f0;margin-left: 0;clear: both;height: auto;}
	footer .mapa .col-esq.cuidadores-footer{width:50%;}
	footer .mapa .col-central.natv-footer{width:50%;}
	footer .relacionados li {width: 25%;float: left;padding: 3%;}
	footer .relacionados .fiftypercent{width:50%;}
	.icone-habitos-saudaveis-rodape img{width:33%;}
	.icone-logo-internas-rodape img{width:33%;}
	.icone-incluir-brincando-rodape img{width:33%;}

	
}	
/* Landscape phone to portrait tablet */
@media (min-width:541px) and(max-device-width: 768px){
  /*section{background:blue;}
 	menu principal*/
  .header-bar .content{padding: 0 20px 0 20px;}
  /* carrosel personagens*/
  #carrossel-personagem .slider .nome {font-family: 'din-blackregular', "Helvetica Neue", Helvetica, Arial, sans-serif!important; }
}
 

 /*Portrait tablet to landscape and desktop */
@media (min-width: 769px) or (max-width: 979px) {
  

}

