@import url("jquery-ui-1.7.2.custom.css");

#mask{ background-color: #404385;
    display: none;
    position: absolute;
    z-index: 9000;
}
body{
	background: url(../images/pattern_redacao-ferias.jpg);
}
#barra-site .topo-programa{
  position: relative;
}
#barra-site .topo-programa img.imgTitulo{
  float: left;
  margin-top: -2px;
  width:519px;
  height:200px;
}
#barra-site .topo-programa span.luz{
  background: url(../images/pisca-piscaHor.gif) no-repeat;
  position: absolute;
  top: 24px;
  left: 217px;
  width: 622px;
  height: 162px;
  display:none;
}
#barra-site .topo-programa span.balao{
  background: url(../images/balao.gif) no-repeat;
  position: absolute;
  top: -19px;
  right: 140px;
  width: 126px;
  height: 189px;
  display:none;
}
#barra-site .topo-programa .icoEnvie{
  background: url(../images/btn_envie-foto.png) no-repeat;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 77px;
  right: 0;
  text-indent: -9999px;
  width: 98px;
  height: 117px;
}
#barra-site .topo-programa .icoEnvie:hover{
  background: url(../images/btn_envie-foto_over.png) no-repeat;
}
#barra-site .topo-programa .icoVeja{
  background: url(../images/btn_veja-fotos.png) no-repeat;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 75px;
  right: 0;
  text-indent: -9999px;
  width: 98px;
  height: 117px;
}
#barra-site .topo-programa .icoVeja:hover{
  background: url(../images/btn_veja-fotos_over.png) no-repeat;
}
.albumWrapper{
  float: left;
  margin: -195px 0 20px 26px;
  *padding-bottom: 50px;
  width: 900px;
  padding-top:20px;
}
.albumWrapper a.topo{
  background:url(../images/ico-topo.png) no-repeat;
  text-decoration: none;
  text-indent: -9999px;
  position: fixed;
  top: 290px;
  width: 77px;
  height: 66px;
  display:none;
}
.albumWrapper .albumBox .albumFoto{
  float: left;
  margin: 60px 0 0 108px;
  width: 700px; 
}
.albumFoto .foto{
  float: left;
  margin-top: -39px;
  position: relative;
  width: 237px;
  height: 347px;
}
.albumFoto .amarelo{
  background: url(../images/bg-fotoAmarelo.png) no-repeat;
}
.albumFoto .verde{
  background: url(../images/bg-fotoVerde.png) no-repeat;
  margin-left: -8px;
}
.albumFoto .vermelho{
  background: url(../images/bg-fotoVermelho.png) no-repeat;
  margin-left: -4px;
}
.albumFoto .foto a{
  text-decoration: none;
}
.albumFoto .foto a .legenda{
  background: url(../images/bg-legenda.png) repeat-y;
  display: none;
  position: absolute;
  top: 164px;
  width: 200px;
  height: 108px;
}
.albumFoto .amarelo a .legenda{
  left: 21px;
}
.albumFoto .verde a .legenda,
.albumFoto .vermelho a .legenda{
  left: 18px;
}
.albumFoto .foto a:hover .legenda{
  display: inline;
}
.albumFoto .foto a .legenda p{
  color: #fff;
  line-height: 16px;
  margin-top: 10px;
  text-align: center;
}
.albumFoto .foto img{
  float: left;
  margin-top: 71px;
  width: 200px;
  height: 200px;
}
.albumFoto .amarelo img{
  margin-left: 21px;
}
.albumFoto .verde img,
.albumFoto .vermelho img{
  margin-left: 18px;
}
.albumFoto .foto .box-info{
  float: left;
  margin: 10px 0 0 20px;
  width: 200px;
}
.foto .box-info h3.nome,
.albumFoto .foto p{
  color: #104e0b;
  font-size: 12px;
  text-align: left;
  width: auto;
}
.foto .box-info h3.nome{
  font-weight: bold;
}
.albumWrapper .bg-bottom{
  background: url(../images/bg-bottom.png) no-repeat;
  float: left;
  margin-left: -33px;
  width: 985px;
  height: 276px;
  display:none;
}
.bg-bottom a.maisFotos{
  background: url(../images/btn-maisFotos.png) no-repeat;
  display: block;
  float: left;
  margin: 45px 0 0 405px;
  text-decoration: none;
  text-indent: -9999px;
  overflow: hidden;
  width: 184px;
  height: 75px;
}
.bg-bottom a.maisFotos:hover{
  opacity: 0.7;
}
/* formulário */
.formulario{
	float: left;
	margin: 27px 0 0 104px;
	width: 580px;
}
.bg-formulario{
	background: url(../images/bg_conteudo_redacao-ferias.png) no-repeat;
  margin: 15px auto;
  width: 780px;
  height: 722px;
}
.formulario .formularioWrapper{
  float: left;
  margin: 20px 0 0 20px;
  width: 593px;
  height: 370px;
}
.formularioWrapper h3{
  color: #104e0b;
  float: left;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.formularioWrapper .upImage{
  background: url(../images/bg-selectFoto1.png) repeat;
  float: left;
  margin-top: 10px;
  width: 630px;
}
.upImage .selecionar,
.upImage .link{
  float: left;
  padding: 4px;
}
.inputFile input#new_photo{
	
}
.upImage .selecionar input#new_photo{
  border: 1px solid #b8b8b8;
  float: left;
  height: 20px;
  margin-left:10px;
  
}
.selecionar .seleArq{
  background: url(../images/bg-btn-selecionar.jpg) repeat-x;
  border: 1px solid #b8b8b8;
  border-radius: 0 10px 10px 0;
  float: left;
  height: 20px;
}
.selecionar .seleArq:hover,
.selecionar .trocalink:hover,
.link .trocaarquivo:hover{
  opacity: 0.7;
}
.seleArq span{
  color: #333;
  float: left;
  font-size: 15px;
  font-weight: bold;
  padding: 2px 10px 0 10px;
  text-transform: uppercase;
}
.selecionar .trocalink,
.link .trocaarquivo{
  color: #333;
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin: 3px 0 0 20px;
  text-decoration: underline;
  text-transform: uppercase;
}
.link input{
  border: 1px solid #b8b8b8;
  float: left;
  width: 285px;
  height: 20px;
}
.link p{
  color: #333;
  font-size: 15px;
  float: left;
  font-weight: bold;
  margin: 3px 5px 0 0;
  text-transform: uppercase;
}
.formularioWrapper .aviso{
  float: left;
  font-size: 11px;
  margin-top: 2px;
}
.formularioWrapper .aviso2{
  float: left;
  font-size: 11px!important;
  font-weight: normal!important;
  margin-top: 2px!important;
}
#form-contato{
  background: url(../images/bg_conteudo_redacao-ferias.png) no-repeat;
  margin: 15px auto;
  width: 780px;
  height: 722px;
}
#form-contato p{
  color: #333;
  float: left;
  font-size: 15px;
  font-weight: bold;
  /*margin-top: 13px;*/
  text-transform: uppercase;
}
#form-contato .escreva,
#form-contato .melhores{
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
}
#form-contato .escreva{
	line-height: 26px;
	margin: 135px 0 0 170px;
	width: 475px;
}
#form-contato .melhores{
	margin: 40px 0 0 190px;
}
#form-contato p.nome,
#form-contato p.idade,
#form-contato p.cidade,
#form-contato p.estado{
	margin-top: 10px;
}
#form-contato p.legenda{
	margin-top: 40px;
}
#form-contato p label{
	font-size: 14px;
}
#form-contato p.legenda label{
	font-size: 24px;
}
#form-contato p.nome label{
  margin-right: 20px;
}
#form-contato p.cidade label{
  margin-right: 11px;
}
#form-contato p.estado{
  margin-left: 23px;
  *margin-left: 20px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    #form-contato p.estado{
    margin-left: 20px;
  }
}
#form-contato p.estado label{
  margin-right: 10px;
}
#form-contato p.idade{
	margin-left: 35px;
}
#form-contato p.idade label{
	margin-right: 10px;
}
#form-contato p input{
  border: 1px solid #b8b8b8;
  height: 20px;
}
#form-contato p.nome input{
  width: 358px;
}
#form-contato p.cidade input{
  width: 358px;
}
#form-contato p.estado input{
  width: 68px;
}
#form-contato p.idade input{
  width: 68px;
}
#form-contato p.legenda label{
  float: left;
  margin-bottom: 7px;
}
#form-contato textarea{
  border: 1px solid #b8b8b8;
  float: left;
  width: 578px;
  height: 198px;
  clear:both;
}
#form-contato .termos{
  float: left;  
  font-size: 11px;
  font-weight: normal;
  margin-top: 10px;
  text-transform: none;
}
.termos input{
  float: left;
  margin: 2px 3px 0 0;
}
.termos a{
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}
.formularioWrapper .maxCaracteres{
  font-size: 12px!important;
  font-weight: normal!important;
  position: absolute;
  bottom: 88px;
  *bottom: 85px;
  right: 132px;
}
.enviarFotos{
  background: url(../images/btn-enviarRedacao.png) no-repeat;
  border: none;
  float: right;
  margin: 10px 13px 0 0;
  text-indent: -9999px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 75px;
  height: 40px;
}
.enviarFotos:hover{
  opacity: 0.7;
}
form label.error{
  display: none!important;
}
.formulario .erroCSS{
  color: #c90f0f;
  float: left;
  font-size: 15px;
  font-weight: bold;
  margin: -5px 0 0 100px;
  clear:both;
  text-transform: uppercase;
  width: 400px; 
  text-align:left;
}
form input.error,
form textarea.error{
  border: 1px solid #e71200!important;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .formularioWrapper .erroCSS{
    margin-top: -25px;
  }
}
#boxes .window{
	background: #fff;
	display: none;
	padding: 20px;
	position: absolute;
	left: 324px!important;
	top: 150px!important;
	width: 688px;
	height: 416px;
	z-index: 9999;
}
#boxes #dialog{
	margin-left: 86px;
	width: 635px;
	height: 390px;
}
.dialogWrapper{
	float: left;
	margin-top: 20px;
	overflow-y: auto;
	width: 640px;
	height: 270px;
}
#boxes .window .close{
	background: url(../images/btn-voltarRedacao.png) no-repeat;
	float: left;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	width: 114px;
	height: 41px;
}
#boxes .window h4{
	color: #333;
	font-size: 12px;
	float: left;
	font-weight: bold;
	margin: 10px 0;
}
#boxes .window h3{
	color: #333;
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin: 30px 0 0 100px;
	text-transform: uppercase;
}
#boxes .window p{
	color: #333;
	float: left;
	font-size: 12px;
	margin: 15px 0 0 0;
	text-align: left;
	width: 595px;
}
#boxes .window p a{
	color: #333;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}
#boxes .window .linha{
	background: url(../images/linha-form.jpg) no-repeat;
	display: block;
	float: left;
	margin-top: 10px;
	width: 640px;
	height: 2px;
}
/*tela obrigado*/
.formularioWrapper .boxWrapper{
	margin: 264px 0 0 143px;
	width: 495px;
}
.boxWrapper h3.obrigado{
	color: #29378d;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
}
.boxWrapper h3.obrigado,
.boxWrapper p{
	text-align: center;
}
.boxWrapper p{
	color: #333;
	float: left;
	font-size: 18px;
	line-height: 27px;
	margin: 35px 0 0 24px;
	width: 425px;
}
.boxWrapper p.enquanto{
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 24px;
}
.boxWrapper a{
	background: url(../images/btn_brinque-no-quintal.png) no-repeat;
	display: block;
	text-indent: -9999px;
	width: 316px;
	height: 98px;
	margin: 30px 0 0 10px;
}
.brinque{
  background: url(../images/btn_go-to-quintal_txt.png) no-repeat;
  border: none;
  float: left;
  margin: 60px 0 0 110px;
  text-indent: -9999px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 571px;
  height: 48px;
}
.dois{
	margin: -17px 0 0 305px;
}
/* c+ */
#rodape-portal{
  margin-top: 0px!important;
}
#rodape-portal .capa-voltar-topo{
  margin-top: -25px!important;
  
}

#miolo {min-height:600px; background:url(http://cmais.com.br/portal/quintal/images/bg-bastao.png) repeat-y 68px 0; margin-top:-4px;}
#miolo { *background-position:51px 0; }
.banner { width:564px; height:91px; background:url(http://cmais.com.br/portal/quintal/images/banner.png) no-repeat; margin:0 auto; display:block; }

.bg-album { width:100%; min-height:810px; position:relative; }
.bg-album { *min-height:870px;}
.img-inferior,
.img-superior-direita,
.img-superior-esquerda { position:absolute;}
.img-superior-esquerda { background: url(http://cmais.com.br/portal/quintal/images/img-superior-esquerda.png) no-repeat; width:353px; height:544px; left:0; top:0; }
.img-superior-direita { background: url(http://cmais.com.br/portal/quintal/images/img-superior-direita.png) no-repeat; width:425px; height:324px; right:0; top:0;}
.img-inferior { background: url(http://cmais.com.br/portal/quintal/images/img-inferior.png) no-repeat; height:290px; width:433px; right:0; bottom:0; }
.detalhe { width:613px; height:413px; background: url(http://cmais.com.br/portal/quintal/images/bg-detalhe.png) no-repeat; margin:0 auto; padding-top:6px;}
#barra-site h2 { margin-left:5px; }

/*rodape2*/
.menuRodape{
	background: url(../images/bg-rodape.png) no-repeat;
	margin: 20px auto; 
	clear: both;
	width: 774px;
	height: 32px;
	padding-top:10px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
	.menuRodape{
		margin-top: 90px;
	}
}
.menuRodape a{
	font-size: 12px;
	font-weight: bold;
	margin-left: 45px;
	text-transform: uppercase; 
	}
.menuRodape a:hover{
	text-decoration: underline;
}

#album-1, #album-2 {display:none;}
