@import url("jquery-ui-1.7.2.custom.css");
@import url("jquery.jcarousel.css");

h1, h2, h3, h4, h5, h6 { font-weight:normal; }
body { background:#0ab015 url(http://cmais.com.br/portal/quintal/images/bg-quintal2.jpg) repeat-x !important; }
#guia-topo { background:none; }
.content { width:990px; padding-left:20px; }
@font-face {
    font-family: 'gotham_mediumregular';
    src: url('http://cmais.com.br/portal/css/fontes/gotham-medium-bold/gotham-medium-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/gotham-medium-bold/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/gotham-medium-bold/gotham-medium-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/gotham-medium-bold/gotham-medium-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/gotham-medium-bold/gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gotham_blackregular';
    src: url('http://cmais.com.br/portal/css/fontes/gotham-medium-bold/gotham-black-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/gotham-medium-bold/gotham-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/gotham-medium-bold/gotham-black-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/gotham-medium-bold/gotham-black-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/gotham-medium-bold/gotham-black-webfont.svg#gotham_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body,
.internas .conteudo h2,
.internas .navegacao li,
.internas .sidebar li,
#horario h2,
.cabecalho li a { font-family:'gotham_mediumregular', Arial, Helvetica, sans-serif;  }

.internas .asset .btn,
#destaque .col-esq p,
.internas .mais h4,
.internas .assets li h3,
#agenda .paginacao li a,
#agenda .leiamais,
.internas .sidebar .sprite-balao-categoria,
.internas .sidebar li.ativo,
.internas .sidebar li:hover,
.menuRodape li a,
.cabecalho li a:hover,
bold,
.internas .assets li .btn,
.internas .conteudo h2,
.internas .assets li bold,
#horario h2  { font-family: 'gotham_blackregular', Arial, Helvetica, sans-serif; }

span,
a,
p,
h1,h2,h3,h4,h5,h6,
input,
textarea { color:#2B3377;}

#menu-portal-2 .busca-portal .ipt-submit,
#guia-topo a,
#guia-topo p,
#rodape-portal a,
#rodape-portal p { color:#fff;}

/*
#menu-portal-1 a,
#menu-portal-1 p { color:#333 !important; }
*/

#musicas .jp-audio,
.internas .asset .btn,
#destaque .col-dir .enviar,
#destaque .col-dir textarea,
#destaque .col-dir input,
#destaque .col-dir,
.paginacao,
#agenda .paginacao,
#agenda .box-content,
#agenda .box-contet,
.internas .mais,
.internas .mais h4,
.internas .asset,
.internas .assets li .btn,
.internas .assets li,
.internas .conteudo input,
#horario {border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

.paginacao,
#agenda .paginacao,
.internas .mais,
.internas .conteudo form input,
#horario {background:url(http://cmais.com.br/portal/quintal/images/bg-transparente.png) repeat;}

.internas .assets li,
#agenda .box-content {background:url(http://cmais.com.br/portal/quintal/images/bg-transparente90.png) repeat;}

#miolo{  margin-top: 0px;}
.allWrapper{  color: #333;  font-family: Arial, Helvetica, sans-serif;  font-size: 14px;  margin: 0 auto;}

body { background:#0ab015 url(http://cmais.com.br/portal/quintal/images/bg-quintal2.jpg) repeat-x !important; }
#guia-topo { background:none; }
.content { width:990px; padding-left:20px; }
.conteudo{  position: relative;  width: 970px; clear:both; float: right; min-height: 880px;}
.conteudoWrapper #back{position: relative; z-index: -1}
.conteudoWrapper #back .pos{position:absolute;}
#nuvem1{width:266px; height:212px; top:-198px; left:-300px;background: url(http://cmais.com.br/portal/quintal/back-novo/img-bg-nuvem1.png) no-repeat; z-index:0;}
#nuvem2{width:188px; height:155px; top:-71px; left: -86px;background: url(http://cmais.com.br/portal/quintal/back-novo/img-bg-nuvem2.png) no-repeat; z-index:0;}
#nuvem3{width:260px; height:234px; top: -200px; right: -50px;background: url(http://cmais.com.br/portal/quintal/back-novo/img-bg-nuvem1.png) no-repeat; z-index:0;}
#balao{width:196px; height:348px; top:-200px; left:-250px;background: url(http://cmais.com.br/portal/quintal/back-novo/img-bg-balao.png) no-repeat; z-index:0;}
#bola{width:190px; height:174px;top: 293px;left: -220px;background: url(http://cmais.com.br/portal/quintal/back-novo/img-bg-futebol.png) no-repeat; z-index:0;}
#bau{width:441px; height:407px;top: 478px;left: -320px;background: url(http://cmais.com.br/portal/quintal/back-novo/img-bg-bau.png) no-repeat; z-index:0;}
#peteca{width:410px; height:464px;top: 307px;right: -301px; background: url(http://cmais.com.br/portal/quintal/back-novo/img-bg-peteca-bola.png) no-repeat; z-index:0;}

.contentWrapper{  padding-bottom: 0 !important;  width: 100%; margin: auto;  margin-top:3px;  overflow: hidden; }
.contentWrapper .cerca{  background: url(http://cmais.com.br/portal/quintal/images/cerca.png) repeat-x;  height: 240px;}
.content{  width: 970px;  }
.conteudoWrapper{  width: 970px;  position:relative;  z-index: 0;}

/*cabecalho*/
.cabecalho{  float: left;  text-align: left;  width: 970px;  position: relative;  margin: 15px 0 0 0;  z-index: 10; float: right;}
.cabecalho .pontilhado{  background: url(http://cmais.com.br/portal/quintal/images/bg-pontilhado.png) no-repeat;  display: block;  width: 697px;  height: 54px;}
.cabecalho h1 { width:208px; float:left; }  
.cabecalho h1 a{  background: url(http://cmais.com.br/portal/quintal/images/logo-quintal.png) no-repeat;  display: block;  float: left;  margin: 7px 10px 0 0;  overflow: hidden;  text-indent: -9999px;  width: 208px;  height: 207px;}
.cabecalho ul { float:right; margin:20px 0; }
.cabecalho ul li{  float: left;  width: 143px; height:102px; background: url(http://cmais.com.br/portal/quintal/images/btn.png) no-repeat; margin-left:9px;}
.cabecalho ul li:hover {  background: url(http://cmais.com.br/portal/quintal/images/btn-hover.png) no-repeat; }
.cabecalho li a { font-size: 22px;  text-transform: uppercase; width:100%; height:40px; line-height:40px; text-align:center; display: block;}
.cabecalho li span { display:block; margin:10px auto 0; }
.cabecalho li a:hover { text-decoration:none; }

.sprite-ico-agenda,
.sprite-ico-aturma,
.sprite-ico-diversao, 
.sprite-ico-jogos, 
.sprite-ico-musicas, 
.sprite-ico-videos{ background:url(http://cmais.com.br/portal/quintal/images/sprite-menu.png) no-repeat; } 

.sprite-ico-agenda{ background-position: 0 0; width: 37px; height: 41px; } 
.sprite-ico-aturma{ background-position: 0 -91px; width: 49px; height: 50px; } 
.sprite-ico-diversao{ background-position: 0 -191px; width: 44px; height: 46px; } 
.sprite-ico-jogos{ background-position: 0 -287px; width: 52px; height: 47px; } 
.sprite-ico-musicas{ background-position: 0 -384px; width: 45px; height: 43px; margin-left:44px !important; } 
.sprite-ico-videos{ background-position: 0 -477px; width: 51px; height: 45px; } 

.sprite-ico-aniversario,
.sprite-ico-cidade,
.sprite-ico-email,
.sprite-ico-nome,
.sprite-ico-responsavel{  background:url(http://cmais.com.br/portal/quintal/images/sprite-ico-form.png) no-repeat;} 

.sprite-ico-aniversario{ background-position: 0 0; width: 20px; height: 22px; } 
.sprite-ico-cidade{ background-position: 0 -72px; width: 12px; height: 19px; } 
.sprite-ico-email{ background-position: 0 -141px; width: 20px; height: 13px; } 
.sprite-ico-nome{ background-position: 0 -204px; width: 20px; height: 19px; } 
.sprite-ico-responsavel{ background-position: 0 -273px; width: 27px; height: 17px; } 

/* horario */
#horario {  margin: 0; width: 750px;float: right; overflow:hidden;}
#horario a img,
#horario a { float: left; }
#horario a {position:relative;}
#horario a img { margin:4px 10px; }
#horario p{font-size:12px; line-height: 15px; margin: 0 0 10px 0; font-weight:normal;}
#horario span{font-size: 14px; color:#2b3377; display:block;}
#horario .divisa { background:url(http://cmais.com.br/portal/quintal/images/pattern-divisa.png) ; width: 2px; height:43px; position:absolute; top:14px; right:0; }  
#horario .cultura { width:280px; }
#horario .cultura img{margin-top:13px;}
#horario .rtb { width:220px; height:59px; padding-top:10px}
#horario .agenda { width:129px; height: 59px;padding: 10px 10px 0 10px;}
#horario .agenda h2 { height:43px; line-height: 43px; }
#horario .dvd{display:block; background:#fffd00 url(http://cmais.com.br/portal/quintal/images/sprite-dvd.png) no-repeat center 6px; height:69px; width:100px;}
#horario .dvd h2{text-indent:-99999; font-size:0px;}
#horario .dvd:hover{background:#cb35a4 url(http://cmais.com.br/portal/quintal/images/sprite-dvd.png) no-repeat center -57px; }
#horario .sprite-ico-agenda { float:left; margin: 1px 10px }
#horario h2 {color:#2b3377;  text-transform:uppercase; font-size:14px; line-height: 24px; margin-top:4px;}
#horario a:hover { background:#fffd00}
.modal-bac{background: #000;position: absolute;top: 0;left: 0;margin-top: 70px;width: 100%;height: 2058px;z-index: 11;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.modal-dvd .container-dvd{background: #e4f527;width: 940px;margin-top: 12%;overflow: hidden;z-index: 20;position: absolute;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;padding: 10px;}
.modal-dvd .container-dvd p{font-size: 23px;font-family: 'gotham_blackregular',Arial, Helvetica, sans-serif;color: #2b3377;line-height: 30px;margin: 10px 0px 40px 0px;}
.modal-dvd .container-dvd a.back,
.modal-dvd .container-dvd a.access{padding: 10px;text-transform:uppercase; font-family:'gotham_blackregular',Arial, Helvetica, sans-serif; color:#e4f527!important;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;display: block; background:red; float:left;margin:10px 25px}
.modal-dvd .container-dvd a.back{background:#cb35a4;padding: 10px;font-size:20px;}
.modal-dvd .container-dvd a.access{background:#2b3377;color:#e4f527;float:right; font-size:20px;}
/* /horario */

/*rodape2*/
.rodape{ float: left;    margin-left: 0;    margin-top: 20px;    overflow: hidden;    position: relative;    width: 970px;    z-index: 10; }
.rodape .menuRodape{ background:#fffd00; border:2px solid #85d88a; /*width: 966px; */ margin:0 auto; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}
.menuRodape ul{margin: 0px auto;height:45px; line-height:45px; width: 888px;}
.menuRodape ul li{  float: left;  margin: 0 12px 0 0; position:relative; padding-right:12px;}
.menuRodape li a{  font-size: 20px; text-transform: uppercase; color:#2b3377;}
.menuRodape li a:hover { text-decoration:none; }
.menuRodape ul span { background: url(http://cmais.com.br/portal/quintal/images/pattern-divisa-rodape.png) repeat-y; width:2px; display:block; height: 43px; position:absolute; top:1px; right:0;  }
.menuRodape li a:hover { text-decoration:underline; }
.menuRodape li.last { margin:0; padding:0; }
/*internas*/
.sprite-balao-categoria,
.sprite-detalhe,
.sprite-ico-autografo-dir,
.sprite-ico-autografo-esq,
.sprite-ico-autografo,
.sprite-ico-baixar,
.sprite-ico-busca-hover,
.sprite-ico-busca,
.sprite-ico-imprimir,
.sprite-seta-direita, 
.sprite-seta-esquerda, 
.sprite-seta-pag-dir, 
.sprite-seta-pag-esq{ background-image: url(http://cmais.com.br/portal/quintal/images/sprite-internas.png) !important; background-repeat: no-repeat; } 

.sprite-balao-categoria{ background-position: 0 0; width: 181px; height: 63px; } 
.sprite-detalhe{ background-position: 0 -113px; width: 23px; height: 13px; } 
.sprite-ico-autografo-dir{ background-position: 0 -176px; width: 22px; height: 44px; } 
.sprite-ico-autografo-esq{ background-position: 0 -270px; width: 22px; height: 44px; } 
.sprite-ico-autografo{ background-position: 0 -364px; width: 47px; height: 48px; } 
.sprite-ico-baixar{ background-position: 0 -462px; width: 41px; height: 47px; } 
.sprite-ico-busca-hover{ background-position: 0 -559px; width: 41px; height: 41px; } 
.sprite-ico-busca{ background-position: 0 -650px; width: 41px; height: 41px; } 
.sprite-ico-imprimir{ background-position: 0 -741px; width: 46px; height: 43px; } 
.sprite-seta-direita{ background-position: 0 -834px; width: 40px; height: 80px; } 
.sprite-seta-esquerda{ background-position: 0 -964px; width: 40px; height: 80px; } 
.sprite-seta-pag-dir{ background-position: 0 -1094px; width: 20px; height: 40px; } 
.sprite-seta-pag-esq{ background-position: 0 -1184px; width: 20px; height: 40px; } 

.internas .sidebar { width:180px; float:left; }
.internas .sidebar li { background:url(http://cmais.com.br/portal/quintal/images/bg-categoria.png) no-repeat; width: 180px; height: 49px; margin-top:10px; }
.internas .sidebar li.ativo,
.internas .sidebar li:hover { background-image:url(http://cmais.com.br/portal/quintal/images/bg-categoria-hover.png); text-decoration:none; }
.internas .sidebar li.ativo a,
.internas .sidebar li:hover a { text-decoration:none; }
.internas .sidebar li,
.internas .sidebar li a { width:100%; text-align:center;  font-size:14px; color:#2b3377; display: block; text-transform:uppercase; line-height: 49px; height:49px; overflow: hidden; }
.internas .sidebar .sprite-balao-categoria {  width: 181px; height: 53px; padding-top:10px; color:#2949c6 !important; text-transform:none; line-height:16px;  }
.internas .lista .navegacao { margin-left:10px; }
.internas .navegacao li p,
.internas .navegacao li { float:left; }
.internas .conteudo h2,
.internas .navegacao li,
.internas .navegacao li a { text-transform:uppercase;  }
.internas .navegacao li span { display: block; margin:0 5px; width:5px; float: left; }
.internas .navegacao li { margin-bottom:0; }
.internas .lista { width:761px; float:right; }
.internas .conteudo h2 { font-size: 30px; clear:both;  color:#2b3377; /*width:67%;*/ width:100%; float:left; }
.internas .lista h2 { margin-left:10px; }
.internas .menu-quintal { position:relative; }
.internas .conteudo form { position:absolute; top:0; right:0; }
.internas .conteudo form input { border:none; height:45px; line-height:45px; position:relative; overflow:hidden; width:220px; color:#2b3377; padding-left:20px; font-size: 13px;}
.internas .conteudo form .sprite-ico-busca { border:none; background-color:transparent; position:absolute; right:0; top:0;}
.internas .conteudo form:hover .sprite-ico-busca { background-position:  0 -559px; }
.menu-quintal { overflow:hidden; margin-bottom:20px; }
/* lista assets*/
.internas .assets  { float:left; margin:0.967% 0; width:100%; }
.internas .assets li { width:226px; overflow:hidden; padding:0 10px; float:left; margin:0 0 0.967% 0.967%; height:315px;}
.internas .assets li h3 { font-size: 20px; text-transform:uppercase; text-align:center; height:40px; line-height: 40px; overflow: hidden;} 
.internas .assets li a { display:block; }
.internas .assets li a p { height:64px; overflow:hidden; }
.internas .assets li img { width: 100%; height:145px; }
.internas .asset .btn,
.internas .assets li .btn { background:url(http://cmais.com.br/portal/quintal/images/bg-amarelo.png) repeat; height:45px; line-height: 45px; text-transform:uppercase; width:216px; margin:10px auto; text-align:center; font-size: 20px;  }
.internas .assets li a:hover { text-decoration:none; }
.internas .assets li a:hover p,
.internas .assets li a:hover h3 { text-decoration:underline; }
.internas .assets li a:hover .btn { text-decoration:none !important; }
/* asset*/
.internas .asset { background:#fff; float:left; width: 950px; padding:20px 10px; margin-top:10px;}
.internas .asset object,
.internas .asset .iframe { max-width:940px; margin:10px 10%;}
.internas .asset .iframe img { width:100%; }
.internas .asset p { margin-bottom:20px; }
.internas .asset .btn { display: block; float:right; margin-left:20px; position:relative; }
.internas .asset .btn span { display: block; position:absolute; right:-8px; top:0;}
.internas .mais h4 { background:url(http://cmais.com.br/portal/quintal/images/bg-mais.png) repeat; height:56px; line-height: 56px; color:#2949c6 !important; font-size: 14px; text-transform:uppercase; text-align:center; position:relative; }
.internas .mais h4 .sprite-detalhe { position:absolute; bottom:-8px; left:49%; display:block;  }
.internas .mais .carrossel { margin-top:30px; }
.internas .mais { float:left; width:970px; margin-top:20px;}
.internas .mais .jcarousel-clip { height:350px; width:780px; margin:0 auto;   }
.internas .mais .jcarousel-next,
.internas .mais .jcarousel-prev { background-image: url(http://cmais.com.br/portal/quintal/images/sprite-internas.png) !important; background-repeat: no-repeat; position:absolute; top:40%}
/*.internas .mais .jcarousel-next {background-position: 0 -964px; width: 40px; height: 80px; left:20px;  }*/
/*.internas .mais .jcarousel-prev { background-position: 0 -834px; width: 40px; height: 80px; right:20px; }*/
.internas .mais .jcarousel-next {background-position: 0 -834px;width: 40px;height: 80px;right: 20px; cursor: pointer;}
.internas .mais .jcarousel-prev {background-position: 0 -962px;width: 40px;height: 80px;left: 20px; cursor: pointer;}
.internas .jcarousel-container,
.internas .assets.jcarousel-list { height:350px; }
.internas .assets.jcarousel-list li { margin:0 20px 0 0; }
/*jogos - interna*/


/*turma*/
#turma .jcarousel-next,
#turma .jcarousel-prev {  background-image: url(http://cmais.com.br/portal/quintal/images/sprite-internas.png) !important; background-repeat: no-repeat; position:absolute; top:0;   }
/* #turma .jcarousel-next { background-position: 0 -270px; width: 22px; height: 44px; left:0; }
#turma .jcarousel-prev { background-position: 0 -176px; width: 22px; height: 44px; right:0;  } */
#turma .jcarousel-next { background-position: 0 -176px; width: 22px; height: 44px; right:0; }
#turma .jcarousel-prev { background-position: 0 -270px; width: 22px; height: 44px; left:0;  }
#turma li { width:440px; margin: 0 20px 20px 0; height:432px; }
#turma .btn { width:auto; position:relative; }
#turma .sprite-ico-autografo {display:block; position:absolute; right:0; top:0; }
#turma li img { height:280px; }
#turma li p.desc {height:44px;}
           


/* agenda */
#agenda .col-esq { width:640px; float:left; }
#agenda .col-dir { width:300px; float:right; }
#agenda .menu-quintal { position:relative;  }
#agenda .menu-quintal h2 { width:62%; }
#agenda .box-content { padding:20px 10px 10px; }
#agenda .box-content small {clear:both; display: block; }
#agenda .box-content .divisa { background: url(http://cmais.com.br/portal/quintal/images/pattern-divisa-agenda.png) repeat-x; width: 100%; height:1px; margin:10px 0 15px 0; clear:both;}
#agenda .box-content h2 { font-size: 20px; width:100%; }
#agenda .box-content img { width: 100%; }
.paginacao,
#agenda .paginacao { clear:both; width: 100%; overflow: hidden; margin-top:20px; position:relative;}
.paginacao a,
#agenda .paginacao a { display: block; float:left; }
.paginacao ul,
#agenda .paginacao ul {  width: auto; max-width:290px; margin-left:32%; }
.paginacao li,
#agenda .paginacao li { float:left; margin:0 10px 0 0; }
.paginacao li a,
#agenda .paginacao li a { font-size: 20px; height:45px; line-height:45px; width:15px; }
.paginacao li.ativo a,
.paginacao li a:hover,
#agenda .paginacao li.ativo a,
#agenda .paginacao li a:hover { color:#fff !important; font-size:30px; }
.paginacao .sprite-seta-pag-dir,
.paginacao .sprite-seta-pag-esq,
#agenda .paginacao .sprite-seta-pag-dir,
#agenda .paginacao .sprite-seta-pag-esq { position:absolute; top:2px; width: 22px; }
.paginacao .sprite-seta-pag-dir,
#agenda .paginacao .sprite-seta-pag-dir { right:10px; }
.paginacao .sprite-seta-pag-esq,
#agenda .paginacao .sprite-seta-pag-esq { left:10px; }
.paginacao li span,
#agenda .paginacao li span { margin:0 0 0 5px; display:block; float:left; height:45px; line-height:45px; }

#agenda .leiamais { margin-bottom:10px; width:300px; height:66px; background:url(http://cmais.com.br/portal/quintal/images/leiamais.png) no-repeat;  color:#2949c6 !important; font-size: 14px; text-transform:uppercase; text-align:center; line-height: 52px; }
#agenda .col-dir .box-content h2 { text-align:center; width: 100%; margin-bottom:10px; } 
#agenda .col-dir .box-content { padding-top:10px; margin-bottom:20px; }
#agenda .col-dir .box-content p { max-height:84px; overflow:hidden; clear:both; margin-bottom:20px; }
#agenda .col-esq .box-content { overflow: hidden; }
#agenda .col-esq .box-content p img { float:left; margin-right:10px; /*max-width:620px;*/ width:100%; padding:0 }
#agenda .col-esq .box-content p { margin-bottom:15px; /*float:left;*/ }
#agenda .col-esq .box-content strong{ font-family: 'gotham_blackregular',"Arial Black";}
#agenda .col-esq .box-content a {color:#4457FF!important; text-decoration:underline;}
#agenda .menu-quintal small {clear:both; display: block; font-size: 14px; color:#2B3377; }
#agenda .col-dir .box-content{font-weight:bold!important;}
#musicas { background:url(http://cmais.com.br/portal/quintal/images/bg-musica.png) no-repeat; width: 960px; height:558px; padding:0; }
#musicas #container { margin-right:25px; }
#musicas div.jp-playlist ul { height:300px; overflow-x: hidden; overflow-y:scroll; }
#musicas .jp-audio { float:right; }
#musicas div.jp-playlist, 
#musicas div.jp-interface { border:none; }
#musicas div.jp-playlist, 
#musicas div.jp-interface {background:url(http://cmais.com.br/portal/quintal/images/bg-amarelo50.png) repeat; }

#musicas a.jp-play,
#musicas a.jp-play:hover,
#musicas a.jp-pause,
#musicas a.jp-pause:hover, 
#musicas a.jp-stop,
#musicas a.jp-stop:hover,
#musicas a.jp-previous,
#musicas a.jp-previous:hover,
#musicas a.jp-next, 
#musicas a.jp-next:hover,
#musicas div.jp-seek-bar,
#musicas div.jp-play-bar,
#musicas a.jp-mute,
#musicas a.jp-mute:hover,
#musicas a.jp-unmute,
#musicas a.jp-unmute:hover,
#musicas div.jp-volume-bar,
#musicas div.jp-volume-bar-value,
#musicas div.jp-video div.jp-video-play,
#musicas div.jp-video div.jp-video-play:hover {background-image:url("http://cmais.com.br/portal/quintal/images/jcplayer.png"); }
#musicas div.jp-audio div.jp-type-playlist div.jp-current-time, 
#musicas div.jp-audio div.jp-type-playlist div.jp-duration,
#musicas div.jp-type-playlist div.jp-playlist a,
#musicas div.jp-type-playlist div.jp-playlist a:hover { color:#793785 !important; }
#musicas div.jp-type-playlist div.jp-playlist li { border-bottom:1px solid #c7e51f; }
#musicas .jp-audio { overflow:hidden; }

/* home */
#destaque { width:960px; height:330px; background:url(http://cmais.com.br/portal/quintal/images/bg-destaque.png) no-repeat; position:relative; }
#destaque .minhoquias { width:290px; height:400px; background:url(http://cmais.com.br/portal/quintal/images/minhoquias.png) no-repeat; position:absolute; top:-75px; left:-35px; }
#destaque .col-esq { width: 306px; margin:35px 10px 0 0; text-align:center;  }
#destaque .col-dir { width: 450px; margin:65px 10px 0 0; background:#e4f527; padding:10px; }
#destaque .col-esq,
#destaque .col-dir { float:right; position: relative; }
#destaque .col-esq p { font-size:20px; line-height:28px; display:inline; background:#cb35a4; color:#fff !important; text-transform:uppercase; margin-bottom:20px; clear:both; padding:3px 5px;  }
#destaque .col-esq p span { color:#e4f527 !important; text-align:center;  }
#destaque .col-dir label { width:100%; margin-bottom:10px; display:block; float:left; }
#destaque .col-dir span { display: block; float:left; }
#destaque .col-dir input { float:right; width:92%; height: 20px; line-height: 20px; border:none; padding:0 10px; color:#6a747d !important; }
#destaque .col-dir .cidade { width: 88%; margin-left:5px; }
#destaque .col-dir .estado { width: 10% }
#destaque .col-dir .data { float: left; margin:0 0 10px 0;}
#destaque .col-dir .data input { width: 8%; float:left; margin-right:5px; text-align:center; padding:0;  }  
#destaque .col-dir .data span { float: left; display:block; margin:0 5px 0 0; }
#destaque .col-dir .data .sprite-ico-aniversario { margin:0 17px 0 0; }
#destaque .col-dir .data span,
#destaque .col-dir .concordo { color:#cb35a4 !important; }
#destaque .col-dir .concordo input { width:13px; float:left; margin:0 7px 0 3px; }
#destaque .col-dir textarea { width: 100%; padding:10px; height:72px; overflow-x:hidden; overflow-y: scroll; background:#d0e229; box-shadow:none; border:none; color:#6a747d !important; line-height: 18px; }
#destaque .col-dir .enviar { background:#cb35a4; color:#e4f527 !important; padding:2px 10px; display: block; border: none; box-shadow: none; font-weight:bold; text-transform:uppercase; margin-top:10px; float:right; cursor: pointer;}

/* hacks ie*/
.menuRodape ul li{  margin: 0 10px 0 0\9; padding-right:16px\9;}
.menuRodape ul { margin-left:30px\9; }

#destaque #form-contato label.error{ position: absolute;left:0; bottom: 0;color: #e4f527;background-color: #cb35a4;width: 325px;text-align: center;text-transform: uppercase; margin-left:35px; font-weight:bold;}
#destaque #form-contato label.error.checked{display:none!important;}

.btn-formats {margin:10px 20px 0px 0px; background: url(http://cmais.com.br/portal/quintal/images/bg-amarelo.png) repeat;height: 45px;line-height: 45px;text-transform: uppercase;width: 216px;text-align: center;font-size: 20px; float:left!important;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;}
.sem-margem-r{margin-right:0px;}
.sem-margem-l{margin-left:0px;}
.box-formatos-papel{display: block; overflow: hidden; margin:0 auto;width:735px;}


/* home enquete*/
#destaque-enquete { width:960px; height:330px; background:url(http://cmais.com.br/portal/quintal/images/enquete/enquete-quintal.png) no-repeat; position:relative; margin:0 auto;}
#destaque-enquete .col-esq{ text-align: center;width: 360px;height: 100%;position: absolute;}
#destaque-enquete .col-esq img{width: 85%; margin-top: 5%;}
#destaque-enquete .col-esq iframe{display: block;top: 12%;position: absolute;left: 7%;}
#destaque-enquete .col-dir{float: right;width: 600px;padding: 20px 0 0 0;}
#destaque-enquete .col-dir .text{text-align: center; width: 420px;}
#destaque-enquete .col-dir p{background:#cb35a4; color:#fff !important;}
#destaque-enquete label{background:#e4f527; color:#cb35a4!important;}
#destaque-enquete label.active{background:#FFFFFF!important;}
#destaque-enquete .col-dir .votar{ background:#cb35a4; color:#fff!important; }
#destaque-enquete .col-dir p,
#destaque-enquete label,
#destaque-enquete .col-dir .votar {font-size:20px; border:none;font-family:'gotham_mediumregular',Arial, Helvetica, sans-serif;font-size:22px; line-height:28px; display:inline; text-transform:uppercase; margin-bottom:20px; clear:both; padding:3px 5px;  }
#destaque-enquete label,
#destaque-enquete .col-dir .votar{padding: 2px 20px;font-size: 20px;border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;}
#destaque-enquete .col-dir input[type="radio"]{bottom: 3px;position: relative;left: -5px;} 
#destaque-enquete .col-dir p strong { color:#e4f527!important; text-align:center; }
#destaque-enquete .col-dir .div-choice{overflow:hidden; margin:15px 0;}
#destaque-enquete form label.error{display:none;}


