.palco.voce-escolhe{width:967px; height:623px;position:relative; background:url(http://cmais.com.br/portal/quintal/images/ludovicoshow/img-vcescolhe-cenario.png) no-repeat;}
.palco.ludovico{width:967px; height:623px;position:relative; background:url(http://cmais.com.br/portal/quintal/images/ludovicoshow/img-show-cenario.png) no-repeat;}

.candidato{width:250px;height:402px;position:absolute;bottom:45px; background: url(http://cmais.com.br/portal/quintal/images/ludovicoshow/img-box-candidato.png) no-repeat;}
p{font-family:Arial, Helvetica, sans-serif; font-size:24px; font-weight:bold; text-align:center; margin-top:17px}
.candidato a{position:absolute;width:100%; height:424px;}
.candidato a:hover{text-decoration:none;background: url(http://cmais.com.br/portal/quintal/images/ludovicoshow/img-over-voto.png) no-repeat 0px 3px;}
.candidato a.selected{background: url(http://cmais.com.br/portal/quintal/images/ludovicoshow/img-over-voto.png) no-repeat 0px 3px;}
.candidato .votar p{margin-top:5px !important;}
.candidato .foto{position: absolute;top: 46px;left: 9px;border-radius: 10px;width: 232px;height: 332px;overflow: hidden;}
.candidato .votar{width:250px; height:39px;position: absolute;bottom: 7px;left: 2px; background: url(http://cmais.com.br/portal/quintal/images/ludovicoshow/btn-votar.png) no-repeat;}
.candidato .porcento{width:250px; height:46px;position: absolute;bottom: 5px;left: 0px; background: url(http://cmais.com.br/portal/quintal/images/ludovicoshow/img-resultado-parcial.png) no-repeat;}
.candidato .porcento p{margin-top: 9px !important}

.palco .confirma{width: 306px;height: 306px;position: absolute;bottom: 34px;border-radius: 8px;background-color:#f8ec34; padding: 106px 0 0 0; }
.confirma .texto p{width: 256px;margin:0 0 0 0; padding:2px 0; font-size:24px;line-height: 26px;}
.confirma .texto .right{float:right; text-align: left;}
.confirma .texto .left{float:left; text-align: right;}
.confirma .texto .certeza{font-size:18px;}
.confirma .texto span.seta{width:37px; height:65px; display: block;}
.confirma .texto span.seta.setaEsquerda{ margin-left:7px; float:left;background: url(http://cmais.com.br/portal/quintal/images/ludovicoshow/img-seta-candidato1.jpg) no-repeat;}
.confirma .texto span.seta.setaDireita{margin-right:7px; float:right; background: url(http://cmais.com.br/portal/quintal/images/ludovicoshow/img-seta-candidato2.jpg) no-repeat;}

.confirma .botoes {float:left;width: 100%; margin:36px 0}
.confirma .botoes a{text-decoration: none !important;width:87px;height: 47px;display:block; float:left; font-size:18px}
.confirma .botoes a.sim{width:77px;margin-left:40px; background: url(http://cmais.com.br/portal/quintal/images/ludovicoshow/btn-sim.png) no-repeat;}
.confirma .botoes a.nao{margin-left:50px; background: url(http://cmais.com.br/portal/quintal/images/ludovicoshow/btn-nao.png) no-repeat;}
.confirma .botoes a.ok{width:77px;margin-left:116px; background: url(http://cmais.com.br/portal/quintal/images/ludovicoshow/btn-sim.png) no-repeat;}
.confirma .botoes p{color:#FFF !important; margin-top:14px}
.confirma .texto{margin: 0px 0 104px 0;}
.confirma.registrado p.certeza{font-size:14px; text-align: center; }


#espera img{position: absolute;left: 143px;top: 74px;}
#espera p{font-size:14px}

#pAtivo.tCentro p{}
#pAtivo.tCentro .sim{margin-left:112px;}

.ludovico .left346{left: 346px;}
.ludovico .left106{left: 106px;}

.voce-escolhe .left346{left: 434px;}
.voce-escolhe .left106{left: 192px;}

.ludovico.candidatoA{left:100px;}
.ludovico.candidatoB{left:408px;}

.voce-escolhe.candidatoA{left:187px;}
.voce-escolhe.candidatoB{left:494px;}

#respFilomena,
#cha ,
#respCha,
#pFilomena{margin: -0px 0 0 50px !important;}