/** PLAYER **/
#container{
	background: url(../images/bg-playerMusica.png) no-repeat;
	display: block;
	width: 974px;
	height: 387px; 
}
.jp-audio{
	float: left;
	width: 974px;
}
.jp-audio .jp-interface{
	margin-top: 1px;
	width: 970px;
	position: relative;
}
.jp-interface .leftpoint{
	background: url(../images/bg-leftpoint.png) no-repeat;
	display: block;
	float: left;
	width: 6px;
	height: 44px;
}
.jp-interface .rightpoint{
	background: url(../images/bg-rightpoint.png) no-repeat;
	display: block;
	float: left;
	width: 6px;
	height: 44px;
}
.jp-interface .wrapper-jp-interface{
	background: url(../images/bg-middletpoint.png) repeat-x;
	float: left;
	display: block;
	width: 958px;
	height: 44px;
}
ul.jp-controls{
	float: left;
	width: 195px;
}
ul.jp-controls li a{ 
	border-right: 1px solid #c1ccc0;
	padding-right: 2px;
}
li,
div {}
div.jp-playlist,
div.jp-interface {}
div.jp-audio, 
div.jp-video {}
div.jp-playlist,
div.jp-interface {}
a.jp-play,
a.jp-play:hover,
a.jp-pause,
a.jp-pause:hover,
a.jp-stop,
a.jp-stop:hover,
a.jp-previous,
a.jp-previous:hover,
a.jp-next,
a.jp-next:hover,
a.jp-mute,
a.jp-mute:hover,
a.jp-unmute,
a.jp-unmute:hover,
div.jp-volume-bar,
div.jp-volume-bar-value,
div.jp-video div.jp-video-play,
div.jp-video div.jp-video-play:hover{
	background: url(../images/bg-iconsPlayer.png) no-repeat;
}
a.jp-play{
	left: 70px;
	top: 3px;
	width: 41px;
	height: 38px;
}
a.jp-pause{
	left: 70px;
	top: 6px;
	width: 41px;
	height: 38px;
}
a.jp-play:hover{
	background: url(../images/bg-iconsPlayer.png) -45px 0;
}
a.jp-pause{
	background: url(../images/bg-iconsPlayer.png) 0 -41px;
}
a.jp-pause:hover{
	background: url(../images/bg-iconsPlayer.png) -45px -41px;
}
a.jp-stop {
	background: url(../images/bg-iconsPlayer.png) 0 -152px;
	left: 120px;
	top: 4px;
	width: 41px;
	height: 39px;
	z-index: 1;
}
a.jp-stop:hover{
	background: url(../images/bg-iconsPlayer.png) -41px -152px;
}
a.jp-previous{
	background: url(../images/bg-iconsPlayer.png) 0 -76px;
	width: 49px;
	height: 38px;
}
a.jp-previous:hover {
	background: url(../images/bg-iconsPlayer.png) -49px -76px;
}
a.jp-next {
	background: url(../images/bg-iconsPlayer.png) 0 -114px;
	left: 175px;
	top: 4px;
	width: 49px;
	height: 38px;
}
a.jp-next:hover {
	background: url(../images/bg-iconsPlayer.png) -49px -114px;
}
div.jp-audio div.jp-type-playlist a.jp-previous{
	left: 10px;
	top: 3px;
}
div.jp-progress{
	position: absolute;
	overflow: hidden;
	background-color: #c4c4c4;
}
div.jp-audio div.jp-type-playlist div.jp-progress {
	top: 30px;
	left: 250px;
	width: 463px;
	height: 10px;
}
div.jp-seek-bar {
    cursor: pointer;
    height: 100%;
    width: 0;
}
.jp-play-bar{
	background: url(../images/bg-progress.png) no-repeat;
	float: left;
    height: 100%;
    width: 0;
}

div.jp-audio div.jp-type-playlist div.jp-current-time,
div.jp-audio div.jp-type-playlist div.jp-duration {
	top: 5px;
	left: 600px;
	width: 90px;
}
div.jp-current-time,
div.jp-duration {
	position: absolute;
	font-size: 15px;
	font-weight: bold;
}
div.jp-duration{
	margin-left: 23px;
}
.volumeWrapper{
	border-left: 1px solid #c1ccc0;
	padding-left: 10px;
	padding-top: 5px;
	position: absolute;
	left: 730px;
	width: 110px;
	height: 38px;
}
.volumeWrapper p{
	float: left;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
div.jp-audio div.jp-type-playlist div.jp-volume-bar {
	top: 29px;
}
div.jp-volume-bar{
	background-position: 0 -224px;
	position: absolute;
	overflow:hidden;
	width: 110px;
	height: 11px;
	cursor: pointer;
}
div.jp-volume-bar-value {
	background: url(../images/bg-progress.png) no-repeat;
	float: left;
	margin-top: 1px;
	width: 0px;
	height: 10px;
}
.wrapperPlaylist{
	float: left;
	margin: 50px 0 0 10px;
}
.jp-playlist,
.jp-todos,
.jp-letra{
	background: url(../images/bg-threeColumn.png) no-repeat;
	float: left;
	margin-right: 10px;
	overflow: auto;
	text-align: left;
	width: 306px;
	height: 337px;
}
.jp-playlist ul{
	font-size: 15px;
	font-weight: bold;
}
.jp-todos ul{
	float: left;
	margin-top: 10px;
}
.jp-todos li a{
	float: left;
	margin-bottom: 10px;
	padding: 3px 3px;
	width: 284px;
}
.jp-todos li a span{
	color: #323232;
	float: left;
	margin: 5px 0 0 10px;
}
.jp-todos li a img{
	float: left;
	width: 90px;
	height: 54px;
}
.jp-todos li a .nome{
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	width: 175px;
}
.jp-todos li a .totalMusicas{
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	width: 175px;
}
.jp-todos li a:hover span{
	color: #333;
}
.jp-todos li a:hover{
	background-color: #f8ec33;
	padding: 3px 3px;
}
.jp-playlist p{
	color: #323232;
	font-size: 15px;
	font-weight: bold;
	margin: 10px 0 0 10px;
	text-transform: uppercase;
}
.jp-playlist ul{
	font-size: 15px;
	font-weight: bold;
}
.jp-playlist ul li{
	margin: 10px 0 0 5px;
	width: 284px!important;
}
.jp-letra h3{
	color: #5d0a8d;
	font-size: 15px;
	font-weight: bold;
	margin: 10px 0 0 10px;
	text-transform: uppercase;
}
.jp-letra p{
	color: #323232;
	font-size: 15px;
	font-weight: bold;
	margin: 5px 0 15px 10px;
	width: 225px;
}
div.jp-seeking-bg {	background-image:url(../../../images/pbar-ani.gif);}
div.jp-audio {width:310px;}
div.jp-audio div.jp-type-single a.jp-play,
div.jp-audio div.jp-type-single a.jp-pause {top:10px; left:10px;}
div.jp-audio div.jp-type-single a.jp-stop {left:58px; top:16px;}
div.jp-audio div.jp-type-single div.jp-progress {left:96px; top:22px;}
div.jp-audio div.jp-type-single a.jp-mute, 
div.jp-audio div.jp-type-single a.jp-unmute {left:225px; top:22px;}
div.jp-audio div.jp-type-single div.jp-volume-bar {left:254px; top:27px;}
div.jp-audio div.jp-type-single div.jp-progress {width:120px;}
div.jp-audio div.jp-type-single div.jp-current-time, 
div.jp-audio div.jp-type-single div.jp-duration {left:96px; top:38px; width:118px;}
div.jp-audio div.jp-type-single div.jp-interface {height:55px;}
div.jp-playlist ul {padding-left:13px;}	
div.jp-type-single div.jp-playlist li {padding-left:0;}

/*
.playlist div.jp-audio div.jp-type-playlist a.jp-play, 
.playlist div.jp-audio div.jp-type-playlist a.jp-pause { top:10px; left:44px;}
.playlist div.jp-audio div.jp-type-playlist a.jp-previous {left:17px; top:16px;}
.playlist div.jp-audio div.jp-type-playlist a.jp-next {left:84px; top:16px;}
.playlist div.jp-audio div.jp-type-playlist a.jp-stop {left:121px; top:16px;}
.playlist div.jp-audio div.jp-type-playlist a.jp-mute, 
.playlist div.jp-audio div.jp-type-playlist a.jp-unmute {left:166px; top:22px;}
.playlist div.jp-audio div.jp-type-playlist div.jp-volume-bar {left:193px; top:27px;}
.playlist div.jp-volume-bar {width:93px;}
.playlist div.jp-audio div.jp-type-playlist div.jp-progress {top:56px; left:20px; width:270px;}
.playlist div.jp-audio div.jp-type-playlist div.jp-interface {height:94px;}
.playlist div.jp-audio div.jp-type-playlist div.jp-current-time, 
.playlist div.jp-audio div.jp-type-playlist div.jp-duration {top:72px; left:20px; width:270px;}
.playlist div.jp-type-playlist div.jp-playlist li.jp-playlist-current {list-style:none; padding-left:0;}
.playlist div.jp-type-playlist div.jp-playlist a:hover,
.playlist div.jp-type-playlist div.jp-playlist a.jp-playlist-current {color:#ff6633;}
.playlist div.jp-type-playlist div.jp-playlist a.jp-playlist-current {font-weight:bold;}
.playlist div.jp-playlist ul {background:#f5f5f5; padding:10px 20px 20px; text-align:left;}
.playlist div.jp-type-playlist div.jp-playlist li,
.playlist div.jp-type-playlist div.jp-playlist li.jp-playlist-last {padding-left:0;}
.playlist .jp-current-time { text-align:left;}
*/
