.palco.voce-escolhe{width:967px; height:623px;position:relative; background:url(http://cmais.com.br/portal/quintal/images/talentodesobra/img-vcescolhe-cenario.png) no-repeat;}
.palco.talentodesobra{width:967px; height:623px;position:relative; background:url(http://cmais.com.br/portal/quintal/images/talentodesobra/topo.png) no-repeat center top;  }

.candidato{width:450px;height:320px;position:absolute;bottom:45px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; overflow:hidden;}
p{font-family:Arial, Helvetica, sans-serif; font-size:24px; font-weight:bold; text-align:center; margin-top:17px}
.candidato a{position:absolute;width:100%; height:320px; background:#39b9ea; }
.candidato a.selected{background: url(http://cmais.com.br/portal/quintal/images/talentodesobra/img-over-voto.png) no-repeat 0px 3px;}
.candidato .votar p{height: 30px;    line-height: 30px; margin-top:0; color:#0b6284; font-size:22px;}
.candidato .foto{position: absolute;top: 15px;left: 0;width:450px;height: 253px;overflow: hidden;}
.candidato .votar {    background: #ffff05;    bottom: 10px;    height: 30px;    left: 20px;    position: absolute;    width: 410px;  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.candidato .porcento{width:450px; position:absolute; bottom:0;}
.candidato .porcento p{ height:52px; line-height: 52px; font-size: 50px; color:#ffff05; margin-top:0;}

.palco .confirma{width:450px;height:320px;position: absolute;bottom: 45px;background-color:#f8ec34; border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
.confirma .texto p{width: 256px;margin:0 0 0 0; padding:2px 0; font-size:24px;line-height: 26px;}
.confirma .texto .left,
.confirma .texto .right{ width:450px; text-align:center; position:absolute; }

.confirma .texto .certeza{font-size:18px;}
.confirma .texto span.seta{width:81px; height:77px; display: block;}
.confirma .texto span.seta.setaEsquerda{ margin-left:30px; margin-top:30px; float:left;background: url(http://cmais.com.br/portal/quintal/images/talentodesobra/seta2.png) no-repeat;}
.confirma .texto span.seta.setaDireita{margin-right:30px; margin-top:30px; float:right; background: url(http://cmais.com.br/portal/quintal/images/talentodesobra/seta.png) no-repeat;}

.confirma .botoes {position:absolute; top:92px; left:70px;}
.confirma .botoes a{text-decoration: none !important;width:87px;height: 47px;display:block; float:left; font-size:18px}
.confirma .botoes a.sim{width:77px;margin-left:40px; background: url(http://cmais.com.br/portal/quintal/images/talentodesobra/btn-sim.png) no-repeat;}
.confirma .botoes a.nao{margin-left:50px; background: url(http://cmais.com.br/portal/quintal/images/talentodesobra/btn-nao.png) no-repeat;}
.confirma .botoes a.ok{width:77px;margin-left:116px; background: url(http://cmais.com.br/portal/quintal/images/talentodesobra/btn-sim.png) no-repeat;}
.confirma .botoes p{color:#FFF !important; margin-top:14px}
.confirma .texto{margin: 46px 0 0 0;}
.confirma.registrado p.certeza{font-size:14px; text-align: center; }


#espera img{position: absolute;left: 143px;top: 74px;}
#espera p{font-size:14px}

#pAtivo.tCentro p{}
#pAtivo.tCentro .sim{margin-left:112px;}

.talentodesobra .left346{right: 0;}
.talentodesobra .left106{left: 0;}

.voce-escolhe .left346{left: 434px;}
.voce-escolhe .left106{left: 192px;}

.talentodesobra.candidatoA{left:0;}
.talentodesobra.candidatoB{right:0;}

.voce-escolhe.candidatoA{left:187px;}
.voce-escolhe.candidatoB{left:494px;}

#respFilomena,
#cha ,
#respCha,
#pFilomena{margin: -0px 0 0 50px !important;}

.allWrapper #rodape-portal, .allWrapper .capa-voltar-topo { margin-top:-54px !important; }
#horario.horario { float:right; }
#horario.horario p { text-align:right; }
.categoria { position:absolute; left:0; top:150px; width:100% }
.categoria h3 { float:left; z-index:0; margin-left:-11px;background:#ffff05;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 890px; height:30px; line-height: 30px;  color:#0b6283; font-size:22px; font-weight: bold; text-transform:uppercase; text-align:center;  }
.categoria span { float:left; position:relative; margin:4px 0 0 20px; background: url("/portal/quintal/images/talentodesobra/bola.png") no-repeat scroll 0 0 transparent;    height: 22px;    width: 21px;    z-index: 10; }
.categoria .right { float:left; margin-left:-11px;}
.x { position:absolute; left:465px; bottom:180px; color:#ffff05; font-size:60px; font-weight: bold; }
