Redirect 301 /MemoriaMidias.swf http://tvratimbum.cmais.com.br/portal/tvratimbum/jogos/MemoriaMidias.swf
Redirect 301 /MemoriaRatimbum.swf http://tvratimbum.cmais.com.br/portal/tvratimbum/jogos/MemoriaRatimbum.swf