.bg-chamada,
.bg-site { background :#000; }
.bg-site { background :url(http://cmais.com.br/portal/images/capaPrograma/abujamra/bg-abu.jpg) no-repeat center; height:146px; margin-top:-46px; z-index: 0; }
.bg-site { top:0 !important; z-index: 100; }
#barra-site .redes { float: right; }
#barra-site h2 {margin-top:30px;}
#capa-site { margin-top:-102px !important; }
#barra-site .topo-programa { *margin-top:-20px; }
#chamada { margin-bottom:0; }
body {  background-image :url(http://cmais.com.br/portal/images/capaPrograma/abujamra/bg-tudo3a.jpg);  }
.bg-chamada { height:60px; z-index: 100; }
