/* HOME TV CULTURA */
body{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/bg-pattern-amigosecreto.jpg)!important;}
#header-as{position:relative;width: 100%;height: auto;background: url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/home/header-amigosecreto-tvcultura.jpg) no-repeat top center;margin-top: 5px;}
#header-as .fundo-as-1{width: 1033px;height: 144px;margin: -4px auto;position: relative;}
#header-as .fundo-as-1 p{position: absolute;bottom: -36px;left: 20%;color: #FFF600;font-family: arial;font-size: 17px;font-weight: bold;}
#header-as .fundo-as-2{width: 1033px;margin: 0 auto;position: relative;top: 60px;}
#header-as .fundo-as-2a{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/home/pattern-fundo-claro.jpg);width: 991px;height: 100%;margin: 0 auto;position: absolute;top: 80px;right: 0;}
#capa-site #miolo {margin-top:0px !important;padding-bottom:40px;}
#capa-site{margin-top:-14px!important;}
#rodape-portal {margin-top: 35px;position:relative; z-index:1000;}
#rodape-portal .voltar-topo {margin-left:21px;}
#rodape-portal .box-rodape {padding-left:85px;}
#btn-as-tv-cultura{width: 806px;height: 107px;display: block;position: absolute;right: 23px;top: 33px;}

#capa-site.as #chamada{display:none;}
#capa-site.as .novoDestaque .enunciado span {background: url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/home/ponta-destaque-new.jpg) no-repeat 0px 0px;}
#capa-site.as .novoNoAr .enunciado span{background: url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/home/ponta-destaque-new2.jpg) no-repeat;}
#capa-site.as .novoNoAr a.titulos, #capa-site.as .novoNoAr p{color:#000 !important}
#capa-site.as .novoDestaque .enunciado h2,
#capa-site.as .novoNoAr .enunciado h2,
#capa-site.as .box-padrao .capa-titulo, 
#capa-site.as .proximasAtracoes .enunciado {background-color: #d42359;}
#capa-site.as #v2 li {width: 193px;float: left;border-left: #D42359 1px solid; border-right: none;min-height: 410px;}
#capa-site.as .box-padrao .claro .capa-titulo{background-color:#f04d60;}
#capa-site.as .box-padrao .claro span,
#capa-site.as .box-padrao .topo span{background-position: -165px 0;}
#capa-site.as p,
#capa-site.as a.titulos,
#capa-site.as .conteudo .txt-padrao a,
#capa-site.as .carrossel-menu .txt{color:#FFF;}
#menu-rodape .abas .minha-cultura.ativo a,
#menu-rodape .abas .minha-cultura:hover a,
#menu-rodape .abas .musica.ativo a,
#menu-rodape .abas .musica:hover a,
#menu-rodape .abas .jornalismo.ativo a,
#menu-rodape .abas .jornalismo:hover a,
#menu-rodape .abas .educacao.ativo a,
#menu-rodape .abas .educacao:hover a,
#menu-rodape .abas .infantil.ativo a,
#menu-rodape .abas .infantil:hover a,
#menu-rodape .abas .arte-cultura.ativo a,
#menu-rodape .abas .arte-cultura:hover a{background-color:#dd4f43 !important;}
#capa-site.as #menu-rodape .abas .minha-cultura.ativo span,
#menu-rodape .abas .minha-cultura:hover span,
#capa-site.as #menu-rodape .abas .musica.ativo span,
#capa-site.as #menu-rodape .abas .musica:hover span,
#capa-site.as #menu-rodape .abas .jornalismo.ativo span,
#capa-site.as #menu-rodape .abas .jornalismo:hover span,
#capa-site.as #menu-rodape .abas .educacao.ativo span,
#capa-site.as #menu-rodape .abas .educacao:hover span,
#capa-site.as #menu-rodape .abas .infantil.ativo span,
#capa-site.as #menu-rodape .abas .infantil:hover span,
#capa-site.as #menu-rodape .abas .arte-cultura.ativo span,
#capa-site.as #menu-rodape .abas .arte-cultura:hover span{background-position: 0 -60px!important;}
#capa-site.as #menu-rodape .blocos a{color:#d42359 !important;}
#capa-site.as #menu-rodape .blocos a:hover{border-color:#d42359 !important;}
#capa-site.as .proximasAtracoes .proximasAtracoes-box p a{color:#05254b;}
#capa-site.as .proximasAtracoes .proximasAtracoes-box .gradeCompleta{color:#05254b;}

/* /HOME TV CULTURA */

/* HOME */
body{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/bg-pattern-amigosecreto.jpg);}
.container.amigo-secreto{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/bg-img-center-amigosecreto.jpg) no-repeat center 0; margin: 14px auto;position: relative;z-index: 0;}
.container.amigo-secreto #capa-site{height:930px; position:relative;}
#video-as{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/fundo-branco.png); width: 792px;height: 468px;border-radius: 5px;margin: 162px auto 0;padding: 5px 3px;}
#dica-as{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/fundo-branco.png); width: 792px;height: 468px;border-radius: 5px;margin:0px auto;padding: 5px 3px;}
#btn-voltar-as{width: 864px;height: 162px;display: block;margin: 0 auto;}
#video-as iframe{width: 782px;height: 468px;}
#btn-dica-as{display: block; width:262px; height:133px; overflow:hidden; position: absolute; bottom: 150px;right: 153px;}
.btn-dica-as{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/btn_home-dicas.png) no-repeat;}
.btn-dica-as-over{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/btn_home-dicas-over.png) no-repeat;}
/* /HOME */

/* DICAS */
#dica-as .first{margin-left:0px;}
#dica-as ul li{float:left; margin-left:3px;position:relative;}
#dica-as ul li a{width:63px; height:63px;display:block;}
#btnc-osorio-as{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/participantes/osorio.png) no-repeat;}
#btnc-teobaldo-as{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/participantes/teobaldo.png) no-repeat;}
#btnc-ludovico-as{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/participantes/ludovico.png) no-repeat;}
#btnc-doroteia-as{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/participantes/doroteia.png) no-repeat;}
#btnc-filomena-as{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/participantes/filomena.png) no-repeat;}
#btnc-joao-as{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/participantes/joao.png) no-repeat;}
#btnc-eric-as{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/participantes/eric.png) no-repeat;}
#btnc-pedro-as{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/participantes/pedro.png) no-repeat;}
#btnc-matheus-as{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/participantes/matheus.png) no-repeat;}
#btnc-julio-as{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/participantes/julio.png) no-repeat;}
#btnc-lilica-as{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/participantes/lilica.png) no-repeat;}
#btnc-caco-as{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/participantes/caco.png) no-repeat;}
.btnc-hover-as{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/participantes/select-over-personagem.png) no-repeat; width:63px; height:63px;position:absolute; top:0; left:0; display: none;cursor: pointer;}
.btnc-hover-as.selected{height:69px; display:block;}
#blog-as{float: left;background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/fundo-blog.png);width: 100%;margin: 8px 0 0 0;height: 398px;border-radius: 5px;overflow: auto;}
#blog-as .blog-as-header{width: 100%;overflow: hidden;padding: 20px 0px 10px 0px;}
#blog-as .blog-as-header h1{float:left;font-family: Arial, Helvetica, sans-serif; font-size: 24px; color:#b40d45; text-transform:uppercase;text-align:left; width:690px;}
#blog-as .ico-lateral{background:url(http://cmais.com.br/portal/images/capaPrograma/amigosecreto/img-inicio-post.png) no-repeat; float: left;margin: 4px 25px 0 0;width:60px;height:23px;display:block;}
#blog-as .blog-as-body{width:642px; border-left: dashed 2px yellow; margin-left: 40px; padding: 0 45px 30px;}
#blog-as .blog-as-body p{text-align:left;color:#820c2e;}
#blog-as .blog-as-body iframe, #blog-as .blog-as-body img{margin-bottom:20px;margin-left: 0;}
#blog-as hr.divisor{margin: 5px 0; border-top-width:1px; border-color:#e81d6f; visibility: visible; border-bottom:none;}
.alpha{
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  /* IE 5-7 */
  filter: alpha(opacity=20);
  /* Netscape */
  -moz-opacity: 0.2;
  /* Safari 1.x */
  -khtml-opacity: 0.2;
  /* Good browsers */
  opacity: 0.2;
  }
/* /DICAS */
