body {background: white url(http://cmais.com.br/portal/images/capaPrograma/cacadoresdemitos/pattern-breve.jpg) 128px 70px repeat-x;}
#capa-site{min-height: 522px;*margin-top: -50px !important}
#rodape-portal {margin-top: -28px;*z-index:1000;*margin-top:23px !important;}
.voltar-topo{*margin-left:-350px !important;}
#capa-site{position:relative;overflow: visible;}
#capa-site .logo{position: absolute;top: 70px;left:0px;}
#capa-site .logo{*position: absolute;*top: 62px; *left:0px;}
#capa-site .redes {float: right;margin: 333px 123px 0 0;}
#capa-site .redes .curtir {width: 238px;float: left;margin-left: 0;text-align: left;}