.bg-site { background :url(http://cmais.com.br/portal/images/capaPrograma/cassiaeller/pattern-cassia.jpg) repeat-x; }
.bg-site { height:146px; margin-top:-58px; z-index: -1;*z-index:-1 !important; }
.bg-site { top:0 !important;}
#barra-site .redes { float: right; }
#barra-site h2 {margin-top:30px;}
#capa-site { margin-top:-102px !important; }
/*#barra-site .topo-programa { *margin-top:-20px;background: url(http://cmais.com.br/portal/images/capaPrograma/cassiaeller/logo.png) no-repeat 0px 22px; *background: url(http://cmais.com.br/portal/images/capaPrograma/cassiaeller/logo-ie7.jpg) no-repeat 0 20px;}*/
#chamada { margin-bottom:0; }
/*body {  background-image :url(http://cmais.com.br/portal/images/capaPrograma/cassiaeller/.jpg);  }*/
.bg-chamada { height:60px; z-index: 100; }
