@import url("../geral.css");

/**  CARRAPATOS E CATAPULTAS **/
#barra-site { background:url(../../../images/capaPrograma/bg-catapultas.png) no-repeat right 40px; margin-top:0; padding-top:20px;}
#barra-site {_background-image:url(../../../images/capaPrograma/bg-catapultas.gif);}
.submenu-interna {width:106px;}
.submenu-interna li a { margin-left:10px;}
.box-padrao {margin-top:0;}
.box-publicidade {margin:20px 0;}

/** /CARRAPATOS E CATAPULTAS **/