body { background:#000; font-family:Arial, Helvetica, sans-serif; }

@font-face {
    font-family: 'source_sans_proregular';
    src: url('http://cmais.com.br/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner,
.navbar-fixed-top .navbar-inner, 
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus,
.navbar-static-top .navbar-inner { box-shadow: none !important; }

/* topo*/
.navbar-inverse .brand, .navbar-inverse .nav > li > a { background:url(/portal/images/capaPrograma/cocorico/logocmais.png) no-repeat; text-indent:-9999px; width: 120px; height:30px; padding:0; margin:8px 20px 0 0; }
.navbar-fixed-top .nav > li > a { display: block;    height: 34px;    margin-top: 6px;    width: 34px; background:url(/portal/images/capaPrograma/cocorico/icones-menu.png) no-repeat; text-indent:-9999px; margin:5px 10px 5px 0; padding:0;}
.navbar-fixed-top .nav > .tvratimbum > a { background-position:0 -34px; }
.navbar-fixed-top .nav > .multicultura > a { background-position:0 -68px; }
.navbar-fixed-top .nav > .univesp > a { background-position:0 -102px; }
.navbar-fixed-top .nav > .culturabrasil > a { background-position:0 -136px; }
.navbar-fixed-top .nav > .culturafm > a { background-position:0 -170px; }
.navbar-fixed-top .nav > .itunes > a { background-position:0 -306px; }
.navbar-fixed-top .nav > .facebook > a { background-position:0 -339px; }
.navbar-fixed-top .nav > .google > a { background-position:0 -272px; }
.navbar-fixed-top .nav > .instagram > a { background-position:0 -238px; }
.navbar-fixed-top .nav > .twitter > a { background-position:0 -372px; }
.navbar-fixed-top .nav > .youtube > a { background-position:0 -405px; }
.navbar-fixed-top .nav > .feed > a { background-position:0 -472px; }
.navbar.navbar-fixed-top .navbar-inner .container { min-width:414px; }
.navbar.navbar-fixed-top .navbar-inner .container,
.navbar.navbar-fixed-top .navbar-inner {    background-color: #1B1B1B;    background-image: -moz-linear-gradient(center top , #222222, #111111);    background-repeat: repeat-x;    border-color: #252525;   }
/* /topo*/
/* container */
.container { background:#fff; }
#geral { margin-top:0; max-width:980px; padding-bottom:40px; margin-top:2px; }

.form-search .input-append .btn.ok,
h2,
.conteudo form .linha .enviar,
.menu {font-family: 'source_sans_proregular';}
.form-search .input-append .btn,
.conteudo .search-query.input-medium { border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;}
/* /container */

/* home */
.conteudo { padding:0; position:relative; margin:0; }
.menu li h3 a,
.menu li h3 { margin:0; font-size:32px !important; color:#fff; text-transform:uppercase; height:60px; line-height:60px; display: block; }
.menu li.ativo.cedoc a, 
.menu li.cedoc:hover a {  background:url(/portal/images/capaPrograma/cedoc/bg-lista.png) repeat-x bottom;  color:#c2f263 !important;   }
.home .menu li.ativo.cedoc a, 
.home .menu li.cedoc:hover a {color:#fff !important;  background:url(/portal/images/capaPrograma/cedoc/bg-lista.png) repeat-x bottom; }
.home .menu {  top:14%;  box-shadow: 0 3px 8px #000; } 
.menu { position:absolute; top:0; background:url(/portal/images/capaPrograma/cedoc/bg-menu.png) repeat; margin-left:0; left: 0; box-shadow: 0 3px 8px #999; width: 200px; }
.menu li { list-style:none; margin-left:-20px; padding-left:20px; position:relative; }
.menu li a { padding:0 20px; height:48px; line-height: 48px; color:#fff; text-decoration:none; text-transform:uppercase; font-size:22px; font-weight:bold; display: block; background:url(/portal/images/capaPrograma/cedoc/bg-lista.png) repeat-x bottom;  }
.menu li.ativo a,
.menu li:hover a { background:url(/portal/images/capaPrograma/cedoc/bg-lista-hover.jpg) repeat-x; color:#c2f263; }
.menu li span { width:20px; height:68px; display: block; position:absolute; left:0;}
.menu li.ativo span,
.menu li:hover span { background:url(/portal/images/capaPrograma/cedoc/aba-menu.png) no-repeat; }
.menu .search-query.input-medium,
.menu .btn { height:20px; line-height:20px;  border:2px solid #535352; padding:0; margin:0; background:#fff; }
.menu .search-query.input-medium { width:125px;  font-size:12px; color:#666;  }
.menu form i { margin:0 3px; }
.menu form { margin:20px 15px; float:right; }
.menu .btn { height:24px; line-height: 24px; border-right:none; }
.menu .search-query.input-medium  { border-left:none; }
.row-fluid { margin:20px 20px 0 20px; width: 96%; }
.home .span8 img { min-width:620px; }
h2 { text-transform:uppercase; font-size:18px; color:#666666; font-weight:normal; line-height:20px;  }
.row-fluid a { display:block; text-decoration:underline; color:#000; }
.row-fluid h2 a  { text-decoration:none; color:#666666;}
.mais:hover,
.mais { float:right; margin-top:20px; color:#000; }
.row-fluid .span8 { min-width:619px; }

.apoio.span5 { float: right;}
.apoio h2 { text-transform:none; }
.apoio li { list-style:none; float:left; }
.apoio li a { display:block; text-indent:-9999px; }
.apoio .cultura a { width: 77px; height:67px; background:url(/portal/images/capaPrograma/cedoc/logo-cultura.jpg) no-repeat;}
.apoio .ministerio { margin: 0 20px; }
.apoio .ministerio a { width: 53px; height:18px; background:url(/portal/images/capaPrograma/cedoc/logo-ministerio.jpg) no-repeat;}
.apoio .governo a { width: 114px; height:36px; background:url(/portal/images/capaPrograma/cedoc/logo-governo.jpg) no-repeat; }
.home .txt { /*max-height:230px;*/ overflow:hidden; }

/* /home */

/* rodape*/
#footer { width: 100%; position:relative; }
#footer,
#footer .container { background:#333; }
#footer .container { max-width:980px; }
#footer .voltar-topo {  background:#333 url(/portal/images/voltar-topo.png) no-repeat 5px; color:#fff; height:30px; line-height: 30px; padding:0 10px 0 30px; font-size:10px; margin:-30px 0 0 10px; display: block; width:62px;  }
#footer .logo-fpa { background:url(/portal/images/capaPrograma/cedoc/logo-fpa-branco.png) no-repeat; text-indent:-9999px; display:block; width: 64px; height:46px; margin:30px 0 20px 20px; }
#footer ul { border-right:1px dotted #fff; min-height:200px; }
#footer p,
#footer ul a { color:#fff; font-weight:normal; font-size:12px; }
#footer ul p { margin-bottom:0;}
#footer ul .tit { margin-bottom:20px; }
#footer ul .tit p,
#footer ul .tit a { font-weight:bold; }
#footer ul .tit.mg { margin-bottom:0; }
#footer ul.span3 { float: left; margin-left: 3%; max-width: 22%;  }
#footer ul.span3.last { border:none; }
#footer ul.span3.first { margin-left: 2%; }
#footer ul .sic { margin-top:20px; }
#footer .copyright { text-align:center; font-size:10px; clear:both;}
/* rodape*/

/* content */
.conteudo .span8 { float:right; margin:20px 20px 0 0; max-width:700px; min-height:400px; }
.conteudo .span8 img { max-width:700px; width:100%; }
.conteudo .span8 .txt { margin-top:10px; }
/* /content */

/* contato*/
.conteudo form .linha { float:left; margin-bottom:10px }
.conteudo form .linha label { text-transform:uppercase; font-size:12px; font-weight:bold; text-align:left; float:left;   }
.conteudo form .linha select,
.conteudo form .linha input { height:26px; line-height:26px; background:#fff; border:1px solid #bfbfbf; padding-left:2px; font-size:12px; color:#333;  }
.conteudo form .linha select {height:28px; line-height:28px; margin:0; padding:0;}
.conteudo form .t1 { width:570px; margin-right:10px; }
.conteudo .codigo .msg,
.conteudo form .t1 label,
.conteudo form .t1 input { width:566px; margin-right:10px; }
.conteudo form .t2 { width:60px; }
.conteudo form .linha select,
.conteudo form .t2 label,
.conteudo form .t2 input { width:50px; }
.conteudo form .t3 { width:636px; }
.conteudo form textarea,
.conteudo form .t3 label,
.conteudo form .t3 input { width:630px; }
.conteudo form .t4 { width:322px; }
.conteudo form .t4.assunto { margin-right:10px; }
.conteudo form .t4 label,
.conteudo form .t4 input { width:302px; }
.conteudo form .t5 { width:580px; }
.conteudo form .t5 label,
.conteudo form .t5 input { width:566px; }
.conteudo form .t6 { width:150px; }
.conteudo form .interprete {margin-right:10px;}
.conteudo form textarea { height:209px; border:1px solid #bfbfbf; padding:2px; font-size:12px; color:#333; /*overflow-y:scroll;*/ }
.conteudo form .txt-10 { float:right; }
.btn.contato,
.conteudo form .linha .enviar { background:#666; color:#c2f263; text-transform:uppercase; height:30px; line-height:30px; border:none; float:right; font-weight:bold; width:auto; clear:both; margin-top:10px; padding:0 10px; font-size: 14px; font-weight:normal; }
.conteudo .codigo .msg { width:350px; font-weight:normal; font-size:12px; float:left; text-transform:none;}
.conteudo .codigo .img {clear:both; display:block; width:132px; height:46px; float:left; margin-right:10px; border:2px solid #d2d2d2;}
.conteudo .codigo .caracteres {width:340px; float:left;}

#form-contato label.error{ background-color: #f46346; color: #fff; display: none; font-size: 12px; font-weight: normal; margin-top: 4px; padding-left: 3px; text-transform: none;}
#form-contato .erro{  border: 1px solid #f5d6cc;}
#form-contato label.checked{  background: none;  height: 0px; }
.msgErro{  background-color: #ff6633;  margin: 20px 0 0 105px;  width: 420px;}
.msgErro .alerta{  background: url(../../../images/ico-erro.png) no-repeat;  display: block;  float: left;  margin: 20px 0 0 10px;  overflow: hidden;  text-indent: -99999px;  width: 32px;  height: 32px;}
.msgAcerto{ overflow:hidden; background-color: #666;  margin: 20px 0 0 105px;  width: 410px;}
.msgAcerto .alerta{  background: url(../../../images/ico-acerto.png) no-repeat;  display: block;  float: left;  margin: 13px 0 0 10px;  overflow: hidden;  text-indent: -99999px;  width: 32px;  height: 32px;}
.boxMsg{  float: left;  margin: 5px 0 5px 10px;  width: 355px;}
.boxMsg p{  color: #fff;  font-size: 12px;  line-height: 15px;}
.boxMsg p.aviso{  font-weight: bold; margin-bottom:5px; color:#C2F263;}
.conteudo form select.estado {width:56px;}

.conteudo form input { padding:0; margin-bottom:0; box-shadow:0 !important; }
.conteudo form label { margin:0; }
/* /contato*/

/* resultado busca*/
.btn.contato { text-shadow:none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; margin-top:0; }
/*
.busca h2 { color:#000; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;  }
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th { background-color:#ccc !important; }
.busca .table td { padding:0 10px; } 
.busca .table td strong { float:left; margin-right:5px; }
*/
.busca .voltar { color:#000; text-decoration:underline; }
/* /resultado busca*/

.row-fluid .span4 { width: 29%; }

/* excecoes */
@media (max-width: 980px)  { 
  .row-fluid .span4 { width:90%; }
}

.home .txt { *max-height:240px; }
.menu .search-query.input-medium  { *border:none; }
/* /excecoes*/
#geral { margin-top:45px; }
.form-search .input-append .btn.ok { background:#666; color:#fff; font-size:14px; font-weight:bold; box-shadow:none; text-shadow:none; padding:0 5px; border:0; }
.menu .search-query.input-medium { border-right: none; background:#fff url(/portal/images/capaPrograma/cedoc/lupa.jpg) no-repeat 2px; padding:0 0 0 20px; }
#imagem-destacada { display: block; max-height: 438px; max-width: 980px; overflow: hidden;}
.span6 .img-destaque { max-height:275px; overflow:hidden; }

/******** RODAPE-PORTAL ********/
#rodape-portal { margin-top: -27px;clear:both; }
.capa-voltar-topo {  width:970px; margin:0 auto; position:relative; z-index:10; margin-bottom:-15px; }
.voltar-topo { display:block; overflow:hidden; width:96px; background:url(/portal/images/bg-voltar-topo.jpg) repeat-x; height:36px; padding:4px 0 0 10px; font-size:10px; color:#fff; line-height:16px; text-indent: 7px;}
.voltar-topo:hover {color:#FFFFFF; text-decoration:none;}
.voltar-topo span { background:url(/portal/images/voltar-topo.png) no-repeat; width:16px; height:16px; display:block; float:left; }
.voltar-topo:hover { text-decoration:none; }
.capa-rodape {  background:#333; border-top:2px solid #d3d3d3; height:470px; }
#rodape-portal .box-rodape { width:1054px; padding-left:50px; margin:0 auto; height:470px; background:#333; position:relative;  }
#rodape-portal .box-rodape ul { margin-bottom:25px; }
#rodape-portal .box-rodape li { text-align:left;  line-height:18px; }
#rodape-portal .box-rodape .tit { font-weight:bold;font-size: 12px; color:#fff; font-family:Arial, Helvetica, sans-serif; list-style:none; }
#rodape-portal .box-rodape li a { font-size:11px; color:#fff; }
#rodape-portal .col-esq { width:200px; float:left; margin-left:20px; margin-top:20px; }
#rodape-portal .col-central { width:610px; float:left; margin-top:20px; }
#rodape-portal .col-central p { margin-bottom:5px; color:#fff }
#rodape-portal .col-central .todos { width:200px; float:left; text-align:left; margin-bottom:20px; }
#rodape-portal .col-central ul { width:200px; float:left; }
#rodape-portal .col-dir { width:120px; float:left; margin-top:20px; }
#rodape-portal .col-dir a { text-indent:-9999px; display:block; }
#rodape-portal .col-dir .fpa {  background:url(/portal/images/logo-fpa.png) no-repeat; width:105px; height:63px; margin-bottom:30px; }
#rodape-portal .col-dir .cultura {  background:url(/portal/images/logo-cultura.png) no-repeat; width:61px ; height:61px; margin-left:17px; }
/*fxdfdsfd*/
#rodape-portal .copyright {  margin:50px 0 20px 0; margin:0 auto; clear:both;position:absolute; right:400px; bottom:10px; }
#rodape-portal .copyright p { font-size:10px; text-align:center; color:#fff !important; width:250px; margin:0 auto;  }
#rodape-portal .posicao { width:200px; float:left; text-align:left; }
/******** /RODAPE-PORTAL *********/
