body { background:#000; font-family:Arial, Helvetica, sans-serif; }

@font-face {
    font-family: 'source_sans_proregular';
    src: url('/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.eot');
    src: url('/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.woff') format('woff'),
         url('/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner,
.navbar-fixed-top .navbar-inner, 
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus,
.navbar-static-top .navbar-inner { box-shadow: none !important; }
/* topo */
/*
.navbar .nav li a,
.navbar-fixed-top { border-top:3px solid #5c5c5c; }
.navbar { color:#626262; }
.navbar-inner { background:#fff; }
.navbar .nav > li:hover a,
.navbar .nav > li:focus a,
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus { border-color:#2a63a2; background:#f7f7f7; color:#2a63a2; border-bottom:1px solid #2a63a2;   }
.navbar .nav { margin-top:-3px; position:relative; }
.navbar .brand { text-indent:-9999px; background:url(/portal/images/capaPrograma/cedoc/logo-fpa.jpg) no-repeat; width:64px; height:46px; margin:3px 20px; padding:0; }
.navbar .nav > li > a { text-transform:uppercase; font-weight:bold; font-size:12px; padding:0 23px; text-shadow:0; height:52px; line-height:52px; }
.navbar .nav li.dropdown > .dropdown-toggle .caret { bottom: 20px; clear: both; display: block; left: 42%; position:relative; }
*/
/* /topo */

/* container */
.container { background:#fff; }
#geral { margin-top:0; max-width:980px; padding-bottom:40px }
h2,
.hero-unit ul {font-family: 'source_sans_proregular';}
.form-search .input-append .btn,
.hero-unit .search-query.input-medium { border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;}
/* /container */

/* home */
.hero-unit { padding:0; position:relative; margin:0; }
.hero-unit ul h3 { margin:0; font-size:32px; color:#fff; text-transform:uppercase; padding-left:20px; height:60px; line-height:60px;}
.hero-unit ul { position:absolute; top:85px; background:url(/portal/images/capaPrograma/cedoc/bg-menu.png) repeat; margin-left:0; left: 0; box-shadow: 0 3px 8px #000; }
.hero-unit ul li { list-style:none; margin-left:-20px; padding-left:20px; position:relative; }
.hero-unit ul li a { padding:0 20px; height:48px; line-height: 48px; color:#fff; text-decoration:none; text-transform:uppercase; font-size:22px; font-weight:bold; display: block; background:url(/portal/images/capaPrograma/cedoc/bg-lista.png) repeat-x bottom;  }
.hero-unit ul li.ativo a,
.hero-unit ul li:hover a { background:url(/portal/images/capaPrograma/cedoc/bg-lista-hover.jpg) repeat-x; color:#c2f263; }
.hero-unit ul li span { width:20px; height:68px; display: block; position:absolute; left:0;}
.hero-unit ul li.ativo span,
.hero-unit ul li:hover span { background:url(/portal/images/capaPrograma/cedoc/aba-menu.png) no-repeat; }
.hero-unit .search-query.input-medium,
.hero-unit .btn { height:20px; line-height:20px;  border:2px solid #535352; border-left:none; padding:0; margin:0; background:#fff; }
.hero-unit .search-query.input-medium { max-width:125px; border-left:none; font-size:12px; color:#666;  }
.hero-unit .btn { border-right:0; height:24px;  border-left:2px solid #535352; }
.hero-unit form i { margin:0 3px; }
.hero-unit form { margin:20px 15px 20px 0; }

.row-fluid { margin:20px 20px 0 20px; width: 96%; }
h2 { text-transform:uppercase; font-size:18px; color:#666666; font-weight:normal; height:20px; line-height:20px;  }
.row-fluid a { display:block; text-decoration:underline; color:#000; }
.row-fluid h2 a  { text-decoration:none; color:#666666;}
.row-fluid .mais { float:right; margin-top:20px; }

.apoio.span5 { float: right;}
.apoio h2 { text-transform:none; }
.apoio li { list-style:none; float:left; }
.apoio li a { display:block; text-indent:-9999px; }
.apoio .cultura a { width: 77px; height:67px; background:url(/portal/images/capaPrograma/cedoc/logo-cultura.jpg) no-repeat;}
.apoio .ministerio { margin: 0 20px; }
.apoio .ministerio a { width: 53px; height:18px; background:url(/portal/images/capaPrograma/cedoc/logo-ministerio.jpg) no-repeat;}
.apoio .governo a { width: 114px; height:36px; background:url(/portal/images/capaPrograma/cedoc/logo-governo.jpg) no-repeat; }
.txt { max-height:230px; overflow:hidden; }

/* /home */

/* rodape*/
#footer { width: 100%; position:relative; }
#footer,
#footer .container { background:#333; }
#footer .container { max-width:980px; }
#footer .voltar-topo {  background:#333 url(/portal/images/voltar-topo.png) no-repeat 5px; color:#fff; height:30px; line-height: 30px; padding:0 10px 0 30px; font-size:10px; margin:-30px 0 0 10px; display: block; width:62px;  }
#footer .logo-fpa { background:url(/portal/images/capaPrograma/cedoc/logo-fpa-branco.png) no-repeat; text-indent:-9999px; display:block; width: 64px; height:46px; margin:30px 0 20px 20px; }
#footer ul { border-right:1px dotted #fff; min-height:200px; }
#footer p,
#footer ul a { color:#fff; font-weight:normal; font-size:12px; }
#footer ul p { margin-bottom:0;}
#footer ul .tit { margin-bottom:20px; }
#footer ul .tit p,
#footer ul .tit a { font-weight:bold; }
#footer ul .tit.mg { margin-bottom:0; }
#footer ul.span3 { max-width:216px;  }
#footer ul.span3.last { border:none; }
#footer ul.span3.first { margin-left: 20px; }
#footer ul .sic { margin-top:20px; }
#footer .copyright { text-align:center; font-size:10px;}
/* rodape*/
