/* GERAL */
strong{font-weight:bold;} 
.atencao{font-weight:bold; color:red;}
.container.principal{min-height: 50px;}
.container.content .col-equerda h1{text-transform: uppercase;}
.mais-info{ font-size:16px; padding:15px;color:#FFFFFF !important; text-decoration:none !important; text-transform: uppercase; letter-spacing: 0.12em; width:100%; padding:15px 0;}
.linha{border-top:1px solid #acacac; margin: 0 0 20px 0;*margin: 30px 0 20px 0;height: 0px;}
.logo-central{margin:50px 0 20px 0;*margin:50px 0 0px 0;}
.desc-site{float:right; font-weight:bold; font-size:14px; color:#000;bottom: 15px;position: absolute;right: 1px;}

.col-esquerda h1,
.col-direita h1{color: #2A4C9C;font-size: 22px;max-width: 94%;padding: 0 10px;margin: 0px 0 5px 0;}

.col-esquerda .central p{padding:0 10px;}
.col-esquerda{margin:0 !important; text-align:left;} 
.col-esquerda{border-radius: 5px;}
.col-esquerda h3{font-size: 20px; padding:0 0 0 9px;}
.col-esquerda a{color:#333399; font-weight: normal!important; text-decoration: underline;}
.col-esquerda .container-btn{padding-left:17px; *padding-left:30px; position:relative;max-width:100%;}
.col-esquerda .ico-perg{background: url(/portal/images/capaPrograma/central-de-relacionamento/icone-perguntas.png) no-repeat; max-width:35px; height:35px; display: block;position:absolute; left:34px;top:-9px}
.btn-esquerda{margin:20px 0 0 0; overflow: hidden;border-radius:5px;}
.btn-esquerda a{text-decoration: none;}
.btn-esquerda h1{float: left;font-size:16px;line-height:16px;padding-top: 10px; padding-left:0; max-width: 200px;}
.btn-esquerda p{float: left;font-size:13px; text-transform:none; margin-bottom: 10px;*font-size:13px;max-width: 300px;}
.col-esquerda i {filter: alpha(opacity=100);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-moz-opacity: 1;-khtml-opacity: 1;opacity: 1;}
.col-esquerda a {margin: -10px 0 8px 0;}
.base-btn{ position:relative;}
.btn-esquerda.sombra{background: url(/portal/images/capaPrograma/central-de-relacionamento/sombra-btn.png) no-repeat bottom right; width:100%; height:100%; display:block;position: absolute;top: -16px;left: 3px;z-index: -1;}
.btn-esquerda .ico{background: url(/portal/images/capaPrograma/central-de-relacionamento/icones.png) no-repeat; width: 70px;height: 70px; *width: 70px; *height: 70px;display: block;float: left; }
.ico-trabalhe-conosco{ background-position: 4px 12px!important;}
.ico-para-comprar{ background-position: 4px -67px!important}
.ico-fornecedores{ background-position: 4px -147px!important}
.ico-projetos-de-rtv{ background-position: 4px  -232px!important}
.ico-sintonia{ background-position: 4px  -314px!important}

.col-direita{text-align:left; margin-bottom: 20px;margin-bottom: 20px\9;}
.col-direita p{padding: 5px 5px 11px 17px;}
.col-direita .txt-10{padding:0px 5px 11px 0px;}
.col-direita h1{padding:0; line-height: 22px;margin-bottom:10px;}

.col-esquerda h3,
.central{width:100%}
.col-direita h3{color:#000000;font-size: 20px; max-width:94%;padding:0 10px;}
.voltar-perguntas, #col-sub .fechar{color:#333399; font-weight: bold; text-decoration: none; font-size:12px; margin-top:10px; margin-right:10px;}
.voltar-perguntas:hover{text-decoration: none;}

.coluna-sub{border-radius:5px; padding: 10px; overflow: hidden;margin-bottom:20px;}
.cinza-escuro{background:#7f7f7f !important;}
.cinza-claro{background:#a1a1a1 !important;}
.cinza-claro-2{background:#f3f3f3 !important;}

.tarja1{background-color: #e1e1e1;}
.tarja2{background-color: #eaeaea;}
.label-green{background-color: #4cb957;}
.label-red{background-color: #FF0000;}
.label{margin:10px 0px}

#col-sub .fundo-cinza {*width:520px;}
#col-sub ul li{position:relative;}
#col-sub{margin-top:15px}
#col-sub ul{margin:0;}
#col-sub .accordion-group {*margin-bottom: 2px!important;}
#col-sub a.formas{display: block;margin: 0 0 0 15px;padding: 13px;color:#333;width:100%;}
#col-sub {*background: #eaeaea; *list-style:none;*float:left;overflow:hidden;}
#col-sub .icon-circle-arrow-right{ background-position: -241px -143px;float:left; position: absolute; top: 13px; left: 11px;}
#col-sub .icon-circle-arrow-down{ background-position: -313px -143px;float:left; position: absolute; top: 13px; left: 11px;}
#col-sub .fundo-cinza{background: #FFF;}
#col-sub .accordion-heading{position:relative;}
#col-sub .box-inner{margin:10px}
#col-sub .page-header {padding: 0 9px;margin: 0px 0 20px;}
#col-sub .fechar{position: absolute;right: -9px;top: -9px;max-width: 508px;height: 15px;text-align: right;padding: 14px;}
#col-sub .escuro{background: #e1e1e1; border:none;}
#col-sub .claro{background: #eaeaea; border:none;}
.texto-branco{color:#FFF !important;}
.texto-preto{color:#333 !important;}
.texto-verde{color:#106d41 !important}

#row1, #row2, #row3, #row4, #row5, #row6, #row7{margin:7px auto;}
#email-central .pageheader{margin:0 0 10px 0;}
#email-central input[type=text]{max-width: 295px;*margin-left:-120px;}
#email-central input[type=checkbox]{max-width: 30px;}
#f2_telefone{width:220px!important;}
#email-central textarea{*margin-left:-120px;}
#email-central .botoes-form{margin-left:120px;}
#email-central .help-block{max-width:350px;}
#email-central .cancelar{color:#333 !important;text-decoration:none;}
#email-central .control-group.success .help-block{margin-top:10px;}
#email-central .form-horizontal .control-label{max-width:115px;}
#email-central .form-horizontal .controls{margin-left:122px;}
#email-central .row, #maisinfo, #f4_maisinfo, #f3_maisinfo, #f2_maisinfo {display: none;}
#email-central label.valid {max-width: 24px; height: 24px; background: url(/portal/images/valid.png) center center no-repeat; display: inline-block; text-indent: -9999px;}
#email-central label.error {font-weight: bold; overflow:hidden; padding: 2px 8px;font-size: 11px;margin: -2px 0 -3px -7px}
#email-central .trocar{position: absolute;left: 8px;}
#email-central .form-horizontal .control-group {margin-bottom:10px;}
#email-central .alert h4 {color:#106d41 ;text-transform: none;}
#email-central .btn{text-decoration: none !important;}
.cinza-claro-2 li{border:none;}
.salvar-alteracoes{display:none;width: 80%;background: yellow;margin: 0 auto 20px ;padding: 10px;border: 1px red dashed;color: red;text-align: center;text-transform: uppercase;font-weight: bold;font-size: 14px;}
.alert-success{margin:20px;}
/* /GERAL */

/* CONTENT */
#img-destaque{max-width: 972px; height: 200px; margin:0 0 20px;overflow: hidden;}
/* /CONTENT */

/* PERGUNTAS FRAQUENTES */
.perguntas a{font-weight:bold; text-decoration: underline; color:#4cb957;}
/* /PERGUNTAS FRAQUENTES */

@media only screen 
and (max-width : 940px) {
  .desc-site p{max-width: 260px; text-align: right;} 
  .col-esquerda .mais-info{font-size:12px; padding:15px 0px;}
  .btn-esquerda h1{margin-top:20px;}
  .btn-esquerda p{padding:10px;}
  .btn-esquerda.sombra{display:none;}
  
}

@media only screen 
and (max-width : 480px) {
  .logo-central{width: 150px;left: 50%;position: relative;clear:both;}
  .desc-site{display: none;}
}