/** chicoanysio **/
.submenu-interna {width:106px;}
.submenu-interna li a { margin-left:10px;}
.chapeu {color:#ff6633;}
.bg-site {background:url(http://cmais.com.br/portal/images/capaPrograma/chicoanysio/bg-topo.jpg) repeat-x;height:100px; position:relative; z-index: -1000; overflow:hidden; clear:both;}
#capa-site {margin-top:-97px !important;}
#capa-site {*margin-top:-145px !important;}

#miolo {margin-top:28px;}
#barra-site {height:100px; background:url(http://cmais.com.br/portal/images/capaPrograma/chicoanysio/logo.png) no-repeat 50px 0; margin:0;*margin-top:-4px; width:1012px; }
#barra-site h2 { width: 374px; }
#barra-site h2 a { font-size:25px; color:#fff; text-transform:uppercase; text-indent:-9999px; width: 340px; height:100px; display:block; }
 
.facebook {padding:0 !important;}
.bg-chamada {width:100%;  background:#e6b82f; position:relative; top:48px; overflow:hidden;}
#chamada { width:970px; margin:0 auto; float:none; margin-top:20px;}
.noticia .img-video { margin-top:0; }
#barra-site .redes ul {display:none;}

.topo-programa .tit-pagina{display:none;}
#barra-site .redes{float:right !important;}

/** /chicoanysio **/