@import url("../geral.css");

.tit-pagina a {text-indent:-9999px; background:url(../../../images/capaPrograma/logo-culturaLivre.png);}
#barra-site { background:url(../../../images/capaPrograma/bg-culturaLivre.png) no-repeat 700px 30px; }
#barra-site .topo-programa {height:80px;}
.box-padrao .chapeu {color:#ff6633;}
#destaque .data {margin-top:10px;}
#barra-site #horario {width:240px; margin-top:0;}
.uma-coluna .conteudo li {height:570px;}
#barra-site {*margin-left:0;}