@font-face {
    font-family: 'asapbold';
    src: url('http://cmais.com.br/portal/css/fontes/asap/asap-bold-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/asap/asap-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/asap/asap-bold-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/asap/asap-bold-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/asap/asap-bold-webfont.svg#asapbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'asapbold_italic';
    src: url('http://cmais.com.br/portal/css/fontes/asap/asap-bolditalic-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/asap/asap-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/asap/asap-bolditalic-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/asap/asap-bolditalic-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/asap/asap-bolditalic-webfont.svg#asapbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'asapitalic';
    src: url('http://cmais.com.br/portal/css/fontes/asap/asap-italic-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/asap/asap-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/asap/asap-italic-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/asap/asap-italic-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/asap/asap-italic-webfont.svg#asapitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'asapregular';
    src: url('http://cmais.com.br/portal/css/fontes/asap/asap-regular-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/asap/asap-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/asap/asap-regular-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/asap/asap-regular-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/asap/asap-regular-webfont.svg#asapregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{background: none; padding: 0;text-align:left;position: relative;}
#rodape-portal {margin-top: 0px;}
/*img{width:100%;}*/ 

.font-asap{font-family: 'asapregular', sans-serif;}

/* topo cmais desktop 
#guia-topo{padding:0;margin:0 0 20px 0;}
#topo-cmais #menu-portal-2 h1{margin:0 ;}
#menu-portal-2 ul.abas {margin:0;}
#topo-cmais #menu-portal-2 .busca-portal input{border-radius:0 ;height: 12px;}
#topo-cmais #menu-portal-2 .busca-portal .ipt-submit {border-radius:0 ; width: 30px;float: left;border: none;border-left: none;height: 22px;background: #F63;color: white;font: bold 12px arial;}
 /topo cmais desktop */

/* topo minimizado */
.navbar-inverse .brand, .navbar-inverse .nav > li > a { background:url(/portal/images/capaPrograma/cocorico/logocmais.png) no-repeat; text-indent:-9999px; width: 120px; height:30px; padding:0; margin:8px 20px 0 10px; }
.navbar .nav > li > a { display: block;    height: 34px;    margin-top: 3px;    width: 34px; background:url(/portal/images/capaPrograma/cocorico/icones-menu.png) no-repeat; text-indent:-9999px; margin:5px 10px 5px 0; padding:0;}
.navbar .nav > .tvratimbum > a { background-position:0 -34px; }
.navbar .nav > .multicultura > a { background-position:0 -68px; }
.navbar .nav > .univesp > a { background-position:0 -102px; }
.navbar .nav > .culturabrasil > a { background-position:0 -136px;background-color: transparent; }
.navbar .nav > .culturafm > a { background-position:0 -170px; }
.navbar .nav > .itunes > a { background-position:0 -306px; }
.navbar .nav > .facebook > a { background-position:0 -339px; }
.navbar .nav > .google > a { background-position:0 -272px; }
.navbar .nav > .instagram > a { background-position:0 -238px; }
.navbar .nav > .twitter > a { background-position:0 -372px; }
.navbar .nav > .youtube > a { background-position:0 -405px; }
.navbar .nav > .feed > a { background-position:0 -472px; }
.navbar.navbar-fixed-top .navbar-inner .container { min-width:414px; }
/* /topo minimizado*/

/* geral */
.container{width:1010px; margin:0 auto;}
.container.menu{position:relative;}
.topo .ouca{width:150px;display: block;position: absolute;top: 27px;right: 0;}
.topo .logo{width: 271px; margin-top: 10px;}
.menu-principal{max-width: 853px;float: left;margin-top: 7px;}
.menu-principal li a{ color:#666666; text-transform:uppercase; font-size: 14px;padding: 5px 7px;margin-top: 12px; border-radius:0px}
.linha-culturabrasil{border-bottom: 1px dashed #e9e9e9;width: 100%;display: block;margin-bottom: 1px;}
.mais{ color:#666666; font-size:10px; text-transform:uppercase; display: block;width: 100%;text-align: right;}

.carousel-caption h4, 
.carousel-caption h3, 
.destaque-cultura h2,
.destaque-playlist h2,
.destaque-cultura.agenda h3, 
.menu-principal li a,
.programa.subsection span.interna, 
.lista-assets a h2,
.lista-programas a,
.miolo.grade h1,
.miolo.grade .data-grade,
.miolo.grade .destaque-playlist h1,
.busca-titulo,
.content-asset .content h1,
.content-asset .content h2,
.lista-assets a h6,
.lista-programas span.titulo-arquivo,
.miolo.programa .row-fluid .span8 h1,
.miolo.programa .span8 .horario,
.miolo.programa .span8 .nav a,
.miolo.selecao .span8 h1,
.miolo.selecao .span8 .horario,
#form-selecao legend,
#form-selecao .aviso,
.saladetv .page-header h4,
#recentes h2,
#recentes .destaque-recente h3{font-family: 'asapregular', Arial, Helvetica, sans-serif;}

.mais,
.rodape span,
.destaque-playlist h1,
.destaque-cultura span,
.miolo.grade #accordion2 .accordion-body .btn-body{font-family: 'asapbold', Arial, Helvetica, sans-serif;}

.banner-culturabrasil,
.destaque-cultura span.interna{display: block;overflow: hidden;max-width: 300px;margin: 20px auto;}

.open a{background:#f5f5f5!important; color:#666666!important;}
.nav .dropdown-toggle {margin-bottom:0;}
.nav .dropdown-toggle .caret,
.nav li.dropdown.open .caret,
.nav li.dropdown.open .caret:hover{border-top-color: #666666!important;border-bottom-color: #666666!important;opacity: 1;filter: alpha(opacity=100);}
.nav .dropdown-menu{box-shadow: none;border: none;border-radius: 0px;margin: 0;padding: 0;min-width: 108px;}
.nav .dropdown-menu li a{margin-top:0;}
.nav .dropdown-menu li a:hover{color:#999999!important;}
.rodape .container{padding: 10px 5px;background: #eeeeee;margin-bottom: 70px;min-height:295px;}
.box-facebook{ float:left; margin-top:10px;}
.fb_iframe_widget {overflow: hidden;width: 315px;}
.aspas{color:#999999;}
.nav-pills>.active>a, 
.nav-pills>.active>a:hover{background-color:#F5f5f5; color:#666666}

.search-culturabrasil{width: 150px;height: 29px;position: absolute;right: 0;bottom: 24px;}
.search-culturabrasil .lupa{width: 12px;height: 11px;display: block;float: left;background: url(/portal/images/capaPrograma/culturabrasil/lupa.jpg) no-repeat; position: absolute;top: 13px;left: -10px}
.search-culturabrasil #term{width: 119px;border-radius: 0px;border: none;border-bottom: 1px solid #868686;box-shadow: none;padding: 5px 3px 0px 3px;}
.search-culturabrasil .ipt-submit{border: none;background: none;margin-top: 6px;}
/* geral */

/* subsection */
.borda-pontilhada{width:100%; height:1px; background: url(/portal/images/capaPrograma/culturabrasil/bg-dotted.png) repeat-x; margin-bottom: 10px;}
.borda-menu{position: absolute;bottom: 10px;}
.pontilhada{margin-top:-8px; }
.breadcrumb{background: none;padding: 8px 10px;color: #333333;margin-bottom:10px;}
.breadcrumb li{font-size:12px; color: #999999;}
.breadcrumb li a{color: #999999; font-size:12px;}
.subsection{padding: 0 0 0 4px; height: 44px;} 
.programa.subsection span{padding:5px; font-size:24px; margin:0;}
.programa.subsection i.borda-titulo.subsection{background-position: 0px -42px;height: 30px;width: 10px;}
/* subsection */
 
/* home */
.span4.twitter iframe{height:260px;}
.carousel-control {position: absolute;top: 50%; display:none;}
.carousel-control.left{background: url(/portal/images/capaPrograma/culturabrasil/seta-esquerda.png) no-repeat;border: none;width: 55px;height: 55px;}
.carousel-control.right{background: url(/portal/images/capaPrograma/culturabrasil/seta-direita.png) no-repeat;border: none;width: 55px;height: 55px;}
.carousel-caption {position: absolute;left: auto ;right: 0;bottom: 0;padding: 30px 10px 20px 20px;width: 310px;top: 0;color: white; background:none;}
.carousel-caption h4{ font-size:24px;font-weight:normal;line-height:35px;margin: 15px 0 20px;}
.carousel-caption h3{ margin: 0;font-weight: normal;font-size: 17px;text-transform: uppercase;}
.carousel-caption p{padding: 15px 0 0 0px;font-size: 16px;line-height: 23px;}

.destaque-cultura div.programa{position: relative;overflow: hidden;}
.destaque-cultura{margin-bottom:20px}
.destaque-cultura span, .rodape span{text-transform:uppercase; font-size:12px; background:#666666; color:#FFFFFF; padding:0px 5px;letter-spacing: 0.1em; display: block;float:left; line-height: 20px;}
.destaque-cultura h2{font-size:23px;font-weight: normal;margin: 0;line-height: 36px;color: #333333;}
.destaque-cultura p{font-size:14px;}
#accordion2 i.borda-titulo, .destaque-cultura i.borda-titulo, .rodape i.borda-titulo{ float:left;background:url(/portal/images/capaPrograma/culturabrasil/setacultura.png) no-repeat  0px 0px; width:7px; height:20px; display:block;}
.destaque-cultura a:hover{text-decoration:none;}

.destaque-cultura.frase h2{color:#666666; text-align:center;}
.destaque-playlist h1{font-size:12px; color:#666666; text-transform:uppercase; margin: 0;line-height: 12px;margin-bottom: 10px;letter-spacing:-0.1em;}
.destaque-playlist h2{font-size:23px; color:#333333;font-weight: normal;line-height: 18px;margin: 10px 0px 5px 0px;}
.destaque-playlist p{font-size: 14px; margin-bottom:15px;}
.destaque-playlist a:hover{ text-decoration:none;}
textarea{width:100%; font-size:11px;}

.destaque-cultura.agenda a:hover{ text-decoration:none;}
.destaque-cultura.agenda h3{font-size: 18px;line-height: 15px;margin-top: 0;margin-bottom: 4px;color: #666; font-weight:normal;}

.rodape span{color:#666666; background:#FFFFFF;}
.rodape i.borda-titulo.clara{background-position: 0px -21px;}
.rodape .google, .rodape .twitter{margin-top:30px;}
/* home */

/* pagination */
.pagination ul{box-shadow: none;}
.pagination .back-pag a{background: #FFFFFF;height: 30px;width: 26px;padding: 0;text-align: center;line-height: 30px;margin: 0 5px;border: none;color: #999999;}
.pagination .back-pag a:hover{background: #f5f5f5;}
.pagination .back-pag a i{opacity:0.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;}
.pagination .back-pag.active a{background: #f5f5f5;} 
/* /pagination */

/* lista assets subsection */
.lista-assets{padding-left:10px;}
.lista-assets a h6{margin:0;text-transform:uppercase;color:#666666;margin: 0 0 -2px 0; font-size:12px; letter-spacing: -0.1em;}
.lista-assets a h2{color:#333;font-size:18px; font-weight: normal; margin-top: 18px;line-height: 18px;margin-bottom: 4px;}
.lista-assets a h4{color:#333; }
.lista-assets a h6:hover,
.lista-assets a h4:hover{color:#005580\9;}
.lista-assets p{font-weight: normal\9;}
.lista-assets a{text-decoration: none;cursor: hand;}
.lista-assets .centro.span12{margin-left:-20px\9;} 
.lista-assets .titulo .row-fluid{margin:-10px;}
.lista-assets.span4{margin:0px\9;}
.lista-assets .titulo h2{margin: 0 0 5px;font-weight: normal;font-size: 24px;line-height: 20px;}
.lista-assets .span10{margin-left:10px}
.lista-assets .span10 p{margin:0 0 30px 0;}
.lista-assets .span2{margin: 0 0 20px 0;}
.lista-assets .span2 img{margin-top:7px;}
.row-fluid.subSection h1{color:black;margin: 13px 0 30px 0; font-size:24px;}
/* /lista assets subsection */

/* lista programas */
.lista-programas{margin-bottom:50px;}
.lista-programas a {color:#333333; font-size:18px;  padding: 0; }
.lista-programas a p{margin:0 10px 8px 10px!important;}
.lista-programas span.titulo-arquivo{font-size:18px;text-transform:uppercase; margin:40px 0 8px 10px; display:block;}
.programa.subsection span.interna{font-size: 24px; text-transform:none;margin-bottom:8px;}
.destaque-cultura.subsection{margin:0;}
/* /lista programas */

/* grade programação*/
.banner-culturabrasil{float:left;}
.miolo.grade h1{font-size:22px; color:#333333;}
.miolo.grade .destaque-playlist h1{color:#666666; font-size:18px; text-transform: none;}
.miolo.grade .seta-grade{width:25px; height:26px;display:block; background:url(/portal/images/capaPrograma/culturabrasil/setas-grade.png) no-repeat;}
.miolo.grade .data-grade{float:left; padding:3px 20px; text-align:center;font-size:18px; color:#666666;}
.miolo.grade .data-btn{float:left; overflow: hidden;}
.miolo.grade .box-direita{margin-top:60px;}
.miolo.grade .seta-grade.esquerda{background-position:0px -54px}
.miolo.grade .seta-grade.direita{background-position:0px -85px}
.miolo.grade .seta-grade.cima{background-position:0px -149px; float:right;}
.miolo.grade .seta-grade.baixo{background-position:0px -117px; float:right;}
.miolo.grade #accordion2 .accordion-toggle {position: relative;}
.miolo.grade #accordion2 .accordion-toggle .hora, .miolo.grade #accordion2 .accordion-toggle .programa-grade{font-size:18px;}
.miolo.grade #accordion2 .accordion-toggle .programa-grade{color:#333333;padding-left:20px;}
.miolo.grade #accordion2 .accordion-toggle .hora{color:#666666;}
.miolo.grade #accordion2 .accordion-toggle .seta-grade{position:absolute; bottom:4px; right:0px;}
.miolo.grade #accordion2{clear:both;}
.miolo.grade #accordion2 .accordion-body .btn-body{position:relative; padding: 0px 10px;background: #cccccc;float: left;clear: both;margin-bottom: 10px;text-transform: uppercase;font-size: 12px;color: #666666;}
.miolo.grade #accordion2 .accordion-body .btn-body:hover{text-decoration:none;}
.miolo.grade #accordion2 .accordion-group{border:none}
.miolo.grade #accordion2 .accordion-group .accordion-inner{border:none;}
.miolo.grade #accordion2 .accordion-heading a{text-decoration:none; padding:10px 3px;}
.miolo.grade #accordion2 i.borda-grade{width: 10px;height: 20px;display: block;position: absolute;top: 0;right: -10px;background-position: 0px -72px;}

/* grade programação*/

/**** datepicker ****/
#datepicker {float:left;width: 300px;height: 239px;display: block;}
 #datepicker .ui-widget { width:310px; }
 #datepicker .ui-datepicker-title { width:120px; float:left; margin:0 20px; text-align:center; }
 #datepicker .ui-datepicker-title span { font: bold 14px arial;color: #666; }
 #datepicker .ui-corner-all { float:left; }
 #datepicker .ui-datepicker-next { float:right; }
 #datepicker .ui-corner-all { -moz-border-radius:none; }
 #datepicker .ui-widget-content { background:none; border:none; }
 #datepicker .ui-widget-header {background: none;border: none;width: 205px;margin-left: 48px; }
 #datepicker .ui-widget-header .ui-icon { background:url(/portal/images/capaPrograma/culturabrasil/setas-grade.png) no-repeat 0px -28px; height:22px; width:22px; }
 #datepicker .ui-datepicker-next .ui-icon { background-position:0 -5px; } 
 #datepicker table { width:310px; margin-top:15px; }
 #datepicker caption,
 #datepicker th {  text-align:center; width:44px; float:left; }
 #datepicker tr { width:310px; }
 #datepicker table thead { width:310px; }
 #datepicker table thead th span { font:bold 10px arial; color:#333; text-transform:uppercase; }
 #datepicker tbody { margin-top:10px; width:310px; float:left; }
 #datepicker .ui-state-default { background:transparent; width:42px; height:26px;  text-align:center; display:block; font:bold 12px arial; color:#333; border:none;  line-height:26px; margin:0 2px 2px 0; }  
 #datepicker .ui-widget-content .ui-state-active,
 #datepicker .ui-state-hover, 
 #datepicker .ui-widget-content .ui-state-hover, 
 #datepicker .ui-widget-header .ui-state-hover, 
 #datepicker .ui-state-focus, 
 #datepicker .ui-widget-content .ui-state-focus, 
 #datepicker .ui-widget-header .ui-state-focus { background:#a8a8a8; color:#fff; text-decoration:none; }
 #datepicker .ui-widget-content .ui-datepicker-next:hover,
 #datepicker .ui-widget-content .ui-datepicker-prev:hover { background:none;  border:none; }
 #datepicker tbody span { background:transparent; color:#333;}
 #datepicker tbody a { background:#fff; color:#333; text-decoration:none; }
 #datepicker tbody a:hover {background:#ff6633; color:#fff;}
/**** /datepicker ****/

/* tela busca */
.busca-titulo h1{color:#333333; font-size:24px;margin: 0;padding: 0 0 0 10px;line-height: 21px}
.busca-titulo h2{color:#666666; font-size:18px;margin: 0;padding: 10px 0 0 10px;line-height: 14px;}
/* /tela busca */

/* content */
.content-asset{padding:0px 5px}
.content-asset .content h1{color:#333333; font-size:24px;margin: 0;padding: 0 0 0 0;line-height: 21px}
.content-asset .content h2{color:#666666; font-size:18px;margin: 0;padding: 8px 0 0 0;line-height: 18px;}
.content {padding-bottom: 5px;margin: 0px 0 10px;}
.content h1{font-size:24px;margin-bottom:0px;}
.content small{color:#6F6F6F;font-size:14px;}
.content-asset p,
.content-asset strong,
.content-asset span{color:black !important;margin-bottom:0px;}
.content-asset .legenda {min-width: 635px;background-color: #E5E5E5;margin-bottom: 20px;padding: 5px 10px;line-height: 1.2em;}
.content-asset .legenda small{color:#949494; font-size:11px;}
.content-asset .signature{margin:10px 0 5px 0;}
.content-asset .signature small{font-size:11px; color:#949494;}
.content-asset .cabecalho{font-size:11px; margin-bottom:10px; color:black;}
.content-asset .twt.conteudo{width:75px; float:left;margin-left: 10px;}
.content-asset .google{float:left;}
.content-asset .fb{float:left; margin-left: 10px; width: 200px;}
.content-asset .cabecalho small{font-size:10px; color:black;}
.content-asset .share.content{margin:0 -28px 0;float: right;width: 245px;}
.content-asset .fb_iframe_widget {overflow: hidden;width: 610px;}
.banner-radio{width: 300px;margin: 20px auto;}
#recentes h2{font-size:24px; color:#333333; margin: 10px 0 10px 0; line-height: 19px;}
#recentes h3{font-size:18px; color:#333333;margin: 0 0 6px 0; line-height: 15px;}
#recentes .borda-pontilhada{margin-bottom: 10px;}
#recentes .btn-recente{text-decoration:none;}
/* /content */

/* programa */
.miolo.programa .nav {margin-left: 0;margin-bottom: 10px;overflow: hidden;}
.miolo.programa .span8 .nav li { float:left; background:#ccc; padding:0.2% 0.644%; }
.miolo.programa .span8 .nav a {  text-transform:uppercase; font-size:12px; color:#333333; padding: 0 4px;}
.miolo.programa .span8 .nav li.active,
.miolo.programa .span8 .nav li:hover,
.miolo.programa .span8 .nav li:hover a { background:#666; }
.miolo.programa .span8 .nav li:hover a,
.miolo.programa .span8 .nav li.active a { color:#fff; }
.miolo.programa .row-fluid .span8 h1 { margin:0; color:#333;line-height: 25px; }
.miolo.programa .span8 .horario { color:#666; font-size:18px; }
/* programa */

/* player */
a.jp-play,a.jp-play:hover, a.jp-pause, a.jp-pause:hover, a.jp-stop, a.jp-stop:hover, a.jp-previous, a.jp-previous:hover, a.jp-next, a.jp-next:hover, div.jp-seek-bar, div.jp-play-bar, a.jp-mute, a.jp-mute:hover, a.jp-unmute, a.jp-unmute:hover, div.jp-volume-bar, div.jp-volume-bar-value, div.jp-video div.jp-video-play, div.jp-video div.jp-video-play:hover {
background-image: url("/portal/images/capaPrograma/culturabrasil/jplayer.png")!important;}
div.jp-playlist, div.jp-interface, div.jp-type-playlist div.jp-playlist li { border:none!important;}
div.jp-type-playlist div.jp-playlist a.jp-playlist-current {color: #333333 !important;}
div.jp-type-playlist div.jp-playlist li.jp-playlist-current {list-style-type: none!important; padding: 5px 0 4px 20px!important;}
div.jp-type-playlist div.jp-playlist a:hover {color:#999999!important;}
div.jp-type-playlist div.jp-playlist a.jp-playlist-current {color:#999999!important;}

/* /player */

/* selecao do ouvinte */
.miolo.selecao .span8 h1{font-size:24px; color:#333333; line-height: 25px; margin:0 0 10px 0;}
.miolo.selecao .span8 .horario{font-size:18px; color:#666666;}
#form-selecao fieldset{position:relative;}
#form-selecao .box{position:relative;}
#form-selecao label.error{color:red; font-weight:bold;}
#form-selecao .box label.error{ position:absolute; top:0; right:0;}
#form-selecao #estado{width:100px;}
#form-selecao legend{border: none; margin-bottom: 0px; color:#999999; font-size:18px;}
#form-selecao .borda-pontilhada{margin-bottom:9px;}
#form-selecao label{color:#333333; font-size:14px;}
#form-selecao #enviar{border: none;padding: 2px 4px;text-transform: uppercase;color: #FFF;background: #666666;font-size: 14px;margin: 20px 0;}
#form-selecao input[type="text"]{ -moz-border-radius: 0px; -webkit-border-radius: 0px; -khtml-border-radius: 0px; border-radius: 0px;border-color: #abadb3;}
#form-selecao .box.msg{background:#333333;}
#form-selecao #ajax-loader{height: 16px;width: 16px;float: right;margin-top: 23px;margin-right: 10px;}
#form-selecao .aviso{color: #ffffff;padding: 10px;font-size: 18px;} 
#form-selecao #captcha_image{width:132px;}
/* /selecao do ouvinte */

/* sala de tv */
.saladetv .fb_iframe_widget{width:496px;}
.saladetv .page-header{border:none; margin:0;}
.saladetv .page-header h4{color:#333333; font-size:24px;text-transform: none; margin:0 !important;}
.saladetv #videoPlayer{width: 450px; /*margin: 0 auto;*/}
.saladetv .google{width: 40px; float: left;}
.saladetv .twt{width: 142px; float: left;margin-right:8px;}
.saladetv .fb{width: 174px; float: left;}
.saladetv .share{margin: 0 auto;overflow: hidden;display: block; /*width: 370px;*/}
.saladetv .span12 .share { width:370px; }
.saladetv.twitter { width: 490px; /*height:400px;*/ overflow:hidden; }
.saladetv.twitter .span6 { margin:0; }
/* /sala de tv */


/*alteraçoes player fev2014*/
div.jp-playlist, div.jp-interface{background: #ECECEC!important;}
div.jp-audio h2{color: #333333;font-size: 24px;margin: 0;padding: 0 0 0 0;line-height: 21px;}
	