body{background: none; padding: 0;text-align:left;position: relative;}
#rodape-portal {margin-top: 0px;}
img{width:100%;}

.font-asap{font-family: 'Asap', sans-serif;}

/* topo cmais desktop */
#guia-topo{padding:0;margin:0 0 20px 0;}
#topo-cmais #menu-portal-2 h1{margin:0 ;}
#menu-portal-2 ul.abas {margin:0;}
#topo-cmais #menu-portal-2 .busca-portal input{border-radius:0 ;height: 12px;}
#topo-cmais #menu-portal-2 .busca-portal .ipt-submit {border-radius:0 ; width: 30px;float: left;border: none;border-left: none;height: 22px;background: #F63;color: white;font: bold 12px arial;}
/* /topo cmais desktop */

/* geral */
.container{width:1010px; margin:0 auto;}
.ouca{max-width:150px;display: block;float: right;}
.menu-principal{max-width: 853px;float: left;}
.menu-principal li a{font-family: 'Asap', Arial, Helvetica, sans-serif; color:#666666; text-transform:uppercase; font-size: 14px;}
/* geral */

/* home */

/* home */