@import url("../geral.css");

/** JORNAL DA CULTURA **/
.submenu-interna {width:106px;}
.submenu-interna li a { margin-left:10px;}
.box-padrao {margin-top:0;}
.box-publicidade {margin:20px 0;}
/** /JORNAL DA CULTURA **/