body{background: none; padding: 0;text-align:left;position: relative;}
#rodape-portal {margin-top: 0px;}
img{width:100%;}

.font-asap{font-family: 'Asap', sans-serif;}

/* topo cmais desktop 
#guia-topo{padding:0;margin:0 0 20px 0;}
#topo-cmais #menu-portal-2 h1{margin:0 ;}
#menu-portal-2 ul.abas {margin:0;}
#topo-cmais #menu-portal-2 .busca-portal input{border-radius:0 ;height: 12px;}
#topo-cmais #menu-portal-2 .busca-portal .ipt-submit {border-radius:0 ; width: 30px;float: left;border: none;border-left: none;height: 22px;background: #F63;color: white;font: bold 12px arial;}
 /topo cmais desktop */

/* topo minimizado */
.navbar-inverse .brand, .navbar-inverse .nav > li > a { background:url(/portal/images/capaPrograma/cocorico/logocmais.png) no-repeat; text-indent:-9999px; width: 120px; height:30px; padding:0; margin:8px 20px 0 0; }
.navbar .nav > li > a { display: block;    height: 34px;    margin-top: 6px;    width: 34px; background:url(/portal/images/capaPrograma/cocorico/icones-menu.png) no-repeat; text-indent:-9999px; margin:5px 10px 5px 0; padding:0;}
.navbar .nav > .tvratimbum > a { background-position:0 -34px; }
.navbar .nav > .multicultura > a { background-position:0 -68px; }
.navbar .nav > .univesp > a { background-position:0 -102px; }
.navbar .nav > .culturabrasil > a { background-position:0 -136px; }
.navbar .nav > .culturafm > a { background-position:0 -170px; }
.navbar .nav > .itunes > a { background-position:0 -306px; }
.navbar .nav > .facebook > a { background-position:0 -339px; }
.navbar .nav > .google > a { background-position:0 -272px; }
.navbar .nav > .instagram > a { background-position:0 -238px; }
.navbar .nav > .twitter > a { background-position:0 -372px; }
.navbar .nav > .youtube > a { background-position:0 -405px; }
.navbar .nav > .feed > a { background-position:0 -472px; }
.navbar.navbar-fixed-top .navbar-inner .container { min-width:414px; }
/* /topo minimizado*/

/* geral */
.container{width:1010px; margin:0 auto;}
.topo .ouca{max-width:150px;display: block;float: right;}
.topo .logo{width: 210px; margin-top: 10px;}
.menu-principal{max-width: 853px;float: left;}
.menu-principal li a{ color:#666666; text-transform:uppercase; font-size: 14px;padding: 5px 7px;margin-top: 12px;}
.carousel-caption h4, .carousel-caption h3, 
.destaque-cultura span, .destaque-cultura h2,
.destaque-playlist h1, .destaque-playlist h2, 
.menu-principal li a, .mais{font-family: 'Asap', Arial, Helvetica, sans-serif;}
.linha-culturabrasil{border-bottom: 1px dashed #e9e9e9;width: 100%;display: block;margin-bottom: 10px;}
.mais{float:right; color:#666666; font-size:10px; text-transform:uppercase; display: block;width: 100%;text-align: right;}
/* geral */

/* home */
.carousel-control {position: absolute;top: 50%; display:none;}
.carousel-caption {position: absolute;left: auto ;right: 0;bottom: 0;padding: 10px 10px 20px 20px ;width: 310px;top: 0;color: white; background:none;}
.carousel-caption h4{ font-size:24px;font-weight:normal;line-height:35px;}
.carousel-caption h3{ margin: 0;font-weight: normal;font-size: 17px;text-transform: uppercase;}
.carousel-caption p{padding: 15px 0 0 0px;font-size: 18px;line-height: 23px;}

.destaque-cultura{margin-bottom:20px}
.destaque-cultura span{font-size:12px; background:#666666; color:#FFFFFF; padding:3px 5px;letter-spacing: 0.1em;position:relative;width: 100%;}
.destaque-cultura h2{font-size:23px;font-weight: normal;margin: 0;line-height: 36px;color: #333333;}
.destaque-cultura p{font-size:14px;}
.destaque-cultura i.borda-titulo{background:url(/portal/images/capaPrograma/culturabrasil/setacultura.png) no-repeat; width:7px; height:19px; display:block; position: absolute; top:1px; right: -7px;}

.destaque-playlist h1{font-size:12px; color:#666666; text-transform:uppercase; font-weight: bold;margin: 0;line-height: 12px;margin-bottom: 10px;}
.destaque-playlist h2{font-size:23px; color:#333333;font-weight: normal;line-height: 18px;margin: 10px 0px 5px 0px;}
.destaque-playlist p{font-size: 14px; margin-bottom:15px;}

/* home */