.submenu-interna {width:106px;}
.submenu-interna li a { margin-left:10px;}
.chapeu {color:#ff6633;}
.bg-site {background:url(http://cmais.com.br/portal/images/capaPrograma/dorivalcaymmi/bg-caymmi.jpg) height:162px}
#capa-site {margin-top: -160px !important;}
/*#capa-site {*margin-top:-100px !important;}*/
#miolo {margin-top:28px;}
/*#barra-site {background: url(http://cmais.com.br/portal/images/capaPrograma/carnaval2014/grafismos.png); margin:0; width:1012px;height: 160px; }*/
#barra-site h2 { width: 340px;}
#barra-site h2 a { font-size:25px; color:#fff; text-transform:uppercase; text-indent:-9999px; width: 340px; height:100px; display:block; }
.facebook {padding:0 !important;}
.bg-chamada {width:100%;  background:#000; position:relative; top:48px; overflow:hidden;}
#chamada { width:970px; margin:0 auto; float:none; margin-top:20px; margin-bottom:20px;}
.noticia .img-video { margin-top:0; }
#barra-site .redes ul {display:none;}
#barra-site .redes { float:right; margin: 80px 0 0;}
#barra-site .topo-programa img { float: left;margin-top: 70px;}
#direita iframe #twitter-widget-3 {height:300px}
