
/*ALTERAÇÕES GEORGIA*/
#row1 .page-header h1{display: none;}
#row1 .page-header{border:none;}
#row4 .form-horizontal .controls{margin-left: 110px;}
#row4 input[type=text]{width: 100%;*margin-left:-120px;}
#row4 .form-horizontal .control-group {margin-bottom: 10px;width: 90%;}
#row4 textarea {width: 100%;}
.alert{width: 90%;}
#email-central .control-group.selecionavel{padding: 0;width: 50%;margin: 10px 0;float: left;}
#row8, #row9{margin: 10px;}
.page-header {padding-bottom: 9px;}



