/* TOPO central */
#topo-central{margin-bottom:30px;overflow: hidden;}
#topo-central .menu-central ul li a{color:#676767;padding:7px 6px;margin-right: 21px;}
#topo-central .nav-tabs .dropdown-toggle .caret,
#topo-central .nav-pills .dropdown-toggle .caret {border-top-color: black;}
#topo-central .nav-tabs .dropdown-toggle:hover .caret,
#topo-central .nav-pills .dropdown-toggle:hover .caret {border-top-color: white;}
#topo-central .menu-central ul li:last-child a{margin-right: 0px !important;}
#topo-central .nav-tabs > li > a,
#topo-central .nav-pills > li > a {margin: 4px 0 4px 0px;}
#topo-central .nav {margin:0; float:left;*float:left;border-top:1px solid #acacac;border-top:1px solid #acacac;border-bottom:1px solid #acacac;}
#topo-central .nav {*margin-top:20px;}
#topo-central .dropdown-menu {background-color:#00723a;padding:0;text-align:left;border-radius:0;top:34px;left:0px;border:none; border-bottom-right-radius:8px;border-bottom-left-radius:8px;border-top-right-radius:8px;padding:1px 0;  }
#topo-central .nav-pills .dropdown.active .dropdown-toggle .caret {border-top-color: white !important;}
#topo-central .dropdown.open .caret {border-top-color: white;}
#topo-central .active a,
#topo-central .dropdown.open a,
#topo-central a:hover{background-color:#4cb957;color:#FFF!important;border-radius:5px }
#topo-central .dropdown.open a{border-bottom-right-radius:0px;border-bottom-left-radius:0px;margin-bottom: 0px;height: 18px;}
#topo-central .dropdown-menu li a{margin-right:0 !important;background-color: #00723a;border-radius:5px !important;border: 2px solid #00723a;}
#topo-central .dropdown-menu a:hover{background-color: #ED9F18 !important;border-radius: 5px;border: 2px solid #00723a;}
#topo-central .logo-central:hover{background:none}
/* /TOPO central */

/* GERAL */
.container-btn{width: 288px;margin: 0 auto;}
.container.content .col-equerda h1{text-transform: uppercase;}
.mais-info{width:358px; font-size:15px; padding:15px;color:#FFFFFF !important; text-decoration:none !important; text-transform: uppercase; font-weight:bold !important; letter-spacing: 0.12em;}
.mais-info-a{width:394px !important;}
.logo-central{margin:50px 0 20px 0;}
.col-esquerda.central{background: #f3f3f3;border-radius: 5px;}
.col-esquerda .botoes{padding: 4px 10px;margin-top:30px !important; height:90px; background: url(http://cmais.com.br/portal/images/capaPrograma/central-de-relacionamento/patterns-botoes.jpg) repeat-x;}
.col-esquerda .desc-perg{float: left;text-shadow: none;font-size: 16px;text-transform: none;color: white;font-weight: normal;padding: 5px 0 0 10px;width:281px; height:40px; overflow: hidden; text-align: left;}
.tit-perg{width: 281px;height: 18px;overflow: hidden;text-align: left;float: left;margin: 15px 0 0 10px;font-size: 16px;text-shadow: none;font-weight: bold !important;}
.col-esquerda .botoes.blue .tit-perg{color:#fdb813;}
.col-esquerda .botoes.blue{background-position:0 -361px;}
.col-esquerda .botoes.blue:hover{background-position:0 -451px;}
.col-esquerda .botoes.red .tit-perg{color:#7ce2e8;}
.col-esquerda .botoes.red{background-position:0 0px;}
.col-esquerda .botoes.red:hover{background-position:0 -92px;}
.col-esquerda .botoes.green .tit-perg{color:#E1E43D;}
.col-esquerda .botoes.green{background-position:0 -182px;}
.col-esquerda .botoes.green:hover{background-position:0 -271px;}
.col-esquerda{margin:0 !important; text-align:left;}
.col-direita{text-align:left; margin-bottom: 20px;margin-bottom: 20px\9;}
.col-esquerda p{width:94%; padding:0 10px;}
.col-direita p{padding: 5px 5px 11px 17px;}
.desc-site{float:right; font-weight:bold; font-size:14px; color:#000;bottom: 15px;position: absolute;right: 1px;}
.col-esquerda h1,
.col-direita h1{color: #2A4C9C;font-size: 22px;width: 94%;padding: 0 10px;margin: 0px 0 -5px 0;}
.col-direita h1{padding:0; line-height: 22px;margin-bottom:10px;}
.col-direita li{font-size:14px;border-bottom: 2px solid white;}
.col-esquerda h3,
.col-direita h3{color:#000000;font-size: 20px; width:94%;padding:0 10px;}
.voltar-perguntas, #col-sub .fechar{color:#333399; font-weight: bold; text-decoration: none; font-size:12px; margin-top:10px; margin-right:10px;}
.voltar-perguntas:hover{text-decoration: none;}
.col-esquerda a{color:#333399; font-weight: bold; text-decoration: underline;}
.icone{float: left;display:block;width:72px;height:74px; background: url(http://cmais.com.br/portal/images/capaPrograma/central-de-relacionamento/icones-central.png) no-repeat 0 0;}
.sintonia{background-position: 0 -73px;}
.trabalhe-conosco{background-position: 0 -144px;}
.ico-perg{margin:-8px 0;background: url(http://cmais.com.br/portal/images/capaPrograma/central-de-relacionamento/icone-perguntas.png) no-repeat; width:35px; height:35px; display: block;float:left;}
.coluna-sub{border-radius:5px; padding: 10px; overflow: hidden;margin-bottom:20px;}
.cinza-escuro{background:#7f7f7f !important;}
.cinza-claro{background:#a1a1a1 !important;}
.cinza-claro-2{background:#f3f3f3 !important;}
.tarja1{background-color: #e1e1e1;}
.tarja2{background-color: #eaeaea;}
.label-green{background-color: #4cb957;}
.label-red{background-color: #FF0000;}
.label{margin:10px 0px}
#col-sub .fundo-cinza {*width:520px;}
#col-sub{margin-top:15px}
#col-sub ul{margin:0;}
#col-sub a.formas{display: block;margin: 0 0 0 0;padding: 13px;color:#333;}
#col-sub {*background: #eaeaea; *list-style:none;*float:left;overflow:hidden;}
#col-sub .icon-circle-arrow-right{background-position: -241px -143px;float:left;margin: 14px 7px 0 15px;}
#col-sub .icon-circle-arrow-down{background-position: -313px -143px;float:left;margin: 14px 7px 0 15px;}
#col-sub .fundo-cinza{background: #FFF;}
#col-sub .accordion-heading{position:relative;}
#col-sub .box-inner{margin:10px}
#col-sub .page-header {padding: 0 9px;margin: 0px 0 20px;}
#col-sub .fechar{position: absolute;right: -9px;top: -9px;width: 508px;height: 15px;text-align: right;padding: 14px;}
#col-sub .escuro{background: #e1e1e1; border:none;}
#col-sub .claro{background: #eaeaea; border:none;}
.texto-branco{color:#FFF !important;}
.texto-preto{color:#333 !important;}
.texto-verde{color:#106d41 !important}
#row1, #row2, #row3, #row4, #row5, #row6, #row7{margin:7px auto;}
#email-central .pageheader{margin:0 0 10px 0;}
#email-central input[type=text]{width: 295px;*margin-left:-120px;}
#email-central input[type=checkbox]{width: 30px;}
#email-central textarea{*margin-left:-120px;}
#email-central .botoes-form{margin-left:120px;}
#email-central .help-block{width:350px;}
#email-central .cancelar{color:#333 !important;text-decoration:none;}
#email-central .control-group.success .help-block{margin-top:10px;}
#email-central .form-horizontal .control-label{width:115px;}
#email-central .form-horizontal .controls{margin-left:122px;}
#email-central .row, #maisinfo, #f4_maisinfo, #f3_maisinfo, #f2_maisinfo {display: none;}
#email-central label.valid {width: 24px; height: 24px; background: url(http://cmais.com.br/portal/images/valid.png) center center no-repeat; display: inline-block; text-indent: -9999px;}
#email-central label.error {font-weight: bold; overflow:hidden; padding: 2px 8px;font-size: 11px;margin: -2px 0 -3px -7px}
#email-central .trocar{position: absolute;left: 8px;}
#email-central .form-horizontal .control-group {margin-bottom:10px;}
#email-central .alert h4 {color:#106d41 ;text-transform: none;}
#email-central .btn{text-decoration: none !important;}
/* /GERAL */

/* CONTENT */
#img-destaque{width: 972px; height: 200px; margin:0 0 20px;overflow: hidden;}
/* /CONTENT */