/* fonte titulo linha do tempo */
@font-face {
    font-family: 'gotham_lightregular';
    src: url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-light-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-light-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-light-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* GERAL */
.icon-blue{background-image: url("http://cmais.com.br/portal/js/bootstrap/img/glyphicons-halflings-blue.png");}
body.linha-do-tempo{background: #000 !important;}
body{background: url(http://cmais.com.br/portal/images/capaPrograma/sic/pattern-fundo.jpg);margin:0\9;}
.container{max-width:980px; /*min-height:400px*/;margin-top:3px;position:relative; *position:relative; z-index: 9999999}

.row{margin-left:0px}
/* /GERAL */

/* ESTRUTURAS BÁSICAS */
.margin-0{margin:0 !important;}
.float-right{float:right;}
.col-esquerda i{
  filter: alpha(opacity=70);/* IE 5-7 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";  /* IE 8 */
   -moz-opacity: 0.7;/* Netscape */
   -khtml-opacity: 0.7;/* Safari 1.x */
   opacity: 0.7; /* Navegadores Modernos*/ 
}
.tooltip-inner { background:#1863b7 !important; color:#fff;}
.tooltip.in,
.tooltip {opacity: 1; filter: alpha(opacity=100); -moz-opacity:1;}
.tooltip.bottom .tooltip-arrow{border-bottom-color: #1863b7 !important;}
.tooltip.left .tooltip-arrow{border-left-color: #1863b7 !important;}
.tooltip.top .tooltip-arrow{border-top-color: #1863b7 !important;}
.tooltip.right .tooltip-arrow {border-right-color: #1863b7 !important;}

/* /ESTRUTURAS BÁSICAS*/

/* TOPO FPA */
.seta-hover{z-index:10000;background: url("http://cmais.com.br/portal/images/capaPrograma/fpa/ico-menu-seta_hover.png") no-repeat; width:6px; height:5px; display: block; position:absolute; bottom:-5px; left:50%; display: none;}
.seta-hover.active{display:block !important;}
.caret{position:absolute; bottom:8px; left: 48%; margin:0!important;  background: url("http://cmais.com.br/portal/images/capaPrograma/fpa/ico-seta-down.gif") no-repeat; width: 10px; height: 4px; border:none;}
.caret.active{display:none;}
.logo-fpa{*top:3px; z-index: 5000; margin:0 0 0 10px;}
#fundo-topo{width:100%;position:relative;top:0px;left:0;z-index: 99999999;background-color: #ffffff;border-top:3px solid #696969;border-bottom:none;border-bottom:1px solid #d5d5d5;height: 50px;box-shadow: 0px 0px 10px #ccc, 0px 0px 10px #ccc;}
.fixed{position:fixed;}
#topo-fpa{position:relative; z-index:30}
#topo-fpa li {position:relative; z-index:5000;}
#topo-fpa li.active a{z-index:30;background-color: #f7f7f7; border-top:3px solid #1863b7; border-bottom:1px solid #1863b7; }
#topo-fpa li.active a.active {color:#1863b7 !important;border-top:3px solid #1863b7;}
#topo-fpa #emissoras .dropdown-menu{left:-38px !important; }
#topo-fpa #portais .dropdown-menu{left:-45px !important;}
#topo-fpa .dropdown-menu{z-index: 5000;position:absolute;min-width:150px;left: -40px;margin:0;border-top:none;text-align:left;border-color:#cccccc;border-radius:0;padding: 15px 6px 15px 6px;}
#topo-fpa .dropdown-menu li:first-child{border-top:1px dotted #5c5c5c;}
#topo-fpa .dropdown-menu li{margin:0;border-bottom:1px dotted #5c5c5c; }
#topo-fpa .dropdown-menu a{background-color:#fff !important;border:none !important;padding: 8px 5px 8px 5px; color:#5c5c5c!important; font-family: Arial, Helvetica, sans-serif; font-size:1em; font-weight: bold; *height:20px; *width:150px; *margin:0;*padding: 8px 5px }
#topo-fpa .dropdown-menu a:hover{color:#FFF !important; background-color: #1863b7 !important;}
#topo-fpa .font-btn{font-weight:bolder; font-family:Arial, Helvetica, sans-serif; color:#6d6b6b;}

#topo-fpa.nav{position:absolute;margin:-3px 0 0 124px;width:900px;*top:-3px;*left:0;} 
#topo-fpa.nav > li{margin-top:-3px; *margin-top:0;}
#topo-fpa.nav > li > a {font-weight: bold;color:#8c8c8c;text-transform:uppercase;border-top:3px solid #626262; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; padding: 18px 8px 18px 8px!important;margin: 0px 0 0 10px; font-size:12px;}
#topo-fpa.nav > li:hover > a {*padding: 18px 8px 18px 8px !important;padding: 18px 8px 18px 8px!important;text-decoration: none; background-color: #f7f7f7!important; color:#1863b7; border-top:3px solid #1863b7; border-bottom:1px solid #1863b7; }
#topo-fpa.nav-tabs .dropdown-toggle .caret,
#topo-fpa.nav .dropdown-toggle .caret {position:absolute;left:0;top:0;}
.navbar.fpa-responsivo{display:none;}
.navbar.fpa-responsivo .container{min-height: 0px}
.navbar.fpa-responsivo .navbar-inner{border: none;border-radius: 0px;z-index: 0;position: relative;margin-top: 56px;min-height: 0px!important;padding: 0px 0;box-shadow: 10px 10px 5px #999999;}
.navbar.fpa-responsivo .navbar-inner .btn-navbar{margin-top: -50px;}
.navbar.fpa-responsivo .nav-collapse ul li{text-align: left;boder-top: 1px solid #626262!important;}
.navbar.fpa-responsivo .nav-collapse ul li .links{background:#f7f7f7;border-bottom:1px solid #5c5c5c;font-weight:bold; text-transform:uppercase; color: #8c8c8c;font-weight: bold;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px; margin:0;}
.navbar.fpa-responsivo .nav-collapse ul li a{width:100%; display: block;padding: 8px 8px 8px 8px!important;}
.navbar.fpa-responsivo .nav-collapse ul li .sub-links{border-bottom:1px dotted #666666;padding: 0px 6px 0px 20px; margin:0;color: #5c5c5c!important;font-family: Arial, Helvetica, sans-serif;font-weight: bold;}
.navbar.fpa-responsivo .nav-collapse ul li .sub-links-tit{padding-bottom:0px!important;}
.navbar.fpa-responsivo .nav-collapse ul li:first-child{border-top:1px solid #8c8c8c;}
.navbar.fpa-responsivo .nav-collapse .menu-sub-links{border-bottom:1px solid #8c8c8c!important;}

/* /TOPO FPA */

/* LINHA DO TEMPO */
#linha-do-tempo {margin-top:170px; text-align:left;}
#linha-do-tempo .navbar-fixed-top{background: #f1f1f1;margin-top:53px;height: 100px;z-index:0;}
#linha-do-tempo .navbar-fixed-top .container{position:relative;max-width: 980px;height:96px;}
#linha-do-tempo .navbar-fixed-top h1,
#linha-do-tempo .navbar-fixed-top a.decadas{font-family:"gotham_lightregular"; font-size:36px;color:#333;font-weight: normal;}
#linha-do-tempo .navbar-fixed-top a.decadas{float: right;color: #666;background: url(http://cmais.com.br/portal/images/capaPrograma/fpa/btn-fundo-anos.png) no-repeat;line-height: 57px;width: 55px;text-align: center;margin: 17px 20px 0 0;background-position: 0 -56px;}
#linha-do-tempo .navbar-fixed-top a.decadas.active{background-position: 0 0;color:#FFF;background-position: 0 0;}
#linha-do-tempo .navbar-fixed-top a.decadas:hover{color:#FFF; text-decoration: none; background-position: 0 0px; }
/*#linha-do-tempo .navbar-fixed-top a.decadas.first{margin-right: 55px;padding: 0 0 0 3px;}*/
#linha-do-tempo .redes {float: left;width: 368px !important;margin-top: 6px;}
#linha-do-tempo .redes .curtir {width: 202px;float: left;margin-left: 0;text-align: left;}
#linha-do-tempo .titulo{margin:14px 0 0 6px; float:left;}
#linha-do-tempo ul li{color: #FFF; font-size: 14px; font-family: Arial, Helvetica, sans-serif;margin:20px 9.2pt;}
#linha-do-tempo ul li p{margin-left:9.2pt;}
#linha-do-tempo h2{font-family:"gotham_lightregular"; font-size:42px;color:#FFF;font-weight: normal;margin:0 0 20px 8px;}
#linha-do-tempo img,
#linha-do-tempo iframe{width:100%;height:549px;}
/* /LINHA DO TEMPO */

/* QUEMSOMOS */
.container.quem-somos{margin-top:30px;}
.col-esquerda{text-align: left;}
.col-esquerda h1{font-size:36px; font-family:Arial, Helvetica, sans-serif; color:#5c5c5c; margin:0 0 20px 0;}
.col-esquerda p{margin-bottom:20px;font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#333333;}
.col-esquerda a{margin: 20px 0 8px 0;color: #FFF; text-transform: uppercase; font-weight: bold;}
.col-esquerda a:hover{text-decoration:none;}
.col-esquerda a.acrobat{color:#1863b7 !important; font-size:14px; font-weight: bold;}

.col-direita a.inscricao{padding:15px 20px;min-width:352px;}
.col-direita a.conheca {padding:20px 0 0 85px;box-shadow: 0px 0px 10px #ccc, 0px 0px 10px #ccc;position:relative;}
.col-direita{text-align:left;}
.col-direita a.inscricao p{margin:0 0 0 0; text-align:left; color:#fff !important; font-size: 24px;}
.col-direita a.inscricao p:first-child{font-size: 14px; font-weight:bold; margin:0 0 4px 0; color:#fff !important;}
.col-direita a.inscricao p:last-child{font-size: 14px; margin:4px 0 0 0; color:#fff !important;}
.col-direita a.inscricao .btn-primary,.col-direita a.inscricao hr {margin:4px 0; text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);border-top-color: #124a89; border-bottom-color: #739ecd;}
.col-direita a.conheca {margin:20px 0; overflow:hidden; min-width:308px;} 
.col-direita a.conheca p:first-child{ text-align:left; color:#000!important; font-size: 24px;padding:0 20px 0 10px; margin:0;}
.col-direita a.conheca p{text-align:left;font-size: 14px; margin:4px 0 20px 0; color:#000 !important;padding:0 10px;}
.col-direita a.conheca div:last-child{background-color: #ffb027;height: 15px;}
.col-direita i.icone-sic{width:60px; height:60px; display:block; background:url('http://cmais.com.br/portal/images/capaPrograma/fpa/btn-sic.png') no-repeat 0 0; float:left;position:absolute; top:18%; left: 6%;}
.btn-sic {
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #fdd419;
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fdd419),to(#e6bd02));
background-image: -webkit-linear-gradient(top,#fdd419,#e6bd02);
background-image: -o-linear-gradient(top,#fdd419,#e6bd02);
background-image: linear-gradient(to bottom,#fdd419,#e6bd02);
background-image: -moz-linear-gradient(top,#fdd419,#e6bd02);
border-color: #e6bd02 #e6bd02 #e6bd02;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fdd419',endColorstr='#e6bd02',GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-sic:hover {
color:#fff;background-color:#e5bc01;*background-color:#e5bc01
}

/* /QUEMSOMOS */

 /* LICITACOES */
.container.licitacoes,
.container.licitacoes-subsecoes{margin-top:30px;}
.licitacoes .col-esquerda a{margin: 3px 0 5px 0; color: #626262; text-transform: uppercase; background: #f8f8f8; width: 100%; float: left; font-weight: normal; padding: 6px;border-radius:5px;}
.licitacoes .col-esquerda a:hover{color:#000; background: #f1f1f1;}
.licitacoes-subsecoes .col-esquerda p {margin-bottom: 6px;}
.licitacoes-subsecoes .col-esquerda .item{*display:block;*overflow:hidden; overflow:hidden;background: #f8f8f8;margin: -5px 0 20px 0;padding: 5px 8px 5px 8px;border-radius: 8px;}
.licitacoes-subsecoes .col-esquerda a{color:#2a578c; text-decoration:underline; margin: 10px 0; padding:0;} 
.licitacoes-subsecoes .col-esquerda a.voltar{color: #333;text-decoration: none;font-size: 13px;text-transform:none}
.licitacoes-subsecoes .accordion-group.item a{text-decoration:none;}
.licitacoes-subsecoes .accordion-inner a{background: #ccc;padding: 5px;border-radius: 5px;margin: 5px 5px;color: #1863b7; float:left;}
.licitacoes-subsecoes .pagination{clear: both;}
.licitacoes-subsecoes .pagination ul>li>span{border:none; background:none;margin: 19px 0 0 0; font-size: 13px; font-weight: bold; text-transform: uppercase; color: #ccc;}
.licitacoes-subsecoes .pagination ul>li>a{padding:9px;border:none;background:none;text-decoration:none; color: #333;}
.licitacoes-subsecoes .pagination ul>li>a:hover{color:#2a578c; text-decoration: underline;}
.licitacoes-subsecoes .pagination ul>li>a>i{margin:12px;}
.licitacoes-subsecoes .pagination ul>li>span>i{margin:12px;filter: alpha(opacity=30); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";-moz-opacity: 0.3; -khtml-opacity: 0.3; opacity: 0.3;}
.licitacoes-subsecoes .pagination .active{color:#2a578c;text-decoration:underline;}
.licitacoes-subsecoes .pagination .prev{border-right:1px solid #000;border-radius:0;}
.licitacoes-subsecoes .pagination .next{border-left:1px solid #000;border-radius:0;}
.licitacoes-sucsecoes .pagination .badge{background: red; font-size: 11px;}
/* /LICITACOES */

/* TRABALHE-CONOSCO */
.linha{width: 100%;border-top: 1px solid #ccc;border-bottom: 1px solid #fff;margin: 10px 5px;clear:both;}
.linha-dashed{width: 100%;border-top: 1px dashed #ccc;border-bottom: 1px dashed #fff;margin: 10px 5px;clear:both;}
.trabalhe-conosco a.btn-cat{margin: 3px 0 5px 0; color: #626262; text-transform: uppercase; background: #f8f8f8; width: 100%; float: left; font-weight: normal; padding: 6px;border-radius:5px;}
.trabalhe-conosco a.btn-cat:hover{color:#000; background: #f1f1f1;}
.btn-resultado{margin: 0px 0 8px 8px !important; background: #1863b7; text-transform: uppercase; font-weight: bold; padding: 5px; border-radius: 7px; float:left;clear:both;}
.col-esquerda .accordion-group,
.accordion-inner{border:none;}
.accordion-inner{padding-bottom:0px;}
.accordion-inner ul{margin-bottom:20px;}
.accordion-inner strong{font-weight:bold;color: #1863B7;}
.accordion-inner a{font-weight:normal; color:#1863B7; text-decoration: underline; text-transform: none;}
.col-esquerda .tipo-de-emprego{font-size:14px; font-family: Arial, Helvetica, sans-serif; font-weight:bold; color:#5c5c5c;margin: 0;padding-left: 5px;}
.col-esquerda hr.tipo{margin: 0;border-top-color: #c0c0c0;border-bottom-color:#fcfcfc;}
.col-esquerda hr.tipo.inscricao{margin: 10px 0;}
.col-esquerda hr.vaga{margin: 0 auto;padding: 0;width: 99%;border-top: none;border-bottom-style: dotted;border-bottom-color: #A8A8A8;}
.col-esquerda hr.vaga.desc.active{margin: 0 0 0 -16px;width: 110%;}
.col-esquerda hr.vaga.hide{display:none;}
.col-esquerda .vaga-aberta{font-size:14px; font-family: Arial, Helvetica, sans-serif; color:#4c4c4c;margin: 0;padding:15px; text-transform: none; font-weight:normal;}
.col-esquerda .vaga-aberta .ico-trabalho{margin-right:10px;background: url(http://cmais.com.br/portal/images/capaPrograma/fpa/icone-trabalhe-vaga.png) no-repeat 0 top; width:16px; height: 16px;display: block;float: left;}
.col-esquerda .vaga-aberta .ico-trabalho.ico-active{background-position: 0 bottom;}
.col-esquerda .vaga-aberta .badge.vaga{background:#ffffff;color: #5C5C5C;text-shadow: none;}
.col-esquerda .tit-desc{font-weight: bold;color: #1863B7; list-style: none !important;}
.col-esquerda .accordion-inner li{list-style: inside;}
.col-esquerda a.realizar{color:#FFF; text-decoration: none;}
.col-direita a.trabalhe{padding:20px 25px;min-width:393px;margin-bottom: 20px;}
.col-direita a.trabalhe p{text-align:left; color:#fff !important;}
.col-direita a.trabalhe p:first-child{letter-spacing:0.075em;font-size: 14px; font-weight:bold; margin:0 0 4px 0; color:#fff !important; text-transform: uppercase;}
.col-direita a.trabalhe p:last-child{font-size: 24px; margin:14px 0 0 0; color:#fff !important;}
.col-direita a.trabalhe .btn-primary{margin:4px 0; text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);border-top-color: #124a89; border-bottom-color: #739ecd;}
.trabalhe-conosco .btn-estagio{background: #ccc;padding: 5px;border-radius: 5px;margin: 4px 5px;color: #1863b7;float:left;clear: both;}
.col-esquerda .box-cadastro{border-radius:5px; background-color: #fdfdfd; padding:20px;}
.col-esquerda .input {margin-left:0px!important;}
#row1 h2, #row2 h2, #row3 h2, #row4 h2{font-size: 14px;color: #1863B7;margin: 0;line-height:11px;text-transform: uppercase;}
#row1 hr, #row2 hr, #row3 hr, #row4 hr{margin:10px 0 20px 0; border-bottom: none; border-top-color: #1863B7; border-top-style:dotted; }
#row1 .cancel,#row2 .cancel,#row3 .cancel, #row4 .cancel{color:#333;margin-right:10px;}
#row3 .erase,#row4 .erase{margin-right:10px;}
.tit-cadastro{margin:20px 0 0 0 !important;}
.tit-cadastro p{font-size: 12px; color:#333;}
.tit-cadastro p strong{font-weight: bold;}
#vagas-relacionadas .accordion-inner{padding:0 0 0 20px;}
#vagas-relacionadas .accordion-inner h5{color:#1863b7;}
#vagas-relacionadas .accordion-inner p{text-indent:10px;margin-top:10px;}
#vagas-relacionadas .accordion-inner ul{padding:10px 0 10px 10px; margin-bottom:5px;}
.realizar-marcador label.valid {width: 24px;height: 24px;background: url(http://cmais.com.br/portal/images/valid.png) center center no-repeat;display: inline-block;text-indent: -9999px;margin:-1px 0 0 5px;}
/* /TRABALHE-CONOSCO */

/* RODAPÉ PORTAL */
#rodape-portal {margin-top: 150px; position:relative; z-index:0;}
#rodape-portal .voltar-topo{*float: left; z-index: 0;}
/* /RODAPÉ PORTAL */
.botoes-central-celular{display:none;}
@media only screen 
and (max-device-width : 1024px) {
/* Styles */
  body{padding-bottom:20px;}
  #topo-fpa.nav { position: absolute; margin: -3px 0 0 94px; max-width: 890px;}
  #rodape-portal{display:none;}
}
@media only screen 
and (max-width : 980px) {
   #topo-fpa{display:none;}
   .navbar.fpa-responsivo{display:block;}
   #email-central .form-horizontal .control-label {max-width: 81px!important;}
   #email-central .form-horizontal .controls {margin-left: 90px!important;}
   #email-central .botoes-form {margin-left: 89px!important;}
   .col-direita p.help-block{padding:0;}
}
@media only screen 
and (max-width : 480px) {
  #fundo-topo{padding: 10px;}
  .container{padding:5px 0 5px 5px;}
  .desc-site{display:none;}
  /*form central de relacionamento */
  .botoes-central{display:none;}
  .botoes-central-celular{display:block;}
  .logo-central{margin:8px 0 20px 0!important;}
  .form-horizontal .control-group > label {float: left!important;width: 100px!important;padding-top: 5px!important;text-align: right!important;}
  .col-direita p.help-block{padding:0;}
  #email-central .botoes-form {margin-left: 94px!important;}
  #email-central .form-horizontal .control-label {max-width: 89px!important;}
  #email-central .form-horizontal .controls {margin-left: 96px!important;}
}
@media only screen 
and (max-width : 320px) {
  #fundo-topo{padding: 5px;}
  .container{padding:5px 0 5px 5px;}
  /*form central de relacionamento */
 
  .control-group{padding:10px}
  .form-horizontal .control-group > label {float: left!important;width: 50px!important;padding-top: 5px!important;text-align: right!important;}
  .col-direita p.help-block{padding:0;}
  #email-central .form-horizontal .controls {margin-left: 67px!important;}
  #email-central select{width: 200px;}
  #email-central .botoes-form {margin-left: 77px!important;}
} 

