.bg-site { background:#000; }
#barra-site .topo-programa { background:#9d93ae url(/portal/images/capaPrograma/gonzaguinha/foto.jpg) no-repeat ; }
.tit-pagina { margin: 0 0 0 150px; text-indent:-9999px; background:url(/portal/images/capaPrograma/gonzaguinha/logo.png) no-repeat; height:44px; margin-top:25px;  }
.bg-chamada { background:#000; }
