.bg-site { background:#000; }
#barra-site .topo-programa { background:#9d93ae url(http://cmais.com.br/portal/images/capaPrograma/gonzaguinha/foto.jpg) no-repeat ; }
#barra-site h2 { margin: 0 0 0 150px; margin-top:25px;  }
.bg-chamada { background:#000; }

