/** INEZITA BARROSO **/
.submenu-interna {width:106px;}
.submenu-interna li a { margin-left:10px;}
.chapeu {color:#ff6633;}
.bg-site {height:100px; background:url(../../../images/capaPrograma/inezitabarroso/bg-topo.jpg) repeat-x; position:relative; top:48px; z-index: 0; overflow:hidden; clear:both;}
#capa-site {margin-top:-62px !important;}
#capa-site {*margin-top:-110px !important;}
#miolo {margin-top:28px;}
#barra-site {height:90px; background:url(../../../images/capaPrograma/inezitabarroso/flor.png) no-repeat 0 40px;}
#barra-site h2 {margin-top:20px; }
#barra-site h2 a { font-size:25px; color:#fff; text-transform:uppercase; }
.bg-site  {_margin-top:-49px !important;}
.facebook {padding:0 !important;}
.bg-chamada {width:100%; position:relative; top:48px; overflow:hidden; background:url(../../../images/capaPrograma/inezitabarroso/bg-topo.jpg) repeat-x;}
#chamada { width:970px; margin:0 auto; float:none; margin-top:20px; margin-bottom:0;}
.noticia .img-video { margin:0; }

/** /INEZITA BARROSO **/