@import url("../geral.css");

.tit-pagina a {text-indent:-9999px;}
#barra-site { background:url(../../../images/capaPrograma/bg-inglescommusica.png) no-repeat 600px 0px; }
.box-padrao .chapeu {color:#ff6633;}
#destaque .data {margin-top:10px;}
#barra-site #horario {width:240px;}
.uma-coluna .conteudo li {height:570px;}
#barra-site {*margin-left:0;}
