body { background :url(/portal/images/capaPrograma/lygia/bg.jpg) repeat; }
#barra-site .redes { float: right; }
#barra-site h2 {margin-top:30px;}
.bg-site { display: none; }
#barra-site { margin-top:50px; }

