body { background:#ffed5a url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/bg-portal.jpg) repeat-x ; position:relative; }
.bg {  background:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/bg.png) no-repeat bottom left; width:1444px; height:676px; position:absolute; bottom:474px; left:0; }
/* TOPO PORTAL*/
h1{ margin:0;} 
#menu-portal-2 .busca-portal .ipt-txt { border-radius:0; margin: 0;    padding: 0 0 0 30px;}
/*/TOPO PORTAL*/ 

.header { margin:0 auto;  margin-top:3px; }
.logo { max-width:1088px; max-height:212px; margin:0 auto;float:none; }
.logo a { max-width:1088px; max-height:212px;  } 
.logo a img,
.logo a {display:block; overflow:hidden;}


.container { z-index: 100; position:relative; min-height:1240px; }

#guia-topo ul,ol { margin:0; }
.container/*, .navbar-fixed-top .container, .navbar-fixed-bottom .container*/ { max-width:970px; padding-left:40px; }
p { color:#333; font-size: 14px;}
/* HOME */

/* menu*/
.nav-tabs > li > a { border-radius: 0; height:32px; line-height: 32px; padding:0; margin:0; border:none;}
.nav-tabs { border:none; margin-bottom:0; }
.nav-tabs > li > a p { background:#ffe64f; color:#ff9928; text-transform:uppercase; font-weight: bold; font-size:25px; height:32px; line-height: 32px; float:left; padding:0 13px; margin:0; }
.nav-tabs > li > a span { background:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/detalhe.png) no-repeat; width:13px; height:32px; display:block; float:left; position:relative; }
.nav-tabs > .active > a p, 
.nav-tabs > .active > a:hover p { background:#ffce2b; color:#ff6525; margin-left:-13px; padding-left:26px; }
.nav-tabs > li > a:hover,
.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover { background:none; border: none; margin:0; padding:0; }
.nav-tabs > .active > a .ativo, 
.nav-tabs > .active > a:hover .ativo { background-position:-13px 0; float:right;}
.nav-tabs > li { margin: 0;}

.nav-tabs > .joguinhos > a span { display:none;}
.nav-tabs > .joguinhos.active > a span.ativo,
.nav-tabs > .joguinhos:hover > a span.ativo { display:block;}
.nav-tabs > .joguinhos > a p { padding-right:26px; }
.nav-tabs > .joguinhos:hover > a p { padding-right:13px; }
.nav-tabs > .joguinhos.active > a p { padding-right:13px; margin-left:0; }

.nav-tabs > .atividades:hover span,
.nav-tabs > .atividades span {display:none; }
.nav-tabs > .atividades span.ativo {display:block; }
.nav-tabs > .atividades.active span,
.nav-tabs > .atividades:hover span.ativo {display:block; }
.nav-tabs > .atividades:hover > a,
.nav-tabs > .atividades > a { margin-left:-13px; }
.nav-tabs > .atividades:hover > a p,
.nav-tabs > .atividades > a p { padding-left:23px; } 

.tab-content { background:#ffce2b; }
#menu .lista { margin:0 0 0 60px; padding:20px 0; overflow:hidden;  }
#menu .lista li { margin:0 0 10px 0; min-width: 210px; min-height:150px;}
#menu .lista li a { color:#333; font-size:16px; font-weight:bold; text-align:center; display: block; max-height:150px; overflow:hidden; width:210px;}
#menu .lista li a p{white-space: nowrap; text-overflow: ellipsis; padding: 0 5px; overflow: hidden;} 
#menu .lista li img { border:5px solid transparent; clear:both; }
#menu .lista li a:hover {color:#ff6733; text-decoration:none;} 
#menu .lista li:hover img { border-color:#ff6733; }
#menu .tab-content { border-radius:0 15px 15px 15px; -moz-border-radius: 0 15px 15px 15px; -webkit-border-radius:0 15px 15px 15px;  }
.row-fluid.pontilhado,
.pontilhado { border-bottom:3px dashed #ffdb40; margin-top:1px; margin-left:0; }
/* /menu*/

/* destaques*/
.destaques .h2 { clear: both;    display: block;    float: left; margin-top:10px; }
.destaques .span4 { margin-top:20px;}
.destaques .h2 h2,
.destaques .h2 h2 a { font-size:30px; text-transform:uppercase; color:#ff6733; background:#ffce2b; margin:0; text-align:left; padding:0; line-height:23px; float: left; }
.destaques.rodape .h2 h2,
.destaques.rodape .h2 h2 a { background:none;}
.destaques .h2 span { background:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/detalhe2.png) no-repeat; width:71px; height: 23px; display:block; float:left; }
.destaques ul { clear: both; margin-left:0; }
.destaques ul li { float:left; margin-right:21px; margin-left:0; }
.destaques ul li.vila { margin-top:5px; }
.naweb ul li.last { margin:0; margin-top:25px; float:right; }
.destaques ul li a { display: block; }

.box-conteudo .row-fluid span,
.box-conteudo .row-fluid [class*="span"]:first-child { text-align:left !important;}

#myCarousel { clear: both; overflow:hidden; }
#myCarousel ul { margin:0 0 0 62px; }
#myCarousel li { margin:0 18px 0 0; }
#myCarousel .span11 { margin-left:0; }
.carousel-control { background:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/seta.png) no-repeat; width: 36px; height:55px; border: none; border-radius:0; text-indent:-9999px; margin-top:-21px; }
.carousel-control.right { background-position:-36px 0; }
.carousel-inner ul li img { width:90px; height:55px; }
.destaques h3,
.destaques p,
.destaques a { text-align:left; }
.destaques.rodape .h2 { margin-bottom:10px;  }
.destaques.rodape .h2 h2,
.destaques.rodape .h2 h2 a { background:none; color:#333; margin-left:2px;}
.destaques.rodape .h2 h2 a:hover { text-decoration:none;} 
.destaques .carousel-inner { margin-left:56px; }
.destaques.rodape .descricao { color:#333; font-weight:bold; font-size:16px; display: block; text-align:left; padding:6px; }
.destaques .span4 { overflow:hidden;  }
.destaques.rodape .pais a:hover p,
.destaques.rodape .pais h2,
.destaques.rodape .pais h2 a { color:#333; }
.destaques.rodape .pais a p { color:#333; }
.destaques.rodape .pais a:hover p { color:#FF6733;}
.destaques.rodape .span4 { background:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/bg-branco.png) repeat; height:283px;  }
.destaques.rodape .pais ul { padding-bottom:10px; }
.destaques.rodape .pais li img { float:left; margin:0 0 0 10px; }
.destaques.rodape .pais li { margin:10px 0 0 0; padding:0 0 10px 0; background: url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/borda-noticia.png)repeat-x bottom; }
.destaques.rodape .pais li.last { padding-bottom:0; background:none; }
.destaques.rodape .pais li a { float:left; margin:0 10px; text-align:left; color:#333333; overflow:hidden; }
.destaques.rodape .pais li a.row-fluid { margin:0; }
.destaques.rodape .pais li a:hover { color:#ff6733; text-decoration:none; }
.destaques.rodape .pais li img { width:90px; height:55px; margin-right:10px; }
.destaques.rodape .span4.last { margin-top:20px; }
.naweb ul li { margin-right:6px; }
.naweb a { display: block; }
.naweb .quintal { background:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/quintal.png) no-repeat -138px 0; width:127px; height:120px; }
.naweb .tvrtb { background:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/tvrtb.png) no-repeat -126px 0; width:121px; height:113px; }
.naweb .cartaozinho { background:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/cartaozinho.png) no-repeat -130px 0; width:113px; height:113px; }
.naweb .castelortb { background:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/castelortb.png) no-repeat -162px 0; width:150px; height:114px; }
.naweb .vilasesamo { background:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/vilasesamo.png) no-repeat -212px 0; width:212px; height:99px; }
.naweb .cocorico { background:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/cocorico.png) no-repeat -225px 0; width:213px; height:60px; }
.naweb li a:hover { background-position:0 0;  }

/* /destaques*/ 

/* /HOME */

/* VOCE SABIA*/
.vcsabia ul li.span4  { margin-left:0; margin-bottom:10px; }
.vcsabia ul li.span4.last { margin-right:0; }
.vcsabia ul li.span4 a { color:#333; text-align:left; font-size:16px; font-weight:bold; }
.vcsabia ul li.span4 a img { margin-bottom:5px;} 
.destaques .h2.acento { padding-top:10px;}
.voltar { text-align:left; margin:0 0 -20px 0; color:#ff6525; padding:0; font-size:15px; text-transform:uppercase; font-weight:bold; background:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/voltar.png) no-repeat left 4px; padding-left:15px;   }
.voltar:hover { color:#ff6525; }
.voltar .icon-chevron-left { color:#ff6525; font-size:15px; margin-top:2px;  }

.pagination ul { border:none; box-shadow:none; border-radius:0; }
.pagination ul > li > a, .pagination ul > li > span,
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span,
.pagination ul > li { background:#ffce2b; border:none; color:#ff6525; cursor: pointer; border-radius:3px; }
.pagination ul > li > a, .pagination ul > li > span { border:none; }
.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span
.pagination .active a:hover,
.pagination .disabled a:hover { background:#ff6525; border:none; color:#ffce2b; border-radius:3px; }
.pagination .active a,
.pagination li:first-child a,
.pagination li:last-child a { border-radius: 3px; }
.pagination ul li { margin-right:10px; border-radius:3px; }

.pagination .anterior a,
.pagination .anterior a:hover,
.pagination ul .disabled.anterior a,
.pagination .proxima a,
.pagination .proxima a:hover,
.pagination ul .disabled.proxima a { background-color:#ffce2b; background-repeat:no-repeat; border-radius: 3px; cursor: pointer; }

.pagination .anterior a,
.pagination .anterior a:hover,
.pagination ul .disabled.anterior a { background-image:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/anterior.png); background-position:5px 8px; padding-left:20px;} 
.pagination .proxima a,
.pagination .proxima a:hover,
.pagination ul .disabled.proxima a { background-image:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/proxima.png); background-position:85px 8px;}
.pagination li a,
.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover {  color:#ff6525; font-size:15px; text-transform:uppercase; padding-right:20px;} 
.pagination ul > li > a, .pagination ul > li > span { line-height:30px;} 
.vcsabia ul li.span4 { height:235px;} 
/* /VOCE SABIA*/

/* CONTEUDO */
.box-conteudo img.span12,
.box-conteudo { margin-left:0; }
.box-conteudo h3 { color:#ff6525; font-size: 30px; font-weight:bold; text-transform:uppercase; line-height:40px; margin-bottom:5px; clear:both; }
.box-conteudo p { margin:20px 0; float:left; }
.box-conteudo span { text-align:left;}
.box-conteudo .span6 { margin-bottom:10px; }
#myCarousel .item { display:none;}
 #myCarousel .active { display:block;}
#myCarousel li { float:left; width: 90px;}
 
/* /CONTEUDO */

/* NA TV */
.box-natv { margin-top:20px; }
/* /NA TV */

/* hacks ie */
/*#menu .lista li { width :270px\9;   }*/
.naweb ul li { margin-right:0\9; }
.naweb ul li { width: auto\9; margin-left:0\9; margin-right:0\9; padding:0\9; float:left\9; overflow:hidden\9; }

#myCarousel li { margin-right:3px\9; }
#myCarousel ul li a img { width:100px\9; }
.vcsabia ul li.span4 { width: 300px\9; margin-right:5px\9; }

.nav-tabs > li { max-width:210px\9;   }
.nav-tabs > .joguinhos > a { max-width:210px\9;   }
/*
.nav-tabs > .joguinhos > a p { paddin:0\9; margin:0\9; width: 160px\9; }
.nav-tabs > .joguinhos > a span { z-index: 10\9; margin-left:-10px\9; padding:0\9;}

.pagination { max-width:500px\9; margin:0 auto\9; }
.pagination ul li { float: left\9; width: 40px\9; margin-right:10px\9; }
.pagination ul .disabled { width:120px\9; }
*/
/*
.nav-tabs > .atividades.active span, 
.nav-tabs > .atividades:hover span.ativo { margin-left:-13px\9;}
*/ 
/* /hacks ie */

/* Landscape phones and down */
@media (max-width: 480px) { 
  .naweb ul li,
  .naweb ul li.last { clear:both; float:left;} 
   } }
  

/* natv */
.carrossel.span12 { margin:0; }
.jcarousel-clip.jcarousel-clip-horizontal{ margin-left:40px; width:900px; }
.carrossel li a,
.carrossel .jcarousel-item a img,
.carrossel .jcarousel-item { width: 90px; height:auto;}
.carrossel .jcarousel-item a img { margin-top:-15px;}
.destaques .carrossel .jcarousel-item a img { margin-top:0;}   
.carrossel .jcarousel-item { width:90px; height:55px; overflow:hidden; }
.carrossel .jcarousel-item-horizontal { margin:0 10px 0 0; }
.carrossel .jcarousel-prev,
.carrossel .jcarousel-next {  background:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/seta.png) no-repeat; width:36px; height:55px;  top:0;  }
.carrossel .jcarousel-prev { left:0; }
.carrossel .jcarousel-next { right:0; background-position:-36px 0; }
/* /natv */

.destaques.rodape .span4.last { padding:5px; background:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/bg-branco.png) repeat; margin-left:2%; width:310px; height:260px;} 
.destaques .span12 .box-conteudo { text-align:left;}

/* ferias*/
.nav-tabs > .ferias > a p
.nav-tabs > .ferias > a:hover p,
.nav-tabs > .ferias p,
.nav-tabs > .ferias.active > a p,
.nav-tabs > .ferias.active > a:hover p,
.nav-tabs > .ferias.active p { margin-left:0; background:#dd2b7d; color:#ffed5a; padding-right:26px; padding-left:23px;} 
.nav-tabs > .joguinhos > a p { padding-left:23px;} 
.nav-tabs > .joguinhos:hover > a p { margin-left: 0;    padding-right: 13px;}
.nav-tabs > li:hover > a p,
.nav-tabs > li:hover > a:hover p { background: none repeat scroll 0 0 #FFCE2B;    color: #FF6525; }
.nav-tabs > li:hover > a span.ativo, 
.nav-tabs > li:hover > a span.ativo {  display: block;  background-position: -13px 0;    float: right;} 
.nav-tabs > .atividades.active span{ display:none;}
.nav-tabs > .atividades.active .ativo { display:block;}
.nav-tabs > .atividades p { margin-left:0 !important}
.nav-tabs > .joguinhos a p,
.nav-tabs > .joguinhos:hover a p { padding-left:23px;}  
#ferias {  background:#dd2b7d; text-align:left;} 
#ferias .span12 {  margin:0 !important; padding:20px; background:#dd2b7d; }
#ferias .span8 {margin:0;} 
#ferias .span4 { margin-left:2%; width:32%; text-align:left;} 
#ferias .boxMsg p,
#ferias h2 {color:#ffed5a; font-size:30px; line-height:34px; text-transform:uppercase; margin-top:0;}
#ferias p { color:#fff; } 
#ferias .span4 p { color:#fff; max-height:285px; overflow: hidden;} 
#ferias .barra { width: 100%; display:block; background: url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/divisa-ferias.png) repeat-x; height:4px; clear:both; }
#menu .tab-content {  overflow: hidden;}
#ferias .oquee { background:#dd2b7d url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/bg-pergunta.png) repeat; padding-top:0; }
#ferias .oquee h3 {background: url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/oquee.png) no-repeat; text-indent:-9999px; margin:0; width: 524px; height:191px;} 
#ferias .oquee p { margin:-60px 0 20px 85px;} 
#ferias .form-contato label {color:#fff; width:49%; margin:0 2% 2% 0; float: left; font-weight:bold; text-transform:uppercase; height:24px; line-height:24px; position:relative; }
#ferias .form-contato textarea,
#ferias .form-contato label input { width:79%; margin:0 0 0 5px; background:#ffed5a; border:none; box-shadow:none; border-radius:0; -moz-border-radius: 0; -webkit-border-radius:0; padding:0 5px;  height:24px; line-height:24px;}
#ferias .form-contato .contador,
#ferias .form-contato .contador span { font-size: 12px; color:#fff;}
#ferias .form-contato .contador span { margin:0 5px;}       
#ferias .form-contato .contador { width: 40px; margin-left:30px;} 
#ferias .form-contato textarea { position:absolute; right:3px; top:0; height:96px; width: 90%;}
#ferias .form-contato  .email { margin-right:0; float:right;} 
#ferias .form-contato  .charada { width:100%; overflow:hidden; height:100px; padding-bottom:20px; }   
#ferias .form-contato #enviar { background:url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/btn-enviar.png) no-repeat; width: 116px; height:29px; float:right; color:#dd2b7d;  border:none; box-shadow:none; border-radius:0; -moz-border-radius: 0; -webkit-border-radius:0; text-transform:uppercase; font-weight:bold;} 
#ferias .carrossel { padding:0; margin:0 !important; width:930px !important; } 
#ferias .carrossel .jcarousel-prev, 
#ferias .carrossel .jcarousel-next { background-image: url(http://cmais.com.br/portal/images/capaPrograma/maiscrianca2/seta-carrossel.png); top:30px;}
#ferias .carrossel .jcarousel-clip.jcarousel-clip-horizontal { width:840px;} 
#ferias .carrossel li a, 
#ferias .carrossel .jcarousel-item a img, 
#ferias .carrossel .jcarousel-item { width:200px;} 
#ferias .carrossel .jcarousel-item { height:120px;} 
#ferias .jcarousel-clip.jcarousel-clip-horizontal {  margin-left:45px;}
#ferias .carrossel .jcarousel-item-horizontal { margin-right:13px;}
#ferias .carrossel .jcarousel-clip.jcarousel-clip-horizontal {  width:810px\9;  } 
#ferias .boxMsg { text-align:center; margin:50px 0;}  
#ferias .boxMsg p { font-weight:bold; margin-top:0;} 
#ferias .form-contato label.error { font-size:18px; color:#ffed5a; position:absolute; bottom:-23px; left:80px;}
#form-contato { position:relative;} 

#ferias .form-contato .nome label.error,
#ferias .form-contato .email label.error { position:absolute; bottom:-152px; width:100%;}
#ferias .form-contato .nome label.error { left:80px;} 
#ferias .form-contato .email label.error { left:-394px;}

#video-charada { *display: none !important; *overflow:hidden; } 
#ferias .carrossel,
#ferias .span12 { *width: 900px !important; }
#ferias .carrossel,
#ferias iframe#video-charada {  width:900px\9 !important; *overflow:hidden;}
#ferias .form-contato input { *position:absolute; *right:0;} 
#ferias .form-contato .email label.error { *left:-380px; }
.nav-tabs > li a p,
.nav-tabs > li:hover a p { *padding:0 26px !important; *margin:0 !important;}  
.nav-tabs > li > a span { *position:absolute; *right:0;} 