@import url("../geral.css");

/** MANOS E MINAS **/
/*
#barra-site { background:url(../../../images/capaPrograma/bg-manoseminas.png) no-repeat right 2px; margin-top:0; min-height:130px;}
#barra-site {_background-image:url(../../../images/capaPrograma/bg-manoseminas.gif);}
*/
.submenu-interna {width:126px;}
#barra-site #horario {margin-top:40px; width:200px;}
#chamada { margin-bottom:0; }
#barra-site h2 { margin-top:15px; }
/** /MANOS E MINAS **/