/** millor **/
body {background:url(http://cmais.com.br/portal/images/capaPrograma/millor/bg-tudo2.jpg) repeat-x 0 0;  }
.submenu-interna {width:106px;}
.submenu-interna li a { margin-left:10px;}
.chapeu {color:#ff6633;}
.bg-site {height:100px; width:100%; /*background:url(http://cmais.com.br/portal/images/capaPrograma/millor/bkg.gif) repeat-x;*/ position:relative; top:48px; z-index: 0; clear:both;}
#capa-site {margin-top:-45px !important;}
/*#capa-site {*margin-top:-100px !important;}*/
#miolo {margin-top:28px;}
#barra-site {height:100px; background:url(http://cmais.com.br/portal/images/capaPrograma/millor/logo.png) no-repeat 50px 0; margin:0; width:1012px; }
#barra-site h2 { width: 374px; }
#barra-site h2 a { font-size:25px; color:#fff; text-transform:uppercase; text-indent:-9999px; width: 340px; height:100px; display:block; }
.bg-site  {_margin-top:-49px !important;}
.facebook {padding:0 !important;}
.bg-chamada {width:100%;  background:#e6b82f; position:relative; top:48px; overflow:hidden;}
#chamada { width:1020px; margin:0 auto; float:none; margin-top:20px; background:none;}
#chamada span { margin-left:50px; }
.noticia .img-video { margin-top:0; }
#barra-site .redes ul {display:none;}
#barra-site .redes { float:right;  }
#barra-site,
#barra-site .topo-programa { padding-right:50px; }
#chamada { margin-bottom:-55px; }
.bg-chamada { background:none; }
/** /millor **/