body { background:#eeeff1 url(http://cmais.com.br/portal/images/capaPrograma/passalaemcasa/bg.jpg) repeat-x; height:100%; }
.capa { background:#fff; width:1032px; padding:10px; }
#capa-site {  margin-top:0 !important; width:1032px; }
.duas-colunas { background:#eee; padding:10px; width:620px; margin-bottom:20px;}
.duas-colunas .titulos { font-size:24px; text-transform: uppercase; line-height:30px; }
.duas-colunas .sub-titulo { font-size: 16px; font-weight:bold; }
.uma-coluna .titulos,
.box-padrao .rss,
.uma-coluna p { }
.box-padrao .topo .capa-titulo h4,
.box-padrao .chapeu { font-size:16px; color:#333; font-weight: normal; }
.box-padrao .topo .capa-titulo h4 { margin-left:0; }
.box-padrao .topo .capa-titulo { background:none;  }
.box-padrao .topo { margin-bottom:0; }
.box-padrao .topo span {display:none;}
.box-padrao .capa-titulo { margin-top:0; }
.box-padrao li { margin-top:0; }
.menu-interna li.ativo, 
.menu-interna li:hover { background:#9f7abf; }
#barra-site .topo-programa { background:url(http://cmais.com.br/portal/images/capaPrograma/passalaemcasa/descricao.png) no-repeat right 40px; }
.menu-interna li { float: right;}
#barra-site h2 { margin-top:30px; }
.box-topo { margin-top:-30px; }
#barra-site .redes { display:none; }
#chamada { margin-bottom:90px; }
span.faixa {    background: url("http://cmais.com.br/portal/images/capaPrograma/passalaemcasa/bgtitulo.jpg") repeat-x scroll 0 0 transparent;    display: block;    float: left;    height: 15px;    margin: 0 0 15px;    width: 640px;}
#menuFloat { margin-top:10px; }
.boxNoticia-interna { text-align:left; clear:both; }
.noticiaTxt p { margin-bottom:20px; } 
.comentarios p.btn-comentarios {    background: url("http://cmais.com.br/portal/images/capaPrograma/passalaemcasa/bg-balao.png") no-repeat scroll 0 0 transparent;    float: left;    height: 35px;    width: 147px;}
.comentarios p.btn-comentarios span { color: #FFFFFF;    float: left;    font-size: 16px;    margin: 5px 0 0 19px;    text-transform: uppercase; }
.assinatura .inf { width: 240px; }
.cp-sembg { width: 400px; float:right; }
.box-interna .box-compartilhar { display:none; }
.uma-coluna .conteudo li { height:auto;}
.pag-bola { display:none; }
.duas-colunas p a { clear:none; display: inline;}
.duas-colunas .texto { max-height:390px; overflow-x:hidden; overflow-y:scroll; }

.submenu-interna { background:#9F7ABF; }