@import url("../geral.css");

/** PRE ESTREIA **/
.submenu-interna,
.submenu-interna ul {width:135px;}
#barra-site h2 {margin-top:30px;}
#barra-site #horario {width:200px;}

/* participe da plateia*/
.contato #data{width: 316px !important;}
.contato form .t4 {width: 320px !important;}
.contato form .t4 input#nome, .contato form .t4 input#email{width:305px;}
/* form 
.form { background:#fff; }
.form .box-padrao {margin:5px;}
.form .box-padrao .titulos {margin-bottom:0;}
.form .box-padrao p {clear:both; margin-bottom:10px;}
.contato {margin:5px;}
.contato form .t1 { width:228px; }
.contato form .regulamento { border: 1px solid #BFBFBF;  height: 193px;  overflow-y: scroll; width:638px; padding:5px; margin-right:0;}
.contato form .regulamento p, 
.contato form .regulamento li, 
.contato form .regulamento a {color: #333333;font-size: 12px;}
.contato form .regulamento li {margin-bottom:10px;}
.contato form .regulamento p {margin-bottom:5px;}
.contato .codigo .caracteres,
.contato .codigo .msg { width: 294px;}
.contato .codigo{ width: 130px !important;}
.contato .outrasinfo{background-color:#000;} 
.contato form .t1 label, 
.contato form .t1 input { width:224px; }
.contato form .t3 { width:292px;}
.m10{margin-left:10px}
.m14{margin-left:14px}
.contato form .t3 label, 
.contato form .t3 input {width:292px;}
.contato form .linha select {width:60px;}
.contato form .t2 label, 
.contato form .t2 input {width:56px;}
.contato form .concordo .check { width:15px; float:left; border:none; }
.contato form .concordo label { text-transform:none; font-size:12px; font-weight:normal; width:270px; margin:2px 0 0 5px; float:left; }
.contato form .concordo a {font-size:12px; text-decoration:underline;}
.contato form .linha .tipo {width:294px;}
.contato form .t7 label, .contato form .t7 input {width: 636px;}
.contato form .t8 label, .contato form .t8 input {width: 199px;}
.contato form label span {font-size:10px; font-weight: normal; text-transform:none;}
.msgAcerto { background-color:#ff6633; margin: 0 0 0 5px ; width: 290px;}
.msgAcerto { *margin-left:3px;}
.boxMsg { width: 228px;}
.titulo {background-color:#333333 ;color: #FFFFFF;float: left;font-size: 14px;font-weight: bold;padding: 5px;text-align: center;width: 100%; margin:10px 0px 20px 0px}
.w204{width: 204px;}
a.laranja{background-color:#ff6633 ; text-align:left; color:#FFF; margin:0 0 2px; font-weight:normal;}
a.laranja:hover{text-decoration:none; background-color:#f09c80;}
a.menor:hover{text-decoration:none; background-color:#6d6969;}
a.outras:hover{text-decoration:none; background-color:#6d6969;}
.mb30{margin-bottom: 30px !important;}
.outras{margin-top:-15px;}
.apoio {margin:20px 0;}
.contato form textarea {height: 150px;width: 100%;}
#captcha .error{width: 292px}
#captchaimage label{width: 135px !important; margin-top:20px;}
.acordo { background-color: #333333; font-size:12px; float: left;padding: 10px;width: 620px;}
.branco{color: #FFFFFF !important;}
.contato form .linha .enviar {text-align:center;padding: 3px; line-height: 15px !important;}    
.contato .codigo .caracteres, .contato .codigo .msg {width: 292px;}
.contato form .t2 .sexo input, .contato form .t2 .sexo label {width: 5px;float: left;}
.contato form .t2 .sexo input {margin-right: 5px;}
.contato form .t2 .sexo label {margin: 2px 7px 0px 0px;}
.contato form .t9 label, .contato form .t9 input {width: 308px;}
.contato form .linha.t9{width:314px;}
.contato form .digite, .contato form .digite input  {width: 484px;}
.contato form .digite{margin-top:44px}
.contato .bold{font-weight:bold;}
.contato form #captchaimage .linha.t9 {width: 480px;}
.contato form .t5 .check {height: 15px; position: absolute;width: 15px !important;}
.contato form .t5 .declaracao {float: left;margin-right: 5px;}

#form-contato-solista label.error{background-color: #f5d6cc;color: #863f27;display: none;font-size: 12px;font-weight: normal;margin-top: 4px;padding-left: 3px; text-transform: none;}
#form-contato-solista .erro{border: 1px solid #f5d6cc;}
#form-contato-solista label.checked{background: none;height: 0px;}

#form-contato-conjunto label.error{background-color: #f5d6cc;color: #863f27;display: none;font-size: 12px;font-weight: normal;margin-top: 4px;padding-left: 3px; text-transform: none;}
#form-contato-conjunto .erro{border: 1px solid #f5d6cc;}
#form-contato-conjunto label.checked{background: none;height: 0px;}

.escSolista, .escConjunto{margin:20px 0 10px 0px; padding:10px 15px 10px 15px; background-color:#ff6633; color:#FFFFFF; text-decoration: none;}
.escSolista:hover, .escConjunto:hover{background-color: #f09c80;}
/* /form */

#form-contato-solista .linha label { float:none !important; }
#form-contato-solista .linha.w240 { margin-left:10px; }

/** /PRE ESTREIA **/
  