@font-face {
    font-family: 'source_sans_proregular';
    src: url('http://cmais.com.br/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {background: black;}
/*#capa-site{min-height: 522px;*margin-top: -50px !important}*/
#rodape-portal {margin-top: -28px;*z-index:1000;*margin-top:23px !important;}
.voltar-topo{*margin-left:-350px !important;}
#capa-site{background:black;}
/*#capa-site{position:relative;overflow: visible; min-height:833px;}*/
#capa-site .logo{position: absolute;top: 70px;left:0px;}
#capa-site .logo{*position: absolute;*top: 62px; *left:0px;}
#capa-site .redes {position: relative;bottom: 40px;left: 97px;}
#capa-site .redes .curtir {width: 218px;float: left;margin-left: 0;text-align: left;}
#form-contato legend,
.concordo a,
#capa-site label,
#capa-site p{font-size:20px; line-height:26px; color:#FFFFFF; font-family:'source_sans_proregular', Arial, Helvetica, sans-serif; text-align:left; margin-bottom:20px;}
#capa-site p { float:left; }
#enviar{cursor: pointer;background: red;border: none;padding: 6px;float: left;font-size: 14px;color: #FFF;margin: 10px}
#email{float: left;margin: 10px 0 200px 0px;padding: 4px;width: 621px;}
label.error{position: absolute;bottom: -10px;color: red;}
#capa-site label { display:block; float: left; margin-right:20px; }
#capa-site label input { width:100%; margin-top:2px;  }
#form-contato {  margin-bottom:50px; width: 710px;margin: 5px 14px 5px 14px;  }
/*#enviar {clear: both;    float: right;    margin: 2%; }*/
#enviar{float: right;margin: 0 auto;font-size: 20px;line-height: 26px;color: #FFFFFF;font-family: 'source_sans_proregular', Arial, Helvetica, sans-serif;text-align: center;margin-bottom: 20px;}
#enviar:hover{text-decoration:none;}
.span8 { width: 97% }
.span6 { width: 72% }
.span4 { width: 47% }
.span2 { width: 22% }
.span3 { width: 30.8% }
.span5 { width: 9%; float:left; display:block; margin-top:5px !important; }
.span5 input { display: block;    float: right;    width: 50% !important; }
label.error { color:red !important; font-size: 12px !important;    margin-top: 5px !important;    position: relative; padding:0 2px; width: 100%; bottom:0; }
#rodape-portal { *margin-top:50px; }
.checked { display:none !important; }
.regulamento { float:left; margin-top:20px; }
h1,
.regulamento h1 { font-size:24px; color:#fff; text-align:left; float:left; margin-bottom:20px;  }
#form-contato textarea { margin-top:5px; }
.regulamento textarea { width:930px; height: 600px; margin-top:20px; padding:20px; color: #fff; background:#000; line-height:22px; font-size:14px; }
.regulamento button { float: right;    margin: 2%;   }
.concordo input { width:15px !important; margin-right:5px; }
#ytdContainer-2001 iframe { background:#fbfbfb; margin:20px 0 50px 0; }
#form-contato fieldset { border: 1px solid #fff; padding:20px; clear:both; margin-bottom:20px; }
.concordo a { text-decoration:underline; }
#form-contato legend,
#form-contato legend h1 { margin-bottom:0; }
#form-contato legend { overflow:hidden; }
.btn-home { float:none; width:200px; margin:0 auto; font-weight: bold; }
.btn-home:hover { text-decoration:none; }





