body{background: none; padding: 0;text-align:left;position: relative;}
#rodape-portal {margin-top: 0px;}
img{width:100%;}
/* topo cmais desktop */
#guia-topo{padding:0;margin:0 0 20px 0;}
#topo-cmais #menu-portal-2 h1{margin:0 ;}
#menu-portal-2 ul.abas {margin:0;}
#topo-cmais #menu-portal-2 .busca-portal input{border-radius:0 ;height: 12px;}
#topo-cmais #menu-portal-2 .busca-portal .ipt-submit {border-radius:0 ; width: 30px;float: left;border: none;border-left: none;height: 22px;/*background: #F63*/;background:#0d6104;color: white;font: bold 12px arial;}
/* /topo cmais desktop */

/* geral */
.icon-list {background-position: -360px -50px;}
.table th, .table td {border:none;}
.table td a{color:#484848;}
.table td a.btn{color:#FFF;}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {background-color: #f1f1f1;}
.badge{color:black; background-color: #FFF;padding: 5px 9px 5px;text-shadow: none;}
.alert-info.radarIndex{background-color:#ffff9d; border:1px solid #fff500; padding:15px 14px 15px 14px;}
.alert-info{padding:15px 14px 15px 14px;}
.container{max-width:1010px; clear:both;}
.banner-radio {margin:0px auto 20px;padding:0px 4px 0px 8px;min-width:300px;max-width: 728px; }
.banner-radio.horizontal{margin:30px auto 15px;padding:8px 8px 4px 8px;}
.redes .direita{margin-top:20px;}
.thumbnail{overflow: hidden;margin-bottom: 20px;padding:0px 15px;}
.thumbnail p{min-height:57px;}
.page-header{overflow: hidden;}
.pagination .paginacao{padding: 10px;line-height: 20px;height: 18px;border: 1px solid #E5E5E5;}
.pagination ul > li > a, .pagination ul > li > span {border-left-width: 1px;margin-left: -1px; }
.pagination ul li a i{opacity:0.50;}
.icone-rede.email{width: 25px;height: 20px;background:url(/portal/images/capaPrograma/radarcultura/mail_24x18.png) no-repeat; opacity:0.50; }

/* modal */
.btn-feedback {float:left; width: 36px; height:135px;background:url(/portal/images/capaPrograma/radarcultura/btn_opiniao.jpg);}
/*.btn-feedback {position: fixed;top: 50%;right: -50px;background-color: #00b4d5;z-index: 10;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg); -o-transform: rotate(90deg);}*/
.btn-feedback a{padding: 0px 20px; line-height: 40px; color:#FFFFFF; }
.modal input[type="text"]{height:30px; padding: 0px 5px;}
.modal{position:absolute;z-index:13000;}
.modal-backdrop{position:absolute;z-index:12000;}
#modal-feedback .modal-body{min-height:252px}
#modal-feedback .control-group.mensagem{width:100%}
#modal-feedback .control-group.mensagem textarea{width:440px}
/*#modal-feedback .control-group.mensagem .error{left:-40px;}*/
#modal-feedback .control-group.mensagem .error.valid{left:-133px;}
#modal-ok #ok, #modal-error #error {margin-top: 20px;text-align: center;line-height: 26px;}

/* menu */
.ouca{position:absolute; top:-11px; right:0;}
.logo{margin:20px 0 30px 0;}
.logo img{margin-left:13px; width: 243px;}
.share{margin:15px 0 0 0;}
.twt{float:left;margin-left: 10px;}
.twt.conteudo{width:75px; float:left;margin-left: 10px;}
.google{float:left;}
.fb{float:left; margin-left: 10px; width: 200px;}
.row-fluid.menu-principal{position:relative;}
.nav.menu-principal{position:relative;min-height: 42px;border-bottom: 1px solid #ECECEC;}
.nav.menu-principal li{margin-right:5px;}
.nav.menu-principal li.active a{background-color: #515151;}
.nav.menu-principal > li.active > a{color:#FFFFFF;padding: 7px 10px;}
.nav.menu-principal > li > a{color:#565656; font-size:15px;}
.nav .dropdown-toggle .caret {margin-top: 6px;border-top-color: #00b4d5C;border-bottom-color: #00b4d5C;}
.nav.menu-principal .navbar-search .search-query {padding: 13px 14px;line-height: 16px;}
.nav.menu-principal .nav .dropdown-toggle .caret {border-top-color: #000;border-bottom-color: #000;}
.nav.menu-principal .dropdown-menu > li:hover > a  {background:none; color:#00b4d5;}
.nav.menu-principal .dropdown-menu > li > a{background:#FFF;}
.nav.menu-principal .dropdown-menu > li{color:#515151; margin:0; }
.nav.menu-principal .dropdown.open > a{color:#FFF;background-color: #515151; border-bottom-left-radius:0; border-bottom-right-radius:0;}
.nav.menu-principal .dropdown-menu{padding:0;min-width: 104px;border:1px solid #515151;border-radius:0;margin-top:-3px; }
.nav.menu-principal .dropdown a.dropdown{padding:2px 10px;}
.span8.menu-principal{position:relative;}
.breadcrumb {padding: 0px 5px;margin: 0 0 10px;list-style: none;background: none;font-size: 12px;}
.breadcrumb a{color:#00b4d5;font-size:12px;} 
.breadcrumb .divider {padding: 0 3px;color: #00b4d5;position: relative;bottom:2px;}
.breadcrumb li {display: inline-block;text-shadow: 0 1px 0 white;color: #8F8F8F; float:left\9;}
.breadcrumb{margin:0px;}

/* home */
.span10.radarIndex{max-width:760px\9;padding:10px;}
.span10.radarIndex a{margin:10px 0 10px 10px}
.page-header.na-rede{margin:11px 0 10px 0;}
.page-header.na-rede h3{margin-bottom:-8px}
.page-header.na-rede small{color:#909090;}
.row-fluid.na-rede{margin-bottom:40px;}
.redes-share{position:absolute; bottom:36px; right:0;}
.redes-share .span1{margin:0}
.redes-share .twitter-share{width:71px;float:left;}
.redes-share .facebook-share{width:61px;float:left;}
.redes-share .googleplus-share{width:61px;float:left;}
.carousel-caption {position: absolute;left: auto ;right: 0;bottom: 0;padding: 20px 60px 20px 20px ;width: 290px;top: 0;color: white;}
.carousel-caption h4{font-size:36px;font-weight:normal;line-height:36px;}
.carousel-inner img{width:100%}
.icone-rede{margin:12px; width:24px;height:30px;background: url(/portal/images/redes-topo.png) no-repeat }
.icone-rede.twitter{background-position:-139px }
.icone-rede.facebook{background-position:-111px; padding:0; }
.icone-rede.googleplus{background-position:-55px }
.redes .avatar{margin:7px 7px 0px 7px; width: 50px; height: 50px;}
.redes .indique{clear: both;float: left;margin: 8px;}
.redes p{padding: 0 0 0 8px}
.redes .span4{width:300px\9;position:relative;}
.redes .span4.thumbnail{width:270px\9;position:relative;}
.redes .span6{width:300px\9;position:relative;}
.redes h4{color:black;}
.linha-lateral{border-right: 1px #eee solid; height:225px;float:right; position: absolute; top:16px; right:-10px;}
.row-fluid .span4.como-participar{margin:0px\9;}
.carousel-control {top: 51%;}
.carousel {margin-bottom:0}
.row-fluid.redes{margin:-4px 0 0 0;overflow: hidden;}

/* lista assets subsection */
.lista-assets a h6{margin:0;text-transform:uppercase;color: #00b4d5;margin: 0 0 -2px 0;}
.lista-assets a h2,
.lista-assets a h4{color:#333; }
.lista-assets a h6:hover,
.lista-assets a h4:hover{color:#005580\9;}
.lista-assets p{font-weight: normal\9;}
.lista-assets a{text-decoration: none;cursor: hand;}
.lista-assets .centro.span12{margin-left:-20px\9;} 
.lista-assets.span4{margin:0px\9;}
.lista-assets .titulo h2{margin: 0 0 5px;font-weight: normal;font-size: 24px;line-height: 20px;}
.lista-assets .span10{margin-left:10px}
.lista-assets .span10 p{margin:0 0 30px 0;}
.lista-assets .span2{margin: 0 0 20px 0;}
.lista-assets .span2 img{margin-top:7px;}
.row-fluid.subSection h1{color:black;margin: 13px 0 30px 0; font-size:24px;}

/* artistas */
.artista h1{float: left;margin: 34px 0 0 0 ;font-size: 24px;color: black;}
.artista form{margin:30px 0 0 0;}
.artista .input-prepend{margin:5px 0 0 0;}
.artista small{color: #949494;text-align: left;float: left;margin-left: 50px;}
.contagem{max-width:200px; float:right; text-align: right;}
.table.artista h4{color:black;}
.table.artista tr td{max-width: 312px}
.pagination {height: 40px;margin: 60px 0 40px 0;}
.pagination a{color: #00b4d5;}
.btn-busca{margin: 0 5px;}

/* musicas */
.row-fluid.musicas{margin-top:10px;position:relative;}
.row-fluid.musicas small{position:absolute;top:37px;left:0px;}
.alert .close {right: 15px;}
.table.musicas h4{color:black;}
.table.musicas p{width:312px; width:280px\9;}
.table.musica{color:#333;}
.table.musica tr td{width:240px;padding:3px;}
.direita h4{color:black\9;}
.direita  .page-header {padding-bottom: 9px; margin: 10px 0 12px;}
.direita.content .banner-radio{margin-top:15px;}
.musicas small{color: #949494;text-align: left;float: left;font-size:12px}
.musicas h1{float: left;margin: 5px 0 0 0 ;font-size: 24px;color: black;}
.table.musica{min-width:25%;}
.table-striped tbody tr td{color:#484848;}
.indicada{float: left;margin: 1px 0 0 30px;margin: 1px 0 0 10px\9;} 


/* musica */
.musica h1{max-width:825px; float:left;color:black; font-size:24px}
.popover {width: 350px;}
.facebook-comment{width:100px; float:left;}
.table.musicas{min-width:309px;min-width:300px\9;}
.span4.redes{position:relative; min-height:230px;}

/* playlists */
.playlist h1{float: left;margin: 0px 0 0 0 ;font-size: 24px;color: black; max-width:635px;}
.playlist h1 small{font-size:12px;}
.playlist.musica{margin:30px 0 0 0;}
.playlist.musica h1{float:left;}
.playlist.musica small{color: #6F6F6F;float:left;}
.table.playlist tr td{max-width:260px;}
.direita.playlist{margin-top:30px;}
.page-header.playlist{border:none;margin: 20px 0 5px 0; position:relative;}
.page-header.playlist small{position: absolute; bottom:0px;left:0px;}
.m-20{margin:20px 26px 0 0 !important;} 

/* ao vivo */
#videoPlayer embed{width:495px;height:370px;}
.falta-flash{padding:20px 0px 20px 110px; display:block;width:494px; height:111px;background: url(/portal/images/capaPrograma/radarcultura/flash.jpg) no-repeat;}
.page-header.ao-vivo{border: none;margin: 20px 0 4px 0;color: black;padding: 0;}
.page-header.ao-vivo h4{text-transform: none;font-size:24px;}

/* modal */
.error.valid{display:none !important;}
.modal{width: 476px;padding: 0 30px;}
.modal form legend{font-size:18px; line-height: 29px; margin-top: 5px;}
.modal.fade.in {top: 20%;}
.modal-backdrop{height: 100%;height: 100%\9;}
.control-group{positon:relative;}
.control-group .error{position: absolute; font-weight:bold; font-size:10px;margin-top:-10px;}
.modal-header{border:none; padding:0;}
.modal-header h2{font-size:24px;}
.modal-body {min-width: 477px; max-height:451px; padding:0;}
.modal-footer{margin-top:15px;clear:both\9;}
.modal-footer.musica{margin-top:75px; clear: both;}
.btn-fechar-redes{top: 10px;right: 10px;position: absolute;}
#modal-facebook{display: block;width: 577px;padding: 30px;}
#modal-google{display: block;width: 588px;height: 306px;padding: 30px;}
.ajuda-face{width:575px; height:319px; display: block; background: url(/portal/images/capaPrograma/radarcultura/tela-share-facebook.png) no-repeat;}
.ajuda-google{width:584px; height:305px; display: block; background: url(/portal/images/capaPrograma/radarcultura/tela-share-google.png) no-repeat;}
.ajuda-face.p{background: url(/portal/images/capaPrograma/radarcultura/tela-share-facebook_p.jpg) no-repeat;}
.ajuda-google.p{background: url(/portal/images/capaPrograma/radarcultura/tela-share-google_p.jpg) no-repeat;}
.avancar{position: absolute;bottom: 41px;right: 40px;width: 93px;height: 25px;background: url(/portal/images/capaPrograma/radarcultura/bt-avancar.png) no-repeat;text-indent: -999999px;}
#modal-google .avancar{bottom:47px; right:53px;} 
.avancar:hover{background-position: left bottom;}
/* content */
.content {padding-bottom: 5px;margin: 0px 0 10px;}
.content h1{font-size:24px;margin-bottom:0px;}
.content small{color:#6F6F6F;font-size:14px;}
.content-asset p,
.content-asset strong,
.content-asset span{color:black !important;margin-bottom:0px;}
.legenda{min-width: 646px;background-color: #E5E5E5;margin-bottom: 10px;padding: 5px 10px;line-height: 1.2em;}
.legenda small{color:#949494; font-size:11px;}
div.jp-audio, div.jp-video {margin-bottom: 20px;margin-top:10px;color: #333;}
div.jp-playlist, div.jp-interface {border:none !important;}
div.jp-type-playlist div.jp-playlist a.jp-playlist-current {color: #00b4d5;}
.signature{margin:10px 0 5px 0;border-bottom: 1px dotted #ccc}
.signature small{font-size:11px; color:#949494;}
.cabecalho{font-size:11px; margin-bottom:20px; color:black;}
.cabecalho small{font-size:10px; color:black;}
.share.content{margin:0 -28px 0;float: right;width: 245px;}

/* player */
 
#radar-home h1 a{margin:0 0 0 15px;}
#radar-home .row {width: 415px;margin: 0 auto !important;height: 109px;}
a.jp-play, 
a.jp-play:hover, 
a.jp-pause,
a.jp-pause:hover, 
a.jp-stop, 
a.jp-stop:hover, 
a.jp-previous, 
a.jp-previous:hover, 
a.jp-next, 
a.jp-next:hover, 
div.jp-seek-bar, 
div.jp-play-bar, 
a.jp-mute, 
a.jp-mute:hover, 
a.jp-unmute, 
a.jp-unmute:hover, 
div.jp-volume-bar, 
div.jp-volume-bar-value, 
div.jp-video div.jp-video-play, 
div.jp-video div.jp-video-play:hover {background-image: url(/portal/images/jplayerradar.png) !important;}
div.jp-type-playlist div.jp-playlist a.jp-playlist-current {color: #00b4d5 !important;}

/*alteraçoes player fev2014*/
div.jp-playlist, div.jp-interface{background: #ECECEC!important;border: 1px solid #ccc!important;}
div.jp-audio h2{color:#009be3;font-size:24px;margin:0}

