body{background: none; padding: 0;text-align:left;}
#rodape-portal {margin-top: 0px;}

/* topo cmais desktop */
#guia-topo{padding:0;margin:0 0 20px 0;}
#topo-cmais #menu-portal-2 h1{margin:0 ;}
#topo-cmais #menu-portal-2 .busca-portal input{border-radius:0 ;}
#topo-cmais #menu-portal-2 .busca-portal .ipt-submit {border-radius:0 ; width: 67px;float: left;border: none;border-left: none;height: 22px;background: #F63;color: white;font: bold 12px arial;}
#topo-cmais #menu-portal-2 ul.abas {width: 572px;float: left;background: none;margin: 0 0 0 0;}
#topo-cmais #menu-portal-2 .busca-portal .ipt-txt {height: 12px;}

/* /topo cmais desktop */

/* geral */
.container{max-width:1010px;}
.banner-radio {margin:0px auto; border:1px solid #ccc; padding:8px 4px 4px 8px;min-width:300px;max-width: 728px; border-radius:5px; }
.banner-radio.horizontal{margin:30px auto 15px;padding:8px 8px 4px 8px;}
.redes .direita{margin-top:20px;}
/* modal */
.btn-feedback {position: fixed;bottom: 0;right: 0;background-color: #CCC;z-index: 10;}
.btn-feedback a{padding: 0px 20px; line-height: 40px; }
.modal{position:absolute;z-index:13000;}
.modal-backdrop{position:absolute;z-index:12000;}
#modal-feedback .modal-body{min-height:252px}
#modal-feedback .control-group.mensagem{width:100%}
#modal-feedback .control-group.mensagem textarea{width:440px}
#modal-feedback .control-group.mensagem .error{left:-40px;}
#modal-feedback .control-group.mensagem .error.valid{left:-133px;}

/* menu */
.span10.menu-principal{position:relative;}
.nav.menu-principal {margin-top:32px;}
.nav.menu-principal > li.active > a{color:#333333;font-weight: bold;}
.nav.menu-principal > li > a{color:#999999;}
.nav.menu-principal > li:hover > a{color:#333333;}
.nav.menu-principal .navbar-search .search-query {padding: 13px 14px;line-height: 16px;}
.nav.menu-principal .nav .dropdown-toggle .caret {border-top-color: #000;border-bottom-color: #000;}
.nav.menu-principal .dropdown-menu {margin-top:0; border-top: none;}
.nav.menu-principal .dropdown-menu > li:hover > a  {background: none; color:#999999}
.nav.menu-principal .dropdown.open > a{color:#FFF;}

/* home */
.span10.radarIndex{max-width:760px\9;padding:10px;}
.span10.radarIndex a{margin:10px 0 10px 10px}
.span8.menu-principal{position:relative;}
.redes-share{position:absolute; top:0; right:0;}
.redes-share .span1{margin:0}
.redes-share.span3{width:210px;}
.redes-share .twitter{width:71px;}
.redes-share .facebook{width:61px;}
.redes-share .googleplus{width:61px;}
.carousel-caption {position: absolute;left: auto ;right: 0;bottom: 0;padding: 20px 60px 20px 20px ;width: 315px;top: 0;color: white;}


.icone-rede{margin:12px; width:24px;height:30px;background: url(/portal/images/redes-topo.png) no-repeat }
.icone-rede.twitter{background-position:-139px }
.icone-rede.facebook{background-position:-111px }
.icone-rede.googleplus{background-position:-55px }

.redes .page-header {padding: 0 0 0 8px;margin: 11px 0 11px;}
.redes .avatar{margin:7px 7px 0px 7px; width: 50px; height: 50px;}
.redes .indique{clear: both;float: left;margin: 8px;}
.redes p{padding: 0 0 0 8px}
.redes .span4{max-width:290px\9;}
.redes .span6{max-width:290px\9;}
.redes h4{color:black;}

/* lista assets subsection */
.lista-assets a h6,
.lista-assets a h4{color:#08C\9;}
.lista-assets a h6:hover,
.lista-assets a h4:hover{color:#005580\9;}
.lista-assets p{font-weight: normal\9;}
.lista-assets a{text-decoration: none;cursor: hand;}
.lista-assets .centro.span12{margin-left:-20px\9;} 
.lista-assets.span4{margin:0px\9;}

/* artistas */
.table.musica{color:#333;}
.table.artista tr td{max-width: 312px}
.contagem h3{max-width: 285px; margin:0 auto;}


