body{background: none; padding: 0;text-align:left;position: relative;}
#rodape-portal {margin-top: 0px;}

/* topo cmais desktop */
#guia-topo{padding:0;margin:0 0 20px 0;}
#topo-cmais #menu-portal-2 h1{margin:0 ;}
#topo-cmais #menu-portal-2 .busca-portal input{border-radius:0 ;}
#topo-cmais #menu-portal-2 .busca-portal .ipt-submit {border-radius:0 ; width: 67px;float: left;border: none;border-left: none;height: 22px;background: #F63;color: white;font: bold 12px arial;}
#topo-cmais #menu-portal-2 ul.abas {width: 572px;float: left;background: none;margin: 0 0 0 0;}
#topo-cmais #menu-portal-2 .busca-portal .ipt-txt {height: 12px;}

/* /topo cmais desktop */

/* geral */
.container{max-width:1010px; clear:both;}
.banner-radio {margin:0px auto 20px; border:1px solid #ccc; padding:8px 4px 4px 8px;min-width:300px;max-width: 728px; border-radius:5px; }
.banner-radio.horizontal{margin:30px auto 15px;padding:8px 8px 4px 8px;}
.redes .direita{margin-top:20px;}
.thumbnail{overflow: hidden;margin-bottom: 20px;padding:0px 15px;}
.thumbnail p{min-height:57px;}
.page-header{overflow: hidden;}
/* modal */
.btn-feedback {position: fixed;bottom: 0;right: 0;background-color: #CCC;z-index: 10;}
.btn-feedback a{padding: 0px 20px; line-height: 40px; }
.modal{position:absolute;z-index:13000;}
.modal-backdrop{position:absolute;z-index:12000;}
#modal-feedback .modal-body{min-height:252px}
#modal-feedback .control-group.mensagem{width:100%}
#modal-feedback .control-group.mensagem textarea{width:440px}
#modal-feedback .control-group.mensagem .error{left:-40px;}
#modal-feedback .control-group.mensagem .error.valid{left:-133px;}

/* menu */
.logo{width:140px\9; width:140px;float:right;margin:0 0 0 0px;}
.logo a{margin:0 0 0 10px;*margin:0 0 0 5px;}
.menu-principal{position:relative;}
.nav.menu-principal {margin-top:79px;*margin-left:-20px;}
.nav.menu-principal > li.active > a{color:#333333;font-weight: bold;}
.nav.menu-principal > li > a{color:#999999;}
.nav.menu-principal > li:hover > a{color:#333333;}
.nav.menu-principal .navbar-search .search-query {padding: 13px 14px;line-height: 16px;}
.nav.menu-principal .nav .dropdown-toggle .caret {border-top-color: #000;border-bottom-color: #000;}
.nav.menu-principal .dropdown-menu {margin-top:0; border-top: none;}
.nav.menu-principal .dropdown-menu > li:hover > a  {background: none; color:#999999}
.nav.menu-principal .dropdown.open > a{color:#FFF;}

/* home */
.span10.radarIndex{max-width:760px\9;padding:10px;}
.span10.radarIndex a{margin:10px 0 10px 10px}
.span8.menu-principal{position:relative;}
.redes-share{position:absolute; bottom:36px; right:0;}
.redes-share .span1{margin:0}
.redes-share .twitter-share{width:71px;float:left;}
.redes-share .facebook-share{width:61px;float:left;}
.redes-share .googleplus-share{width:61px;float:left;}
.carousel-caption {position: absolute;left: auto ;right: 0;bottom: 0;padding: 20px 60px 20px 20px ;width: 315px;top: 0;color: white;}
.carousel-inner img{width:100%}
.icone-rede{margin:12px; width:24px;height:30px;background: url(/portal/images/redes-topo.png) no-repeat }
.icone-rede.twitter{background-position:-139px }
.icone-rede.facebook{background-position:-111px; padding:0; }
.icone-rede.googleplus{background-position:-55px }
.redes .page-header {padding: 0 0 0 8px;margin: 11px 0 11px;}
.redes .avatar{margin:7px 7px 0px 7px; width: 50px; height: 50px;}
.redes .indique{clear: both;float: left;margin: 8px;}
.redes p{padding: 0 0 0 8px}
.redes .span4{*width:270px;}
.redes .span6{*width:270px;}
.redes h4{color:black;}

/* lista assets subsection */
.lista-assets a h6,
.lista-assets a h4{color:#08C\9;}
.lista-assets a h6:hover,
.lista-assets a h4:hover{color:#005580\9;}
.lista-assets p{font-weight: normal\9;}
.lista-assets a{text-decoration: none;cursor: hand;}
.lista-assets .centro.span12{margin-left:-20px\9;} 
.lista-assets.span4{margin:0px\9;}

/* artistas */
.page-header.artista h1{float:left;max-width:830px;}
.contagem{max-width:200px; float:right; text-align: right;}
.table.artista h4{color:black;}
.table.artista tr td{max-width: 312px}

/* musicas */
.page-header.musicas h1{float:left;max-width:830px;}
.row-fluid.musicas{margin-top:30px;}
.table.musicas h4{color:black;}
.table.musicas p{width:312px; width:280px\9;}
.table.musica{color:#333;}
.table.musica tr td{width:240px;padding:3px;}
.direita h4{color:black\9;}
.direita  .page-header {padding-bottom: 9px; margin: 10px 0 12px;}

/* musica */
.musica h1{max-width:825px; float:left;color:black;}
.popover {width: 350px;}
.facebook-comment{width:100px; float:left;}
.table.musicas{min-width:309px;min-width:300px\9;}

/* playlists */
.playlist h1{max-width:825px; float:left;}
.table.playlist tr td{max-width:260px;}

/* ao vivo */
#videoPlayer{margin:0 auto;width:451px;}

/* modal */
#modal .error.valid{display:none !important;}
.modal{min-width: 633px;top:15%;}
.modal.fade.in {top: 15%;}
.modal-backdrop{height: 100%;}
.control-group{positon:relative;}
.control-group .error{position: absolute; font-weight:bold; font-size:10px;margin-top:-10px;}
.modal-body {max-height: 440px;}
.modal-footer{margin-top:75px;clear:both\9;}
