/*.tit-pagina { text-indent:-9999px; background:url(http://cmais.com.br/portal/images/capaPrograma/sarahjane/logo.jpg) no-repeat; width:246px; height:62px; margin-top:20px; }*/
.abas { width:970px; margin-left:42px; margin-bottom:10px; }
.abas .neutro p { color:#fff; font-weight: bold; background:#ff6633; text-transform:uppercase; margin-top:2px; height: 24px; line-height:24px; padding:0 10px; float: left; }
.abas .neutro span { width:13px; height:22px; background:url(http://cmais.com.br/portal/images/capaPrograma/sarahjane/detalhe-menu.png) no-repeat; display: block; margin-top:3px; float:left;  }
.abas li .decoracao { left:63px; }
.abas .dublado .decoracao { left:70px;  }
#barra-site h2 {  margin-top:20px; }
