@font-face {
    font-family: 'gotham_boldregular';
    src: url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-bold-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-bold-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-bold-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GothamMediumRegular';
    src: url('http://cmais.com.br/portal/css/fontes/gotham/gotham-medium-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/gotham/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/gotham/gotham-medium-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/gotham/gotham-medium-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/gotham/gotham-medium-webfont.svg#GothamMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_lightregular';
    src: url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-light-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-light-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-light-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_thinregular';
    src: url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-thin-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-thin-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-thin-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-thin-webfont.svg#gotham_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_bookregular';
    src: url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-book-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-book-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-book-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/gotham-family/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{background:#EBEBEB }

/* AJUSTES ARTES TOPO E MENU */
.topo-tudo{background:#fff url(http://cmais.com.br/portal/images/capaPrograma/semana-de-museus/topo.jpg)no-repeat center!important;width:100%;height:170px;}
#capa-site.museus {margin-top: -156px !important;}
#barra-site{background:url();height: 170px;margin:0 0 0 42px!important;cursor:pointer}
#barra-site .topo-timeline{width: 970px;min-height: 56px !important;}
#barra-site img{margin: 23px 0 0 -214px;}
#barra-site h2{font-family: 'GothamMediumRegular';color: #000;font-size: 40px;text-align:left;line-height: 38px;margin: 45px 0 0 -5px;font-weight: bolder;}
#barra-site p{font-family: 'GothamMediumRegular';color: #000;font-size: 20px;text-align:left;font-weight: lighter;}
.a1964 .menu-interna {float: right;width: auto ;}
.a1964 .menu-interna li {width: 120px;height: 54px;background-color: transparent;}
.a1964 .menu-interna a{font-size: 14px;color:#2c9700;display: block;float: left;padding: 16px 34px;text-transform: uppercase;font-weight: bolder;}
.a1964 .menu-interna li.ativo, .a1964 .menu-interna li:hover {width: 120px;height: 54px;background-color: transparent;}
.timeline{height: 500px;float: left;width: 100%;padding-top: 20px;}
#barra-site .redes {width: 394px;float: right;margin: 60px 0 0 30px;}

/* /AJUSTES ARTES TOPO E MENU */

/*  Slider Destaque  */
.box-destaque { margin:45px 0; border: solid 5px #ccc; width:955px; clear:both; }
.carrossel { margin:0; clear: both; text-align:left; width:970px;}
.carrossel .jcarousel-next,
.carrossel .jcarousel-prev { background: url(http://cmais.com.br/portal/images/capaPrograma/univesptv/seta-carrossel.png) ; bottom:0; width:20px; height:40px; top:45px; }
.carrossel .jcarousel-clip{ width:880px; height:130px; left:40px;  }
.carrossel .jcarousel-prev {left:0; }
.carrossel .jcarousel-next { background-position:-20px 0; right:0;}
.carrossel .jcarousel-item-horizontal { margin:0 10px; }
.thumbnail { border:5px solid #F0E6DD; border-radius:0; box-shadow:none; padding:0; margin-right:20px;  }
.row { margin-bottom:50px; }
a.thumbnail:hover { border-color:#ff6633; }
.todos { color:#ff6633; right:0; text-align:right; margin:0 50px 5px 0; font-size:12px; clear:both; display:block;  }
.todos:hover { color:#ff6633;  }
.destaque-3c .media { width:965px!important; height:339px; }
.destaque-3c .media img { border: 5px solid #F0E6DD; width:960px!important; height:329px!important; }
.destaque-3c, 
.destaque-3c .conteudo {height: 339px!important;margin-bottom: 20px; overflow:hidden; }
.pag-bola { position:absolute; right: 15px; bottom: 15px; height:14px; }
#barra-site h2 { margin-bottom:30px; }
select { background:#f3f3f3; border-color:#c5c5c5; border-radius:0; }
.pag-bola { margin:0 auto; width:auto;}
.pag-bola li { width:13px; display:inline-block; margin-bottom:10px;  border:none; }
.pag-bola li a { width:13px; height:13px; background: url(../images/pag-ball.png) no-repeat -14px 0; display:block; margin:0; padding:0;}
.pag-bola li:hover a,
.pag-bola li.ativo a { background-position:-70px 0!important; }
.pag-escura { background:#333; height:21px; overflow:hidden; line-height:21px; margin-top:10px; }
.pag-escura .pag-bola { margin:0 auto; position:relative; overflow:hidden; left:0; bottom:0; width:85px; margin:2px auto; }
.pag-escura .pag-bola li { width:13px; float:left; margin:2px }
.pag-escura .pag-bola li a { width:13px; height:13px; background:url(../images/pag-ball.png) no-repeat -28px 0; display:block; }
.pag-escura .pag-bola li a:hover,
.pag-escura .pag-bola li a.ativo { background-position:-41px 0; }
.cursos .jcarousel-item-horizontal { width:276px; height:300px; background:#e0e0e0; }
.cursos .jcarousel-clip { height: 300px; }
.cursos .thumbnail .caption { height:117px; overflow:hidden;  }
.thumbnails .span3:hover,
.cursos .jcarousel-item-horizontal:hover { background-color:#ff6633; }
.cursos .caption { color:#333 }
.cursos .caption h5,
.cursos .caption h5 a { font-size:18px; max-height:44px; }
.cursos .caption p { font-size:14px;  max-height: 54px;    overflow: hidden; }
.cursos .jcarousel-item-horizontal:hover .thumbnail { border-color:#ff6633; background:#ff6633; }
.cursos .jcarousel-item-horizontal:hover h5,
.cursos .jcarousel-item-horizontal:hover p { color:#fff; }
.cursos .thumbnail { margin:0;  }
.cursos .thumbnails > li { margin:0 25px 0 17px; width: 266px;  }
.cursos .thumbnail:hover { border-color: #215702!important; background-color:#215702!important; }
.cursos .thumbnail:hover h5,
.cursos .thumbnail:hover p,
.cursos .thumbnail:hover a { color:#fff; }
.cursos .caption h5 { margin-bottom:5px; }
.cursos .caption a { max-height:75px; overflow:hidden;}
.cursos .thumbnails h5 a { line-height:22px; }
.cursos .thumbnails a { color:#333; line-height:18px; display: block;   }
.cursos .thumbnail:hover a { text-decoration:none; }
.cursos .thumbnail { background:#F0E6DD;width:266px;  }
.cursos .thumbnails a img { width:266px; height:160px; }
.conteudo-box{width: 930px;;margin:0 auto;}
.subs{background-color: rgba(0, 0, 0, 0.8);background: rgba(0, 0, 0, 0.8);color: rgba(0, 0, 0, 0.8);width:960px;position: absolute;margin-left: 5px;bottom: 4px;}
.subs h2{color:#fff;bottom: 0;font-family: Arial;text-align: left;font-size: 41px;line-height:120px;padding-left:15px;}

.box-interna h2{font-size:13px;background:#ff0000;color: #fff;padding: 1px 13px 1px 12px;text-transform: uppercase;font-family: 'gotham_boldregular';width: 96%;}
.box-interna p{font-size:14px;line-height: 25px;}
.box-thumbs{width:593px;margin:0 auto;}
.box-playlist li {width: 114px;float: left;margin-right: 4px;text-align: left;height: auto;}
.box-playlist a img {width:110px;}
.box-thumbs h4 {color:#000;}
.box-playlist .img {width:110px;height: 82px}
.box-playlist .img:hover {border-color: #a74887;height: 82px;width:110px;}
#direita{float: right;text-align: left;}
#direita p{font-size:13px;line-height:17px}
.jcarousel-prev{width:20px; height: 80px; background: url(http://cmais.com.br/portal/images/capaPrograma/semana-de-museus/seta_1.png) no-repeat left top; position:absolute; top: 25%; left: -3%;cursor: pointer;}
.jcarousel-prev:hover {background-position:left top}
.jcarousel-next{width:20px; height: 80px; background: url(http://cmais.com.br/portal/images/capaPrograma/semana-de-museus/seta_2.png) no-repeat left bottom; position:absolute; top: -18%; right: -5%;cursor: pointer;}
.jcarousel-next:hover {background-position:right bottom;}
.box-confira{background-color: #F0EEEE;padding: 8px;overflow: hidden;}
.box-confira h2{font-size:14px;}
.btn-confira{background-color: #2c9700;width: 140px;margin: 2px;height: 29px;float: left;}
.btn-confira a{color: #fff;margin: 5px;display: block;text-align: center;font-family: 'gotham_boldregular';}
.timeline h1{font-size: 13px;background: #2c9700;color: #fff;padding: 1px 1px 1px 15px;text-transform: uppercase;width: 62%;font-family: 'gotham_boldregular';}
.carrossel .jcarousel-item a img {width: 100%;height: 100%;}
.carrossel .jcarousel-item {width: 98px;}


/*instagram*/
.box-instagram {margin-left: 20px;background: #a74887;width: 640px;margin: 0 0 0 10px;/* padding-left: 10px; */overflow: hidden;padding-bottom: 10px;}
.box-instagram a{ display: block; height: 122px; width: 122px;float: left; padding:5px 0px 0px 5px}
.box-instagram a img{width: 122px; height: 122px;}
.box-padrao{margin-top:20px;}
.box-padrao h4 {background: #ff0000;color: #fff;padding-left: 10px;height: 25px;padding-top: 5px;line-height: 20px;width: 630px;margin-left: 10px;margin-bottom: 5px;text-transform: none;}
.box-padrao h4 span {background: url(http://cmais.com.br/portal/images/capaPrograma/semana-de-museus/instagram_icon.png) no-repeat;width: 24px;height: 24px;display: block;float: left;margin-right: 10px;}
