body {  background:#018dc4 url(http://cmais.com.br/portal/images/capaPrograma/seminario2013/bg.jpg) repeat-x;  }
.topo-programa { background:url(http://cmais.com.br/portal/images/capaPrograma/seminario2013/bg-topo.jpg) no-repeat; height:160px; }
#capa-site { margin-top:-102px !important; }
#barra-site { min-height:160px; }
.bg-chamada { margin-bottom:100px; }
#barra-site h2 { margin:20px 30px 0 30px; }
#miolo { margin-top:0; }
.capa { background:#fff; margin: }
.box-interna { padding:20px; }
#esquerda { width:640px; margin-bottom:100px; margin-right:0;}
#esquerda .titulos { margin-bottom:20px; }
p bold { font-weight:bold; }
p i { font-style:italic; }
#direita { margin:20px 10px; }
#rodape-portal { margin-top:-25px; }
#barra-site #horario { float:left; margin-top:65px; }
#barra-site #horario p { color:#fff; text-transform: uppercase; text-align:left; text-indent:-9999px; background:url(http://cmais.com.br/portal/images/capaPrograma/seminario2013/horario.png) no-repeat; width:326px; height:16px;}
.box-interna p a { color:#0091c8 }
.idioma { margin-bottom:10px; }
.idioma a { text-transform:uppercase; color:#fff; padding:5px 10px; background:#0091c8; margin-left:10px; }
.idioma a.ativo, .idioma a:hover { background: none repeat scroll 0 0 #333333;  text-decoration: none; }
#live { width: 630px; margin-bottom:20px; }
.box-seminario { background:#dcddde; margin-top:20px; overflow:hidden;}
.box-seminario h3 { background:#0091c8; color:#fff; width: 100%; font-size:18px; text-transform: uppercase; padding-left:10px; height:34px; line-height: 34px; font-weight:normal;}
.box-seminario p { clear:both; }
.azul { background:#0091c8; color:#fff; padding:0 2px; float:left; margin-top:20px; margin-bottom:5px; }
.box-seminario { text-align:left; }
.box-seminario.top { margin:20px 10px 0 10px; padding-bottom:100px; }
.box-seminario .data,
.box-seminario .data a { color:#999; font-weight:bold; font-size:18px; }
.box-seminario .data a.ativo,
.box-seminario .data a:hover { color:#0091c8; text-decoration:none; }
.box-seminario .content { padding:10px; }
.box-seminario h3 {font-family: 'Quattrocento Sans', sans-serif;}
.box-seminario .titulos { padding:0; color:#0091c8; margin:10px 0 0 0; font-size:18px; }
.box-topo { display:none; }
.home .box-interna { padding:20px 0 0 10px; }
.box-seminario .veja { float: right; text-decoration:underline; color:#000; margin:20px 0; color:#0091c8; }
.capa { *min-height:1500px; }
