.bg-chamada,
.bg-site { background: url(http://cmais.com.br/portal/images/capaPrograma/senna/bkg_senna.jpg) repeat 460px 0; }
#barra-site .redes { float:right; }
#barra-site .topo-programa { background: url(http://cmais.com.br/portal/images/capaPrograma/senna/capacete.png) no-repeat 400px 5px; }
.noticia .img-video { width:310px; margin:0; }