/* TOPO PORTAL*/
#menu-portal-1 #menu-portal .m-radio .bg-Cocorico,
#menu-portal-1 #menu-portal .m-radio .bg-Ratimbum {bottom: 11px;}

#menu-portal-2 li a:hover{background:#ff6633;}

#menu-portal .menu-aberto .botoes {*width:100% !important;}

#menu-portal-2 .busca-portal .ipt-txt {height: 14px;border-radius: 0px;}
#menu-portal-2 .busca-portal .ipt-submit {border-radius:0px;}
/*/TOPO PORTAL*/ 

/* PAGINAS PADRÕES*/
body{background: url(http://cmais.com.br/portal/images/capaPrograma/sic/pattern-fundo.jpg) !important;}

#capa-site{overflow:visible; width:1012px; margin:0 auto; min-height: 700px; }
#capa-site h2,#capa-site p,#capa-site span{margin:6px 0 20px 2px !important; }
#capa-site p{font-size:14px}
#capa-site h2{font-size:24px !important; text-transform:uppercase; color:#ed9f18 !important; }
#menu-portal-2 ul.abas{margin: 0;}

#risco{background: url(http://cmais.com.br/portal/images/capaPrograma/sic/pattern-linha.jpg) repeat-x !important; height:2px;width:100%;float:left; margin:-1px;}
#risco-2{background: url(http://cmais.com.br/portal/images/capaPrograma/sic/pattern-linha-2.jpg) repeat-x !important; height:2px;float:left; margin:0;}
span.pergunta{font-size:20px; font-weight:bold;}
.float{float:left;}
.conteudo{padding:10px 0 0 0;}
/* /PAGINAS PADRÕES*/

/* COLUNAS */
.col-379-sic{width:379px; margin:0 20px 0 0;text-align:left;}
.col-400-sic{width:400px; margin:0 20px 0 0;text-align:left; }
.col-400-sic p span { font-size: 14px !important; }
.col-585-sic{width:585px;text-align:left;}
.col-640-sic{width:640px;text-align:left;}
.col-640-sic h2,
.col-640-sic p{text-align:left;}

.coluna-sub-1{border-radius:5px; padding: 10px}
.coluna-sub-2{border-radius:5px; padding: 10px}
.form-horizontal .controls {margin-left: 0px;}
/*/ COLUNAS */

/* CORES */
h5{color:#106d41 !important}
.texto-branco{color:#FFF !important;}
.texto-preto{color:#333 !important;}
.texto-verde{color:#106d41 !important}

.cinza-escuro{background:#7f7f7f !important;}
.cinza-claro{background:#a1a1a1 !important;}
.cinza-claro-2{background:#f3f3f3 !important;}

.zebra-1{background: #e1e1e1;}
.zebra-2{background: #eaeaea;}
/* /CORES */



/* TOPO SIC */
#topo-sic{width:100%; height:225px;margin-bottom:40px;}
#topo-sic .logo-sic{float:left; margin:0 0 20px 0px;}
#topo-sic .menu-sic {width: 100%;height: auto;overflow: visible;margin: 0 auto;float: left;}
#topo-sic .menu-sic ul li a{color:#676767;padding:7px 7px;margin-right: 17px;}
#topo-sic .nav-tabs .dropdown-toggle .caret,
#topo-sic  .nav-pills .dropdown-toggle .caret {border-top-color: black;}
#topo-sic .nav-tabs .dropdown-toggle:hover .caret,
#topo-sic  .nav-pills .dropdown-toggle:hover .caret {border-top-color: white;}
#topo-sic .menu-sic ul li:last-child a{margin-right: 0px !important;}
#topo-sic .nav-tabs > li > a,
#topo-sic .nav-pills > li > a {margin: 4px 0 4px 0px;}
#topo-sic .nav {margin:0; float:left;border-top:1px solid #acacac;border-bottom:1px solid #acacac;}
#topo-sic .dropdown-menu {background-color:#00723a;padding:0;text-align:left;border-radius:0;top:34px;left:0px;border:none; border-bottom-right-radius:8px;border-bottom-left-radius:8px;border-top-right-radius:8px;padding:1px 0;  }
#topo-sic .nav-pills .dropdown.active .dropdown-toggle .caret {border-top-color: white !important;}
#topo-sic .dropdown.open .caret {border-top-color: white;}
#topo-sic .active a,
#topo-sic .dropdown.open a,
#topo-sic a:hover{background-color:#00723a;color:#FFF!important;border-radius:5px }
#topo-sic .dropdown.open a{border-bottom-right-radius:0px;border-bottom-left-radius:0px;margin-bottom: 0px;height: 18px;}
#topo-sic .dropdown-menu li a{margin-right:0 !important;background-color: #00723a;border-radius:5px !important;border: 2px solid #00723a;}
#topo-sic .dropdown-menu a:hover{background-color: #ED9F18 !important;border-radius: 5px;border: 2px solid #00723a;}

/* /TOPO SIC */

#corpo-sic .leiamais{color: #00723a;text-decoration: none;}
#corpo-sic .leiamais:hover{text-decoration: underline;}

#formas-de-contato .fundo-cinza a{color: #00723a !important;text-decoration: none !important;}
#formas-de-contato .fundo-cinza a:hover{text-decoration: underline !important;}
label.valid {float:right}
.help-block {font-size: 10px !important;line-height: 11px !important;}
label.error {font-weight: bold;color: red;padding: 2px 1px;margin-top: 2px;font-size: 10px;line-height: 10px;}

.m30{margin-top:30px}
#corpo-sic #dicas p{color:#FFF;}
#corpo-sic a.dicas{color:#fff;}
#corpo-sic a.dicas{text-decoration: none;*float:left;}
#corpo-sic a.dicas:hover{text-decoration:underline;}
#corpo-sic .dicas h4{margin:0;}

#formas-de-contato{margin-top:20px}
#formas-de-contato ul{margin:0;}
#formas-de-contato ul li a.formas{display: block;margin: 0 0 0 0;padding: 13px;margin:1px;color:#333;}
#formas-de-contato ul li:nth-child(odd) {background: #e1e1e1; list-style:none;}
#formas-de-contato ul li:nth-child(even) {background: #eaeaea; list-style:none;}
#formas-de-contato ul li {*background: #eaeaea; *list-style:none;*float:left;*width:564px;}
#formas-de-contato .icon-circle-arrow-right{background-position: -241px -143px;float:left;margin: 14px 7px 0 15px;}
#formas-de-contato .icon-circle-arrow-down{background-position: -313px -143px;float:left;margin: 14px 7px 0 15px;}
#formas-de-contato .fundo-cinza{background: #FFF !important; padding: 1px 10px 1px 10px;}
#formas{background:#F3F3F3 !important;}
#formas p{padding:10px 0 0 15px;}

.box-dicas .icon-plus, .box-dicas .icon-minus{float:left;margin: 4px 7px 0 0px;}
#capa-site .box-hide p{margin:6px 0 0px 2px !important;color:#fff;}

table{text-align: left}
#rodape-portal {display:none;}
#capa-site {margin-top: 0px !important;}

#logo-fpa{width: 100%;height: 91px;}
#logo-fpa a{background: white;padding: 0 2px;height: 69px;display: block;width: 82px;border: 1px solid #C3C3C3;border-bottom-left-radius: 7px;border-bottom-right-radius: 7px;border-top: none;}
#logo-fpa a:hover{background-color:white;}
#centralizar{width:100%;overflow: hidden; height:auto;background:url(http://cmais.com.br/portal/images/capaPrograma/sic/bkg-topo-fpa.gif) repeat-x;}


