/** SOCRATES **/
#barra-site .topo-programa { height:146px;}
#barra-site .redes { float: right; margin-top:60px; }
#barra-site h2 {margin-top:30px;}
#capa-site { margin-top:-193px !important; }
#barra-site .topo-programa { *margin-top:-20px; }
#chamada { margin-bottom:0; }
body {  background:url(http://cmais.com.br/portal/images/capaPrograma/socrates/bg.jpg) repeat-x;  }
.bg-chamada { height:60px; z-index: 100; margin-bottom:48px;}
#barra-site h3 {margin-top:25px;  font-size:35px; color:#fff; text-transform:uppercase; }
/** /SOCRATES **/