.bg-chamada,
.bg-site { background :url(/portal/images/capaPrograma/tonico-e-tinoco/bkg.png) repeat-x; }
.bg-chamada { background-position:0 -20px; }
.noticia .img-video { width:310px; margin:0; }
#barra-site .redes { float: right; }
#chamada { margin-bottom:0; }
