
body{background: url(http://cmais.com.br/portal/images/capaPrograma/cocoricoHome/pattern-tvcocorico.jpg);}
#rodape-portal {margin-top: 0px;}

.m01{margin:01px 0 0 0;}
.m02{margin:02px 0 0 0;}
.m03{margin:03px 0 0 0;}
.m04{margin:04px 0 0 0;}
.m05{margin:05px 0 0 0;}

#capa-site{max-width:976px;min-height:1065px; margin:0px auto !important; position:relative;}
#capa-site h1{width:452px;float: left;}
#capa-site #menu-tv-cocorico,
#capa-site #menu-tv-cocorico ul{width:516px;float:right;margin:23px 0 0 0;position: relative;z-index: 5000;}
#capa-site #menu-tv-cocorico li{float:left;}

#horario-tv p {color: #277DC7;font-size: 15px;font-weight: bolder;font-family: "Arial Rounded MT Bold",Arial, Helvetica, sans-serif;text-transform: uppercase;}
#horario-tv a img{float: right;}

#video-tv-cocorico{height:582px;float:left;background-color:#f1ba27;border:2px solid #f1ba27;margin:6px 0 0 0;}

#palco{ overflow:hidden;}
#back{max-width:976px;min-height:1065px; margin:0px auto !important; position:relative;}
#holofote-01{width:254px;height: 344px;position: absolute;top:0px;left:-217px;background: url(http://cmais.com.br/portal/images/capaPrograma/cocoricoHome/backstage1.png) no-repeat;}
#holofote-02{width:240px;height: 513px;position: absolute;top:0px;left:-306px;background: url(http://cmais.com.br/portal/images/capaPrograma/cocoricoHome/backstage2.png) no-repeat;}
#holofote-03{width:262px;height: 418px;position: absolute;bottom:0px;left:-260px;background: url(http://cmais.com.br/portal/images/capaPrograma/cocoricoHome/backstage3.png) no-repeat;}
#holofote-04{width:342px;height: 478px;position: absolute;bottom:0px;right:-298px;background: url(http://cmais.com.br/portal/images/capaPrograma/cocoricoHome/backstage4.png) no-repeat;}
#holofote-05{width:236px;height: 334px;position: absolute;top:0px;right:-195px;background: url(http://cmais.com.br/portal/images/capaPrograma/cocoricoHome/backstage5.png) no-repeat;}
#holofote-06{width:251px;height: 280px;position: absolute;top:0px;right:-438px;background: url(http://cmais.com.br/portal/images/capaPrograma/cocoricoHome/backstage6.png) no-repeat;}
#rodape-portal {margin-top: 0px;position: relative}

.capa-voltar-topo {margin: -26px auto;}
#guitarra{position: absolute;right: -278px;width: 250px;height: 246px;background: url(http://cmais.com.br/portal/images/capaPrograma/cocoricoHome/destaque-guitarra.png) no-repeat;top: 52px;}
#promocao p{color:#a81617; line-height:30px;font-size: 21px;font-weight: bolder;font-family: "Arial Rounded MT Bold",Arial, Helvetica, sans-serif !important;text-transform: uppercase;text-align:left;}
#promocao {position: relative;z-index: 4000;clear: both;width: 520px;padding: 50px 0 0 115px;height: 350px;*padding: 30px 0 0 0 !important;*margin:0 0 20px -250px}
#promocao label{margin:3px 0 0 0;clear:both;float:left; font-size:16px;font-weight:bold;width: 103px;text-align: right;}
#promocao input{border: none;padding: 4px;background-color:#f2ba27;margin: 0 0 0 10px;color:#333;}
#promocao .t1input{width: 504px;float: left;margin:4px 0;}
#promocao .t2input{width: 340px;float: left;margin:4px 0;}
#promocao .t3input{width: 165px;float: left;margin:4px 0;}
#promocao .t1input #nome, #promocao .t1input .resposta{width: 381px;}
#promocao .t2input #cidade{width: 216px;}
#promocao .t2input .email{width: 197px;margin: 0 0 0 -8px}
#promocao .t3input .idade{width: 49px;margin: 0 0 0 -2px}
#promocao select{width:61px; border:none;background-color:#f2ba27;float:left;}

#promocao .btn-enviar{color:#a81617;float: right;font-size: 18px;font-weight: bold;padding: 10px 16px;background: url(http://cmais.com.br/portal/images/capaPrograma/cocoricoHome/btn-enviar.png) no-repeat;cursor: pointer;}
#promocao label.error{color: #A81617;position: absolute;left: 226px;bottom: 40px;margin: 0 0 0 0 !important;font-size: 15px;background: yellow;padding: 5px;width: 305px;text-align: center;}
#promocao .nome.error, #promocao .email.error, #promocao .cidade.error,#promocao .resposta.error,#promocao .estado.error, #promocao .mensagem.error, #promocao .idade.error{border:1px red solid !important;}
#promocao span.verm{width:100px; height:50px; position: absolute; bottom:0px; left:0px;}

#respPromocao {position: relative;z-index: 4000;clear: both;width: 520px;padding: 50px 0 0 115px;min-height: 307px;}
#respPromocao p{color:#a81617; line-height:30px;font-size: 21px;font-weight: bolder;font-family: "Arial Rounded MT Bold",Arial, Helvetica, sans-serif !important;text-transform: uppercase;text-align:left;}
#respPromocao p{margin-top: 17px!important;text-align: left;font-family: Arial, Helvetica, sans-serif;font-size: 15px !important;font-weight: bold !important;}
#respPromocao .recebeu{line-height: 21px;text-align: left;margin-top: 57px;width: 100%;}
#respPromocao .preto{color:#000 !important;}
#respPromocao .obs{font-size:14px;}

#esquerda{position:relative;z-index:10000;}
#esquerda #form-contato input,
#esquerda #form-contato select,
#esquerda #form-contato textarea{border-radius:7px;}
#esquerda .contato .tit-pagina{color:#493a2b;}
#esquerda #enviar{background-color:#b2b0a8 !important;padding: 16px;line-height: 2px;width:75px !important; }

#esquerda .contato .msgErro {background-color: #493a2b;margin: 30px 0 0 105px;}
#esquerda .contato .msgAcerto {background-color: #493a2b;margin: 33px 0 0 105px;}
#form-contato label.error {background-color: #F5E8CC !important;}

#enqueteRapida input[type="radio"] {margin: -1px 10px !important;float:left;}
#enqueteRapida{float:left;margin:30px 0 30px 80px;text-align:left;} 
#enqueteRapida h2{font-size:24px; font-family:"Arial Rounded MT Bold",Arial, Helvetica, sans-serif; font-weight:bolder; color:#aa1718;}
#enqueteRapida p{font-size:18px; font-weight: bolder; }
#enqueteRapida .form-contato{margin: 10px; padding:0 0 0 30px; color:#333; height: 300px; position:relative;}
#enqueteRapida .form-contato p{ margin:0 0 40px 0; *margin:0 0 40px 0;}
#enqueteRapida .form-contato label{font-size: 15px; font-family: Arial, Helvetica, sans-serif;line-height:10px;}
#enqueteRapida .form-contato label.selected{font-weight:bolder;}
#enqueteRapida .form-contato label.error{position: absolute;bottom: 130px;left: 52px;}

#enqueteRapida .form-contato #votar{float:left; background:url("http://cmais.com.br/portal/images/capaPrograma/cocoricoHome/btn-votar.png") no-repeat; width:87px; height:42px;border:none;margin: 11px 0 13px 9px;box-shadow: none;}
#enqueteRapida #resultadoParcial{padding:0 0 50px 30px;float: left;}
#enqueteRapida #resultadoParcial span{font-size: 15px; font-family: Arial, Helvetica, sans-serif; font-weight:normal;}


