#barra-site .topo-programa { height:160px;}
#barra-site .redes { float: right; margin-top:100px; }
#barra-site h2 a { margin:57px 0 0 0; display:block; }
#capa-site { margin-top:-108px !important;   }
#barra-site .topo-programa { *margin-top:-50px; }
#chamada { margin-bottom:0; }
body {  background:#fff url(http://cmais.com.br/portal/images/capaPrograma/vinicius/bg.jpg) repeat-x;  }
.bg-chamada { height:60px; z-index: 100; margin-bottom:48px;}
.bg-site { display:none; }

