 

#canvas{position:fixed; top:0; left:0; z-index:9999999;}
.container {max-width:100%;}
.back-entry-sesame-street{background: url("http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/puzzle/entry/entry_puzzle.jpg") no-repeat;width: 95%; height:675px;position: relative;background-size: 100%;margin: 0 auto;}
.btn-play-sesame-street{	width: 170px;	height: 170px;background: url(http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/puzzle/entry/play_game.png) no-repeat;box-shadow: none;transition:none;}
.btn-play-sesame-street:hover{background-position: 0 -171px;background-color: transparent;transition:none;}

#btn-pause,#btn-fullscreen,#btn-exitfullscreen,#btn-bmg-on,#btn-bmg-off,#btn-sfx-on,#btn-sfx-off,#btn-autosnap-on,#btn-autosnap-off{display: none}

#modal-success{height:100%!important;}
.modal-dialog {width: 90%; overflow: hidden;position:absolute; top:50%; left:50%}
.modal-content{position:relative;background: url(http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/puzzle/icones/pattern_bg.jpg);border-radius: 40px;border: 0px;height:100%;max-height:999999;box-shadow:none}
.modal.show{display:block!important;}
.modal-body{background:transparent;border:none;width: 50%;margin: 0 auto; position: absolute;height: 650px;top: 15%;left: 0;box-shadow:none}
.modal-header{background: url(http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/puzzle/icones/corner.png) no-repeat transparent;border-radius: 40px 40px 0 0;height:370px;border: 0px;box-shadow:none}
.modal-header p{display: block!important;float: left!important;width: 13%!important;}
.modal-footer{background: url(http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/puzzle/icones/acerto.png) no-repeat transparent bottom right;border:none;height:465px;border-radius: 0 0 40px 40px;border: 0px;box-shadow:none;padding:0;}


.btn-group, .btn-group-vertical{float: left;position: relative;padding: 2%;width: 21%;margin-top: 10%;}
.btn-group .botoes{float:left;border:none}
.btn-pxfase{	width: 175px;	height: 175px;background: url(http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/puzzle/icones/btn_fase.png) no-repeat;}
.btn-pxfase:hover{width: 175px;	height: 175px;background: url(http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/puzzle/icones/btn_fase_over.png) no-repeat;}
.btn-restart{	width: 170px;	height: 170px;background: url(http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/puzzle/icones/btn_restart.png) no-repeat 0 1px;box-shadow: none;transition:none;}
.btn-restart:hover{background-position: 0 -167px;background-color: transparent;transition:none;}
.btn-inicio{	width: 92px;	height: 83px;background: url(http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/puzzle/icones/btn_inicio.png) no-repeat 0 top;box-shadow: none;transition:none;}
.btn-inicio:hover{background-position: 0 bottom;background-color: transparent;transition:none;}
.btn-fullscreen{display:none;width: 250px;	height: 32px;background: url(http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/puzzle/icones/fullscreen.png) no-repeat;position: absolute;left: 40%;color:#2F5BAA;text-transform: uppercase;font-weight: bolder;font-size: 20px;}
.fasedownload{width:85px;margin-top:5%;}
.fasedownload h2{font-size:15px;}
.btn-download1,
.btn-download2,
.btn-download3{background: url(http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/puzzle/icones/btn_download.png) no-repeat;width: 85px;height: 83px}
.btn-download1{background-position: 0 0;}
.btn-download1:hover{background-position: -84px 0;}
.btn-download2{background-position: 1px -82px}
.btn-download2:hover{background-position: -84px -82px;}
.btn-download3{background-position: 1px -166px;}
.btn-download3:hover{background-position: -84px -166px;}

.tempo{color:#FCE90E;font-size:40px;font-weight: bold;text-shadow: 3px 1px 3px #5074E5;line-height:normal;}
.fase{color:#2F5BAA;text-transform: uppercase;font-weight: bolder;font-size: 40px;text-align: left;width: 89px;padding: 0;margin-top: -45px;display: block;}
.logo{	width:210px;	height: 175px;background: url(http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/puzzle/icones/logo.png) no-repeat;float:right}
#modal-success{background:#0172f9;z-index:99999999999999999;width: 100%;}
.modal{position: fixed; top: 0; left: 0;border: none;border-radius: 0;margin:0;}
/*background:url(http://cmais.com.br/portal/images/capaPrograma/vilasesamo2/puzzle/icones/final.png) no-repeat; background-size:90%;*/
#grid-size{width: 100%;height: 100%;display: block!important;position: absolute;} 
@media screen and (max-width: 500px) {
   .back-entry-sesame-street { height:300px; }
   .modal-dialog{margin:10px auto;}
   .modal-header{background-size: 40%;height: 140px;}
   .modal-body{height: 140px;}
   .modal-footer{background-size: 40%;height: 140px;}
   .btn-group, .btn-group-vertical{width:20%;}
   .btn-pxfase,.btn-pxfase:hover{width:134px;background-size: 50%;}
   .logo{background-size: 50%;background-position: right top;}
   .tempo{font-size:1.6em;}
} 
@media screen and (min-width: 601px) and (max-width:800px) {
   .back-entry-sesame-street {height:540px;}
}
@media screen and (min-width: 501px) and (max-width:600px) {
   .back-entry-sesame-street {height:400px;}
}
@media screen and (min-width: 801px) and (max-width:1280px) {
   #content h1 {font-size: 2.5em;}
   .modal-header{background-size: 30%;}
   .modal-footer{background-size: 30%;height: 230px;}
   .btn-group, .btn-group-vertical {float: left;position: relative;padding: 2%;margin-top:0;width: 40%;}
   .logo{background-size: 80%;background-position: right top;}
   .fase{text-align: center;}
}
@media screen and (min-width: 501px) and (max-width:800px) {
   #content h1 {font-size: 2.5em;}
   .modal-header{background-size: 30%;height: 270px;}
   .modal-footer{background-size: 30%;height: 230px;}
   .btn-group, .btn-group-vertical {float: left;position: relative;padding: 2%;width: 30%;margin-top: 14%;}
   .btn-pxfase {width: 100px;height: 90px;background-size: 90%;}
   .btn-pxfase:hover {width: 100px;height: 90px;background-size: 90%;}
   .btn-restart {width: 100px;height: 90px;background-size: 90%;}
   .btn-restart:hover {background-position: 0 -88px;}
   .btn-inicio{background-size: 83%;height: 53px;width: 66px;}
   .logo{background-size: 90%;width:160px;}
   .tempo{font-size: 1.7em;}
   .fase{font-size:24px;margin-top:-30px}
  
}