/.project
/cache
/config
/data
/web/cache
/apps/frontend/config
/web/actions/preestreia/photo
/web/actions/preestreia/spreadsheet
/web/actions/preestreia/submit.php
apps/frontend/templates/sites/cocorico2/indexSuccess.php
apps/frontend/templates/sites/cocorico/tvcocoricoSuccess.php.conflict
