/*CASTELO EM BREVE */
/*#capa-site {min-height: 895px;margin-top: 48px !important;width: 100%;background: url(/portal/images/capaPrograma/castelo/backCastelo.jpg) no-repeat center 0 #50579f !important;}*/

body { background:#f58220 url(/portal/images/capaPrograma/castelo/bg-topo.jpg) repeat-x;  }
  
.castelo .video{width:1040px; height: 561px; background:url(/portal/images/capaPrograma/castelo/base-video.png) no-repeat !important;position: relative;}
.castelo .video iframe{margin: 51px -252px 0px 0px;width: 639px;height: 389px;}

#rodape-portal .voltar-topo {*margin-left:-340px;}
#rodape-portal{margin-top:-25px;}
/*/CASTELO EM BREVE */

/*CASTELO SITE*/

/*HOME*/
#topo-portal{width:100% !important;margin: 0 !important; padding:0 !important;}
#barra-site .redes {margin: 20px 0 0 7px;}
#castelo {background:url(/portal/images/capaPrograma/castelo/img-home-bg-castelo.jpg) no-repeat center 0 #f58220 !important; height: 962px;min-width:1000px !important; width:100%}
.menu-interna {position: absolute;top: -259px;left: 396px; text-transform: uppercase; padding: 0 11px 0 12px !important;}
.menu-interna li{ padding: 0 11px 0 12px !important;}

.menu-interna .m-chat{ padding: 0 2px 0 12px !important; background:url(/portal/images/capaPrograma/castelo/btn-menu-chat.gif) no-repeat !important;}
.menu-interna .m-chat a{color:#f7e55e !important;width: 55px; margin-left: -11px;}

.menu-interna .m-arquivo{background:url(/portal/images/capaPrograma/castelo/btn-menu-arquivo.gif) no-repeat !important;}
.menu-interna .m-arquivo a{padding: 0 !important;color:#f7e55e !important;color: #F7E55E !important;width: 86px;}
.menu-interna li.m-arquivo{ padding: 0 !important;}

.menu-interna .m-episodios{background:url(/portal/images/capaPrograma/castelo/btn-menu-episodio.gif) no-repeat !important;}
.menu-interna .m-episodios a{color:#f7e55e !important; width: 98px}
.menu-interna li.m-episodios{ padding: 0 !important;}

.castelo18 {width: 280px;position: absolute;top: -268px;right: 4px;}
.castelo18 .twitter,#castelo .castelo18 .instangram, {margin-top:5px;}

.logo{margin-left:7px;}


#castelo .capa{height:678px;position:relative;*margin-top:50px;}

#castelo .balao{position:absolute;top: -2px;left: 165px;width:388px; height:375px; background:url(/portal/images/capaPrograma/castelo/img-home-porteiro-balao.png) no-repeat}
#castelo .senha{cursor:pointer;position: absolute; top: 67px;left: 31px;width: 305px; height: 230px;background:url(/portal/images/capaPrograma/castelo/img-home-porteiro-balao-senha.png) no-repeat;}
#castelo .pergunta{position: absolute;top: 66px;left: 55px;width: 260px;height: 240px;}
#castelo .questao{}
#castelo .resposta{color:#e4222b; font-size:50px; font-family:Arial, Helvetica, sans-serif; text-transform: uppercase;position: absolute;bottom: 13px;left: 27px;width: 242px;}

#castelo .nav-Esquerda{z-index:5;width:90px; height:900px; position: absolute; left:0; top:0;}
#castelo .nav-Esquerda img{position:absolute;top:18%; right: 0;}
#castelo .nav-Direita{z-index:5;width:90px; height:900px; position: absolute;right:0; top:0;}
#castelo .nav-Direita img{position:absolute;top:18%; right: 0;}
#castelo .botao-porteiro{z-index:0;width:39px; height:78px;position:absolute;top: 334px;left: 552px;}
#castelo .botao-porteiro-over{z-index:1;cursor:pointer ;width: 139px;height: 162px;position: absolute;top: 266px;left: 498px;background: url(/portal/images/capaPrograma/castelo/porteiro-over.png) no-repeat;}

#castelo .botao-dr-abobrinha{z-index:0;cursor:pointer ;width:121px; height:207px;position:absolute;top: 359px;left: 213px;}
#castelo .gif-dr-abobrinha{position: absolute;z-index:-1;top: 296px;left: 334px;width: 103px;height: 87px; background:url(/portal/images/capaPrograma/castelo/gif-drabobrinha.gif) no-repeat;}
#castelo .botao-dr-abobrinha-over{z-index:1;width:202px; height:207px;position:absolute;top: 356px;left: 131px;background: url(/portal/images/capaPrograma/castelo/dr-abobrinha-over.png) no-repeat;}
#castelo .gif-porteiro{position:absolute;top: 340px;left: 510px;width: 50px; height: 50px; background:url(/portal/images/capaPrograma/castelo/gif-porteiro.gif) no-repeat; }

.navegacao{position:absolute;width:77px; /*height:928px;*/ bottom:30px; left:0px;}
.navegacao .bolinhas{position:absolute; padding-left:26px; width:316px; height:27px; background:url(/portal/images/capaPrograma/castelo/img-navegacao-telas.png) no-repeat; bottom:0px;left:331px; z-index: 0; }
.navegacao .bolinhas img.on{margin:6px 0 0 6px;}
.navegacao .bolinhas img.off{margin:1px 0 0 7px !important;}
.navegacao .thumbs{position:absolute; height:77px; width:928px; background:url(/portal/images/capaPrograma/castelo/img-navegacao-telas-over.png) no-repeat;bottom:0px; left:7px; z-index: 10;}
.navegacao .thumbs a{display:block;width:91px;height:55px;float:left;margin:11px 0 0 11px;}

.navegacao .thumbs a.home2{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb1.jpg) no-repeat;}
.navegacao .thumbs a.hall{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb2.jpg) no-repeat;}
.navegacao .thumbs a.arvore{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb3.jpg) no-repeat;}
.navegacao .thumbs a.nino{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb4.jpg) no-repeat;}
.navegacao .thumbs a.sala-de-musica{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb5.jpg) no-repeat;}
.navegacao .thumbs a.arquivo{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb6.jpg) no-repeat;}
.navegacao .thumbs a.cozinha{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb7.jpg) no-repeat;}
.navegacao .thumbs a.laboratorio{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb8.jpg) no-repeat;}
.navegacao .thumbs a.morgana{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb9.jpg) no-repeat;}

.navegacao .thumbs a.home2:hover{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb1over.jpg) no-repeat;}
.navegacao .thumbs a.hall:hover{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb2over.jpg) no-repeat;}
.navegacao .thumbs a.arvore:hover{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb3over.jpg) no-repeat;}
.navegacao .thumbs a.nino:hover{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb4over.jpg) no-repeat;}
.navegacao .thumbs a.sala-de-musica:hover{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb5over.jpg) no-repeat;}
.navegacao .thumbs a.arquivo:hover{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb6over.jpg) no-repeat;}
.navegacao .thumbs a.cozinha:hover{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb7over.jpg) no-repeat;}
.navegacao .thumbs a.laboratorio:hover{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb8over.jpg) no-repeat;}
.navegacao .thumbs a.morgana:hover{background: url(/portal/images/capaPrograma/castelo/img-navegacao-thumb9over.jpg) no-repeat;}
/*/HOME*/


/*MODAL*/
/*.modal{width:100%; height: 961px;*height: 1010px;background:red;position: absolute; top:50px; left:0;}*/

#fancybox-wrap { top:300px !important;}
#fancybox-outer {background: none !important;}
#fancybox-content {border:none !important;}
.fancybox-bg{background: none !important}
#fancybox-close {background:url(/portal/images/capaPrograma/castelo/img-fechar-layer.gif) no-repeat !important; height: 26px !important;position: absolute;right: 66px !important;top: 37px !important;width: 77px !important;}



.base{width:790px !important; height: 630px!important;}
.base .mioloF .claro .capa-titulo h4{padding-left: 12px !important;}
.base .headerF{width:100%; height:58px;background: url(/portal/images/capaPrograma/castelo/img-topo-layer.png) no-repeat 5px top;}
.base .mioloF .claro .capa-titulo {background: #F63;height: 22px;width: 658px;float: left;margin-top: 5px;}
.base .mioloF .topo span {background: url(/portal/images/aba-titulo.png) no-repeat -15px 0 !important;width: 15px;height: 27px;float: left;position: relative;}
.base .mioloF{width:100%; height:503px;background: url(/portal/images/capaPrograma/castelo/img-meio-layer.png) repeat-y center 0;}
.base .mioloF .container{height: 509px;left: 49px;overflow: auto;position: absolute;width: 696px;top: 72px;}
.base .mioloF .container .comentario-fb{background: #ffe282; width: 673px;}
.base .mioloF .container .box-compartilhar {width: 100%;}
.base .mioloF .box-interna {text-align: left;margin-bottom: 20px;width: 673px;}
.base .mioloF .box-interna .assinatura{width: 673px;}
.base .footerF{width:100%; height:58px;background: url(/portal/images/capaPrograma/castelo/img-rodape-layer.png) no-repeat center bottom;}
/*/MODAL*/



/*/CASTELO SITE*/