/************************************ GERAL ************************************/
/******** BOX INTERNA ********/
.box-interna {text-align:left; margin-bottom:20px;}
.box-interna .texto {margin-bottom:20px; font-size:14px;}
.box-interna .texto img {padding:0 10px 10px 0;}
.box-interna .texto p { margin-bottom:20px;}
.box-interna .texto strong {font-weight:bold;}
.box-interna .texto em { font-style: italic; }
.box-interna .texto div { font-size: 14px; line-height: 20px; color:#333; }
.box-interna .texto ul li { list-style-type: disc; color:#333; margin:0 0 5px 20px;  }
.box-interna .texto ul li a { font-weight:bold; color:#0d6104; /* color:#ff6633; */  }

.texto .foto { float:left; margin:0 15px 0 0}
.texto .foto img { float:left; padding:0; }
.texto .foto .chapeu {clear:both; background:#eaeaea; width:100%; margin:0; padding:0 0 0 5px; }

.box-interna .txt-16 {margin:10px 0; display:block;}
.assinatura {  margin:0 0 20px 0; position:relative; font-size:10px !important;}
.assinatura p { margin-bottom:0; font-size:10px !important;; margin-bottom:5px; line-height:normal;  }
.assinatura .print { background:url(../../images/print.png) no-repeat; width:16px; height:13px; float:left; margin-top:9px;    }
.assinatura .sup { width:100%; border-bottom:1px dotted #666666; padding-bottom:5px; height:10px; }
.assinatura .sup span { float:right; }
.assinatura .inf { width:442px; float:left; overflow:hidden; font-size:10px !important; }
.assinatura .btn-compartilhar { width:auto; }
.assinatura .btn-compartilhar p {font-size:12px; margin-bottom:0; line-height:22px;}
.acessibilidade { float:left; margin-right:20px; }
.acessibilidade a { font-size:12px; font-weight:bold; }
.acessibilidade .zoom { -moz-border-radius:2px; border-radius:2px; background:#333; color:#fff; display:block; padding:1px 2px; float:left; margin-left:5px; }
.box-interna .cp-sembg {width:auto; position:absolute; right:0; top:17px;}
.recomendar { margin-top:10px; }
.box-relacionados { margin:20px 20px 0 0; }
.box-relacionados a { display:block; font-weight:bold;  }
.box-interna .titulos {float:none;}
.box-relacionados .chapeu {margin:10px 0;}
.box-relacionados .legenda {background:#eaeaea; padding-left:10px; width:300px; margin:0;}
.box-relacionados ul { width:310px; clear:both;}
.box-relacionados li { width:90px; float:left; margin-right:20px; }
.box-relacionados p { text-transform:uppercase; clear:both; }
.box-relacionados .link li {width:310px;}
.box-relacionados .link a { margin-bottom:10px; clear:both; font-size:16px; color:#0d6104; /* color:#ff6633; */ }
.box-interna .leia {text-decoration:none; font-size:10px; color:#333; text-transform:uppercase;}
.box-interna .leia a {font-size:12px; color:#0d6104; /* color:#ff6633; */ clear: both; text-transform:none; display: block;}
.box-interna .tags,
.box-interna .tags a {font-size:10px; text-transform:uppercase;}
.box-interna .tags { margin:20px 0;}
.box-interna .citacao { position:relative;}
.box-interna .citacao p {font:italic 20px Georgia, "Times New Roman", Times, serif; padding:24px 50px; width:540px; }
.box-interna .citacao span { background:url(../../images/aspas.png) no-repeat; width:47px; height:34px; position:absolute;} 
.box-interna .citacao .final { background-position:0 -34px; bottom:0; right:0;}
/******** /BOX INTERNA ********/

/******** BOX LISTAO *********/
.box-listao {text-align:left;}
.box-listao h3 { margin-bottom:20px; font-size:16px; }
.box-listao li { float:left; margin-bottom:30px; width:640px; }
.box-listao a { text-align:left; float:none; }
.box-listao span { width:16px; height:16px; background:url(../../images/ico-noticia.png) 0 2px no-repeat; float:left; margin-right:10px; }
.box-listao .video { background-position:0 -16px; }
.box-listao .imagem { background-position:0 -32px; }
.box-listao .audio { background-position:0 -48px; }
.box-listao .img { width:90px; float:left; margin-right:10px; }
.box-listao .foto {float:left;}
.box-listao ul p { font-size:16px; float:none;}
.box-listao ul h3 {font-size:10px; margin-bottom:0; margin-right:5px; float:none; }
.box-listao .box-texto {width:540px;}
.box-listao .box-texto .txt-12,
.box-listao .box-texto .txt-16 { font-weight:bold; }
.box-listao .box-texto a { margin-top:0; }
.box-listao .fonte {font-size:10px; font-weight:bold; display: none;}
.box-listao .fonte a {font-size:10px;}
.abas-conteudo #todos { display:block;}
.abas-conteudo #noticias,
.abas-conteudo #videos,
.abas-conteudo #fotos,
.abas-conteudo #audios { display:none;}  
/******** /BOX LISTAO *********/

/******** BOX-PLAYLIST ********/
.box-playlist li { width:157px; height:230px; float:left; margin-right:4px; text-align:left; }
.box-playlist a { display:block; text-align:left; color:#333; font-size:14px; clear:both; max-height:96px; overflow:hidden; }
/*.box-playlist a img{width: 173px; margin-top: -17px;float:right;}*/
.box-playlist a img { width:150px;}
/*.box-playlist a .img-video {  width:200px; margin:-19px 0 0 -25px;}*/
.box-playlist a .img-video {width: 175px;margin-top: -17px;float: right;}
.box-playlist .img { margin:0; height:112px; border:3px solid #ffffff; width: 150px }
.box-playlist .img:hover { border-color:#f08507; }
.box-playlist p { text-transform:uppercase; margin-top:5px; font-size:10px; }
.box-playlist p,
.box-playlist a { margin-left:3px; }
/******** /BOX-PLAYLIST ********/

/******** DESTAQUE ********/
/** Nova Home **/
.novoDestaque{ float: left; width: 970px; background:#eee; margin-bottom:20px;}
.novoDestaque .enunciado{ background-color: #f3f3f3; text-align: left;}
.novoDestaque .enunciado{float: left;width: 970px;height: 24px;}
.novoDestaque .enunciado h2{ background-color: #ff6633; color: #fff; float: left; font-size: 16px; font-weight: bold; padding: 3px 10px;}
.novoDestaque .enunciado h2 a{	color: #fff;}
@media screen and (-webkit-min-device-pixel-ratio:0){
	.novoDestaque .enunciado h2{ 
		padding: 3px 10px;
	}
}
.novoDestaque .enunciado span{	background: url(../../images/ponta-destaque-new.png) no-repeat;	float: left;	width: 73px;	height: 24px;}
.novoDestaque .destaque-5{	float: left;}
.novoDestaque .destaque-5 table{	background: url(../../images/bg-destaque5c.jpg) repeat-x;	float: left;	width: 970px;	height: 398px;}
.novoDestaque .destaque-5 table tr{	float: left;	margin-right: 1px;	width: 193px;	height: 398px;}
.novoDestaque .destaque-5 table td{	width: 193px;}
.novoDestaque .destaque-5 table td.logo{	background-color: #fff;	height: 80px;}
.novoDestaque .destaque-5 table td.logo a img{	width: 130px;}
.novoDestaque .destaque-5 table td.foto{    background-color: #fff;    float: left;    height: 226px;    width: 193px;}
.novoDestaque .destaque-5 table td.texto{	background-color: #eee;    width: 193px;    height: 92px;}
.novoDestaque .destaque-5 table td.texto a p:hover{	text-decoration: underline!important;}
.novoDestaque .destaque-5 table td.texto a p{	font-size: 16px;	text-align: center!important;}
.novoDestaque .destaque-5 table td.texto a p.nome{	font-weight: bold;	padding-top: 19px;}
.novoDestaque .destaque-5 table td.texto a p.horario{	padding: 2px 0 10px 0;}
/* /Nova Home */
/* Novo No Ar */
/*.novoNoAr{	margin-top:0;}*/
.novoNoAr .enunciado{	background-color: #f3f3f3;	text-align: left;}
.novoNoAr .enunciado{	float: left;	width: 970px;	height: 21px;}
.novoNoAr .enunciado h2{	background-color: #ff6633;	color: #fff;	float: left;	font-size: 14px;	font-weight: bold;	padding: 2px 10px;	text-transform: uppercase;}
.novoNoAr .enunciado span{	background: url(../../images/ponta-destaque-new2.png) no-repeat;	float: left;	width: 64px;	height: 21px;}
.novoNoAr .noAr-box{	background-color: #eee;}
.novoNoAr .noAr-box a img{	float: left;	width:310px;}
.novoNoAr .noAr-box a.titulos,
.novoNoAr .noAr-box p{	margin-left: 10px;	width: 300px;}
.novoNoAr .noAr-box p{	padding-bottom: 10px;}
.novoNoAr .noAr-box .chapeu {padding-bottom:0;}
.novoNoAr .site { margin-left:10px; background: url("../../images/ico-link.png") 0 4px no-repeat; font-weight: bold; padding-left: 15px; width: 250px;}
/* /Novo No Ar */
/* Proximas Atrações */
.proximasAtracoes{	margin-top: 25px;}
.proximasAtracoes .enunciado{	background-color: #ff6633;	text-align: left;}
.proximasAtracoes .enunciado{	float: left;	width: 310px;	height: 22px;}
.proximasAtracoes .enunciado h2{	color: #fff;	float: left;	font-size: 14px;	font-weight: bold;	padding: 3px 10px;	text-transform: uppercase;}
@media screen and (-webkit-min-device-pixel-ratio:0){	.proximasAtracoes .enunciado h2{
		padding: 3px 10px;
	}
}
.proximasAtracoes .proximasAtracoes-box{	background-color: #eee;	float: left;	width: 310px;}
.proximasAtracoes .proximasAtracoes-box p,
.proximasAtracoes .proximasAtracoes-box p a{	font-weight: bold;	font-size: 16px;}
.proximasAtracoes .proximasAtracoes-box p{	margin: 20px 0 0 10px;	width: 300px;}
.proximasAtracoes .proximasAtracoes-box p span{	margin-right: 10px;}
.proximasAtracoes .proximasAtracoes-box p a,
.proximasAtracoes .proximasAtracoes-box .gradeCompleta{	color: #ff6633;}
.proximasAtracoes .proximasAtracoes-box .gradeCompleta{	float: left;	font-size: 14px;	font-weight: bold;	padding: 20px 0 15px 10px;}
/* /Proximas Atrações */
/******** DESTAQUE  ********/


/******** BOX PADRAO ********/
/**** agenda ****/
#agenda {margin-top:20px;}
#agenda .abas {width:310px;}
#agenda .abas li {width:44px; margin:0; padding:0; height:32px; border:none; }
#agenda .abas li.last {float:right;}
#agenda .abas li a {padding:3px 5px;}
#agenda .abas li:hover span,
#agenda .abas li.ativo span {left:17px;}
#agenda .abas-conteudo li{ overflow:hidden; }
#agenda .abas-conteudo ul {display:none;}
#agenda .abas-conteudo li.ativo .hora a,
#agenda .abas-conteudo li:hover .hora a { color:#fff; background:#0d6104;/* background:#ff6633 */; text-decoration:none;}
#agenda .abas-conteudo li.ativo .titulos,
#agenda .abas-conteudo li:hover .titulos {color:#0d6104;/* color:#ff6633; */ }
#agenda .abas-conteudo li.ativo,
#agenda .abas-conteudo li:hover { background:none; }
#agenda .abas-conteudo li .titulos {width:230px;}
#agenda .hora { margin:10px 10px 0 0; height:65px; width:40px; float:left; }
#agenda .hora a { width:40px; height:25px; line-height:25px; display:block; font-weight:bold; background:#666; color:#fff; -moz-border-radius:2px; border-radius:2px; text-align:center;}
#agenda .hora .noar { color:#0d6104; /* color:#ff6633; */ font-size:10px; text-transform:uppercase; text-align:center; line-height:normal; }
#agenda .txt-padrao { float:left; width:240px; margin-bottom:10px; }
#agenda .completa { text-align:right; display:block; text-transform:uppercase; font-size:10px; background:#fff; width:305px; padding:0 5px 5px 0; }
.box-padrao .abas .chat { width:60px; height:29px; border-bottom:none;}  
.box-padrao .abas .chat .decoracao { left:23px;}
.box-padrao .abas .twitter { width:81px; height:32px; border-bottom:none; margin:0 0 12px 10px;}  
.box-padrao .abas .twitter .decoracao { left:34px;}
/**** /agenda ****/

/**** borda ****/
.box-borda .conteudo { background:url(../../images/borda-box.jpg) repeat-y; margin-top:-30px; overflow:hidden; }
.box-borda .bg-branco,
.box-borda .conteudo ul,
.box-borda .conteudo ol,
.box-borda .conteudo .txt-padrao { background:#ffffff; margin:20px 0 0 16px; padding:10px 0 0 10px; overflow:hidden; width:283px; }
.box-borda .bg-branco {padding-top:0 !important;}
.box-borda .bg-branco a { width:200px;}
.box-borda .conteudo li { width:273px; text-align:left; }
.box-borda .detalhe-borda { background:url(../../images/detalhe-borda.png) no-repeat 5px 0; height:16px; }
.box-borda .last { margin-bottom:0; padding-bottom:0; }
/**** /borda ****/

/**** facebook ****/
.facebook { padding:10px; }
/**** /facebook ****/

/**** cadastre ****/
.box-cadastre { background:#ccc; overflow:hidden; }
.box-cadastre .ipt-submit,
.box-cadastre label { text-transform:uppercase; font-weight:bold; }
.box-cadastre label {  margin:10px; float:left; width:290px; text-align:center; }
.box-cadastre .ipt-txt, 
.box-cadastre .ipt-submit { float:left; } 
.box-cadastre .ipt-txt { width:207px; border:1px solid #b4b4b4; margin:0 0 10px 10px; line-height:24px; height:24px;   }
.box-cadastre .ipt-submit { background:#cecece; border:1px solid #c5c5c5; font-size:14px; width:80px;line-height:26px; height:26px;   }
/**** cadastre ****/

/**** chat ****/
.box-chat { margin-top:-10px;  }
/**** /chat ****/

/**** datepicker ****/
.box-padrao #datepicker .ui-widget { width:310px; }
.box-padrao #datepicker .ui-datepicker-title { width:120px; float:left; margin:0 20px; text-align:center; }
.box-padrao #datepicker .ui-datepicker-title span { font:bold 16px arial; color:#333; }
.box-padrao #datepicker .ui-corner-all { float:left; }
.box-padrao #datepicker .ui-datepicker-next { float:right; }
.box-padrao #datepicker .ui-corner-all { -moz-border-radius:none; }
.box-padrao #datepicker .ui-widget-content { background:none; border:none; }
.box-padrao #datepicker .ui-widget-header { background:none; border:none; width:190px; margin-left:61px; }
.box-padrao #datepicker .ui-widget-header .ui-icon { background:url(../../images/seta-calendario.png) no-repeat; height:12px; width:12px; }
.box-padrao #datepicker .ui-datepicker-next .ui-icon { background-position:0 -12px; } 
.box-padrao #datepicker table { width:310px; margin-top:15px; }
.box-padrao #datepicker caption,
.box-padrao #datepicker th {  text-align:center; width:44px; float:left; }
.box-padrao #datepicker tr { width:310px; }
.box-padrao #datepicker table thead { width:310px; }
.box-padrao #datepicker table thead th span { font:bold 10px arial; color:#333; text-transform:uppercase; }
.box-padrao #datepicker tbody { margin-top:10px; width:310px; float:left; }
.box-padrao #datepicker .ui-state-default { background:transparent; width:42px; height:26px;  text-align:center; display:block; font:bold 12px arial; color:#333; border:none;  line-height:26px; margin:0 2px 2px 0; }  
.box-padrao #datepicker .ui-widget-content .ui-state-active,
.box-padrao #datepicker .ui-state-hover, 
.box-padrao #datepicker .ui-widget-content .ui-state-hover, 
.box-padrao #datepicker .ui-widget-header .ui-state-hover, 
.box-padrao #datepicker .ui-state-focus, 
.box-padrao #datepicker .ui-widget-content .ui-state-focus, 
.box-padrao #datepicker .ui-widget-header .ui-state-focus { /*background:#ff6633;*/ background:#0D6104; color:#fff; text-decoration:none; }
.box-padrao #datepicker .ui-widget-content .ui-datepicker-next:hover,
.box-padrao #datepicker .ui-widget-content .ui-datepicker-prev:hover { background:none;  border:none; }
.box-padrao #datepicker tbody span { background:transparent; color:#333;}
.box-padrao #datepicker tbody a { background:#fff; color:#333; text-decoration:none; }
.box-padrao #datepicker tbody a:hover {background:#ff6633; color:#fff;}
/**** /datepicker ****/

/** drop pequeno **/
#drop-peq  li { width:310px; }
#drop-peq .barra-grade .txt-16 { text-transform:uppercase; margin-left:10px; }
#drop-peq .grade { background:none; padding:0; }
#drop-peq .grade a { background:none; font-weight:normal; padding-left:0; width:auto; }
/** drop pequeno **/

/**** enquete ****/
.box-borda .enquete { background-position:0 -110px; }
.box-borda .enquete p { font-weight:bold; }
.box-borda .enquete form { overflow:hidden; margin-top:10px; }
.box-borda .enquete form p { font-weight:normal; }
.box-borda .enquete .linha { position:relative; height:20px; }
.box-borda .enquete .linha input { position:absolute; top:3px; }
.box-borda .enquete .linha label { margin-left:20px; }
.box-borda .enquete .votar { width:59px; height:21px; line-height:21px; float:right; margin:10px 10px 0; background:#ff6633; border:none; color:#fff; font-weight:bold; text-transform:uppercase; padding-bottom:2px; }
.box-borda .enquete .escuro { background:#333;}
.enquete .resultado p {margin-bottom:0;}
.enquete .resultado .porcentagem { width:277px; height:17px; background:#dfdfdf; margin-bottom:5px;} 
.enquete .resultado .porcentagem p { background:#6bde9c; font-weight:bold; height:17px;}
.enquete .resultado .porcentagem .p70 {width:70%}
.enquete .resultado .porcentagem .p20 {width:20%}
.enquete .resultado .porcentagem .p10 {width:10%}
/**** /enquete ****/

/**** filtrar ****/
.filtrar select { width:272px; border:1px solid #c5c5c5; height:24px; float:left; margin-right:5px; }
.filtrar input { background:#333; color:#fff; border:none; padding:0 5px; height:24px; text-transform:uppercase; font-weight:bold; text-align:center; font-size:12px; }
.filtrar form {clear:both;}
/**** /filtrar ****/

/** flickr **/ 
.box-flickr { text-align:center; }
#flickr_badge_source_txt {padding:0; font: 11px Arial, Helvetica, Sans serif; color:#666666;}
#flickr_badge_icon {display:block !important; margin:0 !important; border: 1px solid rgb(0, 0, 0) !important;}
#flickr_icon_td {padding:0 5px 0 0 !important;}
.flickr_badge_image {text-align:center !important;}
.flickr_badge_image img {border: 1px solid black !important;}
#flickr_www {display:block; padding:0 10px 0 10px !important; font: 11px Arial, Helvetica, Sans serif !important; color:#3993ff !important;}
#flickr_badge_uber_wrapper {margin-left:34px;}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {text-decoration:none !important; background:inherit !important;color:#3993ff;}
#flickr_badge_wrapper {background-color:#ffffff;}
#flickr_badge_source {padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#666666 !important;}
/** /flickr **/

/* informacao */
.informacao .topo { margin-bottom:0; }
.informacao .conteudo { background:#fff;  margin-left:15px; padding:10px; }
.informacao .conteudo .txt-12 { line-height:16px; }
.informacao .conteudo .txt-12 span { font-weight:normal }
.informacao .conteudo .txt-16 { margin-top:20px; }
/* informacao */

/* js */
.nav-conteudo li {border-bottom:none;}
.nav-conteudo li.filho { display:none; } 
.nav-conteudo li:first-child { display:block; }
.box-padrao .carrossel-menu ul { height:320px; }
.box-padrao .carrossel-menu li { border:none; float:left; height:315px; }
.carrossel-menu .txt { clear:both; }
.carrossel-menu .titulos { *width:300px; *float:left;}
/* js */

/**** link2 ****/
.link2 li a { background:url("../../images/bg-link.png") no-repeat scroll 0 5px transparent }
/**** link2 ****/

/**** link ****/
.box-links li { background:url(../../images/bg-link.png) no-repeat 0 5px; border:none; padding-bottom:0;  }
.box-links a { margin-left:20px; }
/**** /link ****/

/**** naTV ****/
.natv,
.natv .capa-titulo {width:640px;}
.natv .capa-titulo {margin-bottom:10px;}
.natv .capa-titulo h4 {width:500px; float:left; margin-left:5px;}
.natv .carrossel {clear:both; height:160px; margin:0; width:640px;}
.natv .carrossel .jcarousel-list {} 
.natv .carrossel .jcarousel-item {width:200px; height:160px; margin:0 20px 0 0; border:none;}
.natv .carrossel .jcarousel-prev {top:-29px; right:27px;}
.natv .carrossel .jcarousel-next {top:-29px; right:5px;}
/**** /naTV ****/

/**** newsletter ****/
.box-borda .newsletter { background-position: 0 -240px; }
.box-borda .newsletter .ipt-txt { border:1px solid #c5c5c5; height:20px; width:212px; padding-left:5px; float:left;  }
.box-borda .newsletter .assinar { background:#ff6633; width:64px; height:22px; line-height:22px; border:none; text-transform:uppercase; color:#fff; font-weight:bold; font-size:12px; }
/**** /newsletter ****/

/**** noticia ****/
.noticia p {clear:both;}
.noticia a { width:310px; height:186px; overflow:hidden; display:block; margin-bottom:10px;}
.noticia .titulos {margin-bottom:0;}
/*.noticia img {width: 331px; float: right; margin-top: -31px;}*/
.noticia img {width:310px; float:left;}
.noticia img.img-video {width: 339px;float: right;margin-top: -35px;}
.noticia .img-video {width:350px; float:left; margin:-44px 0 0 -14px;}
.noticia2 .titulos { margin-top:10px;}
.noticia2 h3,
.noticia2 h3 a {font-size:20px; line-height:24px;}
/**** /noticia ****/

/**** para ouvir ****/
.para-ouvir a { background:url(../../images/bg-link2.png) no-repeat 0 2px; padding-left:20px; font-size:16px; font-weight:bold; display:block; }
.para-ouvir { background-position:0 -57px; }
.para-ouvir .txt { background:none; font-weight:normal; clear:both; font-size:14px; padding-left:20px; }
/**** /para ouvir ****/

/**** podcast ****/
.podcast .img-310x186 { background:none; margin:0; padding:0;}
.podcast { margin:0; }
/**** /podcast ****/

/**** previsao do tempo ****/
.box-previsao .topo { margin-bottom:10px; }
.box-previsao img { width:122px; height:114px; float:left;  }
.box-previsao .dado-tempo { width:178px; margin-left:10px; float:left;  }
.box-previsao .dado-tempo p { font-weight:bold; }
.box-previsao .dado-tempo .txt-12 { text-transform:uppercase; }
.box-previsao .dado-tempo .max,
.box-previsao .dado-tempo .min { width:60px; float:left; }
.box-previsao .dado-tempo .max { margin-right:20px; }
.box-previsao .dado-tempo a { width:100%; margin-top:20px; float:left; text-align:left; text-decoration:underline; }
.tempo .marg { margin-right:5px;}
/**** /previsao do tempo ****/


/**** rede ****/
.rede { position:relative; }
.rede .rede-artista { background:#fff; overflow:hidden; width:84px; height:16px; padding:3px 0 3px 5px; position:absolute; top:200px; right:1px; }
.rede .rede-artista li { width:16px; margin:0 5px 0 0; float:left; border:none; padding:0; }
.rede .rede-artista li a { background:url(../../images/rede-artista.png) no-repeat; width:16px; height:16px; display:block; }
.rede .rede-artista .fb { background-position:0 -16px; }
.rede .rede-artista .twt { background-position:0 -32px; }
.rede .rede-artista .ytb { background-position:0 -48px; }
/**** /rede ****/

/**** top ****/
.box-borda .conteudo span { font-weight:bold; font-size:16px; }
.box-borda .tipo2 a { font-weight:bold; }
.box-borda .tipo2 li { margin-left:0; }
/**** /top ****/

/**** twitter ****/
#twtr-widget-1 .twtr-tweet a,
#twtr-widget-1 .twtr-bd,
#twtr-widget-1 .twtr-timeline i a,
#twtr-widget-1 .twtr-bd p {font-size:12px;}
.twtr-timeline,
.twtr-doc { border-radius:0  !important; -moz-border-radius:0 !important; }
.box-twitter {margin-top: -28px; background:#fff; padding-top:10px; border-bottom:1px solid #333; }
.twitter-aovivo .twtr-ft div, 
.twitter-aovivo .twtr-hd {display:none;}
/**** /twitter ****/

/**** video ****/
.carrossel-videos { background:#fff; width:310px;}
.carrossel-videos .media {width:310px; height:216px;}
.carrossel-videos .abas-conteudo,
.carrossel-videos .abas-conteudo li {/*height:345px;*/ height:auto; overflow:hidden;}
.carrossel-videos .abas-conteudo li p {max-height:98px; width:290px;}
.carrossel-videos .media .capa-video {width:310px; height:144px; position:absolute; top:20px; left:0; z-index:1000;}
.carrossel-videos .titulos { font-size:16px; margin:10px 0 0 10px;}
.carrossel-videos .box-compartilhar {position:absolute; bottom:0; left:0;}
.carrossel-videos .box-compartilhar .compartilhar {border-color:#0d6104;/* border-color:#ff6633 */; height:17px;}
.carrossel-videos .conteudo {margin-bottom:10px;}
/**** /video ****/

/**** youtube ****/
.ytb-direct { border:3px solid #e7e7e7; width:304px; background:#fff; }
.ytb-direct img { width:196px; height:20px; float:left; margin:10px 0 0 10px; }
.ytb-direct p { margin:10px 0 0 10px; float:left; font-size:16px; font-weight:bold; clear:both;}
.ytb-direct p {*width:285px;}
.ytb-direct ul { margin:10px 0 10px 10px; float:left;}
.ytb-direct ul {*width:284px; _margin-left:0;}
.ytb-direct ul li { margin-right:7px; float:left; width:90px; border:none; }
.ytb-direct ul li a { display:block; }
.ytb-direct ul img { width:90px; height:54px; margin:0; }
.ytb-direct .txt-16 { background:url(../../images/bg-btn-ytb.jpg) repeat-x ; width:146px; height:32px; border:none; -moz-border-radius:3px; border-radius:5px; margin:0 0 20px 79px; text-align:center; float:left; color:#fff; font-weight:bold; font-size:16px; }
/**** /youtube ****/
/******** /BOX PADRAO ********/

/**** COMENTARIO FACEBOOK ****/
.comentario-fb { background:#f5f5f5; margin-top:10px; }
/**** /COMENTARIO FACEBOOK ****/

/**** GALERIA ****/
.box-galeria { text-align:left; }
.box-galeria li { width:310px; float:left; height:229px; overflow:hidden; }
.box-galeria .bg {height:186px; width:310px; display:block; overflow:hidden;}
.box-galeria .bg img {width:310px;}
.box-galeria .center { margin:0 20px; }
.box-galeria li .bg span {position:absolute; bottom:10px; right:10px; background:url(../../../images/btn-play.png) no-repeat 0 -16px; width:16px; height:16px; }
.box-galeria li .bg:hover span {background-position:0 -32px;}
/**** GALERIA ****/

/**** GRADE ****/
.menu-calendario { position:relative; overflow:hidden;}  
.menu-calendario .btn { float:left; background:url(../../images/btn-paginacao.png) no-repeat scroll 0 -18px transparent; }/*Seta paginação*/
.menu-calendario .proximo { background-position:0 0; float: right;}    
.menu-calendario  .carrossel-menu { width:357px; margin-top:0;}  
.menu-calendario  .carrossel-menu ul { position:absolute; top:0; left:11px; }  
.menu-calendario  .carrossel-menu li { width:310px; text-align:center; font-size:16px; font-weight:bold; height:20px; line-height:20px; margin:0 10px; text-align:center; border-bottom:none;}  
.menu-calendario  .carrossel-menu li:hover,
.menu-calendario  .carrossel-menu li.ativo {background:none;}
.calendario-escuro { background:#fff; }
.calendario-escuro a { background-position:0 -48px; margin:6px 10px; }
.calendario-escuro .txt-12 { width:877px; background:none; font-weight:bold; }
.calendario-escuro .txt-12 span { color:#0d6104; /* color:#ff6633; */ }
.lista-calendario { overflow:hidden;  }
.lista-calendario li { margin-bottom:20px; float:left; width:640px;  }
.lista-calendario .barra-grade {  background:#fff; height:30px; border-bottom:2px solid #f5f5f5; border-right:2px solid #f5f5f5; }
.lista-calendario .barra-grade a,
.lista-calendario .barra-grade p { float:left;  line-height:30px; font-weight:bold; font-size:16px;  }
.lista-calendario .barra-grade .tit { width:460px; overflow:hidden; text-align:left; height:30px;}
.lista-calendario .barra-grade a:hover {text-decoration:none;}
.lista-calendario .barra-grade .hora {  margin:0 20px 0 10px; font-size:25px; }
.lista-calendario .barra-grade .botao { background:url(../../images/ico-drop.png) no-repeat; width:16px; height:16px; display:block; float:right; margin:7px 7px 0 0; } /*Seta barra grande*/
.lista-calendario .escura { background:#333; }
.lista-calendario .escura a,
.lista-calendario .escura p { color:#fff; }
.lista-calendario .escura .botao { background-position:0 -16px; }/*Seta barra grande position*/
.lista-calendario .grade { padding:10px; background:#fff; overflow:hidden; float:left; text-align:left; display:none; width:620px;  }
.lista-calendario .grade img { float:left; width:200px; margin-bottom:10px; }
.lista-calendario .grade a { background:url(../../images/ico-link.png) no-repeat 0 4px; padding-left:15px; width:250px; font-weight:bold;}
.lista-calendario .grade .site {margin-left:0; font-size: 14px;}
.lista-calendario .grade p {  margin:0 0 10px 0; width:610px;}
.lista-calendario .grade p a {/* color:#ff6633; */ color:#0d6104; font-weight:bold;}
.lista-calendario .grade .txt { font-weight:normal; line-height:20px; }
.lista-calendario .grade .google-agenda { background:none; width:120px; padding:0; float:right}
.lista-calendario .grade .google-agenda img { margin:0;}
.lista-calendario .grade .mg { margin-left:10px; }
.lista-calendario .grade .info { font-size:16px; margin:10px; float:left; clear:both; font-weight:bold; }
.lista-calendario .grade .mais { float:right; font-weight:bold; width:85px; margin-right:10px; background:none; margin-bottom:10px; }
.lista-calendario .grade .capa-foto img { margin:0; width:310px; float:left; }
.lista-calendario .grade .reprise { color:#0d6104; /*color:#ff6633;*/ margin:0 0 10px 0; font-size:12px; font-weight:bold; line-height:14px; }
.lista-calendario .capa-foto { width:310px; height:186px; overflow:hidden; margin:0 10px 0 0; float:left; }
.lista-calendario .capa-foto .legenda {  background:#efefef; font-size:10px; color:#666; padding:5px 0 0 5px; width:305px; margin:0; float:left; }
.lista-calendario .informacoes { margin-left:10px; width:500px; font-weight:bold; font-size:16px; }
.lista-calendario .informacoes li  { font-size:14px; width:620px; line-height:21px; margin-top:0; margin-bottom:10px; }
.lista-calendario .grade .informacoes p { float:left; font-weight:normal; width:499px; line-height:21px; margin:0; }
.lista-calendario .informacoes span { background:#333; color:#fff; padding:0 5px; font-weight:bold; margin-right:10px;  font-size:12px; float:left; }
.lista-calendario .informacoes .localizacao { text-transform:uppercase; color:#fff; background:#ff6633 url(../../images/ico-mapa.png) no-repeat 6px 3px; display:block; width:108px; padding:0 5px 0 20px; margin-left:0; float:right; line-height:21px; height:21px; }
.lista-calendario .box-compartilhar { margin-top:10px; }
.lista-calendario .box-compartilhar .comentar {width:120px; padding:0;}
.lista-calendario .btn-compartilhar a {width:16px; padding:0; margin:0;}
.lista-calendario .btn-compartilhar p {margin:5px 0 0 0;}
.lista-calendario .btn-compartilhar a { background:url(../../images/ico-compartilhar.png) no-repeat; width:16px; height:16px; float:left; margin:7px 0 0 5px; }
.lista-calendario .btn-compartilhar .fb { background-position: 0 -161px; }
.lista-calendario .btn-compartilhar .twt { background-position: 0 -145px;}

/**** contador ****/
.contador { clear:both; }
.contador p { font-weight:bold; margin:20px 0 40px 0; font-size:16px; clear:both }
.contador .proximos { margin:0 0 20px 0; text-align:left; }
.contador span { font-size:25px; color:#0d6104; /* color:#ff6633; */ margin:0 20px; }
/**** /contador ****/

/**** links ****/
.box-interna .texto p a,
.lista-calendario .grade p a {color:#0d6104; /* color:#ff6633; */ font-weight:bold;}
/**** /links ****/
/**** /GRADE ****/

/******** LISTA BASICA ********/
.lista-basica li { text-align:left; font-size:14px; color:#333; margin-bottom:20px; }
/********* /LISTA BASICA ***********/

/******** LISTA BLOGS ********/
.blocos .lista-blogs { text-align:left;  margin:10px 0 0 0; float:left; height:930px; }
.blocos .lista-blogs li { width:206px; height:220px; float:left; margin:0 7px 10px 0; }
.blocos .lista-blogs li .foto { width:206px; height:126px; display:block; clear:both; }
.blocos .lista-blogs li .titulos { font-size:16px; font-weight:bold;}  
.blocos .lista-blogs li p { clear:both;}  
.blocos .lista-blogs li a { font:normal 14px arial; } 
.blocos .lista-blogs .txt { margin-top:10px; display:block;  }
.blocos .lista-blogs .titulo { margin-bottom:0; color:#0d6104; /*color:#ff6633;*/ }
.blocos .lista-blogs .titulo:hover { color:#0d6104; /*color:#ff6633;*/ }
/******** /LISTA BLOGS ********/

/******** PAGINACAO ********/
.paginacao { background:#333; height:24px; line-height:24px; float:left; }
.paginacao p { color:#fff; margin-left:10px; margin-top:2px; float:left; font-weight:bold; }
.paginacao a { float:right; width:16px; height:18px; background:url(../../images/btn-paginacao.png) no-repeat 0 -90px; display:block; margin:4px 4px 0 0; }
.paginacao .proximo { background-position:0 -72px; }
.pag3,
.pag2 { background:#fff; border-bottom:2px solid #f5f5f5; border-right:2px solid #f5f5f5;  }
.pag3 p,
.pag2 p { color:#333;  }
.pag2 a { background-position:0 -16px }
.pag2 .proximo { background-position: 0 2px; }
.pag3 a { background-position:0 -52px; }
.pag3 .proximo { background-position:0 -34px; }
.setas .anterior { float:left; margin-left:5px; }
/******** /PAGINACAO ********/

/******** MENU RODAPE ********/
#menu-rodape  { margin:20px 0; }
.abas { overflow:hidden; position:relative; z-index:3; background:url(../../images/bg-abas.png) repeat-x}
.abas li { float:left; margin-right:56px;  height:34px; position:relative; }
.abas li a { font:bold 14px arial; display:block; text-transform:uppercase; text-align:center; color:#fff; padding:3px 10px; background:transparent; height:22px; line-height:22px;   }
.abas li.ativo a,
.abas li:hover a { background:#ff6633;  }
.abas li:hover a { text-decoration:none; }
.abas li .decoracao  { background:none; width:12px; height:6px; position:absolute; bottom:0; }
.abas li.ativo .decoracao,
.abas li:hover .decoracao { background:url(../../images/bg-menu-rodape.png) no-repeat; }/*decoração menu*/
.abas .low { text-transform:lowercase; color:#fff; }
#menu-rodape .abas-conteudo { background:url(../../images/bg-dot-light.jpg) repeat; margin-top:-23px; padding-top:10px; }
#menu-rodape .abas-conteudo .filho { display:none; }
#menu-rodape .abas { padding-left:23px; width:950px; }
#menu-rodape .abas .arte-cultura {margin-right:0;}
#menu-rodape .neutro { margin:2px 28px 0 -23px; background:#ebebeb; font-weight:bold; height:24px; line-height:24px;  padding:0 10px; width:auto; }
#menu-rodape .neutro p { height:24px; line-height:24px; color:#333333; text-transform:uppercase; text-align:center; } 
#menu-rodape .neutro:hover  { background:#ebebeb;}  
#menu-rodape .blocos .musica a.bg:hover { border-color:#369ae3; } 
#menu-rodape .blocos .educacao a.bg:hover { border-color:#96a84c }
#menu-rodape .blocos .infantil a.bg:hover { border-color:#dcaf00} 
#menu-rodape .blocos .arte a.bg:hover { border-color:#9d44d5 }
#menu-rodape .blocos .especiais a.bg:hover { border-color:#ee2125 }
#menu-rodape .blocos .juvenil a.bg:hover { border-color:#ed1089 }

/* minha cultura */
#menu-rodape .abas .minha-cultura.ativo span,
#menu-rodape .abas .minha-cultura:hover span { background-position: 0 0; left:61px; }
/* /minha cultura */

/* musica */
#menu-rodape .abas .musica.ativo a,
#menu-rodape .abas .musica:hover a { background:#369ae3; }
#menu-rodape .abas .musica.ativo span,
#menu-rodape .abas .musica:hover span { background-position: 0 -6px; left:31px; }
/* jornalismo */
#menu-rodape .abas .jornalismo.ativo a ,
#menu-rodape .abas .jornalismo:hover a { background:#ff6633; }
#menu-rodape .abas .jornalismo.ativo span,
#menu-rodape .abas .jornalismo:hover span { background-position: 0 0; left:50px; }
/* /jornalismo */

/* educacao */
#menu-rodape .abas .educacao.ativo a ,
#menu-rodape .abas .educacao:hover a  { background:#96a84c; }
#menu-rodape .abas .educacao.ativo span,
#menu-rodape .abas .educacao:hover span { background-position: 0 -12px; left:43px; }
/* /educacao */

/* infantil */
#menu-rodape .abas .infantil.ativo a,
#menu-rodape .abas .infantil:hover a  { background:#dcaf00; }
#menu-rodape .abas .infantil.ativo span,
#menu-rodape .abas .infantil:hover span { background-position: 0 -18px; left:35px; }
/* /infantil */

/* arte-cultura */
#menu-rodape .abas .arte-cultura.ativo a,
#menu-rodape .abas .arte-cultura:hover a  { background:#9d44d5; }
#menu-rodape .abas .arte-cultura.ativo span,
#menu-rodape .abas .arte-cultura:hover span { background-position: 0 -24px; left:63px; }
/* /arte-cultura */

/* especiais */
#menu-rodape .abas .especiais.ativo a,
#menu-rodape .abas .especiais:hover a { background:#ee2125; }
#menu-rodape .abas .especiais.ativo span,
#menu-rodape .abas .especiais:hover span { background-position: 0 -30px; left:40px; }
/* /especiais */

/* juvenil */
#menu-rodape .abas .juvenil.ativo a,
#menu-rodape .abas .juvenil:hover a { background:#ed1089; }
#menu-rodape .abas .juvenil.ativo span,
#menu-rodape .abas .juvenil:hover span { background-position: 0 -36px; left:34px; }
/* /juvenil */

/* galerias */
#menu-rodape .abas .galerias.ativo span,
#menu-rodape .abas .galerias:hover span { left:75px; }
/* /galerias */

/* programas */
#menu-rodape .abas .programas.ativo span,
#menu-rodape .abas .programas:hover span { left:49px; }
/* /programas */

/* recentes */
#menu-rodape .abas .recentes.ativo span,
#menu-rodape .abas .recentes:hover span { left:47px; }
/* /recentes */

/* vistos*/
#menu-rodape .abas .vistos.ativo span,
#menu-rodape .abas .vistos:hover span { left:35px; }
/* /vistos*/

/* radio / tv*/
#menu-rodape .abas .tv.ativo span,
#menu-rodape .abas .tv:hover span,
#menu-rodape .abas .radio.ativo span,
#menu-rodape .abas .radio:hover span { left:29px; }
/* /radio / tv*/

/* tvcultura*/
#menu-rodape .abas .tvcultura.ativo span,
#menu-rodape .abas .tvcultura:hover span { left:48px; }
/* /tvcultura*/

/* univesptv*/
#menu-rodape .abas .univesptv.ativo span,
#menu-rodape .abas .univesptv:hover span { left:44px; }
/* /univesptv*/

/* multicultura*/
#menu-rodape .abas .multicultura a { text-transform:none;}  
#menu-rodape .abas .multicultura.ativo span,
#menu-rodape .abas .multicultura:hover span { left:58px; }
/* /multicultura*/

/* tvrtb*/
#menu-rodape .abas .tvrtb.ativo span,
#menu-rodape .abas .tvrtb:hover span { left:57px; }
/* /tvrtb*/


/* a-z */
#menu-rodape .abas .a-z.ativo span,
#menu-rodape .abas .a-z:hover span { left:68px; }
/* /a-z */

/* arquivo */
#menu-rodape .abas .arquivo.ativo span,
#menu-rodape .abas .arquivo:hover span { left:35px; }
/* /arquivo */

/* relacionados */
#menu-rodape .abas .relacionados.ativo span,
#menu-rodape .abas .relacionados:hover span { left:59px; }
/* /relacionados */

/* blocos */
.blocos { clear:both; height:240px; }
.blocos ul { margin:10px 0 0 25px; overflow:hidden; text-align:left; height:240px; }
.blocos li { width:206px; float:left; margin:10px; height:210px; }
.blocos li h3 { text-transform:uppercase; font-size:10px; clear:both; margin-left:3px; }
.blocos li p a { font-size:16px; font-weight:bold; margin-left:3px; }
.blocos li a.bg { width:200px; height:109px; position:relative; overflow:hidden; display:block; margin-bottom:5px; border:3px solid transparent; }
.blocos li a.bg img {height: 150px; position: relative; top: -22px; width: 200px;}
.blocos li a.bg:hover { /* border-color:#ff6633; */ border-color:#0d6104;}  
.menu2 #lista-destaques span,
.blocos li a.bg span { position:absolute; bottom:10px; right:10px; width:16px; height:16px; background:url(../../images/btn-play.png) no-repeat 0 -16px;; }
.menu2 #lista-destaques a:hover span,
.blocos li a.bg:hover span { background-position:0 -32px; }
#menu-rodape .conteudo-lista { width:206px; height:220px; float:left; margin-bottom:10px; overflow:hidden;}  
#menu-rodape .conteudo-lista .titulos { width:200px; height:60px; margin-left:3px;}
#menu-rodape #logos .carrossel,
#menu-rodape #logos .blocos,
#menu-rodape #logos .blocos ul {height:82px;}
#menu-rodape #logos .carrossel { width:930px; margin:20px 0 0 20px;}  
#menu-rodape #logos .carrossel .jcarousel-item { width:120px; height:66px; margin:0 15px 0 0;}  
#menu-rodape #logos .carrossel .jcarousel-item a { background:#f2f0f0; -moz-border-radius:8px 10px; border-radius:8px 10px; width:116px; height:62px; margin-bottom:20px; border:2px solid transparent;}
#menu-rodape #logos .carrossel .jcarousel-item a:hover,
#menu-rodape #logos .carrossel .jcarousel-item a.ativo { /* border-color:#ff6633; */ border-color:#0d6104;}  
#menu-rodape #logos .carrossel .jcarousel-item a img { margin:10px; width:92px; height:42px;}  
#menu-rodape #logos .carrossel .jcarousel-next {right:-15px;}
#menu-rodape #logos .carrossel .jcarousel-prev {right:6px;}
/* /blocos */

/* menu2 */
.menu2 .abas li { margin-left:17px; }
.menu2 .blocos ul { margin:10px 0 10px 5px; }
.menu2 #lista-destaques li { margin:0; float:left; width:210px; }
.menu2 #lista-destaques a { font-size:16px; font-weight:bold; text-align:left; color:#333; float:left; padding:5px; display:block; position:relative; }
.menu2 #lista-destaques a.ativo,
.menu2 #lista-destaques a:hover { background:#333; color:#fff; text-decoration:none; }
.menu2 #lista-destaques span { top:103px; right:20px;  }
/* /menu2 */

/* menu3 */
.menu3 #lista-destaques { margin-left:35px; }
.menu3 #lista-destaques li { width:220px; margin:0 10px 10px 0; }
.menu3 #lista-destaques li a { padding:10px; }
/* /menu3 */

/*Menu Rodapé Carrossel*/
.carrossel{ margin: 10px 0 0 31px; width:913px; }
.carrossel .jcarousel-container{ width: 870px; height: 55px; }
.carrossel .jcarousel-list{ margin:0; min-width:970px; }
.carrossel .jcarousel-item { margin-top: 10px; width:206px; }
.carrossel .musica .jcarousel-item a{ width: 200px; }
.carrossel .jcarousel-item a img{ width: 200px; height: 120px; }
.carrossel .jcarousel-item-horizontal{ margin: 10px; }
.carrossel .jcarousel-item a,
.carrossel .jcarousel-item a img{ overflow: hidden; float: left; }
.carrossel .jcarousel-item a:hover h3{ text-decoration: none; }
.carrossel .jcarousel-item a p{ color: #FF6633; font-size: 16px; font-weight: bold; margin-bottom: 15px; }
.carrossel .jcarousel-next{ background: url(../../images/btn-paginacao.png) no-repeat scroll 0 -72px; cursor: pointer; position: absolute; bottom:-20px; right:-21px;width: 16px; height: 16px; }
.carrossel .jcarousel-prev{ background: url(../../images/btn-paginacao.png) no-repeat scroll 0 -90px; cursor: pointer; position: absolute; bottom:-20px; right:0; width: 16px; height: 16px;}
.carrossel .musica .jcarousel-item a p,
.carrossel .jornalismo .jcarousel-item a p,
.carrossel .educacao .jcarousel-item a p,
.carrossel .infantil .jcarousel-item a p,
.carrossel .arte .jcarousel-item a p,
.carrossel .especiais .jcarousel-item a p,
.carrossel .juvenil .jcarousel-item a p{ font-size: 16px; font-weight: bold; margin-bottom: 15px; }
.carrossel .musica .jcarousel-item a p{ color: #369AE3; }
.carrossel .jornalismo .jcarousel-item a p{ color: #FF6633; }
.carrossel .educacao .jcarousel-item a p{ color: #96A84C; }
.carrossel .infantil .jcarousel-item a p{ color: #DCAF00; }
.carrossel .arte .jcarousel-item a p{ color: #9D44D5; }
.carrossel .especiais .jcarousel-item a p{ color: #EE2125; }
.carrossel .juvenil .jcarousel-item a p{ color: #ED1089; }
/*Menu Rodapé Carrossel*/
/******** /MENU RODAPE ********/

/******** PREVISAO ********/
.previsao { position:relative; width:850px; height:885px; margin:20px 0 0 50px; float:left; background:url(../../images/mapa-tempo.png) no-repeat; }
.previsao { background-image:url(../../images/mapa-tempo.gif); margin-bottom:20px; }
.previsao .regiao { border:3px solid #52cbb2; width:150px; height:170px; position:absolute; }
.previsao .norte { top:50px; left:0;  }
.previsao .nordeste { border-color:#b97fde; top:120px; right:0; }
.previsao .centro-oeste { border-color:#f49373; top:400px; left:210px; }
.previsao .sudeste { border-color:#f362b1; bottom:210px; right:95px; }
.previsao .sul { border-color:#7bbced; bottom:0; right:290px; }
/******** /PREVISAO ********/

/******** QUINTAL DA CULTURA ********/
#box-infantil { margin-top:10px; margin-bottom:20px; float:left; }
#box-infantil a{ color: #fff; font-weight: bold; text-decoration: none; /*colocar na regra geral*/; text-transform: uppercase; /*colocar na regra geral*/}
#box-infantil .tudo a img{ border: none; margin: 0; width: 310px; height: 189px; }
#box-infantil .btn-barra .pontaBarra{ margin-left: 2px; }
#box-infantil .btn-barra a { color: #6B6B6B !important; width:258px; text-align:center;}
#box-infantil .tudo .box-carrossel{ background-color: #fff; margin-left: 2px; width: 306px; margin-bottom:10px; }
#box-infantil .box-carrossel span.picote{ background: url(../../images/bg-picote.png) no-repeat;  display: block; width: 306px; height: 3px; }
#box-infantil .box-carrossel .jcarousel-container{  margin-left: 2px; width: 274px; height: 55px; }
#box-infantil .carrossel .jcarousel-clip{ left: 13px; margin: auto; width: 275px; height: 66px; }
#box-infantil .carrossel ul{ margin-top: 7px; }
#box-infantil .carrossel .jcarousel-item{ width: 93px; height: 66px; }
#box-infantil .carrossel .jcarousel-item a img{ width: 90px; height: 55px;}
#box-infantil .carrossel .jcarousel-item-horizontal{ margin-right: 0px; }
#box-infantil .carrossel .jcarousel-item a,
#box-infantil .carrossel .jcarousel-item a img{ overflow: hidden; float: left; }
#box-infantil .carrossel .jcarousel-item a:hover{ border: 3px solid #dcaf00; }
#box-infantil .carrossel .jcarousel-item a:hover img{ margin: -3px; }
#box-infantil .carrossel .jcarousel-next{ background: url(../../images/ico-spriteSeta.png) repeat -54px -18px; cursor: pointer; position: absolute; top: 30px; left: 290px; width: 12px; height: 18px; }
#box-infantil .carrossel .jcarousel-prev{ background: url(../../images/ico-spriteSeta.png) repeat 0 -18px; cursor: pointer; position: absolute; top: 30px; left: 0; width: 12px; height: 18px; }
#box-infantil .box-chamada a.tit,
#box-infantil .box-chamada a.txt{ float: left; margin: 3px 0 0 5px; width: 290px; }
#box-infantil .box-chamada a.tit{ font-size: 16px; font-weight: bold; }
#box-infantil .box-chamada a.txt{ color: #6b6b6b !important; font-size: 14px; margin-bottom: 10px; }
.infantill ul.conteudo{ margin-top: 15px; }

/*btn-barra*/
.btn-barra{ background-color: #dddfe0; height: 23px; padding-top: 1px; width:310px; }
.btn-barra .pontaBarra{ background: url(../../images/bg-parafusoLeft.png) no-repeat; display: block; float: left; width: 25px; height: 23px; }
.btn-barra .caudaBarra{ background: url(../../images/bg-parafusoRight.png) no-repeat; display: block; float: left; width: 25px; height: 23px; }
.btn-barra a{ background: url(../../images/bg-barra.png) repeat-x;  color: #6b6b6b; font-size: 15px; font-weight: bold; float: left; line-height: 23px; padding: 0 0px; text-decoration: none; text-transform: uppercase; }
hr{ clear: both; display: block; height: 0px; visibility: hidden; }
/******** /QUINTAL DA CULTURA ********/

/******** VIDEOS ********/
#box-videos .chapeu {width:150px; display:none;}
#box-videos .txt { font-weight:bold; width:149px; font-size:14px; display:block; height:84px; }
#box-videos .carrossel {margin:0; width:310px;}
#box-videos .carrossel .jcarousel-item {height:330px;}
#box-videos .carrossel .jcarousel-item .img-150x90 {border:3px solid transparent; display:block; float:left; margin-right:10px; width:144px; height:84px;}
#box-videos .carrossel .jcarousel-item .img-150x90:hover {/*border-color:#ff6633;*/ border-color:#0d6104;}
#box-videos .carrossel .jcarousel-item a img { height: 112px; position: relative;top: -14px; width: 150px;}
#box-videos .carrossel li {width:310px; margin:0;}
#box-videos .carrossel .jcarousel-item a,
#box-videos .carrossel .jcarousel-item a img{ float:none; }
#box-videos .conteudo-lista {margin-bottom:10px; height:90px; overflow:hidden;}
#box-videos .paginacao {width:308px;}
#box-videos .carrossel .jcarousel-prev {background-position:0 -54px; right:28px;}
#box-videos .carrossel .jcarousel-next {background-position:0 -36px; right:7px;}
#box-videos .carrossel .jcarousel-prev, 
#box-videos .carrossel .jcarousel-next {*bottom:-20px;}
#box-videos .carrossel .jcarousel-item a img {width:150px;}
/******** /VIDEOS ***********/

/** AUDIO **/
div.jp-audio {clear:both;}
/** /AUDIO **/
#v2 li { width: 193px; float: left; border-right:1px solid #fff; overflow: hidden;}
#v2 li .foto {padding:0; display:block; width:193px; overflow:hidden; height:241px;}
#v2 li a {/*padding:0 5px;*/}
#v2 li:last-child {border-right:none;}
#v2 .logo {background:#fff; height:80px; overflow:hidden; }
#v2 .logo a { display:block; }
#v2 .descricao { background:#eee; overflow:hidden; padding-top:5px; min-height:65px; }
#v2 .descricao a {display:block; margin-bottom:7px;}
#v2 .descricao .tit { font-weight:bold; overflow:hidden; }

#saibamais h4 {font-size:10px; text-transform:uppercase; color:#333; border-bottom:1px dotted #666; padding-bottom:3px; margin-bottom:3px;}
#saibamais .conteudo { clear:both;}
#saibamais .conteudo li {margin:0 0 10px 0;}
#saibamais .titulos {color:#0d6104; /*color:#ff6633;*/}

/* TWITTER */
#twitter {border:1px solid #666}
#twitter .topo-fb { background-color:#666; overflow:hidden; padding:10px; text-align:left;}
#twitter .avatar { margin-right:10px; float:left; }
#twitter .topo-fb img { width:31px; margin-bottom:0; }
#twitter .topo-fb h3 {font-size:11px; color:#fff; margin:0;}
#twitter .topo-fb h4 a {font-size:14px; color:#fff; font-weight:bold;}
#twitter ul {background:#fff; height:360px; overflow:hidden; overflow-y: scroll; !important;}
#twitter ul img {width:30px;}
#twitter ul li {border-bottom:1px dotted #ddd; padding-top:5px; text-align:left; overflow:hidden; margin-top:0; padding-bottom:0;}
#twitter ul .avatar {margin: 10px;}
#twitter ul li a { color:#0d6104; /*color:#ff6633;*/}
#twitter ul li a,
#twitter ul li p {font-size:12px; line-height:16px; margin-bottom:5px;/*margin-left:50px; padding-right:20px;*/}
#twitter ul li p {width:290px;}
#twitter ul li:last-child {border:none; margin-bottom:10px;}
#twitter .respiro {background:#ffffff; height:20px; display:none;}
#twitter ul em a {margin:0; padding:0;}
/* /TWITTER */

/*FORMULARIO LATERAL */
.form-lateral {background:#fff;}
.form-lateral .box-padrao {margin:5px;}
.form-lateral .box-padrao { _margin:0; }
.form-lateral .box-padrao .titulos {margin-bottom:0;}
.form-lateral .box-padrao p {clear:both; margin-bottom:10px;}
.form-lateral .contato {margin:5px; background:#ffffff; overflow:hidden;}
.form-lateral .contato form .t1 { width:228px; }
.form-lateral .contato form .regulamento { border: 1px solid #BFBFBF;  height: 307px;  overflow-y: scroll; width:284px; padding:5px; margin-right:0;}
.form-lateral .contato form .regulamento p, 
.form-lateral .contato form .regulamento li, 
.form-lateral .contato form .regulamento a {color: #333333;font-size: 12px;}
.form-lateral .contato form .regulamento li {margin-bottom:10px;}
.form-lateral .contato form .regulamento p {margin-bottom:5px;}
.form-lateral .contato .codigo .caracteres,
.form-lateral .contato .codigo .msg { width: 294px;}
.form-lateral .contato form .t1 label, 
.form-lateral .contato form .t1 input { width:224px; }
.form-lateral .contato form .t3 { width:298px;}
.form-lateral .contato form textarea {width: 292px;}
.form-lateral .contato form .t3 label, 
.form-lateral .contato form .t3 input {width:294px;}
.form-lateral .contato form .linha select {width:60px;}
.form-lateral .contato form .t2 label, 
.form-lateral .contato form .t2 input {width:56px;}
.form-lateral .contato form .concordo .check { width:15px; float:left; border:none; }
.form-lateral .contato form .concordo label { text-transform:none; font-size:12px; font-weight:normal; width:270px; margin:2px 0 0 5px; float:left; }
.form-lateral .contato form .concordo a {font-size:12px; text-decoration:underline;}
.form-lateral .contato form .linha .tipo {width:294px;}
.form-lateral .contato form label span {font-size:10px; font-weight: normal; text-transform:none;}
.form-lateral .contato form .linha .enviar {width:137px; clear: both;}
.form-lateral .msgErro,
.form-lateral .msgAcerto { background-color:#0d6104; /*background-color:#ff6633;*/ margin: 0 0 0 5px ; width: 290px;}
.form-lateral .msgAcerto { *margin-left:3px;}
.form-lateral .boxMsg { width: 228px;}
/* /FORMULARIO LATERAL */

#direita { _margin-left:0; }

/*
#box-videos .carrossel .jcarousel-item a img { height: 149px; width:200px; position: relative;top: -26px; left:-13px;}
.blocos li a.bg img {height: 187px; position: relative; top: -32px; left:-13px; width: 250px;}
*/
#barra-site .box-topo .navegacao a,
#barra-site .box-topo .navegacao span { font-size:10px !important;}

#botoes a { background:#ff6633; color:#fff; font-size:12px; text-transform:uppercase; height:21px; width:81px; line-height:21px; display: block; font-weight: bold; margin:30px 0 20px 0; float:left; }
#botoes a:hover {text-decoration:none;}
#botoes .proxima {float:right;}

/*botão curtir nos boxes*/
#v2,
.noticia{
	position: relative;
}
.noticia .curtir{
	margin-left: 3px;
	position: absolute;
	top: 183px;
}
#v2 .curtir{
	top: 298px;
	margin-left: 3px;
	position: absolute;
}

#topo-portal input [type="submit"],
.ui-datepicker-next,
.ui-datepicker-prev {
	cursor: pointer;
}

/*input[disabled], input.disabled*/
.contato form .linha .enviar[disabled] { 
	cursor:default !important;
	background-color:#ccc;
}
.rodape-cmais {clear:both;border-top: 1px solid #eee;margin: 40px 0 20px 0;}
.rodape-cmais a{color:#0d6104!important; /* color:#ff6625 !important; */ font-weight: bold !important; text-decoration: none !important;}
.rodape-cmais a:hover{text-decoration: none !important;}
.rodape-cmais p{line-height:20px;margin:10px 0; text-align:left;}

.box-interna .texto hr { visibility:inherit; }

#map-canvas caption{font-weight:bold; color:red;}
#map-canvas th{padding:5px;font-weight:bold;background:#E5E5E5; text-align:left;}
#map-canvas td{padding:4px;text-align:left;}
