/* topo*/
.navbar-inverse .brand, .navbar-inverse .nav > li > a { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/logocmais.png) no-repeat; text-indent:-9999px; width: 120px; height:30px; padding:0; margin:8px 20px 0 0; }
.navbar-fixed-top .nav > li > a { display: block;    height: 34px;    margin-top: 6px;    width: 34px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/icones-menu.png) no-repeat; text-indent:-9999px; margin:5px 10px 5px 0; padding:0;}
.navbar-fixed-top .nav > .tvratimbum > a { background-position:0 -34px; }
.navbar-fixed-top .nav > .multicultura > a { background-position:0 -68px; }
.navbar-fixed-top .nav > .univesp > a { background-position:0 -102px; }
.navbar-fixed-top .nav > .culturabrasil > a { background-position:0 -136px; }
.navbar-fixed-top .nav > .culturafm > a { background-position:0 -170px; }
.navbar-fixed-top .nav > .itunes > a { background-position:0 -306px; }
.navbar-fixed-top .nav > .facebook > a { background-position:0 -339px; }
.navbar-fixed-top .nav > .google > a { background-position:0 -272px; }
.navbar-fixed-top .nav > .instagram > a { background-position:0 -238px; }
.navbar-fixed-top .nav > .twitter > a { background-position:0 -372px; }
.navbar-fixed-top .nav > .youtube > a { background-position:0 -405px; }
.navbar-fixed-top .nav > .feed > a { background-position:0 -472px; }
/*.navbar.navbar-fixed-top .navbar-inner .container { min-width:320px; }*/
.navbar.navbar-fixed-top .navbar-inner .container,
.navbar.navbar-fixed-top .navbar-inner {    background-color: #1B1B1B;    background-image: -moz-linear-gradient(center top , #222222, #111111);    background-repeat: repeat-x;    border-color: #252525;   }
/* /topo*/

/* rodape*/
#footer { width: 100%; position:relative; }
#footer,
#footer .container { background:#333; }
#footer .container { max-width:980px; }
#footer .voltar-topo {  background:#333 url(http://cmais.com.br/portal/images/voltar-topo.png) no-repeat 5px; color:#fff; height:30px; line-height: 30px; padding:0 10px 0 30px; font-size:10px; margin:-30px 0 20px 10px; display: block; width:64px;  }
#footer ul { margin:0 0 20px 0; }
#footer ul li { list-style:none; }
#footer p,
#footer ul li,
#footer a { color:#fff; font-weight:normal; font-size:12px; }
#footer ul p { margin-bottom:0;}
#footer .tit,
#footer ul .tit p,
#footer ul .tit a { font-weight:bold; }
#footer .copyright { text-align:center; font-size:10px; clear:both; height:60px; line-height: 60px;}
#footer .span2 { width:18%; }
#footer .span2.logo { width:7%; }

.navbar.navbar-fixed-top .container { width:415px; }
.navbar.navbar-fixed-top .container .nav { margin-left:0 !important; }

@media screen and (max-width: 1024px){
  
  #footer .span2 { width:18%; float:left; }
  #footer .span2.logo { width:7%; }
  #footer .container { padding:0 2%; }
}
/*
@media screen and (max-width: 980px){
  .nav-collapse{width: 174px;margin: 0 auto;}
  .navbar-inverse .nav > li > a {float:left;}
}

@media screen and (max-width: 980px){
  #footer .span2 { width:19%;  }
  .navbar-fixed-top .nav > li > a { text-indent:0; width:auto; background:none; color:#fff !important; text-align:center; }
  .navbar-inverse .nav-collapse .nav > li > a:hover, 
  .navbar-inverse .nav-collapse .nav > li > a:focus, 
  .navbar-inverse .nav-collapse .dropdown-menu a:hover, 
  .navbar-inverse .nav .active > a, 
  .navbar-inverse .nav .active > a:hover, 
  .navbar-inverse .nav .active > a:focus,
  .navbar-inverse .nav-collapse .dropdown-menu a:focus { background:none !important;  }
  .navbar-inverse .nav-collapse .nav > li > a:hover { text-decoration: underline; }
  .nav-collapse .nav > li > a{text-align:right}
}
*/

@media screen and (max-width: 768px){
 .navbar.navbar-fixed-top .container { width:100%; }
 .nav-collapse{width: 132px; margin: 0 auto !important;}
 .navbar-inverse .nav > li > a {float:left;} 
 #footer .span2 { width:33%;  } 
}


/* rodape*/


