/* topo minimizado */
.navbar-inverse .brand, .navbar-inverse .nav > li > a { background:url(/portal/images/capaPrograma/cocorico/logocmais.png) no-repeat; text-indent:-9999px; width: 120px; height:30px; padding:0; margin:8px 20px 0 10px; }
.navbar .nav > li > a { display: block;    height: 34px;    margin-top: 3px;    width: 34px; background:url(/portal/images/capaPrograma/cocorico/icones-menu.png) no-repeat; text-indent:-9999px; margin:5px 10px 5px 0; padding:0;}
.navbar .nav > .tvratimbum > a { background-position:0 -34px; }
.navbar .nav > .multicultura > a { background-position:0 -68px; }
.navbar .nav > .univesp > a { background-position:0 -102px; }
.navbar .nav > .culturabrasil > a { background-position:0 -136px; }
.navbar .nav > .culturafm > a { background-position:0 -170px; }
.navbar .nav > .itunes > a { background-position:0 -306px; }
.navbar .nav > .facebook > a { background-position:0 -339px; }
.navbar .nav > .google > a { background-position:0 -272px; }
.navbar .nav > .instagram > a { background-position:0 -238px; }
.navbar .nav > .twitter > a { background-position:0 -372px; }
.navbar .nav > .youtube > a { background-position:0 -405px; }
.navbar .nav > .feed > a { background-position:0 -472px; }
.navbar.navbar-fixed-top .navbar-inner .container { min-width:414px; }
.navbar-inverse .navbar-inner {border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -ms-border-radius:0px;}
/* /topo minimizado*/

.navbar-inverse .navbar-inner{border:none;}
.navbar.cmais-abrace-2013 .bg-esquerda-infinito{background:url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/bg-esquerda-minimizado.jpg") repeat-x; height:45px; width:100%;position:absolute; top:0; right:100%;}
.navbar.cmais-abrace-2013 .navbar-esquerda{border-right: 1px solid #0d6101; background:url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/bg-esquerda-minimizado.jpg") repeat-x; width: 300px;float: left;height: 35px;padding-top: 10px;}
.navbar.cmais-abrace-2013 .navbar-direita{background: url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/bg-topo-direita-minimizado.jpg") repeat-x; overflow: hidden; height:45px;}
.navbar.cmais-abrace-2013 .navbar-direita-infinito{background: url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/bg-direita-minizado.jpg") repeat-x; position: absolute;top:0;left:100%; max-width:100%; height:45px;}
