

/*carrossel personagens vila sesamo*/
#carrossel-p{max-width: 940px;margin: 0 auto; border-radius:8px;}
#carrossel-personagem{max-width:980px;margin:10px auto;}
#carrossel-personagem .slider {position: relative; overflow: hidden; zoom: 1; background-color: #d71c0d; border-radius: 5px; }
#carrossel-personagem .slider-nav { position: absolute; zoom: 1; width: 100%; top: 0; left: 0;}

#carrossel-personagem .arrow {width: 42px; height: 110px; position: absolute; zoom: 1; top: 66px; display: none;}
#carrossel-personagem .arrow span { display: block; width: 100%; height: 100%; cursor: pointer;}
#carrossel-personagem .arrow.disabled { opacity: 0.3; cursor: default;}
#carrossel-personagem .arrow-left { left: 0;}
#carrossel-personagem .arrow-right { right: 0;}

#carrossel-personagem .slider-mask-wrap { margin:10px 0; max-width:940px; background:#ffffff; margin-bottom:10px; border-bottom:1px solid #c31408; border-top:1px solid #c31408;}
#carrossel-personagem .slider-mask { overflow: hidden; position: relative; zoom: 1; max-width:940px;}
#carrossel-personagem .slider-target { width: 2000px; margin: 0 auto; }
#carrossel-personagem .slider ul { margin: 0; padding: 0; list-style-type: none;}
#carrossel-personagem .slider li { width: 150px; height: 160px; float: left; margin: 0; padding: 0;}
#carrossel-personagem .slider .inner { background:#9933cc!important; width:140px; height:140px;margin:10px 0 10px 10px; display:block; overflow:hidden; padding:0;border-radius:8px;}
#carrossel-personagem .examples { padding: 1em; background-color: #2f4f4f;}
#carrossel-personagem #menu span {white-space: nowrap; }


/* selector styling */
#carrossel-personagem #selector a { display: block; width: 16px; height: 16px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; border: 1px solid #333; background-color: #99F;}
#carrossel-personagem #selector a.current { background-color: #309;}
#carrossel-personagem #selector ul { margin:0; padding:0; list-style-type: none;}
#carrossel-personagem #selector li { display: inline-block; margin-right: 10px;}

#carrossel-personagem #menu span { white-space: nowrap;}

@media (max-width:640px){
  #carrossel-personagem .slider li {color:white;width: 70px;height: 80px;}
  #carrossel-personagem .slider .inner {width:60px; height:60px; display:block; overflow:hidden; padding:0;border-radius:8px;}
}
/*/carrossel personagens vila sesamo*/

/*carrossel mobile*/
#carrossel-destaque-mobile{background-color:#fee133; max-width:100%;}
#carrossel-mobile{max-width: 640px;margin: 0 auto;}
#carrossel-mobile .slider {position: relative;zoom: 1;}
#carrossel-mobile .slider-nav {position: absolute;zoom: 1;width: 100%;top: 0;left: 0;}
#carrossel-mobile .arrow {width: 42px;height: 100%;position: absolute;zoom: 1;top: 0;}
#carrossel-mobile .arrow span {display: block;width: 100%;height: 250px;background-color: red;cursor: pointer;}
#carrossel-mobile .arrow.disabled {opacity: 0.3;cursor: default;}
#carrossel-mobile .arrow-left {left: 0;}
#carrossel-mobile .arrow-right {right: 0;}
#carrossel-mobile .slider-mask {overflow: hidden;position: relative;zoom: 1;}
#carrossel-mobile .slider-target {width: 2000px;margin: 0 auto;}
#carrossel-mobile .slider ul {margin: 0;padding: 0;list-style-type: none;}
#carrossel-mobile .slider li {width: 640px;height: 250px;float: left;margin: 0;padding: 0;}
#carrossel-mobile .slider li a img{display:block; margin: 0 auto;}
#carrossel-mobile .slider .inner {padding: 10px;margin: 0 5px;border: 1px solid #333;height: 100%;background-color: #CCC;}

/* selector styling */
#selector-mobile{margin:10px auto;}
#selector-mobile a {display: block;height: 16px;width:16px;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;border: 1px solid #333;background-color: #99F;}
#selector-mobile a.current {background-color: #309;}
#selector-mobile ul {margin:0;padding:0;list-style-type: none;}
#selector-mobile li {display: inline-block; margin-right: 10px;}
/*/carrossel mobile*/