#ferias .colunaMaior{width:960px;}
#ferias span.picote {background: url(../image/bg-picote.png) repeat-x;border: none;display: block;height: 3px;}
/*BOX-DESTAQUE*/
#ferias #box-especial-interna{width:960px;}
#ferias #box-especial-interna .topo{width:927px}

#ferias #box-especial-interna .tarja-titulo{background: url(../image/bg-SpriteEscolhido.png) repeat-x 0 -204px;float: left;width: 957px;}
#ferias #box-especial-interna .tarja-titulo p{color: #11B19C ;float: left;font-size: 24px;font-weight: bold;text-transform: uppercase;padding: 15px;font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;}

#ferias .alca{background: url(../image/img-alca.png) no-repeat;display: block;position: absolute;width: 6px;height: 28px;z-index:2000;}
#ferias .alca.pos01{top:-19px;left:5px;}
#ferias .alca.pos02{top:-19px;left:630px;}

#ferias #box-especial-interna #destaque-ferias{width:640px; height:390px;overflow: hidden; border:1px solid #ccc; float: left;margin:0 20px 0 0px; position: relative; }

#ferias #box-especial-interna #destaque-texto-ferias{width:100%;}
#ferias #box-especial-interna #destaque-texto-ferias p{color:#6b6b6b; font-size: 14px; padding:48px 10px 0 10px;}

/*BOX-DESTAQUE*/

/* CARRROSSEL VIDEOS */
#ferias #videos-especial{width:640px; float:left;background-color: #fff;position:relative;margin:10px 0 0 0;}
#ferias #videos-especial .topo{background: url("../image/bg-sprite.png") repeat-x scroll 0 -135px; border: 1px solid #fff; float: left;width: 608px; height: 27px;}
#ferias #videos-especial .topo a{color: white;font-size: 20px;font-weight: bold;}
#ferias #videos-especial .topo p{color:white;float: left;font-size: 20px;margin: 4px 0 0 10px;text-transform: uppercase;}
#ferias #videos-especial .topo-esq{background: url("../image/btn_videos.jpg") no-repeat; border: 1px solid #fff;  display: block;  float: left; width: 28px; height: 27px;}
#ferias #videos-especial .carrossel{width:640px; height:190px;margin:0; position:relative;float:left}
#ferias #videos-especial .carrossel img{border:2px solid #fff}
#ferias #videos-especial .carrossel a:hover img{border:2px solid #067af6;}
#ferias #videos-especial .carrossel a:hover span,
#ferias #videos-especial .carrossel a:hover p{color:#067af6 !important;text-decoration:none !important;}
#ferias #videos-especial .carrossel ul li span{float: left;width: 148px;}
#ferias #videos-especial .carrossel ul li p{width: 148px;}
#ferias #videos-especial .carrossel #seta-esquerda{background:#FFFFFF;position:absolute;top:30px; left:-3px; z-index:900;width:27px !important; height:33px !important; display:block;border:1px solid #ced0d0;}
#ferias #videos-especial .carrossel #seta-direita{background:#fff;position:absolute;top:30px; right:-3px; z-index:900;width:27px !important; height:33px !important; display:block;border:1px solid #ced0d0;}
#ferias #videos-especial .carrossel .sombra{width:17px;height:11px;position:absolute;z-index:800}
#ferias #videos-especial .carrossel .sombra-esquerda{background:url("../image/sombrinha-btn-nav.png") repeat-x 0px 0px;top:65px; left:0px;}
#ferias #videos-especial .carrossel .sombra-direita{background:url("../image/sombrinha-btn-nav.png") repeat-x -16px 0px;top:65px; right:-3px;} 
#ferias #videos-especial .carrossel .jcarousel-prev{background:url(../image/btns_navegacao.png) no-repeat -58px -52px;position:absolute;top:30px; left:-3px;z-index:1000; width:27px !important; height:33px !important; display:block;border:1px solid #ced0d0;}
#ferias #videos-especial .carrossel .jcarousel-next{background:url(../image/btns_navegacao.png) no-repeat -78px -52px;position:absolute;top:30px; right:-3px;z-index:1000; width:27px !important; height:33px !important; display:block;border:1px solid #ced0d0;}
#ferias #videos-especial .carrossel .jcarousel-clip {width: 610px;margin: 0 16px;}
#ferias #videos-especial .carrossel .jcarousel-list{min-width: 640px !important;left: 0px;height: 174px !important;}
#ferias #videos-especial .carrossel .jcarousel-item {width: 151px;height: 181px;margin:1px;}
#ferias #videos-especial .carrossel .jcarousel-item a img{width:146px; height:90px; float:left;}
#ferias #videos-especial .carrossel .jcarousel-item a p {margin:5px 0 0 0;overflow:hidden; height:64px;float:left;color:#6b6b6b;}
#ferias #videos-especial .carrossel .picote{width:100%;position:absolute;bottom:0; z-index:3000;} 
/* /CARRROSSEL VIDEOS */

/* SEU PEDIDO É UMA ORDEM */
#ferias #destaque-principal{background-color: #E8F7F5;width: 920px;border-radius: 10px;margin: 20px;overflow: hidden;min-height: 120px;float:left;}
#ferias #container-destaque-principal{padding: 20px;color:#6b6b6b; font-weight:bold;}
#ferias #container-destaque-principal p{color:#6b6b6b !important;}

#ferias #votacao-video #lista-videos{padding:0 30px;}
#ferias #votacao-video label{font-weight: bold; text-transform: uppercase; padding:0 0 0 20px;}
#ferias #votacao-video label p{font-weight: normal; margin:0 12px 0 20px; text-transform: none;}
#ferias #votacao-video label span{margin:0 0 0 18px; text-transform: none;}
#ferias #votacao-video form{padding: 20px; overflow: hidden; position: relative;}
#ferias #votacao-video form ul li{width:342px;height: 268px;}
#ferias #votacao-video form input{height:18px; float:left;margin:0 5px 0 0;}
#ferias #votacao-video form .btn-barra{width:924px !important; margin:20px 0 0 0;}
#ferias #votacao-video form .btn-barra input#votar{border-radius: 0;margin: 0;width: 874px !important;height: 22px;background: url(../image/bg-barra.png) repeat-x;color: #6B6B6B;font-size: 15px;font-weight: bold;float: left;line-height: 23px;padding: 0 0px;text-decoration: none;text-transform: uppercase;width:100%;}
#ferias #votacao-video form label{cursor:pointer;}
#ferias #votacao-video form label.error{position: absolute;top: 50px;left: 0;font-weight: bold;color: red;}
#ferias #votacao-video iframe{width:310px; height: 210px; padding:0 0 0 20px;}
#ferias #resultado-video{padding:20px}
#ferias #resultado-video li p{font-weight:bold; font-size:16px;}
#ferias #resultado-video .classificacao{width:444px;}
#ferias #resultado-video .left{float:right;}
#ferias #resultado-video .right{float:left;}
#ferias #resultado-video h2{clear:both;}
/* /SEU PEDIDO É UMA ORDEM */

/* CONCURSO PIADA */
#ferias h2.tit-destaque-ferias{color: #11B19C;float: left;font-size: 24px;font-weight: bold;text-transform: uppercase;padding: 0 0 0 10px !important; clear:both;width:100%;padding:0 0 0 10px;}
#ferias iframe{width:640px; height: 390px;margin:0 0 0 0;}
#ferias .contato iframe{width:310px; height: 210px}
#ferias .contato #destaque-ferias{width: 310px;height: 210px;float: left;padding: 10px 16px 0px 10px;}
#ferias .contato #destaque-texto-ferias p{clear:none !important;margin-top:20px; font-size:14px;padding: 37px 10px 30px 0;line-height: 18px;}
#ferias .galeriaVideos {float: left;position: relative;width: 300px;margin: 20px 0 0 20px;}
#ferias .galeriaVideos .listaGaleria,
#ferias .galeriaVideos .enunciado {width: 300px;}
#ferias .galeriaVideos .enunciado h2 {color: #11B19C;}
#ferias .galeriaVideos .listaGaleria .wrappperlistaGaleria {width: 300px;height: 521px;}
#ferias .galeriaVideos .enunciado h2 .mais {background: url("../image/bg-icoCross.png") repeat scroll 0 -201px transparent;}

.conteudoWrapper .conteudo {width: 940px !important;}
#ferias #piada-da-semana{float:left;width:940px;margin: 20px 20px 0 20px;position:relative;}
#ferias #piada-destaque{background-color: #E8F7F5;width: 90%;border-radius: 10px;margin: -133px 0 20px 50px;overflow: hidden;min-height: 120px;}
#ferias #piada-destaque #logo-piada{margin:-7px 0 0 -57px;float:left;}
#ferias #piada-destaque #container-piada{float: right;width: 723px;padding: 20px;color:#6b6b6b; font-weight:bold;}
#ferias #piada-destaque #container-piada p{color:#6b6b6b !important;}
#ferias #piada-destaque #assinatura{text-align:right;padding-top: 20px;}

#ferias h2{line-height:27px; padding:2px 0 30px 0 !important; color: #11B19C;font-size: 18px;font-weight: bold;text-transform: uppercase;padding: 15px;}
#ferias a.btn-lista-piadas,
#ferias a.btn-ideias{font-weight: bold; font-size: 18px;background-color: #11B19C;border-bottom-left-radius: 5px;border-top-left-radius: 5px;color: white;padding: 3px 8px;text-transform: lowercase;float: right; }
#ferias a.btn-lista-piadas:hover,
#ferias a.btn-lista-ideias:hover{text-decoration:none; background-color: #59c9ba;}
#ferias a.btn-lista-ideias{position:absolute; bottom: 0px; right: 0px;}
#ferias #votacao-piada label{font-weight: bold; text-transform: uppercase;}
#ferias #votacao-piada label p{font-weight: normal; margin:0 12px 0 20px; text-transform: none;}
#ferias #votacao-piada label span{margin:0 0 0 18px; text-transform: none;}
#ferias #votacao-piada form input{height:18px; float:left;margin:0 5px 0 0;}
#ferias #votacao-piada form .btn-barra{width:924px !important; margin:20px 0 0 0;}
#ferias #votacao-piada form .btn-barra input#votar{border-radius: 0;margin: 0;width: 874px !important;height: 22px;background: url(../image/bg-barra.png) repeat-x;color: #6B6B6B;font-size: 15px;font-weight: bold;float: left;line-height: 23px;padding: 0 0px;text-decoration: none;text-transform: uppercase;width:100%;}
#ferias #votacao-piada form label.error{position: absolute;bottom: 24px;left: 19px;font-weight: bold;color: red;}

#ferias #resultado-piada .classificacao p{font-weight: bold; margin:0 0 3px 0;}
#ferias #resultado-piada .classificacao span{font-weight: bold; float:left;}
#ferias #resultado-piada .classificacao li{overflow: hidden;}
#ferias #resultado-piada .classificacao .progress-success{width:800px; margin:0 10px 10px 10px; float:left;}
#ferias #resultado-piada .classificacao .progress-success .bar{background: #12b19d !important;}
  
#ferias #listao-piada a.btn-lista-piadas{margin:0 0 0 0;font-weight: bold;font-size: 18px;background-color: #11B19C;border-bottom-left-radius: 5px;border-top-left-radius: 5px;color: white;padding: 3px 8px;text-transform: lowercase;float: right; }
#ferias #listao-piada a.btn-lista-piadas:hover{text-decoration:none; background-color: #59c9ba;}
#ferias #listao-piada h2{line-height:27px;padding:2px 0 30px 0 !important; color: #11B19C;font-size: 18px;font-weight: bold;text-transform: uppercase;padding: 15px;}
#ferias #listao-piada ul li{overflow: hidden; margin: 0; padding:10px 6px;}
#ferias #listao-piada ul li span{padding-top: 6px; float:right; margin:0 35px 0 0; color:#6b6b6b; font-weight:bold;}
#ferias #listao-piada .btn-barra{width:924px !important; margin:20px 0 0 0;}
#ferias #listao-piada .btn-barra input#carregar-mais{border:0; width: 874px !important;height: 22px;background: url(../image/bg-barra.png) repeat-x;color: #6B6B6B;font-size: 15px;font-weight: bold;float: left;line-height: 23px;padding: 0 0px;text-decoration: none;text-transform: uppercase;width:100%;}
#ferias #listao-piada span.picote {background: url(../image/bg-picote.png) repeat-x;border: none;display: block;height: 3px; margin:0 18px 0 0}
#ferias.listao hr{margin: 0; height: 0;}
#ferias #infinite_scroll{overflow-y: scroll !important; height:600px !important;} 
#ferias .lista-piadas #box-especial-interna .lista-programas li {float: left;margin: 10px 5px 10px 0;width: 906px;}

/* foi excluido da pg
#ferias #cantinho-da-piada{float:right;width:290px;background:white; margin:10px 0 0 0;}
#ferias #cantinho-da-piada .topo {background: url("../image/bg-sprite.png") repeat-x scroll 0 -216px;border: 1px solid white;float: left;width: 258px;height: 27px;}
#ferias #cantinho-da-piada .topo a.enunciado {color:white;float: left;font-size: 20px;margin: 1px 0 0 10px;text-transform: uppercase;}
#ferias #cantinho-da-piada .topo-esq {background: url("../image/btn_especial.jpg") no-repeat;border: 1px solid white;display: block;float: left;width: 28px;height: 27px;}
#ferias #cantinho-da-piada .carrossel-piada {margin: 30px 0 0 0;width:290px;}
#ferias #cantinho-da-piada .carrossel-piada p{padding:10px; font-size:14px;}
#ferias #cantinho-da-piada .carrossel-piada #assinatura-piada p{font-weight:bold; text-align: right;}
#ferias #cantinho-da-piada .carrossel-piada .jcarousel-item {width: 290px;height:auto;}
*/

#ferias #form-piada{width:640px; float:left;background-color: #fff;position:relative;margin:10px 0 0 0;padding: 20px 0 0 0;}
#ferias #form-piada .contato form{padding: 10px!important;clear: both;}
#ferias #form-piada .contato .t3{width:598px;}
#ferias #form-piada .contato form textarea,
#ferias #form-piada .contato form .t3 input {width: 594px;border-radius:8px;background: #f0f3f3;border: 1px solid #dddfe0;padding-left: 2px;color: #6b6b6b;}
#ferias #form-piada .contato form .t1{width: 528px;}
#ferias #form-piada .contato form .t1 label,
#ferias #form-piada .contato form .t1 input{width: 523px;}
#ferias #form-piada .picote{bottom: 0;position: absolute;width: 637px;}
#ferias #form-piada span.titulo{color: #11b19c; margin:20px 20px 25px 0px !important;}
#ferias #form-piada label{color: #6b6b6b;}
#ferias #form-piada span.titulo,
#ferias #form-piada label{font-size:15px; font-weight:bold;} 
#ferias #form-piada .contato form .linha select, 
#ferias #form-piada .contato form .linha input{border-radius:8px;height: 20px;line-height: 20px;background: #f0f3f3;border: 1px solid #dddfe0;padding-left: 2px;color: #6b6b6b;}
#ferias #form-piada .contato form textarea{height:120px;}
#ferias #form-piada .contato form .regulamento{width: 587px;border-radius: 8px;background-color:#F0F3F3;}

#ferias #paginador-tv-ra-tim-bum{position:relative;width:100%;height:28px;background-color:#dddfe0;padding: 4px 0 0 0; }
#ferias #paginador-tv-ra-tim-bum .btn{display:block;width:13px;height:20px;background: url(../image/btns_navegacao.png)}
#ferias #paginador-tv-ra-tim-bum .btn.anterior{position:absolute;top:6px;left:8px;background-position: -65px -31px;}
#ferias #paginador-tv-ra-tim-bum .btn.proxima{position:absolute;top:6px;right:8px;background-position: -85px -31px;}
#ferias #paginador-tv-ra-tim-bum p{float:left;line-height:27px;text-align: center;width:100%;margin: 0 !important; padding: 0 !important;}
#ferias #paginador-tv-ra-tim-bum .picote.cima{position:absolute;top: 0; width:100%}
#ferias #paginador-tv-ra-tim-bum .picote.baixo{position:absolute;bottom: 0; width:100%}

#ferias .contato form .declaracao{position:absolute; top:-1px; left:25px;}
#ferias .contato form .t5{position:relative;}
#ferias .contato form #regulamento {width:20px;float:left;}
#ferias .contato form .regulamento {border: 1px solid #BFBFBF;height: 193px;overflow-y: scroll;width: 638px;padding: 5px;margin-right: 0;}
#ferias .contato form .btn-barra{background-color:#DDDFE0;height: 23px;float: left;width: 100%;}
#ferias .contato form .btn-barra input#enviar{width: 568px !important;height: 21px;background: url(../image/bg-barra.png) repeat-x;color: #6B6B6B;font-size: 15px;font-weight: bold;float: left;line-height: 23px;padding: 0 0px;text-decoration: none;text-transform: uppercase;width:100%}
#ferias .contato form .estado.error{border:1px solid red !important;}
form label.error{display:block !important;}
#form-contato label.error {background-color: #F5D6CC;color:#863F27 !important;display: none;font-size: 12px !important;margin-top: 4px;width: 100%;text-align: center;font-weight: lighter !important;}
#ferias .msgAcerto p,
#ferias .msgErro p{font-size: 24px;line-height: 32px;text-align: center;font-weight: bold;padding: 104px 0 200px 0;color:#11b19c;}
#ferias .msgAcerto,
#ferias .msgErro{background: #FFF;width:100%; margin:0;}
#ferias .msgAcerto .btn-barra a,
#ferias .msgErro .btn-barra a{width:588px !important;}
/*/CONCURSO PIADA */

/* MISSAO-MINUTO */
#ferias #banner-especial{width:350px;height:250px;border:1px solid red;}

#ferias .coluna-640{width:640px; height:auto; float:left;margin:20px 0 0 0;}
#ferias .coluna-640 #videos-especial{margin:10px 0 20px 0;}
#ferias .coluna-640 #box-imagens{float:left; margin: 0 0 0 20px}
#ferias .coluna-640 #box-jogos .tudo .box-carrocel {float:left;}
#ferias .coluna-640 #box-imagens .tudo .box-carrocel {float:left;}
#ferias .coluna-640 #box-imagens .veja{display: none;}
#ferias .coluna-640 #box-jogos{float:left}
#ferias .coluna-640 #box-jogos .veja{display: none;}
#ferias .coluna-300{float:right;width:300px;margin:20px 0 0 0;}
/* /MISSAO-MINUTO */

/* BANNER */ 
#banner-rtb-300{width:300px;height: auto;}
#banner-rtb-300 .topo-banner{width:100%;height:16px !important;background:url(../image/borda-banner.png);}
#banner-rtb-300 .rodape-banner{width:100%;height:16px !important;background:url(../image/borda-banner-baixo.png)}
#banner-rtb-300 #banner{width:300px;height:250px;}
/* /BANNER */

/* FAZ-DE-CONTA */
#ferias .coluna-640 #especial-baixar{width:640px;background-color:#fff;display: block; margin:20px 0 0 0;float:left;}
#ferias .coluna-640 #especial-baixar .topo a{color:#FFF !important;font-size:20px; font-weight:bold;line-height: 24px;}
#ferias .coluna-640 #especial-baixar .topo {background: url("../image/bg-sprite.png") repeat-x scroll 0 -270px;border: 1px solid white;float: left;width: 607px;height: 27px;}
#ferias .coluna-640 #especial-baixar .topo p {color:white;float: left;font-size: 20px;margin: 1px 0 0 10px;text-transform: uppercase;}
#ferias .coluna-640 #especial-baixar .topo-esq {background: url(../image/btn_baixar.jpg) no-repeat;border: 1px solid white;display: block;float: left;width: 28px;height: 27px;}
#ferias .coluna-640 #especial-baixar .picote{float: left;width: 100%;}

#ferias .coluna-640 #especial-baixar .conteudo-baixar .imagem{margin:0 20px 0 0px;width:310px; height:190px; overflow: hidden;border:1px solid #ccc;float:left;}
#ferias .coluna-640 #especial-baixar .conteudo-baixar span.titulo{width:306px;float:left;color:#F42198;font-size: 16px;font-weight: bold;padding:10px 0px;}
#ferias .coluna-640 #especial-baixar .conteudo-baixar p{color:#6B6B6B!important;font-size: 14px;line-height: 18px; margin: 0 10px 30px 16px}

#ferias .btn-barra {float: left;width: 100%;}
#ferias .coluna-640 #especial-baixar .conteudo-baixar .btn-barra a{width: 590px !important;}
#ferias .btn-barra .caudaBarra{float: right !important;}
/* mascote*/
.enquete-mascote { float:left; width:96%; }
.enquete-mascote .lista-resultado {margin: 0 auto;    width: 320px;}
.enquete-mascote .lista-resultado .classificacao { width:100%; margin-bottom:20px; }
.enquete-mascote #lista-videos a { background:url("../image/bg-barra.png") repeat-x scroll 0 0 transparent; color:#6B6B6B; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align:center; width:100% !important; text-align:center; }
/* FAZ-DE-CONTA */