/* 
  HTML5 âœ° Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 

/* 
 * minimal base styles 
 */


body, select, input, textarea { 
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
  color: #333;

  /* set your base font here, to apply evenly */
  font: normal 18px SilverAgeLCBB, 'Comic Sans MS', sans-serif;
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: normal; }

/* always force a scrollbar in non-IE */ 
html { overflow-y: scroll; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #4e71a5; text-decoration: none; }
a:visited { color: #607890; }
a:hover { text-decoration: underline; }


ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #4e71a5; color:#fff; text-shadow: none; }
::selection { background:#4e71a5; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #4e71a5; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;  
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }






 /* Primary Styles
    Author: 
 */
@font-face {
  font-family: 'SilverAgeLCBB';
  src: url('/fonts/silveragelcbb-webfont.eot');
  src: local('â˜º'),
     url('/fonts/silveragelcbb-webfont.woff') format('woff'),
     url('/fonts/silveragelcbb-webfont.ttf') format('truetype'),
     url('/fonts/silveragelcbb-webfont.svg#webfontT4E3IeY1') format('svg');
}
@font-face {
  font-family: 'SilverAgeUCBBBold';
  src: url('/fonts/silverageucbb_bold-webfont.eot');
  src: local('â˜º'),
  url('/fonts/silverageucbb_bold-webfont.woff') format('woff'),
  url('/fonts/silverageucbb_bold-webfont.ttf') format('truetype'),
  url('/fonts/silverageucbb_bold-webfont.svg#webfontBQgsyBXp') format('svg');
}

html, body {
  height: 100%;
}
body {
  background: #4B4B4B url('images/background-shadow.jpg') repeat-x 0px 0%;
}
/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/
}
input {
  -webkit-border-radius:0px;
}
#container {
  min-height:100%;
  margin:0 auto;
  width:960px;
  background:#e3e3e3 url('images/newsprint_tile.jpg');
}

.side-border-left {
  background:transparent url('images/newsprint-left-edge.jpg') repeat-y left top;
}
.side-border-right{
  background:transparent url('images/newsprint-right-edge.jpg') repeat-y right top;
}
/* mac hide \*/
* html .side-border-right{ height:1%; }



#fuzz {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  z-index:100;
  background:url('images/fuzz.png');
  display:none;
  text-align:left;
}
#wrap {
  overflow:auto;
  padding-bottom: 150px; /* negative value of footer height */
}
#header {
  float:left;
  width:932px;
  height:140px;
  padding:10px 14px 0 14px;
}
#header .header-segment {
  float:left;
  width:300px;
  margin-left:16px;
}
#header #first-header-section.header-segment {
  margin-left:0px;
}
#header .header-segment div {
  margin-bottom:8px;
}
#header #search {
  font-size:12px;
}
#header #search-field {
  width:205px;
  height: 14px;
  margin:0 2px 0 0;
  padding:5px;
  border:3px solid #333;
  font:normal 12px verdana;
  color:#333;
}

#header #search-submit {
  width: 73px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer; /* hand-shaped cursor */
  font-size:20px;
  border: solid 3px #333;
  text-transform:uppercase;
  text-align:center;
  background-color:transparent;
}

#about-chogger {
  width:645px;
  margin:0 auto 5px auto;
  padding:10px;
  line-height:20px;
  overflow:auto;
}

#comic-image-large {
  display:none;
  position:absolute;
  z-index:200;
  left:50%;
  text-align:center;
}
#comic-image-large img {
  width:auto;
}
#main {
  float:left;
  width:932px;
  padding:20px 14px;
}
#main #body {
  float:left;
  width:682px;
}
#main #body .static {
  clear:both;
  width:662px;
}
#main #body .static p {
  font-size:24px;
}
#main #body .no-fun {
  font-family:Verdana;
}
#main #body .no-fun p {
  font-size:14px;
}
#main #body .static p.header {
  font-weight:bold;
  padding-top:18px;
}
#main #body .static p.header2 {
  color:#999;
}
#main #body .static h1, #main #body .static h2 {
  text-transform:uppercase;
}
#main #body .static img {
  padding:0 0 5px 5px;
}
#main #body .static ol li {
  font-size:20px;
}
#main #body h1 {
  font: normal 32px SilverAgeUCBBBold, 'Comic Sans MS', sans-serif;
  text-transform:uppercase;
  margin:0 0 10px 0;
}
#main #body h2 {
  font:normal 24px SilverAgeUCBBBold, 'Comic Sans MS', sans-serif;
  text-transform:uppercase;
}
#main #body p {
  font-size: 20px;
  margin:0 0 10px 0;
}
#main #body .title {
  font: normal 20px SilverAgeUCBBBold, 'Comic Sans MS', sans-serif;
  text-transform:uppercase;
}
#main #body .comic-details {
  clear:both;
  width:662px;
}
#main #body .comic-details-left {
  float:left;
}
#main #body .comic-details-left .comic-title {
  font-size:30px;
  margin:0;
}
#main #body .comic-details-left .comic-title a {
  color:#333;
}
#main #body .comic-details-left .added-when {
  /* has normal font style*/
}
#main #body .comic-details-right {
  float:right;
  padding-top:15px;
}
#main #body .comic-details-right a {
  text-decoration:none;
}
#main #body .comic-details-right .number-of-comments, #main #body .comic-details-right .comic-score {
  position:relative;
  top:-8px;
}
#main #body .comic-details-right .padding {
  margin-right:15px;
}
#main #body .comic-image {
  clear:both;
  margin:0 0 20px 0;
}
#main #body .comic-image .comic-warning {
  position:absolute;
  width:300px;
  top:20px;
  left:50%;
  margin-left:-161px;
  padding:10px;
  text-align:center;
  border:1px solid;
  background-color:#333;
  font:bold 14px verdana;
  color:#fff;
  opacity:0.8;
  filter:alpha(opacity=80);
}
#main #body .comic-image .comic-error {
  float:left;
  width:300px;
  margin:15px 0 0 181px;
  padding:10px;
  text-align:center;
  border:1px solid;
  background-color:#333;
  font:bold 14px verdana;
  color:#fff;
  opacity:0.8;
  filter:alpha(opacity=80);
}
#main #body .comic-image .comic-error span {
  color:orange;
}
#main #body .comic-description {
  clear:both;
  margin:0 0 20px 0;
}
#main #body .comic-comments {
  clear:both;
  margin:17px 0 0 0;
  width:450px;
}
#main #body .comic-comments h2 {
  float:left;
  text-transform:uppercase;
}
#main #body .comic-comments .number-of-comments {
  float:right;
}
#main #body .comic-comments .add-comment {
  float:left;
  margin:10px 0;
}
#main #body .comic-comments .add-comment textarea {
  width:450px;
  height:50px;
  margin:0 0 5px 0;
}
#main #body .comic-comments .add-comment input.submit {
  float:right;
}
#main #body .comic-comments .comment {
  float:left;
  padding:0 0 10px 0;
  margin:0 0 10px 0;
  border-bottom:1px dotted #aaa;
}
#main #body .comic-comments .comment .comment-user-icon {
  float:left;
  width:50px;
}
#main #body .comic-comments .comment .comment-user-icon img {
  width:40px;
  height:40px;
}
#main #body .comic-comments .comment .comment-text {
  float:right;
  width:400px;
}
#main #body .comic-comments .comment .comment-text a.comic-artist {
  font-weight:bold;
  font-size: 1.3em;
}
#main #body .comic-comments .comment .comment-text p {
  margin:3px 0;
  font-weight:normal;
}
#main #body .comic-comments .comment .comment-text .timestamp {
  color:#888;
}
#main #body form.form {
  width:330px;
  margin-top:10px;
  padding:10px;
  border:3px solid #333;
}
#main #body form.form input {
  padding:3px;
}
#main #body form.form input, #main #body form.form select, #main #body form.form option {
  font:normal 15px verdana;
}
#main #body form.form input[type="submit"] {
  border:3px solid #333;
  background-color:#476aa0;
  font: normal 22px SilverAgeUCBBBold, 'Comic Sans MS', sans-serif;
  text-transform:uppercase;
  color:#fff;
}
#main #body form.form label {
  font: normal 24px SilverAgeLCBB, 'Comic Sans MS', sans-serif;
}
#main #body form.form textarea {
  width:300px;
  height:100px;
}
#main #body form .field_with_errors {
  color:#ff0000;
}
#main #body .user-links {
  margin-top:20px;
  font-size:22px;
  line-height:30px;
}
#main #body img.constrained_img_width {
  width:650px;
}
#main #body #user-profile .user-profile-left {
  float:left;
  width:130px;
  padding:10px;
  margin-right:15px;
  border:3px solid #999;
}
#main #body #user-profile .user-profile-left a {
  display:block;
  padding:10px 0 0 0;
}
#main #body #user-profile .user-profile-right {
  float:left;
}
#main #body .section-header {
  clear:both;
  width:350px;
  height:40px;
  margin-bottom:10px;
  padding:5px;
}
#main #body .section-header .title {
  color:#7aa4e3;
}
#main #body .section-header span {
  font-weight:bold;
  color:#333;
}
#main #top-tabs {
  clear:both;
  width:550px;
  height:60px;
  margin-bottom:15px;
  padding:5px;
}
#main #top-tabs .title {
  display:inline;
  padding-right:15px;
  font-size:28px;
  color:#fff;
}
#main #top-tabs a {
  display:inline;
  font-size:20px;
  padding-right:10px;
  color:#fff;
}
#main #top-tabs .pagination {
  clear:both;
  width:530px;
  padding:0 5px 5px 5px;
  font-size:20px;
  text-align:center;
}
#main #top-tabs .pagination span {
  color:#333;
  padding:0 3px;
  font-weight:bold;
  color:#aaa;
}
#main #top-tabs .pagination a {
  color:#fff;
  padding:0 3px;
}
#main #side-bar {
  float:right;
  width:250px;
}
#main #side-bar #user-actions {
  margin-bottom:10px;
  font: normal 16px SilverAgeUCBBBold, 'Comic Sans MS', sans-serif;
  text-transform:uppercase;
}
#main #side-bar .side-bar-item {
  float:right;
  width:224px;
  border:3px solid #333;
  margin:0 0 10px 0;
  padding:10px;
  text-align:center;
  font: normal 0.9em SilverAgeUCBBBold, 'Comic Sans MS', sans-serif;
  text-transform:uppercase;
}
#main #side-bar .side-bar-item span {
  font-size:24px;
}
#main #side-bar .side-bar-item ul {
  margin-left:15px;
}
#main #side-bar .side-bar-item ul li {
  text-align:left;
}
#main #side-bar .side-bar-item img {
  margin:7px 0;
}
#main #side-bar .side-bar-item .side-bar-user-details {
  clear:both;
  text-align:left;
  font: normal 18px SilverAgeLCBB, 'Comic Sans MS', sans-serif;
  text-transform:none;
}
#main #side-bar .side-bar-item .side-bar-user-details .side-bar-user-icon {
  float:left;
  padding-right:10px;
}
#main #side-bar .side-bar-item .side-bar-user-details .side-bar-user-info {
  float:left;
  padding-bottom:15px;
}
#main #side-bar .side-bar-item .side-bar-user-details .side-bar-user-info .username {
  font-size:21px;
}
#main #side-bar .side-bar-item .side-bar-user-details .side-bar-user-icon-right {
  float:right;
  padding:5px 0;
}
#main #side-bar .side-bar-item .side-bar-comic-details {
  clear:both;
  padding-top:15px;
  border-top:1px dotted #aaa;
  font: normal 20px SilverAgeLCBB, 'Comic Sans MS', sans-serif;
  text-transform:none;
}
#main .voteUp, #main .voteDown {
  cursor:pointer;
}
footer {
  width:100%;
  text-align:center;
  position: relative;
  margin:-150px 0 0 0; /* negative value of footer height */
  height: 150px;
  clear:both;
}
footer #footer-inner {
  width:894px;
  height:114px;
  margin:0 auto 5px auto;
  padding:10px;
  line-height:28px;
  color:#fff;
  overflow:auto;
}
footer #footer-inner a {
  color:#ddd;
}
footer #footer-inner a:hover {
  color:#fff;
}
footer #footer-left {
  float:left;
}
footer #footer-right {
  float:right;
}
footer #footer-bottom {
  clear:both;
  margin-top:50px;
  color:#bbb;
}

.bold {
  font-weight:bold;
}
.gray {
  color:#999;
}





/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
