/** CMAIS **/

.peq { background:#333;  }
.peq a { color:#fff; }
.duas-colunas { margin-top:20px; }
.duas-colunas h5 { margin:10px 10px 0 10px; }
.duas-colunas .txt { margin:0 10px 10px; }
.lista-blogs { margin-top:20px; }
.lista-blogs li{ 
	margin-right:56px;
	float: left; 
	text-align: left;
	width:200px;
}
.lista-blogs li a{
	font-weight: bold;
}
.lista-blogs li .foto img { border:none; }

#menu-portal .menu-aberto { top:97px; }
.barra-menu .tv { margin-left:-89px; }
.barra-menu .radio { margin-left:-147px; }
.barra-menu .ar { margin-left:-233px; }
/** CMAIS **/

/*homeCmais*/

.exception{
	background: none;
}
.galeriaCmais{
	position: relative;
	width: 420px;
}
.conteudoWrapper{
	background-color: #fff;
}
.conteudoBox a{
	text-decoration: none;
	width: 420px!important;
}
.conteudoBox a img{
	margin-bottom: 10px;
	width: 420px;
	height: 252px;
}
.conteudoBox a h3{
	font-size: 16px;
	margin-left: 5px;
}
.conteudoBox a p{
	padding: 0 5px 5px 5px; 
}
.pagControl{
	background: url(../images/bg-transparente.png) repeat;
	position: absolute;
	top: 193px;
	left: 150px;
}
.pagControl li{
	float: left;
	padding: 3px 2px;
}
.pagControl li a{
	margin: 0;
}
.pagControl li:hover a,
.pagControl li.ativo a{
	background-position: -42px 0;
}
.pagControl li.primeiro{
	margin-left: 5px;
}
.pagControl li.ultimo{
	margin-right: 5px;
}
.pagControl li a{
    background: url(../images/pag-ball.png) no-repeat scroll -28px 0;
    display: block;
	overflow: hidden;
	text-indent: -9999px;
    width: 13px;
	height: 13px;
}
.pagImage{
	background: url(../images/bg-transparente.png) repeat;
	position: absolute;
	bottom: 95px;
	width: 420px;
}
.pagImage li{
	float: left;
	margin: 0 5px; 
	padding: 5px 0 5px 0;
}
.pagImage li a img{
	width: 50px;
	height: 30px;
}
.pagImage li a,
.pagImage li a img{
	float: left;
	overflow: hidden;
	width: 50px;
	margin: 0px;
}
.pagImage li:hover a,
.pagImage li.ativo{
	
}
.pagImage li a:hover{
	border: 2px solid #fff;
}
.pagImage li a:hover{
	margin: -2px;
}
/*galeria C+*/
.galeriaCmais .big{
	width: 970px!important;
}
.galeriaCmais .big p{
	text-align: left;
}
.galeriaCmais .big p.sup{
	font-size: 16px;
	font-weight: bold;
	margin-top: 16px;
}
.galeriaCmais .big .cp-sembg{
	float: right;
}
.galeriaCmais .big .cp-sembg .addthis_toolbox{
	margin: 0px;
}
.galeriaCmais #container{
	float: left;
	width: 970px;
}
.galeriaCmais #container .ad-gallery{
	width: 970px;
}
.galeriaCmais #container .ad-gallery .cp-sembg{
	width: 970px;
}
.galeriaCmais #container .ad-gallery .ad-image-wrapper .ad-image a img{
	margin-top: 10px;
}
.galeriaCmais #container .ad-gallery .ad-back{
	left: 925px;
}

/*galeria Cmais*/
.galeriaCmaisTit{
	margin: 20px 0 0 0!important;
}
.galeriaCmais .box-video a img{
	margin-bottom: 10px;
}
.galeriaCmais .box-descricao a{
	font-size: 16px;
	font-weight: bold;
}
.galeriaCmais .box-galeria{
	margin-top: -10px;
}
.galeriaCmais .abas-menu .enunciado{
	background-color: #e5e5e5;
	font-size: 14px;
	font-weight: bold;
	height: 24px;
	margin-left: 0px;
	top: 2px;
}
.galeriaCmais .abas-menu .enunciado span{
	color: #333;
	text-transform: uppercase;
	padding: 0 10px;
	position: relative;
	top: 4px;
}
.galeriaCmais .abas-menu li span{
	color: #fff;
	text-transform: lowercase;
	top: 1px;
}
/*
.galeriaCmais .abas-conteudo .conteudo-lista a{
	color: #333!important;
	font-size: 16px;
	padding: 5px;
	font-weight: bold;
	text-decoration: none;
}
.galeriaCmais .abas-conteudo .conteudo-lista a:hover{
	background-color: #333;
	border: 5px solid #333;
	color: #fff!important;
	position: relative;
}
*/