/* topo */
#guia-topo.menu-tvculturaabrace{background: url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/bg-tudo3abracetv.jpg") repeat-x;position:relative;}
.menu-tvculturaabrace #menu-portal .menu-aberto .abas .neutro p{color:#333!important;}
.menu-tvculturaabrace #menu-portal-2 .busca-portal .ipt-submit{background:#2c9700;}
.menu-tvculturaabrace #menu-portal-2 .busca-portal .ipt-txt {background: #fff url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/ico-lupa-abrace.png") no-repeat 6px 3px;}
.menu-tvculturaabrace #menu-portal-2 li a:hover{background:#0d6101!important;}
.menu-tvculturaabrace #menu-portal li.ativo span,
.menu-tvculturaabrace #menu-portal li:hover span { background-position:0 bottom!important; }
.menu-tvculturaabrace #menu-portal-1 #menu-portal li.ativo a.filho{color:#333;}
.menu-tvculturaabrace #menu-portal-1 #menu-portal li.m-aovivo a,
.menu-tvculturaabrace #menu-portal-1 #menu-portal li.m-videos a:hover,
.menu-tvculturaabrace #menu-portal-1 #menu-portal a.filho:hover {color: #2c9700;}
.menu-tvculturaabrace #menu-portal-1 #menu-portal li.m-aovivo a:hover{color:#333;}
.menu-tvculturaabrace #menu-portal li a span{background: url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/ico-drop-abrace.png") 0 -112px no-repeat;}
.menu-tvculturaabrace #menu-portal-1 #menu-portal li:hover a span,
.menu-tvculturaabrace #menu-portal-1 #menu-portal li a.filho:hover span{background: url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/ico-drop-abrace.png") 0 -128px no-repeat!important;}


#logoCultura {position:relative;z-index:3000;}
#menu-portal-1.menu-cmais-abrace #menu-portal li.ativo a.filho{color:#8bf41c;}
#menu-portal-1.menu-cmais-abrace #menu-portal{width: 569px !important;background:url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/bg_topo_esquerda.jpg") repeat-x;height: 32px;}
#menu-portal-1.menu-cmais-abrace #menu-portal li.m-tv a.filho {padding: 8px 0 0 7px;}
#menu-portal-1.menu-cmais-abrace #menu-portal li a.filho {color: #fff;}
#menu-portal-1.menu-cmais-abrace #menu-portal .menu-aberto {left: -318px;}
#menu-portal-1.menu-cmais-abrace .abrace-infinito-esquerda{z-index:1;position:absolute;width:100%;min-height: 32px;}
#menu-portal-1.menu-cmais-abrace .abrace-esquerda{padding: 0 9px 0 1px; /* border-right:1px solid #0d6101; */ float:left;width: 310px;min-height: 32px;margin-left: -1px;/* background: url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/bg_topo_direita.jpg") repeat-x; */ }
#menu-portal-1.menu-cmais-abrace .abrace-infinito-esquerda{right:100%;background: url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/bg_topo_direita.jpg") repeat-x;}
#menu-portal-1.menu-cmais-abrace #menu-portal li a span{background-position: 0 -32px;} 
#menu-portal-1.menu-cmais-abrace #menu-portal li.m-videos a {color:#FFF;}
#menu-portal-1.menu-cmais-abrace #menu-portal li.m-aovivo a {color:#FFF}
#menu-portal-1.menu-cmais-abrace #menu-portal li a.filho:hover,
#menu-portal-1.menu-cmais-abrace #menu-portal li.m-videos a:hover,
#menu-portal-1.menu-cmais-abrace #menu-portal li.m-aovivo a:hover {color: #8bf41c;}
#menu-portal-1.menu-cmais-abrace #menu-portal li a.filho:hover span{background: url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/ico-drop-abrace.png") 0 bottom no-repeat!important;}
.abrace-infinito-direito {top: 37px;left: 0;background: url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/bg_topo_esquerda.jpg") repeat-x;z-index:1;position:absolute;width:100%;min-height: 32px;}
/* topo */

/* home tv cultura abrace */
body.tvculturaabrace{background:url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/bg-abrace.jpg")!important;}
.tvculturaabrace .novoDestaque .enunciado span {background: url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/ponta-destaque-newabrace.png") no-repeat !important;}
.tvculturaabrace #v2 li {border-right: 1px solid #3b7e14;}
.tvculturaabrace .novoDestaque .enunciado h2 {background-color: #0d6101;color: #6fe014!important;}
.tvculturaabrace .novoDestaque .enunciado h2 a {color: #6fe014;}
.tvculturaabrace #capa-site{padding: 0px 10px 50px 0px;}
.tvculturaabrace #capa-site #miolo{margin-top: 0px;}
.tvculturaabrace #capa-site #bg-abrace{position: absolute;background:#3b7e14 url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/tv_background.jpg") repeat-x;width: 990px;height: 102.5%;z-index: -1;left: 32px;}
.tvculturaabrace #capa-site #topo-abrace{height:140px;}
.tvculturaabrace #capa-site #topo-abrace img{margin: 24px 0 0 -220px;}
.tvculturaabrace .novoNoAr .enunciado span {background:url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/ponta-destaque-newabrace.png") no-repeat !important;}
.tvculturaabrace .novoNoAr .enunciado h2 {background-color: #0d6101;color: #fff;}
.tvculturaabrace .proximasAtracoes .enunciado{background:#329610;} 
.tvculturaabrace .box-padrao .topo span {background: url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/aba-titulo-abrace.png") no-repeat right 0!important;}
.tvculturaabrace .box-padrao .capa-titulo {background:#0d6104;}
.tvculturaabrace .proximasAtracoes .proximasAtracoes-box .gradeCompleta{color:#333;}
.tvculturaabrace #menu-rodape .abas li.ativo a,
.tvculturaabrace #menu-rodape .abas li:hover a{background: #6fe014!important;color: #0d6101;}
.tvculturaabrace #menu-rodape .abas li.ativo .decoracao, .abas li:hover .decoracao {background: url("http://cmais.com.br/portal/images/bg-menu-rodape.png") 0 bottom no-repeat;}
.tvculturaabrace #menu-rodape .blocos li a.bg:hover { border-color:#0d6104!important;} 
.tvculturaabrace .titulos,
.tvculturaabrace p,
.tvculturaabrace .conteudo a{color:#fff!important;}
.tvculturaabrace #menu-rodape .blocos a{color:#0d6104!important;}
.tvculturaabrace #menu-rodape .abas-conteudo {overflow: hidden;height:270px}
.tvculturaabrace #menu-rodape .conteudo-lista{height: 215px;}
.tvculturaabrace #rodape-portal {margin-top: -25px;}
.tvculturaabrace .capa-voltar-topo {padding-left:33px}
.tvculturaabrace .proximasAtracoes .proximasAtracoes-box p a{color:#0d6101;}
.tvculturaabrace .novoNoAr .noAr-box p,
.tvculturaabrace .novoNoAr .noAr-box a.titulos{color:#333!important;}
/* /home tv cultura abrace */

/* cmais abrace */
#revista .menu-editorias li a{background: url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/icones-editorias-abrace.jpg") 2px 0 no-repeat;}
#revista .menu-editorias li a:hover { background-position:-137px 0; background-color:#379520; }
#menu-revista li.ativo, #menu-revista li:hover {background: url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/bg-hover-abrace.png") no-repeat;}
#conteudo-revista {border-right: 2px solid #379520;border-left: 2px solid #379520;}
#revista .menu-editorias li {border-left: 2px solid #379520;}
.menutv li a {color: #379520;}
#menu-portal .menu-aberto .abas li.ativo a{background:#0d6101!important;}
#menu-portal .menu-aberto .abas li:hover a{background:#0d6101;}
#menu-portal .menu-aberto .abas li.ativo span{background:url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/bg-menu-rodape-abrace.png") 0 bottom!important;}
#menu-portal .menu-aberto .botoes a,
#menu-portal .box-vjtambem .tit,
#menu-portal .tit{color:#379520!important;}
.box-padrao .topo span {background: url("http://cmais.com.br/portal/images/capaPrograma/culturaabrace/aba-titulo-abrace.png") no-repeat right 0!important;}
/*.box-padrao .claro .capa-titulo,
.box-padrao .capa-titulo{background: #0d6104;}*/
.lista-blogs .chapeu {color: #0d6104;}
.lista-blogs a {color:#0d6104!important}
/* /cmais abrace */

