@import url("../geral.css");

/********* RESULTADO DA BUSCA ********/
/** filtro **/
#filtro { margin:10px 0 20px 0; float:left; }
#filtro .box-busca { float:left; margin-right:40px; }
#filtro .box-busca label { font-weight:bold;}
#filtro .box-busca label,
#filtro .box-busca input,
#filtro .box-busca select {font-size:12px; line-height:23px;  }
#filtro .box-busca input,
#filtro .box-busca select { border:2px solid #b2b2b2; }
#filtro .box-busca select { height:23px; color:#333; font-size:12px;  }
#filtro .box-busca input { height:20px; }
#filtro .box-busca .estado {width:50px;}
#filtro .box-busca .oque,
#filtro .box-busca .ordenar,
#filtro .box-busca .onde { width:130px; }
#filtro .last input { width:75px; }
#filtro .last .ok { background:#333; color:#fff; width:37px; height:23px; line-height:23px; border:none; margin-left:5px; font-size:12px; font-weight:bold; }
/** /filtro **/

/** menu-resultado **/
#estilo-menu .abas { margin-bottom:20px; }
#estilo-menu .abas li a { display:block; font-size:14px; font-weight:bold; text-transform:uppercase; line-height:25px; color:#fff; }
#estilo-menu .abas li { margin:0; width:161px  }
#estilo-menu .abas .decoracao { left:74px;}
#estilo-menu .abas .audios { float: right; }
/** /menu-resultado **/

#filtro {margin-bottom:10px;}
.box-texto p {clear:both}
.box-texto .fonte {font-size:10px; font-weight:bold;}
.box-texto .fonte a {font-size:10px;}
/********* RESULTADO DA BUSCA ********/
/**/