@import url("../geral.css");

/******** CONTATO ********/
.box-topo {margin-bottom:10px;}
.contato {text-align:left; margin-left:2px;}
.contato h3 { font-size:25px;}
.contato .titulos { margin-bottom:10px; }
.contato p {clear:both; margin-bottom:20px;}
.contato p strong {font-weight:bold;}
.contato form .linha { float:left; margin-bottom:10px }
.contato form  .linha label { text-transform:uppercase; font-size:12px; font-weight:bold; text-align:left; float:left;   }
.contato form .linha select,
.contato form  .linha input { height:26px; line-height:26px; background:#fff; border:1px solid #bfbfbf; padding-left:2px; font-size:12px; color:#333;  }
.contato form .linha select {height:28px; line-height:28px; margin:0; padding:0;}
.contato form .t1 { width:570px; margin-right:10px; }
.contato .codigo .msg,
.contato form .t1 label,
.contato form .t1 input { width:566px; margin-right:10px; }
.contato form .t2 { width:60px; }
.contato form .linha select,
.contato form .t2 label,
.contato form .t2 input { width:50px; }
.contato form .t3 { width:636px; }
.contato form textarea,
.contato form .t3 label,
.contato form .t3 input { width:630px; }
.contato form .t4 { width:322px; }
.contato form .t4 label,
.contato form .t4 input { width:312px; }
.contato form .t5 { width:580px; }
.contato form .t5 label,
.contato form .t5 input { width:566px; }
.contato form .t6 { width:150px; }
.contato form .interprete {margin-right:10px;}
.contato form textarea { height:209px; border:1px solid #bfbfbf; padding:2px; font-size:12px; color:#333; /*overflow-y:scroll;*/ }
.contato form .txt-10 { float:right; }
.contato form .linha .enviar { background:#ff6633; color:#fff; text-transform:uppercase; height:22px; line-height:22px; border:none; float:right; font-weight:bold; width:137px; padding-bottom:2px; clear:both; margin-top:10px; }
.contato .adicionar {border-bottom:1px solid #bfbfbf;  }
.contato .adicionar a {color:#005DAB; text-transform:uppercase; font-size:12px; font-weight:bold; background:url(../../../images/adicionar.png) no-repeat; padding-left:20px; float:right; }
.contato .adicionar a:hover {text-decoration:none;}
.contato .codigo .msg { width:350px; font-weight:normal; font-size:12px; float:left; text-transform:none;}
.contato .codigo .img {clear:both; display:block; width:132px; height:46px; float:left; margin-right:10px; border:2px solid #d2d2d2;}
.contato .codigo .caracteres {width:340px; float:left;}
/******** /CONTATO ********/
#form-contato label.error{
  background-color: #f5d6cc;
  color: #863f27;
  display: none;
  font-size: 12px;
  font-weight: normal;
  margin-top: 4px;
  padding-left: 3px;
  text-transform: none;
}
#form-contato .erro{
  border: 1px solid #f5d6cc;
}
#form-contato label.checked{
  background: none;
  height: 0px; 
}
.msgErro{
  background-color: #ff6633;
  margin: 20px 0 0 105px;
  width: 420px;
}
.msgErro .alerta{
  background: url(../../../images/ico-erro.png) no-repeat;
  display: block;
  float: left;
  margin: 20px 0 0 10px;
  overflow: hidden;
  text-indent: -99999px;
  width: 32px;
  height: 32px;
}
.msgAcerto{
  background-color: #ff6633;
  margin: 20px 0 0 105px;
  width: 410px;
}
.msgAcerto .alerta{
  background: url(../../../images/ico-acerto.png) no-repeat;
  display: block;
  float: left;
  margin: 13px 0 0 10px;
  overflow: hidden;
  text-indent: -99999px;
  width: 32px;
  height: 32px;
}
.boxMsg{
  float: left;
  margin: 5px 0 5px 10px;
  width: 355px;
}
.boxMsg p{
  color: #fff;
  font-size: 12px;
  line-height: 15px;
}
.boxMsg p.aviso{
  font-weight: bold; margin-bottom:5px;
}

.contato form select.estado {width:56px;}

/* página de contato - cadastro de tutores*/
.contatoWrapper h3{
	font-size: 24px;
	margin-top: 35px;
	width: 640px;
}
.contatoWrapper p{
	margin-bottom: 0px;
}
.contatoWrapper p.titu{
	float: left;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0 10px 0;
	width: 635px;
}
.contatoWrapper #form-contato{
	float: left;
	margin-top: 25px;
}
.contatoWrapper #form-contato p.enun{
	color: #ff6633;
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.contatoWrapper #form-contato .t1,
.contatoWrapper #form-contato .t2,
.contatoWrapper #form-contato .t3,
.contatoWrapper #form-contato .t4,
.contatoWrapper #form-contato .t33{
	margin-right: 10px;
}

.contatoWrapper #form-contato .t1,
.contatoWrapper #form-contato .t1 label,
.contatoWrapper #form-contato #nome,
.contatoWrapper #form-contato #rua,
.contatoWrapper #form-contato #cidade{
	width: 468px;
}
.contatoWrapper #form-contato .t2,
.contatoWrapper #form-contato .t2 label,
.contatoWrapper #form-contato #data,
.contatoWrapper #form-contato #cpf,
.contatoWrapper #form-contato #rg,
.contatoWrapper #form-contato #exp,
.contatoWrapper #form-contato #uf,
.contatoWrapper #form-contato #numero,
.contatoWrapper #form-contato #compl,
.contatoWrapper #form-contato #cep,
.contatoWrapper #form-contato #estado,
.contatoWrapper #form-contato #tel,
.contatoWrapper #form-contato #cel{
	width: 149px;
}
.contatoWrapper #form-contato p.pergunta{
	float: left;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	width: 620px;
}
.contatoWrapper #form-contato .t10{
	width: 50px;
}
.contatoWrapper #form-contato .t10 label{
	float: left;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
	margin-top: 2px;
}
.contatoWrapper #form-contato .t10 input{
	float: left;
	margin-right: 2px;
}
.contatoWrapper #form-contato .t33,
.contatoWrapper #form-contato .t33 label,
.contatoWrapper #form-contato #bairro{
	width: 308px;
}
.contatoWrapper #form-contato .exc,
.contatoWrapper #form-contato .exc #email{
	width: 626px;
}
.contatoWrapper #form-contato .t4,
.contatoWrapper #form-contato .t4 label,
.contatoWrapper #form-contato .t4 #dddT,
.contatoWrapper #form-contato .t4 #dddC{
	width: 39px;
}
.contatoWrapper #form-contato .t11{
	width: 120px;
}
.contatoWrapper #form-contato .t11 label{
	float: left;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
	margin-top: 2px;
}
.contatoWrapper #form-contato .t11 input{
	float: left;
	margin-right: 2px;
}
.contatoWrapper #form-contato .t5{
	width: 435px;
}
.contatoWrapper #form-contato .t5 label{
	float: left;
	font-size: 14px;
	font-weight: normal;
	margin-top: 3px;
	text-transform: none;
	width: auto;
}
.contatoWrapper #form-contato .t5 #ensino{
	margin-left: 10px;
	width: 239px;
}
.contatoWrapper #form-contato .linhaFundo{
	border-bottom: 1px solid #bfbfbf;
	display: block;
	float: left;
	margin: 10px 0 20px 10px;
	width: 610px;
}
.contatoWrapper #form-contato p.perguntas{
	float: left;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	width: 308px;
}
.envie{
	background:url(http://cmais.com.br/portal/images/capaPrograma/envie_sua_foto_topo.jpg) no-repeat center;
	height:100px;
	margin-bottom:10px;
}
