/* topo site */
.bg-site {height:102px; position:relative;*top:-1px!important; z-index: 0; overflow:hidden; clear:both;}
/*#capa-site {margin-top:-52px !important;}*/
#capa-site {margin-top:-96px !important;}
#capa-site {*margin-top:-147px !important;}
#barra-site {min-height:100px; margin:0; width:1012px; }
/*.bg-site  {_margin-top:-49px !important;}*/
.bg-chamada {width:100%; position:relative; overflow:hidden;}
#chamada { width:970px; margin:0 auto; float:none; margin-top:20px; margin-bottom:20px; padding-left:42px; background: none;}
.box-topo { margin-left:42px; }
#barra-site .topo-programa { margin-left:42px; }
.bg-site { background-position:bottom; }
#barra-site .redes {  width:auto !important; }
.noticia.video img {width: 310px;float: left;}
.box-playlist.video a img {width: 173px;margin-top: -17px;float: right;}
/* /topo site */