@import url("../geral.css");

/* PROGRAMA SIMPLES EPISODIOS */
.tit-pagina {margin-bottom:10px;}
.texto {margin-top:10px;}
.texto p {margin-bottom:10px;}
.box-interna { margin-bottom:0;}
.paginacao { margin:10px 0;}
.paginacao .titulos {margin:0; text-align:center; width:594px; background:none; float:right;} 
#box-videos .topo {margin-bottom:0;}
#box-videos a {float:left !important; width:226px; font-size:12px; line-height:14px;}
#box-videos .episodio span { width:59px; float:left; color:#fff;}
#box-videos span,
#box-videos .titulos {font-size:16px; line-height:18px;}
#box-videos .episodio { background:#333; color:#fff; width:59px; height:38px; display:block; float:left; font-size:12px; font-weight:bold; text-align:center; margin:1px 5px 0 0; padding-top:7px; }
#box-videos .episodio.ativo,
#box-videos .episodio:hover {background:#ff6633; text-decoration:none;}
#box-videos .conteudo-lista {height:50px;}
#box-videos ul { overflow:auto; height:420px; margin:0;}
#box-videos li {width:290px;}
/* /PROGRAMA  SIMPLES EPISODIOS */