@import url("../geral.css");
/* PROGRAMA PERSONAGEM */
.box-padrao {margin-top:0;}
.box-relacionados {margin:0 10px 0 0;}
.galeria .destaques {background:none;}
.submenu-interna ul {width:100px;}
/* /PROGRAMA PERSONAGEM */