@import url("programaSobre.css");

/* PROGRAMA SOBRE EQUIPE */
.foto {width:200px; float:left; margin-right:10px;}
.box-listao li {float:left;}
.box-listao li .chapeu,
.box-listao li p,
.box-listao li .titulos {float:none; clear:none;}


/* /PROGRAMA SOBRE EQUIPE */