/* geral */
@font-face {
    font-family: 'dinmedium';
    src: url('/portal/css/fontes/din/din-medium-webfont.eot');
    src: url('/portal/css/fontes/din/din-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/portal/css/fontes/din/din-medium-webfont.woff') format('woff'),
         url('/portal/css/fontes/din/din-medium-webfont.ttf') format('truetype'),
         url('/portal/css/fontes/din/din-medium-webfont.svg#dinmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din-blackregular';
    src: url('/portal/css/fontes/din/din-black-webfont.eot');
    src: url('/portal/css/fontes/din/din-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/portal/css/fontes/din/din-black-webfont.woff') format('woff'),
         url('/portal/css/fontes/din/din-black-webfont.ttf') format('truetype'),
         url('/portal/css/fontes/din/din-black-webfont.svg#din-blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, input, button, select, textarea {color:#737373 !important;} 
ul li { list-style:none; }
i { display:block; }
a:hover { text-decoration:none; }

/* dinmedium */
input, button, select, textarea,
body { font-family: 'dinmedium', "Helvetica Neue", Helvetica, Arial, sans-serif; color:#737373; }
/* /din-blackregular*/

/* din-blackregular*/
.destaque-filtro h2 a,
.mais,
#content h3,
.header-bar li a,
.topo-vila .nav li a:hover {font-family: 'din-blackregular', "Helvetica Neue", Helvetica, Arial, sans-serif;}
/* /din-blackregular*/

/* border radius*/
.topo-vila input.search-query  {border-radius:0; -moz-border-radius: 0; -webkit-border-radius: 0;}

.todos-itens li,
.filtro .filtro-personagem li,
.filtro,
.destaques section .span6,
.header-bar li:hover,
.header-bar li.ativo { border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
/* /border radius*/

.container, 
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { max-width: 980px; }
.navbar-fixed-top { margin-bottom:0;}
#content {  min-height:500px; position:relative; top:103px; margin-bottom:103px; }
.header-bar,
section { max-width:980px; margin:0 auto; clear:both;}
.navbar-inverse .navbar-inner { 
  padding:0;
  border:none;
  background: rgb(14,14,14); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlMGUwZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZDdlN2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,14,14,1)), color-stop(100%,rgba(125,126,125,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-8 */ }

#content h3 a,
#content h3 { font-size:25px; color:#fff; text-transform:uppercase; font-weight:normal;  }
#content h3 i { float: left; }
/* geral */

/* sprite*/
.sprite-btn-atividades,
.sprite-btn-jogos,
.sprite-btn-personagens,
.sprite-btn-videos,
.sprite-icon-busca-hover,
.sprite-icon-busca,
.sprite-icon-clipes-grd-hover,
.sprite-icon-clipes-grd,
.sprite-icon-colorir-grd-hover,
.sprite-icon-colorir-grd,
.sprite-icon-episodios-grd-hover, 
.sprite-icon-episodios-grd, 
.sprite-icon-imprimir-grd-hover, 
.sprite-icon-imprimir-grd, 
.sprite-icon-jogos-grd-hover, 
.sprite-icon-jogos-grd, 
.sprite-icon-personagens-grd, 
.sprite-icon-personagens-peq,
.sprite-logo-incluir-grd-hover, 
.sprite-logo-incluir-grd, 
.sprite-logo-sesamo-peq, 
.sprite-logo-sesamo, 
.sprite-menu-ball,
.sprite-logo-cmais,
.sprite-logo-cultura,
.sprite-destalhe-amarelo1,
.sprite-destalhe-amarelo2,
.sprite-destalhe-amarelo3,
.sprite-seta-direita,
.sprite-seta-esquerda,
.sprite-rodape-incluir,
.sprite-detalhe-amarelo4,
.sprite-selo,
.sprite-icon-mais,
.sprite-logo-sesamo-interna,
.sprite-icon-personagens-med, 
.sprite-icon-clipes-med-hover,
.sprite-icon-clipes-med,
.sprite-icon-colorir-med-hover,
.sprite-icon-colorir-med,
.sprite-icon-jogos-med-hover,
.sprite-icon-jogos-med,
.sprite-icon-videos-med { background-image:url(/portal/images/capaPrograma/vila-sesamo/sprite.png);}

.sprite-btn-atividades{ background-position: 0 0; width: 64px; height: 64px; } 
.sprite-btn-jogos{ background-position: 0 -114px; width: 64px; height: 64px; } 
.sprite-btn-personagens{ background-position: 0 -228px; width: 64px; height: 64px; } 
.sprite-btn-videos{ background-position: 0 -342px; width: 64px; height: 64px; } 
.sprite-destalhe-amarelo1{ background-position: 0 -456px; width: 33px; height: 83px; } 
.sprite-destalhe-amarelo2{ background-position: 0 -589px; width: 33px; height: 83px; } 
.sprite-destalhe-amarelo3{ background-position: 0 -722px; width: 34px; height: 83px; } 
.sprite-detalhe-amarelo4{ background-position: 0 -855px; width: 52px; height: 76px; } 
/*.sprite-icon-busca-hover{ background-position: 0 -981px; width: 41px; height: 41px; }*/ 
.sprite-icon-busca{ background-position: 0 -1072px; width: 41px; height: 41px; } 
/*.sprite-icon-clipes-grd-hover{ background-position: 0 -1163px; width: 80px; height: 80px; }*/ 
.sprite-icon-clipes-grd{ background-position: 0 -1293px; width: 80px; height: 80px; } 
.sprite-icon-clipes-med-hover{ background-position: 0 -1423px; width: 56px; height: 56px; } 
.sprite-icon-clipes-med{ background-position: 0 -1529px; width: 56px; height: 56px; } 
/*.sprite-icon-colorir-grd-hover{ background-position: 0 -1635px; width: 80px; height: 80px; }*/ 
.sprite-icon-colorir-grd{ background-position: 0 -1765px; width: 80px; height: 80px; } 
.sprite-icon-colorir-med-hover{ background-position: 0 -1895px; width: 56px; height: 56px; } 
.sprite-icon-colorir-med{ background-position: -130px 0; width: 56px; height: 56px; } 
.sprite-icon-episodios-grd-hover{ background-position: -130px -106px; width: 80px; height: 80px; } 
.sprite-icon-episodios-grd{ background-position: -130px -236px; width: 80px; height: 80px; } 
.sprite-icon-imprimir-grd-hover{ background-position: -130px -366px; width: 80px; height: 80px; } 
.sprite-icon-imprimir-grd{ background-position: -130px -496px; width: 80px; height: 80px; } 
.sprite-icon-jogos-grd-hover{ background-position: -130px -626px; width: 80px; height: 80px; } 
.sprite-icon-jogos-grd{ background-position: -130px -756px; width: 80px; height: 80px; } 
.sprite-icon-jogos-med-hover{ background-position: -130px -886px; width: 56px; height: 56px; } 
.sprite-icon-jogos-med{ background-position: -130px -992px; width: 56px; height: 56px; } 
.sprite-icon-mais{ background-position: -130px -1098px; width: 60px; height: 60px; } 
.sprite-icon-personagens-grd{ background-position: -130px -1208px; width: 80px; height: 80px; } 
.sprite-icon-personagens-med{ background-position: -130px -1338px; width: 56px; height: 56px; } 
.sprite-icon-personagens-peq{ background-position: -130px -1444px; width: 38px; height: 38px; } 
.sprite-icon-videos-med{ background-position: -130px -1532px; width: 54px; height: 45px; } 
.sprite-list-style{ background-position: -130px -1627px; width: 27px; height: 26px; } 
.sprite-logo-cmais{ background-position: -130px -1703px; width: 93px; height: 22px; } 
.sprite-logo-cultura{ background-position: -130px -1775px; width: 80px; height: 75px; } 
/*incluir hover*/
.sprite-logo-incluir-grd-hover{ background-position: -130px -1900px; width: 235px; height: 45px; } 
.sprite-logo-incluir-grd{ background-position: -415px 0; width: 235px; height: 45px; } 
.sprite-logo-sesamo-interna{ background-position: -415px -95px; width: 152px; height: 69px; } 
.sprite-logo-sesamo-peq{ background-position: -415px -214px; width: 162px; height: 73px; } 
.sprite-logo-sesamo{ background-position: -415px -337px; width: 248px; height: 115px; } 
.sprite-menu-ball{ background-position: -415px -502px; width: 7px; height: 7px; } 
.sprite-rodape-incluir{ background-position: -415px -559px; width: 392px; height: 61px; } 
.sprite-selo{ background-position: -415px -670px; width: 147px; height: 36px; } 
.sprite-seta-direita{ background-position: -415px -756px; width: 46px; height: 70px; } 
.sprite-seta-esquerda{ background-position: -415px -876px; width: 46px; height: 70px; } 

/*/sprite*/


/* topo cmais*/
.navbar-inverse .navbar-inner.topo-cmais {  background:url(/portal/images/capaPrograma/vila-sesamo/bg-cmais.jpg) repeat-x; }
.navbar-inverse .navbar-inner.topo-cmais h1, 
.navbar-inverse .navbar-inner.topo-cmais h2 { float:left; margin:0; padding:0; } 
.navbar-inverse .navbar-inner.topo-cmais h1 a, 
.navbar-inverse .navbar-inner.topo-cmais h2 a { display: block; margin:0; padding:0;} 
.navbar-inverse .navbar-inner.topo-cmais h1 { margin:10px; }
/* topo cmais*/

/* topo vila */
.navbar-inverse .navbar-inner.topo-vila { background:url(/portal/images/capaPrograma/vila-sesamo/bg-topo-vila.jpg) repeat-x; height:65px; margin-top:-40px; }
.topo-vila .container { position:relative; }
.topo-vila h2 { left:80px; width: 227px; display: block; position:absolute;}
.topo-vila .sprite-logo-incluir-grd { display: block; text-indent:-9999px;  }
.topo-vila .sprite-logo-incluir-grd:hover {  background-position: -130px -1900px; width: 235px; height: 45px;  }
.topo-vila nav { float:right;  }
.topo-vila .nav,
.topo-vila nav form { float:left; }
.topo-vila .nav { border-left:1px solid #efefef; height:20px; padding:0 10px; margin-top:20px; }
.topo-vila .nav li a { padding:0; float:left; text-transform:uppercase; text-shadow:none; color:#737373; }
.topo-vila .nav li a:hover { color:#737373; }
.topo-vila .nav li .sprite-menu-ball {  display: block; margin:7px 10px 0 10px; float:left; }
.topo-vila .form-search { margin-top:10px; }
.topo-vila input { text-transform:uppercase; } 
.topo-vila input.search-query {  height:44px; line-height: 44px; padding:0 10px; margin-right:10px; border-color:#efefef; box-shadow:none; }
.topo-vila .form-search .btn { background-color:transparent; border:none; box-shadow:none; padding:0; width: 41px; height:41px; margin:0;  }
.topo-vila .form-search:hover .btn,
.topo-vila .form-search:focus .btn,
.topo-vila .form-search .btn:hover,
.topo-vila .form-search .btn:focus { background-position: 0 -981px; width: 41px; height: 41px; -moz-transition:none; }
/* /topo vila */

/* menu site */
.header-bar { position:relative; z-index: 100;  }
.header-bar h1 .sprite-logo-sesamo-interna,
.header-bar h1 .sprite-logo-sesamo { text-indent:-9999px;  display: block;}
.header-bar ul { margin-top:20px; }
.header-bar li {position:relative; overflow: hidden;width:62px;height:62px;border-radius:5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
.header-bar li a { line-height:64px;height:64px; display: block; position:relative; color:#fff; font-size: 25px; text-decoration:none;  text-transform:uppercase; padding: 0 12px 0 0px;}
.header-bar li i { position:absolute; left:0; top:0; }
.header-bar li a span.fundo{width:66px; height:66px; position:absolute; top:-1px; left:-1px;display:block;z-index:-3;display:none;}
.header-bar li a span.fundo-jogos{background:#02a2ff;}
.header-bar li a span.fundo-atividades{background:#883feb;}
.header-bar li a span.fundo-videos{background:#f5861f;}
.header-bar li a span.fundo-personagens{background:#d71c0d;}
.header-bar li a span.borda{width:5px; height:100%; display: block; background:black; position:absolute; top:0; right:0;z-index:-1; display:none;}
.header-bar li a span.borda-jogos{background:#02cbff;border-left:2px solid #0191fb;}
.header-bar li a span.borda-atividades{background:#b16af2;border-left:2px solid #7732e5;}
.header-bar li a span.borda-videos{background:#f9a41b; border-left:2px solid #f07317;}
.header-bar li a span.borda-personagens{background:#ee3021;border-left:2px solid #c31405; }
.header-bar li a span.texto{margin-left:74px;position:relative; z-index:-2;}
/* /menu site */


/* home*/
#carrossel-destaque { max-width: 100%; width:100%; background:#4d08a4; height:486px; text-align:center; top:-134px; z-index: 0; position:relative; margin-bottom:-134px;} 
.destaques { text-align:center; }
.destaques img { width:100% }
.destaques .tipoA { background:#555; }
.destaques .tipoB { background:#777; }
.destaques .tipoC { background:#999; }
.destaques .tipoD { background:#eee; }
.destaques .banner a img,
.destaques .banner a { display: block; width:100% }
.divisa { display: block; width: 100%; background:url(/portal/images/capaPrograma/vila-sesamo/pattern-divisa.png) repeat-x; height:2px; max-width:940px; margin:0 auto 20px; }
.bgtotal { width:100%; max-width:100% !important; background:#fee133; padding-top:20px; }
.destaques section .span6 { width:31.6%; overflow:hidden; border-top:7px solid #02cbff; border-bottom:7px solid #02cbff; }
.destaques section .span6 img { border-top:2px solid #0191fb; }
.destaques .jogo { background:#3aaaec; }
.destaques .video { background:#f5861f; }
.destaques .atividade { background:#883feb; }
.destaques.container { max-width:940px; }
.destaques i { float:left; margin-top:-15px;}
.destaques i.sprite-icon-jogos-grd:hover { background-position: -130px -626px; }
.destaques i.sprite-icon-clipes-grd:hover { background-position: 0 -1163px; }
.destaques i.sprite-icon-colorir-grd:hover {  background-position: 0 -1635px; }
.destaques a { display: block;}
.destaques h3 { overflow:hidden; margin:0; border-bottom:2px solid #0191fb; }
.destaques h3 a { color:#fff; line-height:27px; text-align:left; display:block; padding:0; margin-top:15px; }
.destaques section .video { background:#f5861f ; border-color:#f9a41b ; }
.destaques section .video img,
.destaques section .video h3 { border-color:#f07317 ; }
.destaques section .atividade { background:#883feb ; border-color:#b16af2 ; }
.destaques section .atividade img,
.destaques section .atividade h3 { border-color:#7732e5 ; }
.destaques section { margin-bottom:20px; }
/* /home*/

/* top menu*/
.header-bar h1 { float:left; }
.header-bar ul { float:right; }
.header-bar ul li { float:left; margin-left:20px; }
/* /top menu*/


/* footer*/
footer { background:#fff url(/portal/images/capaPrograma/vila-sesamo/pattern-copyright.jpg) repeat-x; position:relative;}
footer .copyright {height:30px;}
footer .copyright small { max-width:940px; margin:0 auto; display:block; font-size:14px; text-transform:uppercase; height: 25px; line-height:25px; }
footer a {display:block;}
footer h1 a,
footer h2 a { text-indent:-9999px; }
footer .container { background:url(/portal/images/capaPrograma/vila-sesamo/pattern-footer.jpg) repeat; margin-top:10px; }
footer h1,
footer h2 { width:auto; float:left; }
footer h2 { float:right; }
/* /footer*/