Options -Indexes
RewriteEngine On

RewriteRule ^streamings?$ /webservice/streamings.xml [L,QSA]
RewriteRule ^culturabrasil?$ /webservice/culturabrasil.xml [L,QSA]
RewriteRule ^culturafm?$ /webservice/culturafm.xml [L,QSA]

#cultura brasil
RewriteRule ^culturabrasil/ao-vivo-na-faixa?$ http://www.culturabrasil.com.br/ao-vivo-na-faixa.pod [L,QSA]
RewriteRule ^culturabrasil/estudio-f?$ http://www.culturabrasil.com.br/estudio-f.pod [L,QSA]
RewriteRule ^culturabrasil/lusofalante?$ http://www.culturabrasil.com.br/lusofalante.pod [L,QSA]
RewriteRule ^culturabrasil/todamusica?$ http://www.culturabrasil.com.br/todamusica.pod [L,QSA]
RewriteRule ^culturabrasil/todos-os-sons?$ http://www.culturabrasil.com.br/todos-os-sons.pod [L,QSA]
RewriteRule ^culturabrasil/veredas?$ http://www.culturabrasil.com.br/veredas.pod [L,QSA]
RewriteRule ^culturabrasil/rock-cultura?$ http://www.culturabrasil.com.br/rock-cultura.pod [L,QSA]
RewriteRule ^culturabrasil/bossamoderna?$ http://www.culturabrasil.com.br/bossamoderna.pod [L,QSA]
RewriteRule ^culturabrasil/estudio-cultura?$ http://www.culturabrasil.com.br/estudio-cultura.pod [L,QSA]
RewriteRule ^culturabrasil/as-cancoes-nascem-assim?$ http://www.culturabrasil.com.br/as-cancoes-nascem-assim.pod [L,QSA]
RewriteRule ^culturabrasil/radio-documentarios?$ http://www.culturabrasil.com.br/radio-documentarios.pod [L,QSA]
RewriteRule ^culturabrasil/supertonica?$ http://www.culturabrasil.com.br/supertonica.pod [L,QSA]
RewriteRule ^culturabrasil/solano-ribeiro-e-a-nova-musica-do-brasil?$ http://www.culturabrasil.com.br/solano-ribeiro-e-a-nova-musica-do-brasil.pod [L,QSA]
RewriteRule ^culturabrasil/bamba-jam?$ http://www.culturabrasil.com.br/bamba-jam.pod [L,QSA]
RewriteRule ^culturabrasil/radarcultura?$ http://www.culturabrasil.com.br/radarcultura.pod [L,QSA]
RewriteRule ^culturabrasil/a-voz-popular?$ http://www.culturabrasil.com.br/a-voz-popular.pod [L,QSA]
RewriteRule ^culturabrasil/atencao-brasil?$ http://www.culturabrasil.com.br/atencao-brasil.pod [L,QSA]
RewriteRule ^culturabrasil/cultura-livre?$ http://www.culturabrasil.com.br/cultura-livre.pod [L,QSA]
RewriteRule ^culturabrasil/galeria?$ http://www.culturabrasil.com.br/galeria.pod [L,QSA]
RewriteRule ^culturabrasil/musica-regional-brasileira?$ http://www.culturabrasil.com.br/musica-regional-brasileira.pod [L,QSA]
RewriteRule ^culturabrasil/programa-do-estudante?$ http://www.culturabrasil.com.br/programa-do-estudante.pod [L,QSA]
RewriteRule ^culturabrasil/reggae-de-bamba?$ http://www.culturabrasil.com.br/reggae-de-bamba.pod [L,QSA]
RewriteRule ^culturabrasil/selecao-do-ouvinte?$ http://www.culturabrasil.com.br/selecao-do-ouvinte.pod [L,QSA]
RewriteRule ^culturabrasil/78rpm?$ http://www.culturabrasil.com.br/78rpm.pod [L,QSA]

#cultura fm
RewriteRule ^culturafm/ideias-musicais?$ http://www3.tvcultura.com.br/radiofm/podcasts/35030?pod=1 [L,QSA]
RewriteRule ^culturafm/bach?$ http://www3.tvcultura.com.br/radiofm/podcasts/34840?pod=1 [L,QSA]
RewriteRule ^culturafm/comecando-o-dia?$ http://www3.tvcultura.com.br/radiofm/podcasts/34481?pod=1 [L,QSA]
RewriteRule ^culturafm/encontro-com-o-maestro?$ http://www3.tvcultura.com.br/radiofm/podcasts/26162?pod=1 [L,QSA]
RewriteRule ^culturafm/laudate-dominum?$ http://www3.tvcultura.com.br/radiofm/podcasts/26080?pod=1 [L,QSA]
RewriteRule ^culturafm/mapa-mundi?$ http://www3.tvcultura.com.br/radiofm/podcasts/28325?pod=1 [L,QSA]
RewriteRule ^culturafm/o-mundo-da-opera?$ http://www3.tvcultura.com.br/radiofm/podcasts/26265?pod=1 [L,QSA]
RewriteRule ^culturafm/o-prazer-da-musica?$ http://www3.tvcultura.com.br/radiofm/podcasts/26083?pod=1 [L,QSA]
RewriteRule ^culturafm/o-que-ha-de-novo?$ http://www3.tvcultura.com.br/radiofm/podcasts/26269?pod=1 [L,QSA]
RewriteRule ^culturafm/vozes?$ http://www3.tvcultura.com.br/radiofm/podcasts/26098?pod=1 [L,QSA]
RewriteRule ^culturafm/a-musica-sovietica?$ http://www3.tvcultura.com.br/radiofm/podcasts/32905?pod=1 [L,QSA]
RewriteRule ^culturafm/a-magia-da-flauta?$ http://www3.tvcultura.com.br/radiofm/podcasts/29242?pod=1 [L,QSA]
RewriteRule ^culturafm/cena-brasileira?$ http://www3.tvcultura.com.br/radiofm/podcasts/26073?pod=1 [L,QSA]
RewriteRule ^culturafm/classicos-dos-classicos?$ http://www3.tvcultura.com.br/radiofm/podcasts/31350?pod=1 [L,QSA]
RewriteRule ^culturafm/kaleidoscopio?$ http://www3.tvcultura.com.br/radiofm/podcasts/26263?pod=1 [L,QSA]
RewriteRule ^culturafm/os-mundos-de-mahler?$ http://www3.tvcultura.com.br/radiofm/podcasts/32869?pod=1 [L,QSA]
RewriteRule ^culturafm/tema-e-variacoes?$ http://www3.tvcultura.com.br/radiofm/podcasts/26091?pod=1 [L,QSA]


RewriteRule ^culturabrasil$ http://www3.tvcultura.com.br/radiofm/podcasts/34840?pod=1 [L,QSA]
RewriteRule ^podcasts/comecando-o-dia.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/34481?pod=1 [L,QSA]
RewriteRule ^podcasts/encontro-com-o-maestro.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/26162?pod=1 [L,QSA]
RewriteRule ^podcasts/laudate-dominum.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/26080?pod=1 [L,QSA]
RewriteRule ^podcasts/mapa-mundi.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/28325?pod=1 [L,QSA]
RewriteRule ^podcasts/o-mundo-da-opera.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/26265?pod=1 [L,QSA]
RewriteRule ^podcasts/o-prazer-da-musica.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/26083?pod=1 [L,QSA]
RewriteRule ^podcasts/o-que-ha-de-novo.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/26269?pod=1 [L,QSA]
RewriteRule ^podcasts/vozes.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/26098?pod=1 [L,QSA]
RewriteRule ^podcasts/a-familia-bach.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/26072?pod=1 [L,QSA]
RewriteRule ^podcasts/a-musica-sovietica.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/32905?pod=1 [L,QSA]
RewriteRule ^podcasts/a-magia-da-flauta.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/29242?pod=1 [L,QSA]
RewriteRule ^podcasts/cena-brasileira.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/26073?pod=1 [L,QSA]
RewriteRule ^podcasts/classicos-dos-classicos.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/31350?pod=1 [L,QSA]
RewriteRule ^podcasts/ideias-musicais.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/34793?pod=1 [L,QSA]
RewriteRule ^podcasts/kaleidoscopio.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/26263?pod=1 [L,QSA]
RewriteRule ^podcasts/os-mundos-de-mahler.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/32869?pod=1 [L,QSA]
RewriteRule ^podcasts/tema-e-variacoes.pod?$ http://www3.tvcultura.com.br/radiofm/podcasts/26091?pod=1 [L,QSA]

RewriteRule ^([a-z,A-Z,0-9,\ _-]+)/?([a-z,A-Z,0-9,\ _-]+)?/?([a-z,A-Z,0-9,\ _-]+)?/?([a-z,A-Z,0-9,\ _-]+)?$ index.php?section=$1&content_id=$2&param2=$3&param3=$4 [L,QSA]
