@font-face {
    font-family: 'TitilliumLtBold';
    src: url('http://cmais.com.br/portal/css/fontes/titillium/titillium-light-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/titillium/titillium-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/titillium/titillium-light-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/titillium/titillium-light-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/titillium/titillium-light-webfont.svg#TitilliumLtBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumBold';
    src: url('http://cmais.com.br/portal/css/fontes/titillium/titillium-semibold-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/titillium/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/titillium/titillium-semibold-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/titillium/titillium-semibold-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/titillium/titillium-semibold-webfont.svg#TitilliumBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumSemiBold';
    src: url('http://cmais.com.br/portal/css/fontes/titillium/titillium-semibold-webfont.eot');
    src: url('http://cmais.com.br/portal/css/fontes/titillium/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cmais.com.br/portal/css/fontes/titillium/titillium-semibold-webfont.woff') format('woff'),
         url('http://cmais.com.br/portal/css/fontes/titillium/titillium-semibold-webfont.ttf') format('truetype'),
         url('http://cmais.com.br/portal/css/fontes/titillium/titillium-semibold-webfont.svg#TitilliumBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{padding:0!important;}
.container{min-width:320px; max-width:400px;background: yellow;}
.container .cr-topo{padding:15px; background:#FFF; min-height:23px;position:relative; z-index:10000;*z-index:10000;}
.container .cr-topo h1{font-weight:normal;font-family:'TitilliumLtBold',Arial, Helvetica, sans-serif; font-size:26px; margin:0; padding:0; display:block; width:200px; float:left; color:#00bed5; letter-spacing: -0.04em;line-height:23px;}
.container .cr-box-escolha{width:140px; position:relative;}
.container .cr-box-escolha span{font-weight:normal;font-family:'TitilliumSemiBold', Arial, Helvetica, sans-serif; font-size:11px; color:#dedede; text-transform: uppercase;}
.container .cr-box-escolha .cr-btn-radio{width:27px; height:25px; display:block; float:right; background:url(http://cmais.com.br/portal/images/capaPrograma/culturabrasil/controleremoto/cr-btn-radios.jpg) no-repeat 0px 0px; position:absolute; top:0; right:0;}
.container .cr-box-escolha .cr-btn-radio:hover,
.container .cr-box-escolha .cr-btn-radio.ativo{background:url(http://cmais.com.br/portal/images/capaPrograma/culturabrasil/controleremoto/cr-btn-radios.jpg) no-repeat 0px bottom;}
.container .cr-box-escolha .cr-radios{padding: 0;margin: 0;overflow: hidden;position: absolute;top: 22px; right:-1px;z-index: 10000; *z-index: 10000; display:none;}
.container .cr-box-escolha .cr-radios.ativo{display:block;}
.container .cr-box-escolha .cr-radios li{list-style:none;width:100px;}
.container .cr-box-escolha .cr-radios li a{font-weight:normal;font-family:'TitilliumSemiBold', Arial, Helvetica, sans-serif;font-size: 12px;text-transform:uppercase; color:#ffffff; text-align:center; width: 99px; display: block; background:#00bed5;margin: 0; padding: 4px 0;line-height: 15px;}
.container .cr-box-escolha .cr-radios li a:hover{background: #3f3f3f; text-decoration: none;}
.container .cr-player{ background:#eeeeee; padding: 15px 5px; position: relative; z-index: 9000; *z-index: 9000;}
.container .cr-pgm{background:#eeeeee;padding:0px 20px; overflow: hidden;}
.container .cr-pgm .cr-header-pgm{overflow: hidden; margin-bottom:10px;}
.container .cr-pgm .cr-header-pgm span{font-weight:normal;font-family:'TitilliumSemiBold', Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; background:#00bed5; padding: 0px 6px; text-transform:uppercase; display:block; float:left;}
.container .cr-pgm .cr-img-pgm{min-height:118px; margin-right:5px; float:left;}
.container .cr-pgm .cr-desc-pgm{float:left;width: 70%;}
.container .cr-pgm .cr-desc-pgm h2{ font-weight:normal;font-family:'TitilliumBold', Arial, Helvetica, sans-serif; font-size:19px; color:#2d4244; margin:0 0 0 0; padding:0; text-transform: uppercase; line-height:20px;}
.container .cr-pgm .cr-desc-pgm span.titulo{ font-weight:normal;font-family:'TitilliumSemiBold', Arial, Helvetica, sans-serif; font-size:10px; margin: 0; padding: 0; color: #00bed5; text-transform: uppercase; line-height: 12px;}
.container .cr-pgm .cr-desc-pgm p{ font-weight:normal;font-family:'TitilliumSemiBold', Arial, Helvetica, sans-serif; font-size:13px; margin: 0 0 0px 0; padding: 0; color: #2d4244; line-height: 11px; max-width: 253px;}
.container .cr-lista-a-seguir{background: #eeeeee; padding: 0 20px; overflow: hidden;}
.container .cr-lista-a-seguir h4{font-weight:normal;font-family:'TitilliumSemiBold', Arial, Helvetica, sans-serif; margin: 0;text-transform: uppercase;font-size: 13px;color: #707070;}
.container .cr-lista-a-seguir .cr-linha{height:0; width:100%; border-top:#c6c6c6 1px solid; border-bottom: #FFFFFF solid 1px;}
.container .cr-lista-a-seguir ul{padding:5px 0; margin:0;}
.container .cr-lista-a-seguir ul li{font-weight:normal;list-style:none;font-family:'TitilliumSemiBold', Arial, Helvetica, sans-serif; font-size:12px; color:#2d4244; overflow: hidden;}
.container .cr-lista-a-seguir ul li h5{float: left;margin: 0;padding: 2px 5px}
.container .cr-lista-a-seguir .par h5{color:#2d4244}
.container .cr-lista-a-seguir .impar h5{color:#00bed5; background:#f7f7f7;}
.container .cr-lista-a-seguir .hora{color:#929c9d; float:right; margin:0; padding: 2px 5px;}
.container .cr-lista-a-seguir .cr-pgm-completa{font-weight:normal;font-family:'TitilliumBold', Arial, Helvetica, sans-serif; color:#929c9d; font-size: 11px; float:right;text-transform:uppercase;padding:5px;}
.container .cr-problemas{font-weight:normal;font-family:'TitilliumBold', Arial, Helvetica, sans-serif; color:#929c9d; font-size: 14px;padding:5px; text-align:center; display:block; margin:0 auto;}
.container .duvidas{background:#FFFFFF; width:100%;}
.container .cr-banner {overflow: hidden;background: #FFFFFF;padding: 10px 20px;position:relative;}
.container .cr-links{background: url(http://cmais.com.br/portal/images/capaPrograma/culturabrasil/controleremoto/cr_links.jpg) no-repeat;}
.container .cr-redes a{width: 20px;height: 20px;display: block;float: left;margin-right: 2px;margin-top: 4px;}
.container .cr-logo-cultura-fm{width: 80px;height: 20px;display: block;margin-bottom: 4px; background-position:-1px -5px;}
.container .cr-logo-cultura-brasil{width: 78px;height: 19px;display: block;margin-bottom: 4px;background-position:-1px -28px;}
.container .cr-redes .cr-facebook{background-position: -1px -94px;}
.container .cr-redes .cr-twitter{background-position: -1px -71px;}
.container .cr-redes .cr-google{background-position: -1px -49px;}
.container .cr-box-banner{width: 320px;margin: 0 auto;}
.container #jp_container_2{margin:0 auto;}
.container div.jp-audio div.jp-type-single div.jp-progress {left: 60px;width: 200px;}
.container div.jp-audio div.jp-type-single div.jp-current-time, div.jp-audio div.jp-type-single div.jp-duration {left: 221px;}
@media only screen 
and (max-width : 399px) {
  .container .cr-box-escolha{width:60px;}
  .container .cr-box-escolha .cr-escolha{display:none;}
  .container .jp-audio{width:280px; margin:0 auto;}
  .container .jp-gui.jp-interface{width: 278px; margin: 0 auto; overflow:hidden;}
  .container .cr-banner {overflow: hidden;background: #FFFFFF;padding: 10px 0px;}
}
@media only screen 
and (max-width : 320px) {
  .container .cr-pgm .cr-desc-pgm {float: left;max-width: 150px;}
  
}