#capa-site {
	min-height: 110px !important;*/
	margin-top: 0 !important;
	z-index: 11000 !important;
	overflow: visible !important;
}

#miolo { margin-top: 0px !important; }

#guia-topo { padding: 0 !important; }

#menu-portal-1 #redesnovo { width: 209px !important; }

