/*body{
  margin: 10px;
}*/
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
 border-bottom: 1px solid #ddd;
 border-top: 0px;
}
tbody{
  display:block;
}
tbody {
  height: 395px;
  height: 300px\0;
  overflow: scroll;
}
td {
  padding: 3px 10px;
}
thead > tr, tbody{
  display:block;
}
tr, td {
  width: 100%
}
.time {
  width: 50px;
}
.chat-top {
  position: relative;
  padding: 5px 15px 15px;
  margin-bottom: 0px;
  background-color: #fff;
  border-color: #ddd;
  border-radius: 4px 4px 0px 0px;
  border-style: solid;
  border-width: 1px 1px 0;
  box-shadow: none;
  height: 459px;
  width:493px;
  *width:493px;
  *height:400px;
}
.chat-bottom {
  position: relative;
  padding: 15px 15px 15px;
  margin-bottom: 10px;
  background-color: #f7f7f9;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 0px 0px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  width:493px;
  *width:493px;
}
#chat-wrapper{
  /*border-top: 1px solid #ddd;*/
  border: 1px solid #ddd;
  border-radius: 4px;
  display:block;
  overflow:hidden;
  height:395px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1) inset;
  overflow-wrap: break-word;
}
#chat-content{
  height:393px;
  width:100%;
  display: block;
  overflow: scroll\0;
}
.title {
  float: left;
}
.status {
  float: left;
  /*margin-top: 30px;
  margin-left: 15px;*/
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.reconnect {
  float: right;
  /*margin-top: 30px;
  margin-left: 15px;*/
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: 1px;
}
#input-name{
  margin-right: 15px;
}
#input-comment{
  margin-right: 15px;
}

#chat-content td{float: left;width: 368px;}
#chat-content  .text-primary.time{float: left;width: 72px!important;border: none;}
#input-name{width:100%;}
#input-comment{width:100%!important;}
