/* ===== Primary Styles ========================================================
   Author: Emerson Estrella (@emersonestrella)
   ========================================================================== */

@font-face {
  font-family: Sniglet;
  src: url("Sniglet.otf") format("opentype");
}

.box {
  background-color: rgba(83, 83, 83, .6);
  border-radius: 20px;
  padding: 25px;
  max-width: 450px;
  min-width: 225px;
  text-shadow: 0 1px 0 rgba(255,255,255,.3), 0 0 5px rgba(0, 0, 0, 1);
  border: 1px inset rgb(167, 167, 167);
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgba(255,255,255,.3), 0 0 15px rgba(0, 0, 0, 1);
}

.brand {
  font-family: Sniglet, Helvetica, Verdana, Sans-Serif;
  text-shadow: 5px 5px 5px rgba(255,255,255,.3), 0 0 20px rgba(112, 112, 112, 1);
}

.hero-unit2 h1 {
  font-family: Sniglet, Helvetica, Verdana, Sans-Serif;
}

@media (min-width: 768px) {
  .hero-unit {
    background-image: url("../img/bg_1280.png");
    height: 670px;
  }
}

@media (max-width: 979px) {
  .hero-unit {
    background-image: url("../img/bg_900.png");
    height: 450px;
  }
}

@media (max-width: 767px) {
  .hero-unit {
    background-image: url("../img/bg_900.png");
    height: 450px;
  }
}

@media (max-width: 480px) {
  .hero-unit {
    background-image: url("../img/bg_480.png");
    height: auto;
  }
  .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
  }
}


.hero-unit {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0,0,0,0);
}

.hero-unit2 {
  background-image: url("../img/bg-all.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 60px;
  padding: 25px;
  height: 627px;
}

body {

  /*padding-top: 60px;*/
  padding-bottom: 40px;
  
  background: rgb(179,220,237); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzZGNlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y5YTIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiY2UwZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(179,220,237,1) 0%, rgba(249,162,0,1) 50%, rgba(188,224,238,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,220,237,1)), color-stop(50%,rgba(249,162,0,1)), color-stop(100%,rgba(188,224,238,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(179,220,237,1) 0%,rgba(249,162,0,1) 50%,rgba(188,224,238,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(179,220,237,1) 0%,rgba(249,162,0,1) 50%,rgba(188,224,238,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(179,220,237,1) 0%,rgba(249,162,0,1) 50%,rgba(188,224,238,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(179,220,237,1) 0%,rgba(249,162,0,1) 50%,rgba(188,224,238,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-8 */

  
}

#canvas {
  padding: 0px;
  margin: 0px;
  top:0;
  left:0;
  z-index: 11;
  position: absolute;
}

#canvas_bg {
  padding: 0px;
  margin: 0px;
  top:0;
  left:0;
  z-index: 10;
  position: absolute;
}

.navbar{
  z-index: 12;
  opacity: 0.98;
}

#pause, #restart, #bgm, #sfx, #bgmoff, #sfxoff, #fullscreen, #exitfullscreen, #autosnap, #autosnapoff {
  display: none;
} 