/* /BRINCADEIRAS */
/* receitinhas */
.breadcrumb .divider, .breadcrumb .active, .breadcrumb li, .breadcrumb a { color:#f2722f;}
.destaques-small a,
.tit-pagina,
.destaques .btn { background:#f2722f; box-shadow:none; text-shadow:none; }
.tit-pagina span { background-position:-20px 0;}
.tit-pagina .likes { background:#f9b236;  }

.likes li { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/estrela-laranja.png) no-repeat; float:right; }
.destaques .btn span { display:none; }
.destaques a.span12 { padding-left:10px; height:24px; line-height: 24px; }
.pagination .anterior:hover a,
.pagination .proximo:hover a,
.pagination .anterior a,
.pagination .proximo a { background-image:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/seta-laranja.png); }
.pagination ul > li > a:hover, .pagination ul > .active > a, .pagination ul > .active > span {color:#f2722f; }
.receitinhas .tit-pagina { position:absolute; }
.zaza { max-width:980px; position:relative; bottom:0; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/pontilhado-laranja.png) repeat-x 0 40px; height:44px; }
.zaza a { text-indent:-9999px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/cozinha-da-zaza.png) no-repeat; width:131px; height:45px; display: block; margin-right:20px; position:absolute; right:0; bottom:2px; }

.voltar {    background: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/voltar-laranja.png") no-repeat scroll 0 0 transparent;    color: #f2722f;}
.voltar:hover { color:#f2722f; }    
.divisao { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/pontilhado-laranja.png) repeat-x center; }
.relacionados .destaques-small { border:2px solid #f2722f; }

.curtir { background-position: -108px 0; }
.curtir.disabled { background-position: -108px -40px; }

.conteudo .alerta { margin-bottom:20px; color:#ec342f; text-transform:uppercase; height:41px; line-height: 41px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/pontilhado-vermelho.png) repeat; }
.conteudo .alerta span { width:23px; height:19px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-alerta.png) no-repeat; display: block; float:left; margin:10px 10px 10px 40px; }
.conteudo h3 {font-weight:bold; text-transform: uppercase; font-size:14px; line-height: 18px; margin-bottom:0;}
.conteudo ul { margin-left:0; }
.receita ul a { color:#f2722f; font-weight:bold; text-decoration:underline; }
.tit .mais { background-position:-109px;  }
.tit a { background-image:url("http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-laranja.jpg"); }
.tit span { background-position:-10px 0;  }
.relacionados .tit { /*max-width:150px; */}

.tooltip-inner { background:#f2722f url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-info.png) no-repeat 5px 5px; text-align:left; padding-left:25px; font-size: 13px; line-height:15px; }
.tooltip.in,
.tooltip { opacity: 1; filter: alpha(opacity=100);}
.tooltip.right .tooltip-arrow {  border-right-color: #f2722f;}
/* receitinhas */

/* receitinhas especial */
.especial { border:2px solid #f8b145; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/fundo-transparente.png) repeat; }
.especial .span8 { margin-left:0; float:right; padding:10px 10px 0 0; min-width:633px; }
.especial .form { background:#f2722f; border-right:2px solid #f8b145;  border-radius:8px 0 0 8px; -moz-border-radius:8px 0 0 8px; -webkit-border-radius:8px 0 0 8px; max-width:285px; overflow:hidden; }
.destaques .span6 { position:relative; margin-bottom:10px; }
.conteudo .span3 { margin-left:15px; }
.conteudo .form-especial { min-width:299px; }
.especial .seta { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/seta-form.png) no-repeat; width: 14px; height:23px; position:absolute; right: 0; top:10px; }
.especial h2 { background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-especial.png) no-repeat 10px; font-size:18px; color:#fdf035; padding:0 0 0 40px; text-transform:uppercase; font-weight: normal;}
.especial .form p { color:#fff; margin:0 10px 10px 10px; }

.especial .form  .divisao {    display: block;    float: right;    height: 14px;    margin: 0 0 20px 0;    min-width: 285px; background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/receitinhas-pattern.png) repeat-x;}

.form-horizontal { padding:0 10px; margin-bottom:0;  }
.form-horizontal option,
.form-horizontal textarea,
.form-horizontal input { color:#6a747d; font-size:14px; }

.especial .form-horizontal h2 { padding:0; background:none; margin:0 0 10px 0; line-height:16px; font-size:14px; color:#fff; }
.form-horizontal .nome,
.form-horizontal .cidade,
.form-horizontal .receita { background: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-form-receita.png") no-repeat; width:20px; height:19px; text-indent:-9999px; padding:0; margin:0 10px 0 0; }
.form-horizontal .cidade { background-position:-20px 0; }
.form-horizontal .receita { background-position:-40px 0; }
.form-horizontal .controls { margin-left:0; }
.form-horizontal .control-group select,
.form-horizontal .btn,
.form-horizontal .controls input { height:20px; line-height: 20px; padding:0 5px; }
.form-horizontal .control-group select { min-height:20px; width: 55px; padding:0; margin:0 0 0 10px; float: right; border:none;  }

.form-horizontal .controls textarea,
.form-horizontal .controls input { border:none; }

.form .form-horizontal .controls textarea,
.form .form-horizontal .controls input { width:223px; }

.form-horizontal .g-cidade .controls input { width:155px; }
.form-horizontal .controls textarea { min-height: 340px;}
.btn-imprimir,
.form-horizontal .btn { background:#fdf035; border:2px solid #f8b145; float:right; color:#f2722f; padding:0 5px; text-transform:uppercase; min-height:24px; font-weight:bold; margin-top:20px; }
.form-horizontal .g-receita { margin-bottom:10px; }
/* /receitinhas especial */

/* receitinhas especial interna */
.interna { background:#f2722f; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; overflow:hidden;  }
.interna .form-horizontal { padding:10px; }
.interna .form-horizontal .controls textarea,
.interna .form-horizontal .controls input { width:95%; }
.interna .form-horizontal .g-cidade .controls input { width:88%; }
.form-horizontal .controls textarea { min-height: 100px;}
/* /receitinhas especial interna */

/* imprima e brinque */
p.span12 { margin-bottom:20px; }
.span6.esq { margin-left:0; }
.imprimir { margin-top:5px; }
.imprimir li.span4 { margin-bottom:10px; }
.imprimir li.span4 a { position:relative; display:block; }
.imprimir li.span4 span { width:14px; height:14px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-imprimir.png) no-repeat; display:block; position:absolute; bottom:5px; right:5px; }

.imprimir .tooltip-inner { background-image:none; text-align:left; padding-left:10px; font-size: 13px; line-height:15px; margin-top: -5px; margin-left:120px;  }
.imprimir .tooltip.in,
.imprimir .tooltip { opacity: 1; filter: alpha(opacity=100);  margin-top: -5px; margin-left:120px;  }
.imprimir .tooltip.bottom .tooltip-arrow {  border-bottom-color: #f2722f;  margin-top: -5px; margin-left:55px;  }
.imprimir .tooltip.right .tooltip-arrow {  border-right-color:transparent;}
.relacionados .tit.imprima { /*max-width:200px;*/ }
/* /imprima e brinque */

/* para colorir */
.btn-imprimir:hover,
.btn-imprimir { color:#F2722F; text-decoration:none; min-height:20px; background:#fdf035 url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-imprimir.png) no-repeat 10px 2px; padding:0 10px 0 35px;}
/* /para colorir */

/* videos*/
#videos { margin:10px 20px -10px 20px; float:left; }
h3.episodio { text-transform:uppercase; color:#f2722f; font-size: 30px; margin:0 0 10px 0; line-height:32px; }
#videos p { margin-left:0; }
/* /videos*/

/* personagens */
#lista li.personagens a { background: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-menos.png") no-repeat scroll 3px 20px;  }
#lista .lista-personagens { max-height:none; }
#lista .lista-personagens ul { overflow:hidden;}
#lista .lista-personagens h2 { font-size:20px; color:#747a39; text-transform:uppercase; margin:10px; line-height:22px;  }
/* personagens */

/* radio */
#radio .radio-cocorico{position:relative;}
#radio #container.playlist{position: absolute; right: 20px; top: 20px;}
#radio .playlist div.jp-playlist ul {height: 397px;overflow: auto}
#radio .ico-mais{background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-mais-home.png) no-repeat 0 bottom; width: 36px;height: 36px;display: block; position:absolute; right:1px; top:-17px;}
#radio .conteudo-diverso{background-color: #f2722f;}
#radio .conteudo-diverso p{color:#fdf035; position: relative;}
#radio .destaque-2{border-radius:9px; margin-top:30px;position:relative; padding-top:1px;}
#radio .destaque-2 h3{font-weight:bold;font-size: 20px !important;margin: 10px;text-align: center;color: #FDF035 !important;padding: 0;overflow: hidden;height: 19px;}
#radio .destaque-2 p{position:relative; padding: 3px 10px 7px 10px;border-bottom-left-radius: 9px;border-bottom-right-radius: 9px;text-align: center;}
#radio .ico-mais{background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-mais-home.png) no-repeat;width: 36px;height: 36px;display: block; position:absolute; right:1px; top:-22px;}
#radio .conteudo-diverso .ico-mais{background-position:0 top;}
#radio a.clipe:hover{text-decoration: none}
/* /radio */

/* scrollbar p/ chome*/
#radio::-webkit-scrollbar { height: 12px; width: 25px; background:none; }
#radio::-webkit-scrollbar-thumb { background: #f2722f; -webkit-border-radius: 3px;}
#radio::-webkit-scrollbar-corner { background: #fff;}

/* /BRINCADEIRAS */

/* home brincadeiras */
.tvcoco.span12 { margin-top:0; padding-top:0; background:#F2722F; }
.destaque-home-tv h2,
.tvcoco h2 { font-size:20px; text-transform:uppercase; font-weight:normal; margin-top:10px;}
.convidado.span12 { background:#dd582a; color:#f8b145; }
.enquete.span12 { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/pontilhado-laranja.jpg) repeat-x top ;}
.tvcoco .mais { top:195px; background-position:-36px; }
.enquete a.span6 { background:#f8b145; color:#dd582a; border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; text-align: center; margin:10px 0 5px 3px !important; display:block; }
.enquete a.span6 img {  border-radius:10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0;}
.destaque-home-tv iframe { margin-top:0; }
.destaque-home-tv { background:#F2722F; }
.destaque-home-tv h2 { margin-top: 0; color:#FDF035; }
.destaque-home-tv .destaque .last { background-position:-10px 0; }
.destaque-home-tv .destaque span { background-position:-60px 0; }
.destaque-home-tv .btn-destaque { color:#fff; background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-laranja.jpg) repeat-x; }
.destaque-home-tv { border-color:#F2722F; background:#F2722F; }
.bastidores { border-color:#F2722F; background:#F2722F; }
.destaque-2 { margin-top:0; }
.destaque2 h3 { margin:5px 0; float:left; text-align:center; width: 100%; }
.bastidores .topo h3 i.ico-serie {  background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-serie.jpg) no-repeat; width: 20px; height: 23px; display: block; float: left; margin-top:2px; }
.bastidores .topo h3 { line-height:26px; width:90%; }
.bastidores .topo .bac-yellow { border:2px solid #f8b145; }
.ico-seta-titulo {right: 40%; top:26px; background-position:0 -13px;}
.bastidores .topo { background-image:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/atividades-pattern.jpg);  }
.bastidores .item {  background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/pontilhado-laranja.jpg) repeat-x bottom; }
.bastidores .item span { margin-bottom:2px; display:block; }
.bastidores .img-bast { margin-bottom:2px; }
.destaque-home-tv .btn-destaque:hover { color:#fff; }
.destaque2 .radio .icon-music {  background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-musica.png) no-repeat; width:38px; height:38px; float:left; z-index: 100; position: relative }
.destaque2 .radio { padding:0; }
.destaque2 .radio a { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-laranja.jpg) repeat-x; height:40px; line-height:40px; font-size:16px; text-transform:uppercase; color:#fff;  display: block;  -moz-border-radius: 10px 0 0 10px; -webkit-border-radius: 10px 0 0 10px;  border-radius:10px 0 0 10px;  float:left; margin-left:-28px; padding:0 8px 0 35px; z-index: 0; position:relative; }
.destaque2 .radio a:hover { text-decoration:none; }
.destaque2 .radio a span { color:#FDF035; margin-left:3px; }
.destaque2 .radio .borda { background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/borda-menu.png) no-repeat -10px 0; width:10px; height:40px; display:block; float:left; }
.bastidores.span4 { margin-left:auto; float: right; margin-top:30px; border: none; }
.bastidores.span4 .topo h3 i.ico-colorir {  background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-colorir.png) no-repeat; width: 20px; height: 17px; display: block; float: left; margin-top:2px; margin:5px 5px 0 0; }
.bastidores .topo h3 { color:#F2722F; }
.bastidores .topo .ico-seta-titulo { right:42%; }
.bastidores.span4 .topo h3 { color:#F2722F; text-align:left; margin:0 0 0 5px;}
.conteudo .bastidores.span4 img { border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.bastidores.span4 a { color:#fff; margin:15px 11px 0 2px; max-width:140px; max-height:105px; }
.bastidores.span4 a:hover {text-decoration:none;  }
.bastidores.span4 a.last { margin:15px 0 0; }
/* /home brincadeiras */

/* ie*/
.especial .span8 { padding-right:0\9; float:left\9; }
.especial .span6 { margin-left:10px\9; }
.conteudo .destaque-especial .span3 { margin:0 10px 10px 0\9; }
/* /ie*/

.destaques-small a { max-height:123px;  }
.box-papel-parede ul { padding-left:4%; background:#f2722f; border-radius:0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; padding-top: 20px; margin-top:-20px; height:40px; }
.box-papel-parede ul li { float: left; margin:10px 7% 0 0; }
.box-papel-parede ul li a { color:#f2722f; border:2px solid #f8b145; background:#fdf035; font-weight:bold; padding:0 10px;}
.box-papel-parede ul li a .icon-monitor { width:16px; height:14px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-papel-parede.png) no-repeat; margin-right:10px;  }
.box-papel-parede ul li.celular { margin-right:0; }
.box-papel-parede ul li a:hover { text-decoration:none; }
