body { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/pattern-bg-xadrez.jpg) repeat; font-family:Arial, Helvetica, sans-serif;  }
ul li { list-style:none; }
/*.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 980px; }*/
.navbar-inner .container { max-width:980px;}
.tudo { margin-top:41px; max-width: 980px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/pattern-bg-etamine.jpg) repeat;  border-left:1px dashed #b5b083; border-right:1px dashed #b5b083; }
.carousel { margin-bottom:0; }
.carousel-control { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/setas.png) no-repeat; width: 41px; height:69px; text-indent:-9999px;  border:none;    border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;   line-height: 30px;   opacity: none;    position: absolute;    text-align: center;    top: 40%;   }
.carousel-control.right { background-position:-41px 0; }
.row-fluid .divisoria { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/divisoria-azul.png) repeat-x; margin:0; padding:0; height:4px; min-height: 4px; }
.menu .navbar,
.menu .navbar-inner {  background:none; border:none; box-shadow:none; }
.menu .navbar .nav { width: 100%; }

/* font-familt ubuntu */
.box-papel-parede ul li a,
.destaque2 .radio a,
.form-search p,
.frase p span,
.conteudo .data,
.conteudo h3,
.col-esq .tit-pagina.span12 h2,
#lista .lista-personagens h2,
.modal-header,
.enquete .inativo p,
.produtos,
.form-filtro legend,
.filtro h2,
.naslojas .topo h2,
#menu-familia li a,
.form-horizontal .btn,
.form h2,
.contedo h3,
.curtir,
.voltar,
.votar a,
.destaques bold,
.tit,
.tit-pagina,
.menu .navbar .nav > li > a,
#lista-enquetes .lista,
#naweb .destaque h2,
#naweb .destaque .btn-inscreva-se .btn-destaque,
#naweb .instagram h3,
#agenda .lista h3,
#agenda .lista span,
#agenda .titulo-post{font-family: 'Ubuntu', sans-serif; }

/*border-radius 10px*/
.destaque-1,
.destaque-2,
.autografo,
.border-radius10,
.modal-body img,
.modal ul,
.enquete form .span6 .capa-img,
.enquete .inativo .span6 .capa-img,
.enquete .inativo p,
.zoom img,
.tit-pagina.interna,
.produtos,
.relacionados .destaques-small,
.destaques,
.tvcoco {  border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

/*border-radius 0 0 10px 10px*/
.topo-familia .navbar .nav > li.personagens,
.popover.bottom,
.destaques a.span12,
.menu .lista-personagens,
.lista-produtos a {  border-radius:0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; }

/*border-radius 5px*/
.box-papel-parede ul li a,
.convidados a,
.conteudo .site,
.zoom ul img,
.form-horizontal .btn,
.form-horizontal .controls input,
.filtro .btn,
input.search-query,
.destaques-small li,
.produtos .itens ul  {  border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

/* color #fdf035 */
.tvcoco h2,
.destaques:hover,
.destaques { color:#fdf035; }

/* text-decoration none*/
.pergunta a:hover,
.destaques:hover,
.box a:hover { text-decoration:none; }

/* color #fff */
.enquete h3,
.enquete p { color:#fff; }

/*bold*/
.bold { font-weight: bold; }

/* azul */
.azul:hover,
.azul { background:#1893cf; color:#fff; }

/* cor #6b757d */
.conteudo h3,
.conteudo ul li,
.conteudo p {  color:#6b757d;}

.btn { box-shadow:none; border:none; }


.menu .navbar .nav > li > a:focus,
.menu .navbar .nav > li > a:hover,
.menu .navbar .nav > li > a { color:#fff;  }
.menu .navbar .nav > li > a { font-size:20px; padding:0 22px 0 50px;  height:40px; line-height: 40px; color:#fff; text-shadow:none; text-transform:uppercase; font-weight:normal; text-shadow:none; text-transform:uppercase;}
.menu .navbar-inner { padding:0; }
.menu .navbar .nav > li { overflow:hidden; margin-right:19px; margin-top:12px;}
.menu .navbar .nav > li a { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-azul.jpg) repeat-x; margin-left:-30px; float: left;  border-radius:15px 0 0 15px; -moz-border-radius: 15px 0 0 15px; -webkit-border-radius: 15px 0 0 15px;  }
.menu .navbar .nav > li .icon { width:38px; height:38px; padding:0; z-index: 10; position:relative; margin:0; border: none !important; margin-top:1px; background-image: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/menu-familia.png)  !important; background-repeat: no-repeat;}

.menu .navbar .nav > li.personagens {  margin:0 20px; background:#eaefb2 url(http://cmais.com.br/portal/images/capaPrograma/cocorico/pontilhado-verde.jpg) repeat-x ; height:60px; width: 48px; }
.menu .navbar .nav > li.personagens a { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/mais-amarelo.png) no-repeat; padding:0; margin:5px 0 0 4px; display:block;  width: 48px; height:50px;border-radius:0; -moz-border-radius: 0; -webkit-border-radius: 0; border:none; }

.menu .navbar .nav > li.joguinhos .icon { background-position:0 0;} 

.menu .navbar .nav > li.brincadeiras .icon { background-position:0 -38px;} 
.menu .navbar .nav > li.brincadeiras a { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-laranja.jpg) repeat-x;}
.menu .navbar .nav > li.brincadeiras span { background-position:-10px 0; }

.menu .navbar .nav > li.tvcoco .icon {  background-position:0 -76px;} 
.menu .navbar .nav > li.tvcoco a { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-verde.jpg) repeat-x;}
.menu .navbar .nav > li.tvcoco span { background-position:-20px 0; }

.menu .navbar .nav > li.diario .icon { background-position:0 -115px;} 
.menu .navbar .nav > li.diario a {background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-roxo.jpg) repeat-x;}
.menu .navbar .nav > li.diario span { background-position:-30px 0; }

.menu .navbar .nav > li.familia { float: right; margin: 12px 20px 0 0; padding: 0; width: 160px;}
.menu .navbar .nav > li.familia a {background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-familia.png) no-repeat; text-indent:-9999px; width:122px; border: none; margin:0; height:40px; border-radius:0; -moz-border-radius: 0; -webkit-border-radius:0; z-index: 10; position:relative;}

.menu .navbar .nav > li span { width:9px; height:40px; float:left; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/borda-menu.png) no-repeat;  }

.menu .lista-personagens { background:#eaefb2; clear:both; margin:0 20px;  max-height:105px; overflow:hidden;}
.menu .lista-personagens a { display: block; border:4px solid #c0d541;  border-radius:50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; }
.menu .lista-personagens a:hover { border-color:#fdf035; }
.menu .lista-personagens h3 { text-indent: -9999px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/tit-turma.png) no-repeat; width:14px; height:73px; margin:16px 0 16px 16px; float:left;}
.menu .lista-personagens li { list-style:none; float:left; margin:5px 0 5px 16px; }
.conteudo { clear:both; margin:20px; max-width:940px;}
.conteudo .span7 { margin-left:0; /*min-width:620px;*/ }
.conteudo .span3 { margin-left:20px; /*min-width:300px;*/ }

.border-top { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/border-top-rodape.png) repeat-x; height:2px; margin-top:50px; clear:both; }
.rodape { background:#76b0b7; }
.rodape h3 {  text-transform:uppercase; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/border-bottom-rodape.png) repeat-x bottom;  font-size:12px; color:#c6e1e3; text-align:center; height:20px; line-height: 20px; margin-top:0; font-weight:normal;}
.rodape a { color:#fff }
.rodape .bold { text-transform:uppercase; }
.rodape ul { margin-left:10px; }
.rodape .span2 { margin-left:20px;}
.rodape .joguinhos { width:175px; }
.rodape .sites ul { margin:0; }
.rodape .sites li { width: auto; float:left; margin:30px 20px 0 0; }
.rodape .sites .last { margin-right:0; }
.rodape .sites li a { text-indent:-9999px; display:block; background-repeat:no-repeat; height:58px;  }
.rodape .sites .quintal { background-image:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/logo-quintal.png); width:54px;  }
.rodape .sites .tvrtb { background-image:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/logo-tvrtb.png); width:58px;  }
.rodape .sites .cultura { background-image:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/logo-cultura.png); width:55px; }
.rodape .sites .castelo { background-image:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/logo-castelo.png); width:59px;  }
.rodape .sites .vila { background-image:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/logo-vila.png); width:100px; }

.navbar { margin-bottom:0; }
.breadcrumb { background:transparent; margin-left:25px; padding:0; }
.breadcrumb .divider,
.breadcrumb .active,
.breadcrumb li,
.breadcrumb a { font-size: 10px; text-transform:uppercase; color:#1893cf; text-shadow:none; }
.breadcrumb .active { text-decoration:underline; }

.tit-pagina { margin:0 0 20px 0; height:40px; line-height:40px; display:block; position:relative; float:left; overflow:hidden; min-width: 200px; max-width: 793px; }
.tit-pagina h2 {font-size:30px; font-weight:normal; text-transform:uppercase; text-decoration:none; color:#fff; margin:0 110px 0 0; width: 100%; }
.tit-pagina,
.tit-pagina:hover {font-size:30px; font-weight:normal; text-transform:uppercase; text-decoration:none; padding:0 20px; border-radius:0 10px 10px 0; -moz-border-radius: 0 10px 10px 0; -webkit-border-radius: 0 10px 10px 0; color:#fff;  }
.tit-pagina span { width:20px; height:40px; position:absolute; right:95px; bottom:0; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-seta.png) no-repeat;}
.tit-pagina .likes { height:40px; bottom:0; right:0;  border-radius:0 10px 10px 0; -moz-border-radius: 0 10px 10px 0; -webkit-border-radius: 0 10px 10px 0; }
.tit-pagina .likes li { margin-top:13px; }

.curtir { width:108px; height:40px; text-indent:-9999px; display:block; float:right; margin-right:20px; background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/btn-curtir.png) no-repeat; }

.btn { border:none; }
.breadcrumb .divider { padding:0 0 0 2px; }
.tit { position:relative; }
.tit a { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-azul.jpg) repeat-x; line-height: 40px; height:40px; width: auto; margin-left:20px; font-size:15px; padding:0 15px 0 25px; display:block; color:#fff !important; text-shadow:none; text-transform:uppercase; font-weight:normal; border-radius:10px ; -moz-border-radius:10px ; -webkit-border-radius: 10px ;  }
.tit span { width:9px; height:40px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/borda-menu.png) no-repeat; margin:0; position:absolute; right:0; top:0; }
.tit .mais { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/mais.png) no-repeat; width:36px; height:36px; display: block; position:absolute; left:5px; top:2px;}

/*joguinhos*/
.destaques { margin-top:20px; }
.destaques .span4 { position:relative; }
.destaques a.span12 {  margin:0; line-height18px; min-height:24px !important; padding:0 0 0 35px; text-align:left; text-shadow:none; }
.destaques span { width: 29px; height:18px; background-repeat: no-repeat; display:block; position:absolute; left:0; z-index: 10000; }
.destaques span.ativo,
.destaques span:hover { width: 29px; height:28px; }
.destaques .btn { color:#fff; }
.popover-title { display: none !important; }
.popover.bottom .arrow { display:none; }
.popover.bottom { margin:-7px 0 0 -1px; border: 2px solid #1893cf; border-top-width:5px;  }
.popover { min-width:291px;}
.popover-content { padding:5px; }
.popover-content p {line-height:18px; }
.likes { position:absolute; bottom:7px; right:7px; margin:0;  }
.likes li { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/estrela.png) no-repeat; width:14px; height:14px; float:left; margin-right:5px;  }
.likes li.ativo {  background-image:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/estrela-ativa.png); }

.destaques-small { margin:0; }
.destaques-small a { max-height:104px; color:#fff; display: block; text-align:center; overflow:hidden; font-weight:normal; text-decoration:none; }
.destaques-small li a { display:block;color:#fff; } .destaques-small a:hover { text-decoration:none; }
.destaques-small li { margin-bottom:10px; }
.destaques-small li { overflow:hidden;  }

.voltar { margin-left:20px !important; margin:0 20px 10px 20px; display:block; font-size:14px; font-weight:bold; text-transform:uppercase; padding-left:25px;  height:30px; line-height: 30px; }
.voltar:hover { text-decoration:none; }
.voltar .divisao {  height:1px; float: right; margin:0; min-width:840px; height:30px; display:block; }
.relacionados { clear: both; }
.relacionados .tit a:hover { text-decoration:none; } 
.relacionados .destaques-small { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/fundo-transparente.png) repeat; overflow:hidden; padding:30px 10px 0 10px; margin:10px; border:2px solid #1eb9e2; }
/*onados .destaques-small li { margin:0 24px 10px 0; }*/
.relacionados .destaques-small li:last-child { margin-right:0; }
.relacionados .tit { position:relative; top:33px; display:inline-block;  }

.pagination { height:31px; margin:0 0 60px 0; }
.pagination ul { border-radius:0; box-shadow:none; }
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span { border:none; border-radius: 0; font-size:20px;}
.pagination ul > li > a, 
.pagination ul > li > span { background-color: transparent; border:none; line-height: 31px;  padding: 0 14px; }
.pagination ul > li > a:hover, .pagination ul > .active > a, .pagination ul > .active > span { background:none; font-size:20px; font-weight: bold; }
.pagination ul > li > a { font-size:14px; color:#6b757d; padding:0; width: 20px; }
.pagination ul .anterior a,
.pagination ul .proximo a { max-width:17px !important; height:31px; background-repeat:no-repeat; padding:0; margin-right:15px; }
.pagination ul .proximo a { margin:0 0 0 15px; }
.pagination ul .proximo:hover a,
.pagination ul .proximo a { background-position: -17px 0; }

.tit-especial h2 { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-especial.png) no-repeat 0 center; padding: 0 0 0 30px; }
.curtir.disabled { display:none; }

.conteudo p { clear:both; margin-bottom:0;}
.destaques.joguinho { background: #1893cf; color:#fff; float:right; }

.destaques a { color:#fff; text-align:center; display: block; border-radius:0 0 10px 10px; -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px;  }
.destaques a:hover { text-decoration: none; }
/* /joguinhos*/

/* tooltip*/
.tooltip-inner { background:#747a3a; padding:3px 10px; font-size: 13px; line-height:15px; }
.tooltip.in,
.tooltip { opacity: 1; filter: alpha(opacity=100);}
.tooltip.bottom .tooltip-arrow {  border-bottom-color: #747a3a;}
/* tooltip*/

/* topo*/
.navbar-inverse .brand, .navbar-inverse .nav > li > a { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/logocmais.png) no-repeat; text-indent:-9999px; width: 120px; height:30px; padding:0; margin:8px 20px 0 0; }
.navbar-fixed-top .nav > li > a { display: block;    height: 34px;    margin-top: 6px;    width: 34px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/icones-menu.png) no-repeat; text-indent:-9999px; margin:5px 10px 5px 0; padding:0;}
.navbar-fixed-top .nav > .tvratimbum > a { background-position:0 -34px; }
.navbar-fixed-top .nav > .multicultura > a { background-position:0 -68px; }
.navbar-fixed-top .nav > .univesp > a { background-position:0 -102px; }
.navbar-fixed-top .nav > .culturabrasil > a { background-position:0 -136px; }
.navbar-fixed-top .nav > .culturafm > a { background-position:0 -170px; }
.navbar-fixed-top .nav > .itunes > a { background-position:0 -306px; }
.navbar-fixed-top .nav > .facebook > a { background-position:0 -339px; }
.navbar-fixed-top .nav > .google > a { background-position:0 -272px; }
.navbar-fixed-top .nav > .instagram > a { background-position:0 -238px; }
.navbar-fixed-top .nav > .twitter > a { background-position:0 -372px; }
.navbar-fixed-top .nav > .youtube > a { background-position:0 -405px; }
.navbar-fixed-top .nav > .feed > a { background-position:0 -472px; }
/* /topo*/

/* IE*/

.menu .navbar .nav > li a { *margin-left:-30px; *padding-left:35px; }
.menu .navbar .nav > li a { margin-left:-20px\9; padding-left:25px\9; }
/*

.menu .navbar .nav > li .icon { margin:1px\9; }
.menu .navbar .nav > li.personagens { margin-right:5px\9; }
.menu .navbar .nav,
.menu .navbar .nav > li { margin-left:0\9; margin-right:5px\9; }
*/
.container, 
.navbar-static-top .container, 
.navbar-fixed-top .container, 
.navbar-fixed-bottom .container { width:1190px\9;  }

.destaques-small li.span2 a {  *margin-bottom:10px;}
.conteudo .destaques-small { *margin-left:4px; }
/*
.tit-pagina,
.tit-especial { min-width:700px\9; }
*/
.voltar .divisao {  *display:none; }
.destaques.span6 .bold { min-width: 300px\9; }
.destaques a.span12 { *width:265px; }
/* /IE8*/

.carousel-control { opacity: 1; }
.ico-seta-titulo{background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/seta-titulo.png) no-repeat; width:19px; height:10px; position:absolute; top:24px;}

.destaques {position:relative; border-radius:10px; text-align:center; display:block; line-height:25px;}
.destaques span { background-position:/*-36px 0*/ 0 0; bottom:5px; right:0; }
.destaques span:hover { bottom:-5px; }
.col-esq .destaques.span6 { background:#f2722f; margin-top:0;}

.cr {margin-left: 0 !important; width:300px; margin-top:30px; height:40px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/btn-faleconosco.png) no-repeat; float:left;}
.cr a { margin-right:10px; color:#fff; text-transform:uppercase; text-align:right; font-weight:bold; height:40px; line-height:40px; display: block;  }
.cr a:hover { text-decoration:none; }

