.destaques-small li.span2 { margin:0 16px 10px 0; } 
.destaques a.span12 { width: 290px; }
.conteudo .destaques-small { margin-left:15px; }
.menu .lista-personagens a { border:none; }
.destaques a.span12 { width:300px; }
.destaques .span4 { width: 300px; overflow:hidden; }
.tit-pagina .likes { width: 95px; }
#menu-familia li a { font-weight:normal; }
