/* TVCOCORICO*/

/* home */
.bread-tv li a,
.bread-tv li.active,
.voltar:hover,
.voltar,
.bread-tv .divider{color:#1db186;}

.destaque-1{margin-left: 0 !important;}

.conteudo .bastidores{margin-left:15px;padding:1px;}
.conteudo .col-esq{margin-left:20px;}
.bastidores,
.destaque-home-tv{overflow:hidden;background-color:#1db186; border-radius:9px; margin-left: 0;}
.destaque-home-tv{margin-left: 0 !important;}

.destaque-home-tv h2{overflow: hidden;height: 38px;font-size:20px; color:#FFF; font-weight:bold; text-align:center;margin:0}
.destaque-home-tv .btn-destaque{border: none;float: left;height: 40px;margin-top: 0px;text-align: center;background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-amarelo.jpg) repeat-x;/*font-weight: bold;*/text-transform: uppercase;color: #747A3A;display: block;text-align: center;font-size: 16px;width: 95%;line-height: 42px;}
.destaque-home-tv .btn-destaque:hover{text-decoration: none; color:#747A3A}
.destaque-home-tv .destaque span{background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/borda-menu.png) no-repeat -50px 0;width: 9px;height: 40px;display: block;float: left;}
.destaque-home-tv .destaque .last{background-position: -40px 0;}
.destaque-home-tv .destaque{width:101.5%}

.interatividade{padding:1px;}
.interatividade .topo,
.bastidores .topo{background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/divisoria-tvcoco.png) repeat-x 0 bottom;height: 40px;}
.interatividade .topo .bac-yellow,
.bastidores .topo .bac-yellow{background-color:#fdf035;border-top-right-radius: 8px;border-top-left-radius: 8px;}
.interatividade .topo span,
.bastidores .topo span{width:100%; background-color:#fdf035;}
.bastidores .topo h3 i.ico-camera{background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/topo-bastidores.png) no-repeat 0px -2px;width: 25px;height: 23px;display: block;float: left;}
.interatividade .topo h3,
.bastidores .topo h3{width:123px;color: #747A3A;font-size: 14px;font-weight: bold;text-align: center;margin: 0 auto;padding: 0px;line-height: 24px;background-color: #FDF035; position:relative;}
.interatividade .topo h3{width:95%;}
.interatividade .item,
.bastidores .item{text-align: center;float:left;}
.bastidores .item a{text-decoration: none;}
.interatividade .item hr,
.bastidores .item hr{border-bottom: 1px dashed #bfd540; border-top: 1px dashed #37a16f; margin:0;}
.bastidores .item hr.last{display:none;}
.interatividade .item span,
.bastidores .item span{color:#fff; text-align: center;}
.bastidores .img-bast{border-radius: 5px;overflow: hidden;margin: 3px 0; width: 140px; height: 80px;}
.interatividade p{color:#FFF;}
.interatividade form{padding:10px;}
.interatividade .form-campos{padding:10px 0;position: relative;}
.interatividade .form-campos input,
.interatividade .form-campos select{border-radius:5px}
.interatividade .form-campos label.error{background: yellow;clear: both;text-align: center;font-size: 10px;font-weight: bold;color: red;margin: 0 0 11px 38px;}
.interatividade .form-campos .cidade label.error,
.interatividade .form-campos .estado label.error{margin:0 0 10px 0;}
.interatividade .form-campos label.error.checked{display:none !important;}
.interatividade .form-campos .ico-tv{background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-form-tv.png) no-repeat; width:21px; height:21px; display: block; float:left;margin:5px 0 0 5px;}
.interatividade .form-campos .ico-pessoa{background-position: 0 top; }
.interatividade .form-campos .ico-cidade{background-position: 0 center; }
.interatividade .form-campos .ico-link{background-position: bottom; }
.interatividade #msgErro p,
.interatividade #msgAcerto p{color:yellow; text-transform:uppercase;}
.interatividade #msgErro hr,
.interatividade #msgAcerto hr{border-top: none;border-bottom: 1px dashed yellow;margin: 10px 55px;}  
.interatividade #msgErro,
.interatividade #msgAcerto{text-align: center; margin: 0 30px; font-weight: bold; height: 205px; padding-top: 105px;} 
.interatividade #enviar{background: #fdf035; border: 2px solid #bfd540; margin: 10px 0; color: #747b3a; border-radius: 5px; font-weight:bold;}
.interatividade .regras{border: 3px solid #BFD540;background: #bfd540; border-radius:5px; height:70px; overflow:auto; color:#747b3a;padding:10px;}

.conteudo-tv{background-color: #1db186;}
.conteudo-tv p{color: #747B3A; background-color:#bfd540;}

/* scrollbar p/ chome*/
.regras::-webkit-scrollbar { height: 12px; width: 20px; background: none; }
.regras::-webkit-scrollbar-thumb { background: #1db186; -webkit-border-radius: 5px;}
.regras::-webkit-scrollbar-corner { background: #fff;} 

.conteudo-diverso{background-color: #f2722f;}
.conteudo-diverso p{color:#fdf035;}
a.destaque1:hover,
a.destaque2:hover{text-decoration: none}

.destaque-1,
.destaque-2{ margin-top:30px;position:relative;}

.col-esq .span6 .destaque-1 img,
.col-esq .span6 .destaque-2 img { border-radius:0; -moz-border-radius: 0; -webkit-border-radius: 0; }

.destaque-1 h3,
.destaque-2 h3{font-weight:bold;font-size: 20px !important;margin: 0;text-align: center;color: #FDF035 !important;padding: 0; max-height: 34px; overflow:hidden;}

.destaque-1 p,
.destaque-2 p{position:relative; padding: 3px 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;text-align: center;}


.ico-mais{background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-mais-home.png) no-repeat;width: 36px;height: 36px;display: block; position:absolute; right:1px; top:-17px;}
.conteudo-tv .ico-mais{background-position:0 bottom;}
.conteudo-diverso .ico-mais{background-position:0 top;}

.ico-seta-titulo{background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/seta-titulo.png) no-repeat; width:19px; height:10px; position:absolute; top:24px;}
.ico-seta-titulo.bastidores{right:40%;}
.ico-seta-titulo.video{right:50%;}
/* /home */


/* personagens*/
.autografo p,
#alfabeto ul > li > a:hover, 
#alfabeto ul > .active > a, 
#alfabeto ul > .active > span,
.col-esq .tit-pagina h2 ,
.breadcrumb.personagem .divider, 
.breadcrumb.personagem .active, 
.breadcrumb.personagem li, 
.voltar.personagem:hover,
.voltar.personagem,
.breadcrumb.personagem a { color:#747a39;}
.col-esq .tit-pagina.span12 { background:#bfd540;  }
.col-esq .tit-pagina.span12 h2 { margin-right:0; }
.destaques .btn { background:#747a39; }
.destaques .btn {  box-shadow:none; text-shadow:none; }
#alfabeto,
.conteudo a.span6 img,
.frase,
.col-esq .tit-pagina.span12 { border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
.destaque-home { margin:10px 0 20px 0; float:left; }
.voltar.personagem { background: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/voltar-verde.png") no-repeat scroll 0 0 transparent;}
.voltar.personagem .divisao { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/pontilhado-verde.png) repeat-x center; }
.destaque-home .span9 { border:none; }
.box ul li { margin:0 0 9px 0; overflow: hidden; }
.col-esq .destaque-home .box { margin-bottom:0; }
.destaques.span6 iframe { clear:both; display:block; }
.destaques:hover span,
.destaques span {    background:url("http://cmais.com.br/portal/images/capaPrograma/cocorico/mais.png") no-repeat scroll -36px 0 transparent; width:36px; height:36px; bottom: 5px;    right: 0; left:auto; position:absolute;}
.destaques.joguinho span { background-position:0 0; } 
.autografo { background:#eaefb2; margin-bottom:20px; }
.autografo h2 { margin:10px; font-size:20px; line-height:22px; color:#747a39; padding-left:25px; text-transform:uppercase; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-autografo.png) no-repeat; }
.divisao { background: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/tvcoco-pattern.png") repeat-x scroll 0 0 transparent;    display: block;    height: 14px;    margin: 0;}
.autografo p { margin:5px 10px; }

.form-horizontal { margin-bottom:0;  }
.form-horizontal option,
.form-horizontal textarea,
.form-horizontal input { color:#6a747d; font-size:14px; }
.form-horizontal .g-autografo,
.form-horizontal .g-nome { margin:10px; }
.form-horizontal .nome { background: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-form-personagem.png") no-repeat; width:20px; height:19px; text-indent:-9999px; padding:0; margin:0 10px 0 0; }
.form-horizontal .controls { margin-left:0; }
.form-horizontal .control-group select,
.form-horizontal .btn,
.form-horizontal .controls input { height:20px; line-height: 20px; padding:0 5px; }
.form-horizontal .control-group select { min-height:20px; width: 55px; padding:0; margin:0 0 0 10px; float: right; border:none;  }
.form-horizontal .controls input { border:none; }
.form .form-horizontal .controls input { width:223px; }
.form-horizontal .capa-btn { margin-top:10px; }
.form-horizontal .capa-btn span { background: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/borda-menu.png") no-repeat -50px 0;  height: 40px;    width: 9px; display: block; float: left; }
.form-horizontal .capa-btn .last { background-position:-40px 0;}
.form-horizontal .btn { background: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-amarelo.jpg") repeat-x; color:#747a3a; padding:0; text-transform:uppercase; min-height:40px; font-weight:bold; float:left;  width: 93%; font-size: 16px;  border-radius:0; -moz-border-radius: 0; -webkit-border-radius: 0; }
.col-esq .destaques.span6.joguinho,
.destaques.joguinho .bold { color:#fff; background:#1893cf; border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; display: block; }
.col-esq .destaques.span6.joguinho img { border-radius:0; -moz-border-radius: 0; -webkit-border-radius: 0; display: block; }
/* carrossel personagem*/
.lista-personagens .carousel-inner .item li { width:97px; float:left; margin-left:17px; }
.menu .lista-personagens .carousel-control { border: none; border-radius:0; -moz-border-radius: 0; -webkit-border-radius: 0; }
.lista-personagens .carousel-inner ul { margin:0 0 0 60px; }
/* /carrossel personagem*/
/* /personagens*/

/* convidados*/
.destaques a,
.convidados a,
.destaques-small a, .tit-pagina, .destaques .btn 
.tit-pagina { background:#1db186; }

.frase span,
.data,
.conteudo h3,
.paginacao a,
.breadcrumb .divider,
.breadcrumb .active,
.breadcrumb li,
#alfabeto ul > li > a:hover,
#alfabeto ul > .active > a, 
#alfabeto ul > .active > span,
#alfabeto .divider.last,
.pagination ul > li > a:hover, 
.pagination ul > .active > a, 
.pagination ul > .active > span,
.breadcrumb a  { color:#1db186; }

#alfabeto,
.row-fluid { clear:both; }
#alfabeto {  background:url("http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-container.png") repeat; margin:0 10px;}
#alfabeto ul { margin:0 5px 0 20px; float:left }
#alfabeto ul > li > a { color:#747b3a; width: 15px; text-align:center;}
#alfabeto ul > li > .divider { color:#bfd540; padding:0 5px; }
#alfabeto .divider.last { display:block; height:40px; line-height:40px; float:left; font-size:26px; margin-right:10px; }
#alfabeto ul,
#alfabeto ul > li,
#alfabeto ul > li a,
#alfabeto ul > li span,
#alfabeto { min-height:40px; line-height:40px; }
input.search-query {    font-size: 14px;    line-height: 20px;    min-height: 20px;    max-width: 120px;    padding: 0 10px;}
.form-search button:hover, .form-search button {    background: none repeat scroll 0 0 transparent;    box-shadow: none;    margin: 0 0 10px 8px;    padding: 0;} 
.form-search .icon-search {    background: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-busca.png") no-repeat scroll 0 0 transparent;    height: 21px;    margin: 0;    width: 21px;}
.pagination { margin:10px 0; clear:both; }
.pagination .anterior:hover a,
.pagination .proximo:hover a,
.pagination .anterior a,
.pagination .proximo a { background-image:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/seta-tvcoco.png); }
.destaques ul { margin:0; }
.destaques ul li { margin-bottom:20px; }
/* /convidados*/

/* convidado*/
.convidados {  background: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/pontilhado-verde2.png") repeat-x scroll 0 40px transparent;    bottom: 0;    height: 44px;    max-width: 980px;    position: relative; }
.convidados a { display: block;  position: absolute;    right: 0; bottom:3px; color:#fff; margin-right:20px; padding:0 10px; }
.paginacao { margin:0 20px 20px 20px; overflow:hidden; }
.paginacao a { font-weight:bold; text-transform:uppercase; float:left; max-width:113px; max-height:40px; }
.convidados a,
.paginacao a:hover { text-decoration:none;}
.paginacao a span { background:url("http://cmais.com.br/portal/images/capaPrograma/cocorico/seta-tvcoco.png") no-repeat; width:17px; height:31px; display:block; float:left; margin:5px 10px 0 0; }
.paginacao .proximo, 
.paginacao .proximo span { float:right; }
.paginacao .proximo span { position:absolute; top:0; right:0; margin-right:0; background-position: -17px 0; }
.paginacao .proximo { position:relative; }
.conteudo { margin-top:0; }
.conteudo h3 { font-size:30px; text-transform:uppercase; font-weight:normal; }
.data { margin:5px 0; display:block; }
.conteudo a.span6 { margin-left:0; display: block; }
p.frase { color: #6B757D; font-weight: bold; text-align: center; text-transform: uppercase; padding:10px 20px 10px 20px; background:url("http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-container.png") repeat; margin-bottom: 20px; }
p.frase span { background:url("http://cmais.com.br/portal/images/capaPrograma/cocorico/aspas.png") no-repeat; display:block; width:25px; height:18px; float:left; margin:-10px 0 0 -20px;}
p.frase span.last { background-position:-25px 0; float:right; margin:10px -20px 0 0; }
.conteudo .tit { text-transform:uppercase; font-weight:bold; margin-bottom:5px; }
/* /convidado*/
.form-horizontal .g-autografo a { display:block; }

/* episodio*/
.tit-pagina.episodio { margin-bottom:0; }
.conteudo .destaques iframe { margin-top:0; }
.conteudo iframe { margin-top: 20px; }
.tit .mais {    background-position: -72px center;}
.tit a { background-image: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-verde.jpg"); }
.tit span {    background-position: -21px 0;}
.voltar .divisao { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/pontilhado-verde2.png) repeat-x center; }
.voltar { background: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/voltar-verde2.png") no-repeat scroll 0 0 transparent;}
.relacionados .destaques-small { border-color:#92d6bf;  }
.form-episodio { clear:both; background:url("http://cmais.com.br/portal/images/capaPrograma/cocorico/fundo-transparente.png") repeat; margin:0 20px; padding:0 10px; height:40px; line-height:40px;  }
.form-episodio p { float:left; text-transform:uppercase; font-weight:bold; color:#6b757d; }
.form-episodio p i { color:#1db186; }
.form-episodio .botoes {  float:right;}
.form-episodio .botoes span { color:#8bd1b6; font-size:26px; margin-right:20px; }
.form-search .icon-search,
.form-episodio .icon-search { background-image: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-busca2.png"); }
.form-episodio input.search-query { font-size:14px; color:#6a747d; border:none; min-width: 190px; height:25px; line-height:25px; text-align:center; padding:0; margin-bottom:10px; }
/* /episodio*/

/*erros*/
.erros .span4 { margin:0 2% 0 0; }
.erros .span4.last { margin-right:0 }
.erros h3 {   float: left;  margin: 5px 0;  text-align: center;    width: 100%;}
.erros .destaque-1,
.erros .destaque-2 { margin-top:0; }
.erros .destaque-1 p, 
.erros .destaque-2 p { text-align:left; }
/*/erros*/

/* enquete */
#lista-enquetes .lista {position: relative;}
#lista-enquetes .lista .item-lista{padding:0 0 0 30px; position: relative;  text-align:left;}
#lista-enquetes .lista .resultado{background:yellow;}
#lista-enquetes .lista .ico-confirma{background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-confirma.png) no-repeat; width:20px;height:16px;display:block;position: absolute; top: 3px; left: 3px;}
#lista-enquetes .lista h3{font-weight:bold; font-size:20px;text-transform: uppercase;line-height: 23px;margin: 0 0 10px 0;color:#6b757d;}
#lista-enquetes .lista h4{font-weight:bold; font-size:14px;text-transform: uppercase;margin:0}
#lista-enquetes .lista .resultado{border-radius:10px; font-weight:bold; font-size: 14px;padding:5px 10px;display: block; float:left; text-transform:uppercase;}
#lista-enquetes .lista .verde{color:#1db186;}
#lista-enquetes .lista .ico-versus-enquete{background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-versus-enquete.png) no-repeat center 8px; width:13px; height:14px; padding:10px;float:left}
#lista-enquetes .lista hr{clear: both; margin: 0; padding-top: 10px; border-bottom: 1px dashed green;}
/* /enquete */

/* instagram*/
.instagram span { background: none;  position: inherit; width: auto; color:#fdf035; }
.instagram h2 { margin:0; }
.instagram .ico-instagram { background: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-instagram.png") no-repeat; display: block; float: left; height: 24px; margin: 8px 10px 0 0; width: 24px; }
#box-instagram { margin-left:5px;}
.instagram-placeholder {  float: left;  margin:0 13px 13px 0; width: 300px; height:300px;}
.instagram-image { width:300px; }
/* /instagram*/

/* ie */
.col-esq .tit-pagina.span12 { *width: 580px; *overflow:hidden; }
.form-horizontal .btn { *width:255px; *margin:0; }
/* /ie */

.span4 iframe {margin-top:0;  }
