@import url("http://cmais.com.br/portal/css/tvcultura/geral2.css");
@import url("http://cmais.com.br/portal/css/geral.css");


/** UNIVESPTV **/
#esquerda {text-align:left;}
#agenda .abas-conteudo .ativo .noar,
#agenda .abas-conteudo li.ativo .titulos, 
#agenda .abas-conteudo li:hover .titulos,
.chapeu {color:#af111d;}
#agenda .abas-conteudo li.ativo .hora a, 
#agenda .abas-conteudo li:hover .hora a,
#datepicker .ui-widget-content .ui-state-active, 
#datepicker .ui-state-hover,
#datepicker .ui-widget-content .ui-state-hover, 
#datepicker .ui-widget-header .ui-state-hover, 
#datepicker .ui-state-focus, 
#datepicker .ui-widget-content .ui-state-focus, 
#datepicker .ui-widget-header .ui-state-focus,
.contato form .t3 .enviar,
.ytb-direct .txt-16,
#box-videos .episodio.ativo,
#box-videos .episodio:hover,
.box-borda .newsletter .assinar,
#agenda .abas li:hover a,
#agenda .abas li.ativo a,
.claro .capa-titulo,
.capa-titulo,
.abas li:hover a,
.abas li.ativo a,
.box-padrao .claro .capa-titulo,
.busca form .buscar,
.contato form .linha .enviar {background:#af111d;}

.box-padrao .claro span,
.topo span {background-position:-150px 0;}

.abas li.ativo .decoracao, 
.abas li:hover .decoracao { background-position:0 -48px; left:35px;}

#agenda {margin-top:0;}
#agenda .abas li:hover span,
#agenda .abas li.ativo span {background-position:0 -48px;}
#agenda .abas-conteudo ul {background:#fff; padding:10px; margin-top:-10px;}
.enviar-video {clear:both; background:#af111d; float:left; color:#fff; padding:2px 5px; margin:10px 0 10px 95px; text-transform:uppercase; font-weight:bold; font-size:12px; }
.submenu-interna ul { width:138px;}
.media {margin-top:10px;}
.paginacao .titulos {margin:0; text-align:center; width:594px; background:none; float:right;} 

#duvidas {text-align:left; margin-top:10px; clear:both; float:left;}
#duvidas dt {font-size:16px; font-weight:bold;}
#duvidas dd { font-size:14px; margin-bottom:20px; clear:both;}

#apoio {margin-top:90px;}
#apoio li { width:auto; float:left; margin-right:33px; height:55px;}
#apoio li:last-child {margin-right:0;}
#apoio a {display:block;}
#apoio .governoSp {margin-top:10px; }
#apoio .fapesp {margin-top:17px; }
#apoio .unicamp {margin-top:0; }
#apoio .fundap,
#apoio .unesp {margin-top:12px; }
#apoio .usp {margin-top:14px; }
#apoio .cps {margin-top:20px; }

.expediente {margin-top:10px;}

.box-interna .texto {margin:10px 0 20px 0; float:left;}
.texto .chapeu {color: #333;}

.box-interna .col-esq p,
.box-interna .col-dir p {clear:both;}

.box-playlist a:hover img,
#box-videos .carrossel .jcarousel-item .img-150x90:hover,
.blocos li a.bg:hover { border-color:#af111d; }

#menu-rodape .blocos a {color:#333;}

.box-playlist {margin:20px 0 20px 0;}
.box-playlist a {max-height:90px;}
.box-playlist .img { max-height:96px; height:96px; }

.proximasAtracoes .proximasAtracoes-box p a,
.proximasAtracoes .proximasAtracoes-box .gradeCompleta,
.busca form .busque,
.busca form .busque span { color: #af111d;}
.proximasAtracoes .enunciado,
.novoNoAr .enunciado h2 {background:#af111d;}
.novoNoAr .enunciado span { background:url("http://cmais.com.br/portal/univesptv/images/ponta-destaque.png") no-repeat; }
#box-videos .conteudo-lista {/*max-height:90px;*/ height:auto;}
.pag3 {margin-bottom:0;}
.sem-borda li { padding-bottom:0; height:auto; }

#menu-rodape .abas {padding-left:0; width:970px;}

/* todos os sites */
.todos-sites a:hover, 
.todos-sites a.ativo {color:#af111d;}
/* /todos os sites */

/* grade */
.lista-calendario .barra-grade .botao { background-position:0 -80px;}
.lista-calendario .escura .botao { background-position: 0 -16px;}
/* /grade */

/* datepicker */
#datepicker .ui-widget-content .ui-state-active,
#datepicker .ui-state-hover,
#datepicker .ui-widget-content .ui-state-hover,
#datepicker .ui-widget-header .ui-state-hover,
#datepicker .ui-state-focus,
#datepicker .ui-widget-content .ui-state-focus,
#datepicker .ui-widget-header .ui-state-focus,
.contato form .linha .enviar { background:#af111d; }

/* PROGRAMA SIMPLES EPISODIOS */
.tit-pagina {margin-bottom:10px;}
.texto {margin-top:10px;}
.texto p {margin-bottom:10px;}
.box-interna { margin-bottom:0;}
.paginacao { margin:10px 0;}
.paginacao .titulos {margin:0; text-align:center; width:594px; background:none; float:right;} 
#box-videos .topo {margin-bottom:0;}
#box-videos a {float:left !important; width:226px; font-size:12px; line-height:14px;}
#box-videos .episodio span { width:59px; float:left; color:#fff;}
#box-videos span,
#box-videos .titulos {font-size:16px; line-height:18px;}
#box-videos .episodio { background:#333; color:#fff; width:59px; height:38px; display:block; float:left; font-size:12px; font-weight:bold; text-align:center; margin:1px 5px 0 0; padding-top:7px; }
#box-videos .episodio.ativo,
#box-videos .episodio:hover {background:#af111d; text-decoration:none;}
/*#box-videos .conteudo-lista {max-height:55px;}*/
#box-videos ul { overflow-x:hidden; overflow-y:scroll; max-height:420px; margin:0;}
#box-videos li {width:290px;}

/* /PROGRAMA  SIMPLES EPISODIOS */

.box-interna .leia {color:#af111d; text-decoration:none;}
.box-interna .leia a { font-weight:normal;}
.box-interna .box-compartilhar {margin-top:20px;}
.para-ouvir a {  background-image:url("http://cmais.com.br/portal/univesptv/images/bg-link.png"); }
.categoria .para-ouvir a { background:none; padding-left:0; }
.box-interna .tags {margin-top:0;}

/* todos sites*/
.todos-sites a:hover, 
.todos-sites a.ativo {color:#af111d;}
/* /todos sites*/ 

/* videos*/
.busca form .busque span {font-weight:bold; color:#af111d;}
#menu-rodape .conteudo-lista .titulos {max-height:60px;}
#menu-rodape .blocos a:hover {border-color:#af111d;}
.busca li a:hover,
.busca li a.ativo {color:#af111d; text-decoration:none; font-weight:bold;}
.paginacao ul li a.ativo,
.paginacao ul li a:hover {color:#999;}
.busca form .buscar {background:#af111d;}
.paginacao .centraliza {width:auto; float:right; margin-right: 10px;}
/* videos*/

.novoNoAr {margin-top:0;}

.pag2 a { background-position:0 -160px; }
.pag2 .proximo { background-position:0 -142px; }
.menu-calendario .anterior { background-position:0 -162px; }
.menu-calendario .proximo { background-position:0 -144px; }

.cursos {margin-bottom:20px; float:left;}
.cursos li {width:420px; float:left; text-align:left; margin:0 20px 20px 20px;}
.cursos a { display:block; clear:both;  }

.box-playlist .img:hover {border-color:#AF111D;}
#menu-portal-2 li:hover a { background:#ff6633; }
#barra-site h2 { margin-top:34px; }

.nav-tabs { clear:both;   -moz-border-bottom-colors: none;    -moz-border-image: none;    -moz-border-left-colors: none;    -moz-border-right-colors: none;    -moz-border-top-colors: none;    background: none repeat scroll 0 0 #666666;    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #FFFFFF;    border-style: none none none dotted;    border-width: medium medium medium 1px;}
.nav-tabs > li { border-right:1px dotted #FFFFFF; margin-bottom: 0; float:left;  }
.nav-tabs > li > a { display: block; background: none repeat scroll 0 0 #666666;    border: medium none;    color: #FFFFFF;    font-size: 16px;    font-weight: bold;    height: 30px; line-height: 30px;    margin: 0;    min-width: 100px;    padding: 0;    text-align: center;    text-transform: uppercase;}
.nav-tabs > li:hover > a, 
.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover {    background: none repeat scroll 0 0 #333333;    border: medium none;    color: #FFFFFF; text-decoration:none;}

/** /UNIVESPTV  **/