.carousel-control { background-image: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/setas-familia.png"); }
.carrossel-familia h2 {  border-radius:10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; }
.carrossel-familia {  border-radius:10px ; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
.carrossel-familia h2 { background:#e9f3f4; color:#6a747d; margin:0; height:35px; line-height: 35px; font-size:20px; margin-bottom:2px;   }
.carrossel-familia .ico-presente { background:  url("http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-presente.png") no-repeat; width:20px; height:21px; float: left; margin:5px 5px 0 5px;}
.carrossel-familia { background:#fff; padding:2px;  position:relative; overflow:hidden; margin-bottom:0;}
#myCarousel { margin-left:0; }
.ico-seta-titulo-grd { background:url("http://cmais.com.br/portal/images/capaPrograma/cocorico/seta-titulo-grd.png") no-repeat; width:26px; height:15px; position:absolute; display:block; right:50%; z-index: 100; top:37px; }
.texto:hover,
.texto { border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; position:absolute; display:block; bottom: 0;  background:url("http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-azul-transparente.png") repeat; padding:5px 10px; color:#fff; }
.texto:hover { text-decoration:none; }
.texto h3 { color:#fff; margin:0; }
.destaques.span6 { margin-left:0; background:#c6e1e4; text-align:left; color:#6b757d; line-height:18px; text-align:center;}
.destaques h2 { background: none repeat scroll 0 0 #C6E1E4; color: #6B757D; font-size: 20px; height: 30px; line-height: 30px;  margin: 0; overflow: hidden;  position: relative; text-align: center; text-transform: uppercase; z-index: 100; }
.destaques .bold { text-transform:uppercase; margin:5px 10px;  }
.destaques p { margin:5px 10px 10px; }
.destaques.web { float:right; overflow:hidden; }
.destaques.web img { height:180px; }

.cr { background-position:0 -40px; }
#blocoCarrossel .texto { position:relative;  }
#blocoCarrossel .texto h3 { color:#6B757D; }
#blocoCarrossel .texto { background: none; }
#myCarousel .carousel-inner .item { height:335px; overflow:hidden; }
#myCarousel .texto {  min-width:594px; max-height:57px; }

.destaques.video-ytb .bold { padding-top:5px; }
.destaques.video-ytb p { background:#C6E1E4; display: block; margin: 0; overflow: hidden; padding: 0 0 5px 10px; position: relative; width: 97.1%; }
.destaques.video-ytb img { margin: -59px -47px;  max-width: 396px; border-radius: 150px; -moz-border-radius: 150px; -webkit-border-radius:150px;}
.destaques.video-ytb { background:#C6E1E4;  border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius:10px; overflow:hidden; }
