/* menu familia */
.conteudo p a { color:#70AAB1; }
.topo-familia .navbar .nav > li.familia { margin:5px 1% 0 20px; float:left; width: auto; }
.topo-familia .navbar .nav > li { margin-top:5px; margin-right:10px; }
.topo-familia .navbar .nav > li.familia a { width: 159px; margin:0; padding:0; }
.topo-familia .joguinhos{margin-left: 100px;}

.tooltip-inner { background:#76b0b7; color:#fff; text-align:left; font-size: 13px; line-height:15px; }
.tooltip.in,
.tooltip { opacity: 1; filter: alpha(opacity=100); -moz-opacity:1;}
.tooltip.bottom .tooltip-arrow {  border-bottom-color: #76b0b7;}

.topo-familia .navbar .nav > li.personagens { margin-right:0; margin-left:0; height:50px;  }
.topo-familia .navbar .nav { margin:0;}
#menu-familia { width:auto; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-menu-familia.png) repeat; margin:0;  padding:0 10px;  border-radius:0 10px 10px 0; -moz-border-radius: 0 10px 10px 0; -webkit-border-radius:0 10px 10px 0; }
#menu-familia li { margin:0; }
#menu-familia li a { background: none; font-weight:bold;   border: medium none;    border-radius: 0 0 0 0;    height: 40px; line-height:40px; color:#76b0b7; font-size:14px;    margin: 0;    text-indent:0 ;    width: auto; padding:0; }
#menu-familia li a.active,
#menu-familia li a:hover { color:#6a747d; }
#menu-familia li .divider { color: #fff; padding: 0 12px; background:none; line-height:40px; width: auto; }
/* /menu familia */

.breadcrumb .divider,
.breadcrumb .active,
.breadcrumb li,
.breadcrumb a { color:#76b0b7; }
.destaques .btn, .destaques-small a, .tit-pagina, .tit-pagina:hover { background:#c6e1e4; color:#6b757d; font-weight:bold; font-size:20px; }

/* natv*/
.conteudo .logos { margin-left:24px; float:right; }
.logos a  { position:relative; background:#e9f3f4; display: block; float:left; min-width:140px; border:2px solid #fff; text-align:center; padding:10px 0;  border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius:10px;}
.logos a:hover { background:#fff; }
.logos .cultura { margin-right:9px; }
.logos a span { width:26px; height:15px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/detalhe-logo.png) no-repeat; display: block; position:absolute; bottom:-15px; left:57px;}
.natv ul { margin-top:-15px; margin-left:20px; }
.natv ul li { background:#e0eeef; overflow:hidden; margin:0 10px 10px 0; max-height:180px; overflow:hidden; float:left;  }
.natv ul li a { margin-right:10px;   }
.natv ul li bold,
.natv ul li a,
.natv ul li p { color:#6b757d; }
.natv ul li p { overflow:hidden; }
.natv ul li bold { text-transform:uppercase; font-weight:bold;display: block; margin-top:5px; }
.natv ul li img { margin-right:20px; }
.natv .hora { padding:10px; background: #e9f3f4;  border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius:10px; margin:10px 0 10px 20px; text-align:center;  }
.natv .hora span { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/pontilhado-branco.png) repeat-x; min-height:1px; margin:0; padding:0; display: block; }
.natv .hora a { margin:20px 0; display:block; text-align:center; }
/* /natv */

/* nas lojas */
.lista-produtos { margin:0 20px; }
.naslojas .lista-produtos .span4 { background:none; }
/*.row-fluid.naslojas .span4 { margin-right:2%; }*/
.naslojas .span8 { width: 61.812%; }
.naslojas .span4 { background:#d3e7e8; color:#6a747d; border-radius:10px 10px 0 0;  -moz-border-radius: 10px 10px 0 0; -webkit-border-radius:10px 10px 0 0; }
.naslojas .topo { position:relative; overflow:hidden; border:2px solid #fff; border-radius:8px 8px 0 0;  -moz-border-radius: 8px 8px 0 0; -webkit-border-radius:8px 8px 0 0; background:#e9f3f4; }
.naslojas .topo h2 { font-size:20px; text-transform:uppercase; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-lojas.png) no-repeat 10px 0; padding-left:40px; line-height:20px; }
.naslojas  .divisao {    display: block;   height: 14px;    margin: 0 ;  background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/familia-pattern.png) repeat-x;}
.form-search { margin:10px; }
input.search-query { min-width:230px; padding:0 10px; min-height:20px; line-height: 20px; font-size:14px; }
.form-search button:hover,
.form-search button { background:none; padding:0; box-shadow:none; margin:0 0 0 8px;  }
.form-search .icon-search { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-busca.png) no-repeat; width: 21px; height:21px; margin:0; }
.naslojas .detalhe {background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/detalhe-form.png) no-repeat;display: block;    height: 15px;    margin-left: 46%;    margin-top: -2px;    position: relative;    width: 26px;    z-index: 10;}
.filtro {background:#70aab1; margin:-22px 10px 10px 10px; overflow:hidden; padding:10px; }
.filtro h2 { font-size:14px; color:#fff; text-transform:uppercase; line-height:16px; margin-top:20px; }
.filtro ul { margin:0; }
.filtro ul a { color:#fff; line-height: 16px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-lixeira-verde.png) no-repeat; padding-left:15px; }
.filtro ul a:hover { text-decoration:none; }
.filtro .btn { background:#e9f3f4; color:#70aab1; padding:0 10px; height:20px; line-height: 20px; float:right; }
.form-filtro  { margin-bottom:0; }
.form-filtro fieldset { padding:0 10px; margin-bottom:10px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/pontilhado-branco.png) repeat-x bottom; padding-bottom:10px;}
.form-filtro fieldset .grupo {  overflow-x:hidden; overflow-y:auto; max-height:200px; }
.form-filtro legend { color:#6b757d; font-size:14px; text-transform:uppercase; font-weight:bold; height:16px; line-height:16px; margin:0; border:none; margin-bottom:10px;   }
.form-filtro .radio input { margin-right:8px; }
.form-filtro .radio input:checked { font-weight:bold; }
.form-filtro .fabricante { background:none; margin-bottom:0; }
.form-filtro .radio{ padding-left:20px; }

.form-filtro ::-webkit-scrollbar { height: 12px; width: 12px; background:#d3e7e8; }
.form-filtro ::-webkit-scrollbar-thumb { background: #72aab0; -webkit-border-radius: 1ex;}
.form-filtro ::-webkit-scrollbar-corner { background: #d3e7e8;}

.produtos { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-naslojas.png) repeat; padding:10px 0 0 10px; font-weight: bold; margin-bottom:10px;}
.produtos h2 { margin:0; font-size:14px; line-height: 16px;  min-height: 16px !important; text-transform:uppercase; color:#6b757d; }
.produtos .itens { float:right; background:none; width: 37.171%; }
.produtos .itens .divider { color:#fff; float:left; }
.produtos .itens { position:relative; }
.produtos .itens p { min-height:16px; color:#70aab1; text-transform:uppercase; margin-bottom:0; margin-left:20px;  }
.produtos .itens ul { position:absolute; right: 0; top:-40px; border:2px solid #fff; background:#e9f3f4;  }
.produtos .itens li { color:#70aab1; text-align:center; padding:0 5px; cursor: pointer; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/pontilhado-branco.png) repeat-x; }
.produtos .itens li.active { color:#6b757d; }

.pagination .anterior:hover a, 
.pagination .proximo:hover a, 
.pagination .anterior a, 
.pagination .proximo a {    background-image: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/seta-familia.png");}
.pagination ul > li > a:hover, 
.pagination ul > .active > a, 
.pagination ul > .active > span { color: #70aab1;}

.lista-produtos a { color:#6a747d; background:#e9f3f4; text-align: center;  }
.lista-produtos a:hover { text-decoration:none; }
.lista-produtos li { margin-bottom:30px; }
.lista-produtos a img { max-height:178px; }
/* nas lojas interna */
.voltar:hover,
.voltar {    background: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/voltar-familia.png") no-repeat scroll 0 0 transparent;    color: #6b757d; }
.divisao {    background: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/pontilhado-familia2.png") repeat-x center center;}

.tit-pagina.interna { color:#fff; background:#70aab1; width:auto; margin:0 20px 20px;  }
.tit-pagina.interna:hover {  border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
.conteudo .alerta { color:#ec342f; text-transform:uppercase; height:41px; line-height: 41px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/pontilhado-vermelho.png) repeat; }
.conteudo .alerta span { width:23px; height:19px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-alerta.png) no-repeat; display: block; float:left; margin:10px 10px 10px 40px; }
.conteudo h3 {font-weight:bold; text-transform: uppercase; font-size:14px; line-height: 18px; margin-bottom:0;}
.conteudo ul { margin-left:0; }
.receita ul a { color:#f2722f; font-weight:bold; text-decoration:underline; }
.zoom ul.span12 { margin:10px 0; }
.zoom ul li { margin-bottom:10px; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background:#fff; display:block; height:119px; overflow:hidden; }
.conteudo .redes { background-image:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/pontilhado-familia.png); height: 41px;    line-height: 41px;    text-transform: uppercase; }
#rede-face, #rede-twitter, #rede-google, #rede-pinterest  { float:left; margin-right:41px; }
#rede-face { margin-top:4px; }
#rede-twitter { margin-top:6px; }
#rede-google { margin-top:5px; margin-right:0; }
#rede-pinterest { margin-top:6px; }
.conteudo .span6 h3 { margin-bottom:5px; }
#produto-grid a,
#produto-grid {cursor:none;} 
#tooltip.tool1 {position: absolute;   background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/cursor.png) no-repeat;  width:130px;  height:50px;  font-size:0px!important;}
.conteudo .site { background:#70aab1 url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-info.png) no-repeat 10px 3px; color:#e9f3f4; padding:0 10px 0 35px; margin-top: 20px; display: block; max-width: 115px; text-align:center; height:20px; line-height: 20px;  }
.conteudo .site:hover { text-decoration:none; }
/* nas lojas interna */

/* /nas lojas */

/* naweb */
.ico-naweb{background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/naweb-ico-redes.png) no-repeat;width:20px; height:20px;margin: 9px; float:left;}
#naweb .destaque{background-color:#f3f7f7;border-radius:8px;}
#naweb .destaque h2{font-size: 14px;color: #77838B;font-weight: bold;line-height: 17px;padding: 10px;margin: 0; text-transform: uppercase;}
#naweb .destaque .btn-inscreva-se {  border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
#naweb .destaque .btn-inscreva-se .btn-destaque{color:#76b0b7;display: block;width:270px;height: 42px;float: left;background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/naweb-pattern.jpg) repeat-x;line-height: 44px;font-size: 16px;font-weight: bold;text-align: center;text-transform: uppercase;}
#naweb .destaque .btn-inscreva-se .btn-destaque:hover{text-decoration: none;}
#naweb .destaque span{display:block; float:left;width:13px;height:42px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/naweb-btn-canto-arredondado.png) no-repeat;float:left;}
#naweb .destaque span.last{background-position: right 0;}
#naweb .instagram .topo {margin-bottom:3px; background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/naweb-pattern2.jpg) repeat-x 0 bottom;height:43px;}
#naweb .instagram .bac-blue{background-color: #f3f7f7; border-top-right-radius: 8px; border-top-left-radius: 8px;border: 1px solid #ffffff;}
#naweb .instagram h3{margin:0; line-height:16px;font-size:14px; margin-top:8px;padding-bottom: 5px; }
#naweb .instagram span{ font-weight:bold; color:#70aab1; margin-left:5px;}
#naweb .instagram .ico-instagram{background-position: 0 -25px; margin-top:-2px; margin-bottom:0;}
#naweb .instagram .borda{bottom: 8px;position: relative;width:100%; height:13px; background-color: #fff; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }
#naweb .twitter a{margin-bottom: 10px;height: 30px;display: block;}
#naweb .box-instagram { background: none repeat scroll 0 0 #F3F7F7; border: 2px solid #FFFFFF; border-radius: 0 0 5px 5px; height: 290px; margin-top: -3px; padding: 4px 0 0 4px; }
#naweb .box-instagram iframe { border-bottom: 1px dashed #fff !important; height: 287px !important; width: 286px !important;}
#naweb .box-youtube { height:288px; overflow:hidden; float:left; }
#slideTvCocorico li{width: 140px;float: left;margin: 0 4px 4px 0;}
.fancybox-opened .fancybox-title {margin-bottom: -35px;}
.instagram .bac-blue a{text-decoration:none;} 
/* /naweb */

/* agenda, cinema e post */
#agenda .lista {position: relative;}
#agenda .lista .item-lista{position: relative;}
#agenda .lista h3{font-weight:bold; font-size:20px;text-transform: uppercase;line-height: 23px;margin: 0;color:#6b757d;}
#agenda .lista hr{clear: both; margin: 0 0 10px 0; padding-top: 10px; border-bottom: 1px dashed #bbdadd;}
#agenda .lista span{color:#70aab1; font-size:14px;font-weight:bold;text-transform:uppercase;}
#agenda .acontece .topo {margin-bottom:3px; background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/naweb-pattern2.jpg) repeat-x 0 bottom;height: 44px;}
#agenda .acontece .bac-blue{background-color: #e9f3f4; border-top-right-radius: 8px; border-top-left-radius: 8px;border: 1px solid #ffffff;}
#agenda .acontece h3{position: relative;margin:0; line-height:16px;font-size:14px; margin-top:8px;padding-bottom: 6px; }
#agenda .acontece span{font-size:11px; font-weight:bold; color:#70aab1;}
#agenda .acontece .ico-acontece{background-position: 0 -48px; margin-top: -4px;}
#agenda .acontece .ico-cinema{background-position: 0 bottom; margin-top: -4px;}
#agenda .acontece .seta-acontece{background-position: 0 -25px; top:21px; left:50%;}

.acontece .topo {margin-bottom:3px; background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/naweb-pattern2.jpg) repeat-x 0 bottom;height: 44px;}
.acontece .bac-blue{background-color: #e9f3f4; border-top-right-radius: 8px; border-top-left-radius: 8px;border: 1px solid #ffffff;}
.acontece h3{position: relative;margin:0; line-height:16px;font-size:14px; margin-top:8px;padding-bottom: 6px; }
.acontece span{font-size:11px; font-weight:bold; color:#70aab1;}
.acontece .ico-acontece{background-position: 0 -48px; margin-top: -4px;}
.acontece .ico-cinema{background-position: 0 bottom; margin-top: -4px;}
.acontece .seta-acontece{background-position: 0 -25px; top:21px; left:50%;}


#agenda .destaque{margin-bottom: 20px;}
#agenda .pagination{margin-top: 20px;}
#agenda .paginacao {margin: 0 0 20px 0;overflow: hidden;}
#agenda .paginacao a {color:#70aab1;font-weight: bold;text-transform: uppercase;float: left;max-width: 103px;max-height: 40px;}
#agenda .paginacao a:hover{text-decoration: none;}
#agenda .paginacao a span {background: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/seta-familia.png") no-repeat;width: 17px;height: 31px;display: block;float: left;margin: 5px 10px 0 0;}
#agenda .paginacao .proximo {position: relative;max-width: 70px;text-align: right;padding-right: 26px;}
#agenda .paginacao .proximo, .paginacao .proximo span {float: right;}
#agenda .paginacao .proximo span {position: absolute;top: 0;right: 0;margin-right: 0;background-position: -17px 0;}
#agenda .redes {margin: 10px 0 !important;}
#agenda #rede-face, #agenda #rede-twitter, #agenda #rede-google, #agenda #rede-pinterest {float: left;margin-right: 10px;float:right;}
#agenda .titulo-post h2{font-weight: bold; color:#FFF; margin:0 0 4px 0; padding:10px;font-size:20px; line-height:24px; background-color: #70aab1; text-transform: uppercase; border-radius: 10px;}
#agenda .titulo-post span{font-weight: bold;color:#70aab1; font-size:14px; text-transform: uppercase;}
#agenda .asset img{margin: 10px auto;}
#agenda .asset iframe{width:620px; height:350px; margin:10px auto;}
#agenda .asset p { margin-bottom:20px; }
#agenda .asset p a:hover,
#agenda .asset p a { color:#70AAB1; font-weight:bold; }
#agenda .anterior.cinema, 
#agenda .proximo.cinema{margin:0; line-height: 40px;}
/*#blocoCarrossel .texto,
#blocoCarrossel .base-btns*/
.carousel { background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/agenda-pattern-bloco.png); border-bottom-left-radius: 8px;  border-bottom-right-radius: 8px;}
#blocoCarrossel .texto { margin:10px; display: block; } 
#blocoCarrossel .texto:hover { text-decoration:none; }
#blocoCarrossel .texto h3{margin-top:2px;}
#blocoCarrossel .base-btns{position:relative; padding: 30px 0 5px 0; }
#blocoCarrossel .bloco-nav {margin:0 auto; overflow: hidden;}
#blocoCarrossel .bloco-nav .btn-nav{float:left; margin-right:5px; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/agenda-btn-destaque.png) no-repeat right 0; width:13px; height:13px; display: block;}
#blocoCarrossel .bloco-nav .btn-nav.active{background-position: left 0;} 
#blocoCarrossel .bloco-nav .btn-nav.last{margin-right:0px;}
#blocoCarrossel .texto p { line-height:20px; }
/* agenda,cinema e post */

/* ie */
.conteudo .logos { margin-left:20px\9; } 
/*/ie*/
	
/*Somente para Safari e Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    #menu-familia li .divider { padding:0 11px; }
}

