@font-face {
    font-family: 'ubunturegular';
    src: url('ubuntu-regular-webfont.eot');
    src: url('ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-regular-webfont.woff') format('woff'),
         url('ubuntu-regular-webfont.ttf') format('truetype'),
         url('ubuntu-regular-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body { background:url(/portal/images/capaPrograma/cocorico/background.jpg) repeat; font-family:Arial, Helvetica, sans-serif;  }
ul li { list-style:none; }
.conteudo p a { color:#F2722F; font-weight:bold; }
/*.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 980px; }*/
.navbar-inner .container { min-width:980px;}
.tudo { margin-top:44px; min-width: 980px; background:url(/portal/images/capaPrograma/cocorico/pattern-bg-etamine.jpg) repeat;  border-left:1px dashed #b5b083; border-right:1px dashed #b5b083; }
.carousel { margin-bottom:0; }
.carousel-control { background:url(/portal/images/capaPrograma/cocorico/setas.png) no-repeat; width: 41px; height:69px; text-indent:-9999px;  border:none;    border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;   line-height: 30px;   opacity: 1; filter: alpha(opacity=100); -moz-opacity:1;    position: absolute;    text-align: center;    top: 40%;   }
.carousel-control.right { background-position:-41px 0; }
.row-fluid .divisoria { background:url(/portal/images/capaPrograma/cocorico/divisoria-azul.png) repeat-x; margin:0; padding:0; height:4px; min-height: 4px; }
.menu .navbar,
.menu .navbar-inner {  background:none; border:none; box-shadow:none; }
.menu .navbar .nav { width: 100%; }

/* font-familt ubuntu */
.box-destaque h3,
#myModal.alerta,
.box-papel-parede ul li a,
.destaque2 .radio a,
.form-search p,
.frase p span,
.conteudo .data,
.conteudo h3,
.col-esq .tit-pagina.span12 h2,
#lista .lista-personagens h2,
.modal-header,
.enquete .inativo p,
.produtos,
.form-filtro legend,
.filtro h2,
.naslojas .topo h2,
#menu-familia li a,
.form-horizontal .btn,
.form h2,
.contedo h3,
.curtir,
.voltar,
.votar a,
.destaques bold,
.tit,
.tit-pagina,
.menu .navbar .nav > li > a,
#lista-enquetes .lista,
#naweb .destaque h2,
#naweb .destaque .btn-inscreva-se .btn-destaque,
#naweb .instagram h3,
#agenda .lista h3,
#agenda .lista span,
#agenda .titulo-post{font-family: 'ubuntu', sans-serif; }

/*border-radius 10px*/
#convidados li a,
#myModal.alerta,
.destaque-1,
.destaque-2,
.autografo,
.border-radius10,
.modal-body img,
.modal ul,
.enquete form .span6 .capa-img,
.enquete .inativo .span6 .capa-img,
.enquete .inativo p,
.zoom img,
.tit-pagina.interna,
.produtos,
.relacionados .destaques-small,
.destaques,
.tvcoco {  border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

/*border-radius 0 0 10px 10px*/
.topo-familia .navbar .nav > li.personagens,
.popover.bottom,
.destaques a.span12,
.menu .lista-personagens,
.lista-produtos a {  border-radius:0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; }

/*border-radius 5px*/
#myModal.alerta a span,
.box-papel-parede ul li a,
.convidados a,
.conteudo .site,
.zoom ul img,
.form-horizontal .btn,
.form-horizontal .controls input,
.filtro .btn,
input.search-query,
.destaques-small li,
.produtos .itens ul  {  border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

/* color #fdf035 */
.tvcoco h2,
.destaques:hover,
.destaques { color:#fdf035; }

/* text-decoration none*/
.pergunta a:hover,
.destaques:hover,
.box a:hover { text-decoration:none; }

/* color #fff */
.enquete h3,
.enquete p { color:#fff; }

/*bold*/
bold,
.bold { font-weight: bold; }

/* azul */
.azul:hover,
.azul { background:#1893cf; color:#fff; }

/* cor #6b757d */
.conteudo h3,
.conteudo ul li,
.conteudo p {  color:#6b757d;}

.btn { box-shadow:none; border:none; }


.menu .navbar .nav > li > a:focus,
.menu .navbar .nav > li > a:hover,
.menu .navbar .nav > li > a { color:#fff;  }
.menu .navbar .nav > li > a { font-size:20px; padding:0 22px 0 50px;  height:40px; line-height: 40px; color:#fff; text-shadow:none; text-transform:uppercase; font-weight:normal; text-shadow:none; text-transform:uppercase;}
.menu .navbar-inner { padding:0; }
.menu .navbar .nav > li {/* overflow:hidden;*/ margin-right:3%; margin-top:12px;}
.menu .navbar .nav > li a { background:url(/portal/images/capaPrograma/cocorico/bg-azul.jpg) repeat-x; margin-left:-30px; float: left;  border-radius:15px 0 0 15px; -moz-border-radius: 15px 0 0 15px; -webkit-border-radius: 15px 0 0 15px;  }
.menu .navbar .nav > li .icon { width:38px; height:38px; padding:0; z-index: 10; position:relative; margin:0; border: none !important; margin-top:1px; background-image: url(/portal/images/capaPrograma/cocorico/menu-familia.png)  !important; background-repeat: no-repeat;}

.menu .navbar .nav > li.personagens {  margin:0 20px; background:#eaefb2 url(/portal/images/capaPrograma/cocorico/pontilhado-verde.jpg) repeat-x ; height:60px; width: 48px; }
.menu .navbar .nav > li.personagens a { background:url(/portal/images/capaPrograma/cocorico/mais-amarelo.png) no-repeat; padding:0; margin:5px 0 0 4px; display:block;  width: 48px; height:50px;border-radius:0; -moz-border-radius: 0; -webkit-border-radius: 0; border:none; }

.menu .navbar .nav > li.joguinhos .icon { background-position:0 0; width: 48px; height:41px;} 

.menu .navbar .nav > li.brincadeiras .icon { background-position:0 -41px; width: 53px; height:40px;} 
.menu .navbar .nav > li.brincadeiras a { background:url(/portal/images/capaPrograma/cocorico/bg-laranja.jpg) repeat-x;}
.menu .navbar .nav > li.brincadeiras span { background-position:-10px 0; }

.menu .navbar .nav > li.tvcoco .icon {  background-position:0 -80px; width:50px; height:40px;} 
.menu .navbar .nav > li.tvcoco a { background:url(/portal/images/capaPrograma/cocorico/bg-verde.jpg) repeat-x;}
.menu .navbar .nav > li.tvcoco span { background-position:-20px 0; }

.menu .navbar .nav > li.diario .icon { background-position:0 -115px; width:44px; height:40px;} 
.menu .navbar .nav > li.diario a {background:url(/portal/images/capaPrograma/cocorico/bg-roxo.jpg) repeat-x;}
.menu .navbar .nav > li.diario span { background-position:-30px 0; }

.menu .navbar .nav > li.familia { float: right; margin: 12px 2% 0 0; padding: 0; width: 160px;}
.menu .navbar .nav > li.familia a {background:url(/portal/images/capaPrograma/cocorico/ico-familia.png) no-repeat; text-indent:-9999px; width:158px; padding:0;  border: none; margin:0; height:40px; border-radius:0; -moz-border-radius: 0; -webkit-border-radius:0; z-index: 10; position:relative;}

.menu .navbar .nav > li span { width:9px; height:40px; float:left; background:url(/portal/images/capaPrograma/cocorico/borda-menu2.png) no-repeat;  }

.menu .lista-personagens { background:#eaefb2; clear:both; margin:0 20px;  max-height:105px; overflow:hidden;}
.menu .lista-personagens ul { margin:0;  }
.menu .lista-personagens a { display: block; border:4px solid #c0d541;  border-radius:50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; }
.menu .lista-personagens a:hover { border-color:#fdf035; }
.menu .lista-personagens h3 { text-indent: -9999px; background:url(/portal/images/capaPrograma/cocorico/tit-turma.png) no-repeat; width:14px; height:73px; margin:16px 0 16px 16px; float:left;}
.menu .lista-personagens li { list-style:none; float:left; margin:4px 0 0 3.3%; }
.menu.listao .lista-personagens li { margin-bottom:20px; }
.menu .lista-personagens li{ width:97px !important; height:97px; }
.conteudo { clear:both; margin:2%; max-width:940px;}
.conteudo .span7 { margin-left:0; /*min-width:620px;*/ }
.conteudo .span3 { margin-left:20px; /*min-width:300px;*/ }
.border-top { background:url(/portal/images/capaPrograma/cocorico/border-top-rodape.png) repeat-x; height:2px; margin-top:40px; clear:both; }
.rodape { background:#76b0b7; }
.rodape h3 {  text-transform:uppercase; background:url(/portal/images/capaPrograma/cocorico/border-bottom-rodape.png) repeat-x bottom;  font-size:12px; color:#c6e1e3; text-align:center; height:20px; line-height: 20px; margin-top:0; font-weight:normal;}
.rodape a { color:#fff }
.rodape .bold { text-transform:uppercase; color:#fff; }
.rodape ul { margin-left:10px; }
.rodape .span2 { margin-left:2%;}
.rodape .tvcoco { width:180px; }
.rodape .joguinhos { width:175px; }
.rodape .sites { margin-left:0; }
.rodape .sites ul { margin:0; }
.rodape .sites li { width: auto; float:left; margin:30px 20px 0 0; }
.rodape .sites .last { margin-right:0; }
.rodape .sites li a { text-indent:-9999px; display:block; background-repeat:no-repeat; height:58px;  }
.rodape .sites .quintal { background-image:url(/portal/images/capaPrograma/cocorico/logo-quintal.png); width:54px;  }
.rodape .sites .tvrtb { background-image:url(/portal/images/capaPrograma/cocorico/logo-tvrtb.png); width:58px;  }
.rodape .sites .cultura { background-image:url(/portal/images/capaPrograma/cocorico/logo-cultura.png); width:55px; }
.rodape .sites .castelo { background-image:url(/portal/images/capaPrograma/cocorico/logo-castelo.png); width:59px;  }
.rodape .sites .vila { background-image:url(/portal/images/capaPrograma/cocorico/logo-vila.png); width:100px; }

.navbar { margin-bottom:0; }
.breadcrumb { background:transparent; margin-left:25px; padding:0; }
.breadcrumb .divider,
.breadcrumb .active,
.breadcrumb li,
.breadcrumb a { font-size: 10px; text-transform:uppercase; color:#1893cf; text-shadow:none; }
.breadcrumb .active { text-decoration:underline; }


.tit-pagina { margin:0 0 20px 0; height:40px; line-height:40px; display:block; position:relative; float:left; overflow:hidden; min-width:90px; max-width: 793px; }
.tit-pagina h2 {font-size:30px; font-weight:normal; text-transform:uppercase; text-decoration:none; color:#fff; margin:0 110px 0 0; width: 88%; height:40px; }
.tit-pagina,
.tit-pagina:hover {font-size:30px; font-weight:normal; text-transform:uppercase; text-decoration:none; padding:0 20px; border-radius:0 10px 10px 0; -moz-border-radius: 0 10px 10px 0; -webkit-border-radius: 0 10px 10px 0; color:#fff;  }
.tit-pagina span { width:20px; height:40px; position:absolute; right:95px; bottom:0; background:url(/portal/images/capaPrograma/cocorico/ico-seta.png) no-repeat;}
.tit-pagina .likes { height:40px; bottom:0; right:0;  border-radius:0 10px 10px 0; -moz-border-radius: 0 10px 10px 0; -webkit-border-radius: 0 10px 10px 0; }
.tit-pagina .likes li { margin-top:13px; }

.curtir { width:108px; height:40px; text-indent:-9999px; display:block; float:right; margin-right:20px; background: url(/portal/images/capaPrograma/cocorico/btn-curtir.png) no-repeat; }

.btn { border:none; }
.breadcrumb .divider { padding:0 0 0 2px; }
.tit { position:relative; }
.tit p,
.tit a { background:url(/portal/images/capaPrograma/cocorico/bg-azul.jpg) repeat-x; line-height: 40px; height:40px; width: auto; margin-left:20px; font-size:15px; padding:0 15px 0 25px; display:block; color:#fff !important; text-shadow:none; text-transform:uppercase; font-weight:normal; border-radius:10px ; -moz-border-radius:10px ; -webkit-border-radius: 10px ;  }
.tit span { width:9px; height:40px; background:url(/portal/images/capaPrograma/cocorico/borda-menu2.png) no-repeat; margin:0; position:absolute; right:0; top:0; }
.tit .mais { background:url(/portal/images/capaPrograma/cocorico/mais.png) no-repeat; width:36px; height:36px; display: block; position:absolute; left:5px; top:2px;}

/*joguinhos*/
.destaques { margin-top:20px; }
.destaques .span4 { position:relative; }
.destaques a.span12 {  margin:0; line-height18px; min-height:24px !important; padding:0 0 0 35px; text-align:left; text-shadow:none; }
.destaques span { width: 29px; height:18px; background-repeat: no-repeat; display:block; position:absolute; left:0; z-index: 10000; }
.destaques span.ativo{ width: 29px; height:28px; bottom:-5px;}
.destaques span:hover { width: 29px; height:28px; }
.destaques .btn { color:#fff; }
.popover-title { display: none !important; }
.popover.bottom .arrow { display:none; }
.popover.bottom { margin:-7px 0 0 -1px; border: 2px solid #1893cf; border-top-width:5px;  }
.popover { min-width:291px;}
.popover-content { padding:5px; }
.popover-content p {line-height:18px; }
/*.likes { position:absolute; bottom:7px; right:7px; margin:0;  }*/
.likes { background: #F2722F; bottom: 3px;  height: 20px;  margin-bottom: 0; margin-left: 0; margin-right: 0; overflow: hidden; position: absolute; right: 7px; width:95px;}
.likes li { background:url(/portal/images/capaPrograma/cocorico/ranking-estrela.png) no-repeat; width:14px; height:14px; float:left; margin-right:5px; margin-top:3px;  }
.likes li.ativo {  background-image:url(/portal/images/capaPrograma/cocorico/estrela-ativa.png); }

.destaques-small { margin:0; }
.destaques-small a { max-height:104px; color:#fff; display: block; text-align:center; overflow:hidden; font-weight:normal; text-decoration:none; }
.destaques-small li a { display:block;color:#fff; } .destaques-small a:hover { text-decoration:none; }
.destaques-small li a p { border-radius:0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px;  }
.destaques-small li { margin-bottom:10px;  overflow:hidden; max-height:122px; }

.voltar { margin-left:20px !important; margin:0 20px 10px 20px; display:block; font-size:14px; font-weight:bold; text-transform:uppercase; padding-left:25px;  height:30px; line-height: 30px; }
.voltar:hover { text-decoration:none; }
.voltar .divisao {  height:1px; float: right; margin:0; min-width:840px; height:30px; display:block; }
.relacionados { clear: both; }
.relacionados .tit a:hover { text-decoration:none; } 
.relacionados .destaques-small { background:url(/portal/images/capaPrograma/cocorico/fundo-transparente.png) repeat; overflow:hidden; padding:30px 10px 0 10px; margin:10px; border:2px solid #1eb9e2; }
/*onados .destaques-small li { margin:0 24px 10px 0; }*/
.relacionados .destaques-small li:last-child { margin-right:0; }
.relacionados .tit { position:relative; top:33px; display:inline-block;  }

.pagination { height:31px; margin:0 0 60px 0; }
.pagination ul { border-radius:0; box-shadow:none; }
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span { border:none; border-radius: 0; }
.pagination ul > li > a, 
.pagination ul > li > span { background-color: transparent; border:none; line-height: 31px;  padding: 0 14px; }
.pagination ul > li > a:hover, .pagination ul > .active > a, .pagination ul > .active > span { background:none; font-size:20px; font-weight: bold; }
.pagination ul > li > a { font-size:14px; color:#6b757d; padding:0; width: 20px; }
.pagination ul .anterior a,
.pagination ul .proximo a { max-width:17px !important; height:31px; background-repeat:no-repeat; padding:0; margin-right:15px; }
.pagination ul .proximo a { margin:0 0 0 15px; }
.pagination ul .proximo:hover a,
.pagination ul .proximo a { background-position: -17px 0; }

.tit-especial h2 { background:url(/portal/images/capaPrograma/cocorico/ico-especial.png) no-repeat 0 center; padding: 0 0 0 30px; }
.curtir.disabled { display:none; }

.conteudo p { clear:both; margin-bottom:0;}
.conteudo .tit {  font-weight: bold; text-transform: uppercase; margin:0 0 10px 0; border-top:1px dashed #F2722F; float:left; width:100%;}
.destaques.joguinho { background: #1893cf; color:#fff; float:right; }

.destaques a { color:#fff; text-align:center; display: block; border-radius:0 0 10px 10px; -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px;  }
.destaques a:hover { text-decoration: none; }
/* /joguinhos*/

/* tooltip*/
.tooltip-inner { background:#747a3a; padding:3px 10px; font-size: 13px; line-height:15px; }
.tooltip.in,
.tooltip {  opacity:1; filter: alpha(opacity=100); -moz-opacity:1; }
.tooltip.bottom .tooltip-arrow {  border-bottom-color: #747a3a;}
/* tooltip*/

/* topo*/
.navbar-inverse .brand, .navbar-inverse .nav > li > a { background:url(/portal/images/capaPrograma/cocorico/logocmais.png) no-repeat; text-indent:-9999px; width: 120px; height:30px; padding:0; margin:8px 20px 0 0; }
.navbar-fixed-top .nav > li > a { display: block;    height: 34px;    margin-top: 6px;    width: 34px; background:url(/portal/images/capaPrograma/cocorico/icones-menu.png) no-repeat; text-indent:-9999px; margin:5px 10px 5px 0; padding:0;}
.navbar-fixed-top .nav > .tvratimbum > a { background-position:0 -34px; }
.navbar-fixed-top .nav > .multicultura > a { background-position:0 -68px; }
.navbar-fixed-top .nav > .univesp > a { background-position:0 -102px; }
.navbar-fixed-top .nav > .culturabrasil > a { background-position:0 -136px; }
.navbar-fixed-top .nav > .culturafm > a { background-position:0 -170px; }
.navbar-fixed-top .nav > .itunes > a { background-position:0 -306px; }
.navbar-fixed-top .nav > .facebook > a { background-position:0 -339px; }
.navbar-fixed-top .nav > .google > a { background-position:0 -272px; }
.navbar-fixed-top .nav > .instagram > a { background-position:0 -238px; }
.navbar-fixed-top .nav > .twitter > a { background-position:0 -372px; }
.navbar-fixed-top .nav > .youtube > a { background-position:0 -405px; }
.navbar-fixed-top .nav > .feed > a { background-position:0 -472px; }
.navbar.navbar-fixed-top .navbar-inner .container { min-width:414px; }
/* /topo*/

.carousel-control { opacity:1; filter: alpha(opacity=100); -moz-opacity:1; }
.ico-seta-titulo{background: url(/portal/images/capaPrograma/cocorico/seta-titulo.png) no-repeat; width:19px; height:10px; position:absolute; top:24px;}

.destaques {position:relative; border-radius:10px; text-align:center; display:block; line-height:25px;}
.destaques span { background-position:/*-36px 0*/ 0 0; bottom:5px; right:0; }
.destaques span:hover { bottom:-5px; }
.col-esq .destaques.span6 { background:#f2722f; margin-top:0;}

.cr {margin-left: 0 !important; width:300px; margin-top:30px; height:40px; background:url(/portal/images/capaPrograma/cocorico/btn-faleconosco.png) no-repeat; float:left;}
.cr a { margin-right:10px; color:#fff; text-transform:uppercase; text-align:right; font-weight:bold; height:40px; line-height:40px; display: block;  }
.cr a:hover { text-decoration:none; }

.modal-header .close { color:#ec342f; font-size:14px; font-weight:normal; opacity:1; filter: alpha(opacity=100); -moz-opacity:1; text-shadow:none; background:#fff url(/portal/images/capaPrograma/cocorico/ico-fechar.png) no-repeat right; padding:0 26px 0 10px; margin-top:0;  border-radius:5px 20px 20px 5px; -moz-border-radius: 5px 20px 20px 5px; -webkit-border-radius: 5px 20px 20px 5px; height:21px; line-height: 21px;}
.modal { width:880px; margin:-200px 0 0 -440px; border:none; border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; position:absolute; }
.modal,
.modal-footer,
.modal-header { background:#d3e7e8; }
.modal-footer,
.modal-header { border:none; box-shadow:none; }
.modal-body,
.modal-footer,
.modal-header { padding:10px 10px 0 10px; }
.modal-header { padding-bottom:30px; }
.modal-footer { padding-bottom:10px; }
.modal-header p,
.modal-header #myModalLabel { color:#70aab1; font-size:20px; line-height: 22px; margin:0; font-weight: bold;}
.modal-header p { font-size:14px; text-transform:uppercase; }
.modal-body { max-height:565px; text-align:center; padding-top:0; }
.modal ::-webkit-scrollbar { height: 12px; width: 12px; background:#d3e7e8; }
.modal ::-webkit-scrollbar-thumb { background: #72aab0; -webkit-border-radius: 1ex;}
.modal ::-webkit-scrollbar-corner { background: #d3e7e8;}
.modal ul { padding:10px 10px 0 10px; background:#e9f3f4; overflow:hidden;  }
.modal ul li { margin-bottom:10px; }
#myModal.alerta h3 { color:#ec342f; font-size:20px; text-transform:uppercase; }
#myModal.alerta p { color:#6b757d; font-weight:bold; text-transform: none; margin-top:10px; }
#myModal.alerta a { margin-top:20px;}
#myModal.alerta a:hover { text-decoration:none;}
#myModal.alerta a .ico-familia {background:url(/portal/images/capaPrograma/cocorico/ico-alerta-familia.png) no-repeat; width: 40px; height:22px; display: block; float: left; margin:0 5px; }
#myModal.alerta a.span3 { color:#f2722f; display:block; font-weight: bold; margin-left:0; cursor:pointer; min-width:210px; }
#myModal.alerta a span { background:#f2722f; color:#fdf035; padding:0 5px; clear:both; display:block; text-align:center; height: 22px; line-height:22px;}
#myModal.alerta a.adulto { float:right;  color:#70aab1; }
#myModal.alerta a.adulto span { background:#70aab1; color:#fff; }
#myModal.alerta a.adulto .ico-familia { background-position: 0 -22px; }
#myModal.alerta .modal-header { padding:20px; overflow:hidden; }
#myModal.alerta,
#myModal.alerta .modal-header { background:#e9f3f4 !important;}
.modal.fade.in { top:30%; }
.modal.alerta.fade.in { top:50%; }
/* ytb*/
.bastidores.ytb .item,
.ytb .span6 a,
.ytb .span4 a { overflow:hidden;  border-radius:0; -moz-border-radius: 0; -webkit-border-radius: 0;  }
.ytb .destaque1 img,
.ytb .span6 a img, 
.ytb .span4 a img { margin:-27px 0 !important;  }
.ytb .destaque1 img { max-width:310px; }
.ytb .span6 .btn,
.ytb .span4 .btn { border-radius:0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px;}
.ytb .destaques-small li a { overflow:hidden; } 
.ytb .destaques-small li a img { margin:-13px 0 !important; }
.bastidores.ytb .item span,
.ytb .destaques-small li a p { background: #F2722F; color:#fff; height: 20px; position: relative; z-index: 100; overflow:hidden; margin:0; float:left; width: 100% }
.bastidores.ytb .item img { margin:-11px 0 !important; }
.bastidores.ytb .item span { background:none; }

/* ytb*/

/* topo coco*/
.topo-coco { margin:10px 20px; overflow:hidden; }
.topo-coco h1 { min-width:300px; float:left; margin:0 2% 0 0; }
.topo-coco .fb-like { clear:both; display: block; }
.box-publicidade.span9 { max-width: 620px; height:90px; float:left; margin-left:0; }
/* /topo coco*/

/* botao mais todos*/
.btn-ico-mais { bottom: 26px;  position: absolute;  right: 0; z-index: 100;}
/* /botao mais todos*/
.conteudo .destaque-2 h3,
.conteudo .destaque-1 h3 { line-height: 34px !important; } 
.conteudo .destaque-2 a:hover,
.conteudo .destaque-1 a:hover { text-decoration:none; }

.relacionados .destaques-small.top { padding-top:10px; }

.box-destaque.ytb img { margin: -23px 0;    position: relative;    z-index: 0; }
.box-destaque.ytb.img img { margin:0;    position: relative;    z-index: 0; }
.box-destaque.ytb h3 a,
.box-destaque.ytb h3 { position: relative;    z-index: 1001; border-radius:10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; }
.box-destaque.ytb a { position: relative; }

.box-destaque { background:#F2722F; border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; overflow:hidden; position:relative;  }
.box-destaque h3 { background:#F2722F; margin:0; height: 30px !important; overflow:hidden; border-radius:10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; }
.box-destaque h3 a { background:#F2722F; height: 30px; line-height: 30px; width: 100%; font-size: 14px; text-transform: uppercase; overflow: hidden; font-size: 20px; font-weight: normal; }
.box-destaque h3 a,
.box-destaque img { min-height: 180px; }
.box-destaque a { color: #FDF035; background:#F2722F; text-align:center; display: block; border-radius:0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; }
.box-destaque a:hover { text-decoration:none; }
.box-destaque .ico-mais { background:transparent url("/portal/images/capaPrograma/cocorico/mais.png") no-repeat -36px 0 ; position: absolute !important;   right: 1px;   top:193px;   width: 36px; height: 36px;}

.box-destaque.joguinhos h3,
.box-destaque.joguinhos a,
.box-destaque.joguinhos {  background:#1893CF;  }
.box-destaque.joguinhos h3
.box-destaque.joguinhos a { color:#fff; }
.box-destaque.joguinhos .ico-mais { background-position:0 0; background-color:transparent; }

.box-destaque.tvcocorico h3,
.box-destaque.tvcocorico a,
.box-destaque.tvcocorico {  background:#1DB186;  }
.box-destaque.tvcocorico h3 a { background:#1DB186; color:#FDF035; }
.box-destaque.tvcocorico a { background:#BFD540; color:#757b33; }
.box-destaque.tvcocorico .ico-mais {  background: url("/portal/images/capaPrograma/cocorico/mais.png") no-repeat -73px 0 transparent; }

/* IE*/
/*
.menu .navbar .nav > li a { *margin-left:-30px; *padding-left:35px; }
.menu .navbar .nav > li a { margin-left:-20px\9; padding-left:25px\9; }
*/
/*

.menu .navbar .nav > li .icon { margin:1px\9; }
.menu .navbar .nav > li.personagens { margin-right:5px\9; }
.menu .navbar .nav,
.menu .navbar .nav > li { margin-left:0\9; margin-right:5px\9; }
*/
/*
.container, 
.navbar-static-top .container, 
.navbar-fixed-top .container, 
.navbar-fixed-bottom .container { width:1190px\9;  }

.destaques-small li.span2 a {  *margin-bottom:10px;}
.conteudo .destaques-small { *margin-left:4px; }
*/
/*
.tit-pagina,
.tit-especial { min-width:700px\9; }
*/
/*
.voltar .divisao {  *display:none; }
.destaques.span6 .bold { min-width: 300px\9; }
.destaques a.span12 { *width:265px; }

*/
/* /IE8*/

.conteudo.destaques.especial .span12 { min-height:0; }
.conteudo.destaques.especial .span12 .interna  form{ display:none; }


