.col-esq { position:relative; }
.col-esq .destaque-home .box { /*position: absolute; top:0; right:0; */ margin-left:0px; float:right;  }
/*.small { width: 174px; }*/
/*.small a img {  width:140px;  }*/
.box .mais { z-index:10; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/mais.png) no-repeat; width:36px; height:36px; display: block; position:absolute; margin-left:20px; padding:0; }
.box a { margin-left:20px; font-size:15px; padding:0 0 0 30px; display:block; line-height: 35px; color:#fff !important; text-shadow:none; text-transform:uppercase; font-weight:normal; text-shadow:none; text-transform:uppercase; border-radius:15px 0 0 15px; -moz-border-radius: 15px 0 0 15px; -webkit-border-radius: 15px 0 0 15px; }
.box .tit a { background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-azul.jpg) repeat-x;  padding:0 8% 0 24%; line-height: 40px; height:40px; width: 91px; float:left;  }
.box .tit span { width:9px; height:40px; float:left;  background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/borda-menu2.png) no-repeat; margin:0; position:relative; right:0; }
.box ul a,
.box ul a img { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;  text-transform:none; text-align:center; background-image:none; border:none; margin:0; padding:0; background:#1893cf; font-size:14px; font-weight:normal; line-height: 20px;  }
.box ul li { margin-top:5%; }
.box ul { margin:0px; clear:both; } 

/*.destaques {position:relative; background:#f2722f; border-radius:10px; text-align:center; display:block; line-height:25px; margin:0 0 30px 0;  }
.destaques span { background-position:-36px 0; bottom:5px; right:0; }
*/

.destaques img.span12 { border:none; margin:0; clear:both; }
.destaques .bold { text-transform:uppercase; font-size:20px; line-height:31px; height:31px; overflow:hidden; display:block; color:#FDF035; font-weight: normal;}
.col-esq div.span12 { margin:0; clear:both; }

/* destaque home */
.col-esq .destaque-home.span12 { margin-bottom: 20px; float: left; }
.destaque-home .box .tit { margin-left:-34px; margin-bottom:5%; overflow:hidden; border:none; width: 177px; }
.destaque-home .span9 {  border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; display:block; }
.destaque-home .box img,
.destaque-home .span9 img {  border-radius:8px; -moz-border-radius: 8px 8px 0 0; -webkit-border-radius: 8px 8px 0 0; }
.destaque-home .box .mais { margin-left:-30px; }

.destaque-home.joguinhos .span9 { border:2px solid #1793ce; }

.destaque-home.receitinhas .span9 { border:2px solid #F2722F; }
.destaque-home.receitinhas .box .mais { background-position:-109px 0; }
.destaque-home.receitinhas .box .tit a { background-image:url("http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-laranja.jpg"); }
.destaque-home.receitinhas .box .tit span { background-position:-10px 0; }
.destaque-home.receitinhas .box ul a { background:#F2722F; }
/* /destaque home */
.tvcoco .ajax-loader{margin: 5px auto;width:17px;}
.tvcoco.span12  { background:#1db186; overflow:hidden; margin:-50px 0 0 0; padding-top:50px; position:relative; }
.logo { display: block; position:relative; z-index: 10; }
.tvcoco .btn-programacao{width: 100%;display: block;font-size: 14px;text-align: center; background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/tvcocorico-btn-confira.jpg) no-repeat;line-height: 28px;text-decoration: none;padding-left: 13px;color: #747a39;}
.tvcoco { position:relative; }
.tvcoco h2 { font-size:14px; text-transform:uppercase; text-align:center; margin-top:0; line-height: 20px; }
.tvcoco h2 i { margin:0 10px; }
.convidado.span12 { background:#bfd540; color:#747b3a; display: block; margin:0; text-align:center;  }
.convidado.span12:hover { text-decoration:none; }
.tvcoco .mais { background:red; width: 36px; height:36px; position:absolute; top:270px; right:0;  background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/mais.png) -72px 0 no-repeat; }
.icon-star-empty { background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-estrela.png) no-repeat; }


.enquete.span12 { background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/divisoria-tvcoco.png) repeat-x 0 -6px; margin-left:0; }
.conteudo .enquete h3 { text-transform:uppercase; font-size: 20px;  margin:15px 0 0 0; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/ico-ok.png) no-repeat 10px 11px; padding-left:35px; color:#fff;  }
.enquete p { margin:0 10px 0 10px; color:#fff; }
.enquete form.span12 { position:relative; overflow:hidden; margin-left:0;  }
.enquete form .versus { width:27px; height:30px; position:absolute; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/versus.png) no-repeat; bottom:50%; left:46%;  }
.enquete form .span6 { margin:0 1px; }
.enquete .inativo .span6 .capa-img,
.enquete form .span6 .capa-img { /* width:140px; height:84px;*/ overflow:hidden; margin-left:-23px; border:2px solid transparent; }
.enquete form .span6 img {  cursor:pointer;  margin:0; /*max-width:144px;*/  }
.enquete form .last { margin-left:3px; float:right; }
.enquete form .span6:hover .capa-img { border:2px solid #fdf035; }
.enquete form .radio { color:#fff; clear:both; margin-left:5px;  }

.enquete .inativo input { display:none; }
.enquete .inativo .radio { padding:0; color:#fdf035; }
.enquete .inativo .span6 .capa-img:hover { border-color: transparent; }
.enquete .inativo .span6 .capa-img {  margin-left:0; }
.enquete .inativo .span6 img { cursor:auto; max-width:144px; }
.enquete .inativo p { background:#fdf035; color:#1db186; font-size:20px;height: 22px;    margin: -22px 2px 0;    padding-top: 22px; text-align:center; font-weight:bold; }
.enquete .inativo a { font-size:14px; color:#fdf035; background: url("http://cmais.com.br/portal/images/capaPrograma/cocorico/divisoria-tvcoco.png") repeat-x 0 4px; padding-top:30px; margin:0 0 10px 0; display: block; clear:both; text-align:center; text-decoration:underline;  }
.enquete .inativo .versus { bottom:55%; }

.votar.span12 { clear:both; margin:10px 0 0 0; height:45px; }
.votar a.span11 { margin:0; text-transform:uppercase; color:#747a3a; display:block; text-align:center; background:url(http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-amarelo.jpg) repeat-x; height:40px; line-height: 40px; font-size:16px; float:left; width:93%;}
.votar a:hover { text-decoration: none; }
.votar span {  background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/borda-menu2.png) no-repeat -50px 0; width:9px; height:40px; display:block; float:left;}
.enquete form .votar .last { margin:0; float: left; background-position:-40px 0  }

#votar-input { padding:0; border: none;background: red;float: left;height: 40px;margin-top: 0px;text-align: center;background: url(http://cmais.com.br/portal/images/capaPrograma/cocorico/bg-amarelo.jpg) repeat-x;text-transform: uppercase;color: #747A3A;display: block;text-align: center;font-size: 16px; min-width:93.94%;}

