.destaques-small li.span2 { margin:0 16px 10px 0; } 
.destaques a.span12 { width: 290px; }
.conteudo .destaques-small { margin-left:15px; }
.menu .lista-personagens a { border:none; }

.destaques a.span12 { width:300px; }
.destaques .span4 { width: 300px; overflow:hidden; }
.tit-pagina .likes { width: 95px; }
#menu-familia li a { font-weight:normal; }
.row-fluid .navbar,
.row-fluid .topo-coco { *margin-top:45px; *clear: both; }
.relacionados .tit  {*max-width:300px; background:none !important;} 
.tit a { padding-right:0; margin-right:9px; text-align:center; }
/*.menu .lista-personagens { min-height:95px; height:95px;}*/
.menu.listao .lista-personagens { *height:600px;  }
#convidados .span4 { margin-left:10px; }
.paginacao .proximo { *padding-right:25px;}
/*
.conteudo .span3.bastidores { margin-left:10px; float:left; }
.conteudo .span3.bastidores { *margin-left:9px; }
*/
.conteudo .col-esq.span8 { *margin-left:3px; }
.conteudo .box-radio { *margin-left:5px; }
.box-radio .destaque2 .radio a { width:10px; float: left; display: block; padding:0; margin:0; }
.box-radio .destaque2 .radio .borda { float:left;  }
.box .tit a { padding:0; margin:0 0 0 15px; }
.box .tit span { *display:none; }
.destaque-home .box .mais { margin-left:20px; }
.destaque2 .radio a { padding:0; }
.imprimir li.span4 { margin-left:5px !important; height:87px; overflow:hidden; }
/*.menu .lista-personagens li img { width: 89px; }*/
.destaque2 .radio .borda { display:none !important; }

.bastidores.span4 { min-height: 150px; }

.bastidores a { *clear:both; }
.bastidores a.span6 { *clear:none; }
.conteudo a.destaque2  { margin-left:10px !important; }
#naweb .twitter { *margin-left:5px; }
#agenda .acontece,
.emfamilia .acontece { *margin-left:0px; }
.modal-backdrop,
.modal-backdrop.fade.in { opacity: 0; }
.menu { *margin-top:-50px;}
#box-destaque .destaque-2,
#radio .destaque-2 { *margin:30px 0 0 1.5%;}
.tit-pagina.tit-extra { *width:500px; }
.topo-familia .navbar .nav > li.familia { *margin:5px 0 0 0; }
.topo-familia .navbar .nav > li { *margin-right:0; }
.votar.span12 { margin:0; }
/*.tudo #myCarousel { margin-top:44px; }*/

.box-destaque.span4,
.box-destaque.span6 { margin-left:5px; }
#myModal.modal {z-index: 5000;}
.modal-backdrop.fade.in { *display:none; }
.menu .navbar .nav > li { *margin-right:2%; }

.interatividade .form-campos .row-fluid .span9 { *max-width: 180px; }
.interatividade .form-campos .row-fluid .span11 { *max-width: 380px; }
.interatividade #form-contato { *padding:0; margin:0; }
.conteudo { *margin-left:0; }
.destaque-home-tv.interatividade.span9 { *width:450px; }
