/*
@media (min-width: 1200px) { ... }
 
@media (min-width: 768px) and (max-width: 981px) { 
  .conteudo { margin:0;}
  .navbar-inverse .nav > li > a { text-indent:0; background:none; width:auto; }
  body { background:green; }
   }
 
@media (max-width: 767px) { 
  .conteudo { margin:120px;}
  .navbar-inverse .nav > li > a { text-indent:0; background:none; width:auto; }
  body { background:blue; }
   }
 
@media (max-width: 480px) { 
  .conteudo { margin:0;}
  .navbar-inverse .nav > li > a { text-indent:0; background:none; width:auto; }
  .menu .navbar .nav > li span,
  .menu .navbar .nav > li a { display:none !important; }
  .menu .navbar .nav > li a.icon { display:block !important; }
  body { background:yellow; }
   }
*/

/*
@media only screen and (device-width: 768px) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
 body { background:red; }
 .conteudo { margin:0; }
 
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
}
*/

@media (max-width: 1024px) { 
  body { background:blue; }
  .conteudo { margin:2% 0;}
  .topo-coco h1 { margin:0 1% 0 0 ; }
  .topo-coco { margin:10px 0; }
  .menu .lista-personagens li { margin-left:3%; }
  .menu .navbar .nav > li { margin-right:2%; }
  .rodape .span2 { margin-left:1%;}
  .voltar .divisao { min-width:790px; }
  #videos {margin:0 !important; }
  .menu.listao .lista-personagens li { margin-right:2%; }
  #slideTvCocorico li { margin: 0 0 1.2% 1.2% !important; }
  .carousel,
  #menu-familia { background:#e1edec !important;  opacity:1; filter: alpha(opacity=100); -moz-opacity:1; }
  .relacionados .destaques-small {background: #fff;}
  #menu-familia li .divider { padding:0 6px !important; }
  .menu .navbar .nav > li.personagens { margin:0 2%; }
  input.search-query { max-width:80px; width:80px; }
  
   }
   
@media (max-width: 768px)  {
   body { background:red; }
   .conteudo { margin:2% 0;}
  .topo-coco h1 { margin:0 1% 0 0 ; }
  .topo-coco { margin:10px 0; }
  .menu .lista-personagens li { margin-left:1%; }
  .menu .navbar .nav > li { margin-right:1%; }
  .rodape .span2 { margin-left:1%;}
  .voltar .divisao { min-width:790px; }
  #videos {margin:0 !important; }
  .menu.listao .lista-personagens li { margin-right:2%; }
  #slideTvCocorico li { margin: 0 0 1.2% 1.2% !important; }
  .carousel,
  #menu-familia { background:#e1edec !important;  opacity:1; filter: alpha(opacity=100); -moz-opacity:1; }
  .relacionados .destaques-small {background: #fff;}
  #menu-familia li .divider { padding:0 6px !important; }
  .menu .navbar .nav > li.personagens { margin:0 2%; }
  input.search-query { max-width:80px; width:80px; }
  .menu .navbar .nav > li { float:left; }
  .menu .navbar .nav > li > a { padding:0 0 0 30px;  }
  .menu .navbar .nav > li.familia { margin-right:0; }
  .menu .navbar .nav > li.personagens { margin:0 5px 0 0; }
  
  .box .tit a { padding:0 0 0 24%; }

}