html, body{ 
  font-family: 'Monofett', cursive;
  overflow: hidden;
} 
a:link {
  color:#c73439;
  text-decoration: none;
}
a:visited {
  color:#c73439;
  text-decoration: none;
}
a:hover {
  color:#eeeeee;
  text-decoration: none;
}
a:active {
  color:#c73439;
  text-decoration: none;
}
.largetext{
  font-family: 'Monofett', cursive;
  font-size: 80px;
  color: #000;
}
#likethis{
  background-image:url('img/likethis.png');
  width:170px;
  height: 26px;
  position: absolute;
  z-index: 3000;
  right:10px;
  bottom:10px;
  cursor: pointer;
  opacity:0.5;
  filter:alpha(opacity=50);
}
#fuzzy{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:14px;
  color:#c73439;
  width:auto;
  height: 13px;
  position: absolute;
  z-index: 2800;
  left:5px;
  bottom:25px;
  cursor: pointer;
  opacity:0.7;
  filter:alpha(opacity=70); 
}
#fuzzy a{
  color:#999;
}
#fuzzy a:hover{
  color:#eee;
}
#likethis:hover{
  opacity:1.0;
  filter:alpha(opacity=100);  
}
.content_center{
  width: 100%;
  margin-top:80px;
  position: absolute;
  z-index: 2000;
  /*border: thin solid #ff0000;*/
}
#modal_about{
  width:550px;
  height: auto;
  background-color:rgba(0,0,0,0.7);
  z-index: 2000;
  margin-left:auto;
  margin-right: auto;
  /*position: absolute; */
  /*left: 40px; */
  /*top: 80px; */
  padding:0px 5px;
  font-family: 'Monofett', cursive;
  font-size: 40px;
  color: #fff;
}
#modal_about a{
  color: #f368ff;
  text-decoration: none;
}
#modal_about a:link{
  color: #f368ff;
  text-decoration: none;
}
#modal_about a:hover{
  color: #fff;
  text-decoration: none;
}

#modal_loading{
  width:620px;
  height: auto;
  background-color:rgba(0,0,0,0.7);
  z-index: 2000;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  /*position: absolute; */
  /*left: 40px; */
  /*top: 80px; */
  padding:5px 10px 10px 10px;
  font-family: 'Monofett', cursive;
  font-size: 40px;
  color: #fff;
}

#modal_submit{
  width:550px;
  height: auto;
  background-color:rgba(0,0,0,0.7);
  z-index: 2000;
  margin-left:auto;
  margin-right: auto;
  /*position: absolute; */
  /*left: 40px; */
  /*top: 80px; */
  padding:0px 5px;
  font-family: 'Monofett', cursive;
  font-size: 40px;
  color: #fff;
}
#modal_submit a{
  color: #00ffba;
  text-decoration: none;
}
#modal_submit a:link{
  color: #00ffba;
  text-decoration: none;
}
#modal_submit a:hover{
  color: #fff;
  text-decoration: none;
}
#close_modal_about,#close_modal_submit{
  display:block;
  float:right;
  color:#ddd;
  cursor: pointer;
  font-size:16px;
  font-family: Verdana, Geneva, sans-serif;
}

.menu_sel{
  font-family: 'Monofett', cursive;
  font-size: 20px;
}
.dance_outter{
  position: absolute;
  width:auto;
  height:auto;
  background-color:rgba(0,0,0,0.0);
  border: none;
}
.resize_help{
  font-family: Verdana, Geneva, sans-serif;
  position: absolute;
  right: 17px;
  bottom: 3px;
  font-size: 10px;
  color: #ccc;
}
.bfront{
  font-family: Verdana, Geneva, sans-serif;
  position: absolute;
  right: 5px;
  top: 3px;
  font-size: 10px;
  color: #ccc;
  cursor: pointer;
}
.bfront:hover{
color: #fcff00;
}
.bback{
  font-family: Verdana, Geneva, sans-serif;
  position: absolute;
  right: 48px;
  top: 3px;
  font-size: 10px;
  color: #ccc;  
  cursor: pointer;
}
.bback:hover{
  color: #fcff00;
}
.close_dancer{
  font-family: Verdana, Geneva, sans-serif;
  position: absolute;
  left: 5px;
  top: 3px;
  font-size: 10px;
  color: #ccc;
  cursor: pointer;  
}
.close_dancer:hover{
  color: #ff02fc;
}
#menu_top{
  font-size: 30px;
  position: absolute;
  text-align:center;
  left:0px;
  top:0px;
  background-color:rgba(30,30,30,0.6);
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  z-index: 998;
}
.menu_item{
  display: inline-block;
  width: auto;
}

/* hover menu items ----------------------------- */
#dancefloorswitch{
  cursor: pointer;
}
#dancefloorswitch:hover{
  color: #fff;
}
#addtoparty{
  cursor: pointer;
}
#addtoparty:hover{
  color: #fff;
}
#playit{
  cursor: pointer;
}
#playit:hover{
  color: #fff;
}
#submit{
  cursor: pointer;
}
#submit:hover{
  color: #fff;
}
#about{
  cursor: pointer;
}
#about:hover{
  color: #fff;
}

