<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/"> 
  <head>
    <link href="/feed" type="application/atom+xml" rel="alternate" title="cmais+ feed" />
    <link rel="stylesheet" href="/portal/css/geral.css" type="text/css" />
    <!--[if IE]>
      <link rel="stylesheet" type="text/css" href="/portal/css/ie-only.css" />
    <![endif]-->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store" />
    <meta http-equiv="Pragma" content="no-cache, no-store" />
    <meta http-equiv="expires" content="Mon, 06 Jan 1990 00:00:01 GMT" />

    <title>Roda Viva - Bastidores - cmais+ O portal de conteúdo da Cultura</title>
    <meta name="title" content="Roda Viva - Bastidores - cmais+ O portal de conteúdo da Cultura" />
<meta name="description" content="Roda Viva - cmais+ O portal de conteúdo da Cultura" />
<meta name="keywords" content="cultura, educacao, infantil, jornalismo" />
<meta name="language" content="pt_BR" />
<meta name="robots" content="index, follow" />
    <meta property="og:title" content="Roda Viva - Bastidores - cmais+ O portal de conteúdo da Cultura" />
<meta property="og:type" content="tv_show" />
<meta property="og:description" content="Roda Viva - cmais+ O portal de conteúdo da Cultura" />
<meta property="og:url" content="http://tvcultura.cmais.com.br/rodaviva/bastidores" />
<meta property="og:site_name" content="cmais+" />
<meta property="og:image" content="http://midia.cmais.com.br/programs/4ad5f7758ba01e3033aa1455d4fded294273103a.jpg" />

    <meta name="google-site-verification" content="sPxYSUnxlnoyUdly_hNwIHma64gh9iosgNcOBrZBYdo" />

    <meta property="fb:admins" content="100000889563712"/>
    <meta property="fb:app_id" content="124792594261614"/>

    <link rel="shortcut icon" href="/portal/images/icon/favicon.png" type="image/x-icon" />

    <!-- scripts -->
    <script type="text/javascript" src="/portal/js/jquery-ui/js/jquery-1.5.1.min.js"></script>

    <script type="text/javascript" src="/portal/js/portal.js"></script>
    <script type="text/javascript" src="/portal/js/jcarousel/lib/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="http://apis.google.com/js/plusone.js">
      {lang: 'pt-BR'}
    </script>

    <!-- DFP -->
    <script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'></script>

    <script type='text/javascript'>
    GS_googleAddAdSenseService("ca-pub-6681834746443470");
    GS_googleEnableAllServices();
    </script>
    <script type='text/javascript'>
    GA_googleAddSlot("ca-pub-6681834746443470", "cmais-aovivo-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "cmais-aovivo-728x90");
    GA_googleAddSlot("ca-pub-6681834746443470", "cmais-arteecultura-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "cmais-assets-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "cmais-assets-728x90");
    GA_googleAddSlot("ca-pub-6681834746443470", "cmais-educacao-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "cmais-grade-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "cmais-homepage-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "cmais-homepage-300x250-2");
    GA_googleAddSlot("ca-pub-6681834746443470", "cmais-jornalismo-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "cmais-musica-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "cultura360-assets-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "cultura360-assets-728x90");
    GA_googleAddSlot("ca-pub-6681834746443470", "cultura360-homepage-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "jornaldacultura-assets-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "metropolis-assets-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "metropolis-assets-728x90");
    GA_googleAddSlot("ca-pub-6681834746443470", "metropolis-homepage-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "nossalingua-assets-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "nossalingua-assets-728x90");
    GA_googleAddSlot("ca-pub-6681834746443470", "nossalingua-homepage-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "preestreia-assets-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "programas-assets-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "programas-assets-728x90");
    GA_googleAddSlot("ca-pub-6681834746443470", "programas-homepage-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "srbrasil-assets-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "srbrasil-assets-728x90");
    GA_googleAddSlot("ca-pub-6681834746443470", "srbrasil-homepage-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "tvcultura-homepage-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "tvcultura-homepage-728x90");
    GA_googleAddSlot("ca-pub-6681834746443470", "deupaulanatv-125x125");
    GA_googleAddSlot("ca-pub-6681834746443470", "deupaulanatv-300x250");
    GA_googleAddSlot("ca-pub-6681834746443470", "CartaoVerde728x90");
    GA_googleAddSlot("ca-pub-6681834746443470", "provocacoes-728x90");
    GA_googleAddSlot("ca-pub-6681834746443470", "reisdarua-728x90");
    GA_googleAddSlot("ca-pub-6681834746443470", "univesptv-728x90");
    GA_googleAddSlot("ca-pub-6681834746443470", "univesptv-300x250");
    </script>
    <script type='text/javascript'>
    GA_googleFetchAds();
    </script>
    <!-- /DFP -->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22770265-1']);
      _gaq.push(['_setDomainName', 'cmais.com.br']);
      _gaq.push(['_setAllowHash', 'false']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- /scripts -->

  </head>
  <body>
    <link rel="stylesheet" href="/portal/css/tvcultura/sites/rodaviva.css" type="text/css" />

    <!-- TOPO PORTAL -->
    <div id="topo-portal" class="topo-geral capa-topo">
      <!-- Barra Portal -->
      <div id="barra-portal">
        <h1><a href="http://cmais.com.br" title="cmais+ O portal de conteúdo da Cultura">cmais+ O portal de conteúdo da Cultura</a></h1>

        <!-- Barra Menu -->
        <div class="barra-menu">
          <!-- Menu Portal -->
          <ul id="menu-portal">
            <!-- Menu TV -->
            <li class="m-tv"><a href="#" class="filho m_tv_tvcultura" title="TV">TV<span></span></a>
              <div class="menu-aberto padrao tv grid3">
                <ul class="abas-menu abas">

                  <li class="neutro">
                    <p>escolha um canal</p>
                    <span></span>
                  </li>
                  <li class="tvcultura ativo"><a href="javascript:;" title="TV Cultura" class="m_tv_tvcultura">TV Cultura</a><span class="decoracao"></span></li>
                  <li class="univesptv"><a href="javascript:;" title="Univesp TV" class="m_tv_univesptv">Univesp TV</a><span class="decoracao"></span></li>
                  <li class="multicultura"><a href="javascript:;" title="multiCULTURA" class="m_tv_multicultura">multiCULTURA</a><span class="decoracao"></span></li>

                  <li class="tvrtb"><a href="javascript:;" title="TV R&aacute; Tim Bum" class="m_tv_tvrtb">TV R&aacute; Tim Bum</a><span class="decoracao"></span></li>
                </ul>
                <!-- Abas Conteudo -->
                <ul class="abas-conteudo">
                  <li id="tvcultura" class="filho"></li>
                  <li id="univesptv" class="filho" style="display:none;"></li>
                  <li id="multicultura" class="filho" style="display:none;"></li>

                  <li id="tvrtb" class="filho" style="display:none;"></li>
                </ul>
                <!-- /Abas Conteudo -->
              </div>
            </li>
            <!-- /Menu TV -->
            <!-- Menu Radio -->
            <li class="m-radio"><a href="#" class="filho m_radio_am" title="RADIO">R&Aacute;DIO<span></span></a>

              <div class="menu-aberto padrao radio grid3">
                <ul class="abas-menu abas">
                  <li class="neutro">
                    <p>escolha uma esta&ccedil;&atilde;o</p>
                    <span></span>
                  </li>
                  <li class="radio-cb"><a href="javascript:;" title="R&aacute;dio Cultura Brasil" class="m_radio_am">R&aacute;dio Cultura Brasil</a><span class="decoracao"></span></li>

                  <li class="radio-fm"><a href="javascript:;" title="R&aacute;dio FM" class="m_radio_fm">R&aacute;dio Cultura FM</a><span class="decoracao"></span></li>
                  <li class="radio-rtb"><a href="#radio-rtb" title="R&aacute;dio R&aacute; Tim Bum">R&aacute;dio R&aacute; Tim Bum</a><span class="decoracao"></span></li>
                  <li class="radio-cocorico"><a href="#radio-cocorico" title="TV R&aacute; Tim Bum">R&aacute;dio Cocoric&oacute;</a><span class="decoracao"></span></li>
                </ul>
                <!-- Abas Conteudo -->

                <ul class="abas-conteudo">
                  <li id="radio-cb" class="filho"></li>
                  <li id="radio-fm" class="filho" style="display:none;"></li>
                  <li id="radio-rtb" class="filho" style="display: none; ">
                    <a href="http://www.tvratimbum.com.br/secoes/radiortb/" class="bg-Ratimbum"></a>
                  </li>
                  <li id="radio-cocorico" class="filho" style="display: none; ">
                    <a href="http://www.tvcultura.com.br/cocorico/radio/" class="bg-Cocorico"></a>
                  </li>

                </ul>
                <!-- /Abas Conteudo -->
              </div>
            </li>
            <!-- /Menu Radio -->
            <!-- Menu No Ar -->
            <li class="m-noar"><a class="filho m_ar_tvcultura" href="#" title="PROGRAMA&Ccedil;&Atilde;O">PROGRAMA&Ccedil;&Atilde;O<span></span></a>
              <div class="menu-aberto padrao ar grid3">

                <ul class="abas-menu abas">
                  <li class="neutro">
                    <p>escolha um canal</p>
                    <span></span>
                  </li>
                  <li class="tvcultura"><a href="javascript:;" title="TV Cultura" class="m_ar_tvcultura">TV Cultura</a><span class="decoracao"></span></li>
                  <li class="univesptv"><a href="javascript:;" title="Univesp TV" class="m_ar_univesptv">Univesp TV</a><span class="decoracao"></span></li>

                  <li class="multicultura"><a href="javascript:;" title="multiCULTURA" class="m_ar_multicultura">multiCULTURA</a><span class="decoracao"></span></li>
                  <li class="tvrtb"><a href="javascript:;" title="TV R&aacute; Tim Bum" class="m_ar_tvrtb">TV R&aacute; Tim Bum</a><span class="decoracao"></span></li>
                </ul>
                <!-- Abas Conteudo -->
                <ul class="abas-conteudo">
                  <li id="ar-tvcultura" class="filho"></li>
                  <li id="ar-univesptv" class="filho" style="display:none;"></li>

                  <li id="ar-multicultura" class="filho" style="display:none;"></li>
                  <li id="ar-tvrtb" class="filho" style="display:none;"></li>
                </ul>
                <!-- /Abas Conteudo -->
              </div>
            </li>
            <!-- /Menu No Ar -->

            <!-- Menu Editorias -->

            <li class="m-editorias"><a class="filho" href="#" title="CONTE&Uacute;DO">CONTE&Uacute;DO<span></span></a>
              <div class="menu-aberto padrao editorias">
                <ul class="abas">
                  <li class="neutro">
                    <p>escolha uma editoria</p>
                    <span></span>
                  </li>

                  <li class="m-arte-e-cultura"><a title="Arte &amp; Cultura" href="http://cmais.com.br/arte-e-cultura">Arte &amp; Cultura</a></li>
                  <li class="m-musica"><a title="Música" href="http://cmais.com.br/musica">Música</a></li>
                  <li class="m-infantil"><a title="+ Criança" href="http://cmais.com.br/infantil">+ Criança</a></li>
                  <li class="m-educacao"><a title="Educação" href="http://cmais.com.br/educacao">Educação</a></li>
                  <li class="m-jornalismo"><a title="Jornalismo" href="http://cmais.com.br/jornalismo">Jornalismo</a></li>

                </ul>
              </div>
            </li>
            <!-- /Menu Editorias -->

            <!-- Menu Videos -->
            <li class="m-videos"><a href="http://cmais.com.br/videos" title="VIDEOS">V&Iacute;DEOS</a></li>
            <!-- /Menu Videos -->

            <!-- Menu ao Vivo -->
            <li class="m-aovivo"><a href="http://cmais.com.br/aovivo" title="AO VIVO">AO VIVO</a></li>
            <!-- /Menu ao Vivo -->

            <!-- Menu Compartilhe -->
            <li class="m-compartilhe"><a class="filho" href="#" title="COMPARTILHE">Curtir e Seguir<span></span></a>
              <ul class="menu-aberto compartilhe">
                <li><a class="face" href="http://www.facebook.com/tvcultura" target="_blank" title="Facebook">Facebook</a></li>

                <li><a class="twitter" href="http://twitter.com/tvcultura" target="_blank" title="Twitter">Twitter</a></li>
                <li><a class="youtube" href="http://www.youtube.com/cultura" target="_blank" title="Youtube">Youtube</a></li>
                <li><a class="flickr" href="http://www.flickr.com/photos/televisaocultura" target="_blank" title="Flickr">Flickr</a></li>
              </ul>
            </li>
            <!-- /Menu Compartilhe -->

          </ul>

          <!-- /Menu-Portal -->

          <!-- Busca Portal -->
          <form class="busca-portal" action="/busca" method="get">
            <input type="hidden" name="site_id" id="site_id" value="110" /><input class="ipt-txt" type="text" name="term" id="term" /><input class="ipt-submit" type="submit" value="OK" />
          </form>
          <!-- /Busca Portal -->

        </div>
        <!-- /Barra Menu -->

      </div>
      <!-- /Barra Portal -->

    </div>
    <!-- /TOPO PORTAL -->

    

<script type="text/javascript" src="/portal/js/mediaplayer/swfobject.js"></script>
<script>
  function updateTweets() {
    $.ajax({
      url: "/ajax/tweetmonitor",
      data: "monitor_id=4",
      success: function(data) {
        $('#twitter').html(data);
      }
    });
  }
  
  jQuery(document).ready(function() {
    updateTweets();
    var t=setInterval("updateTweets()",10000);
    
  });
</script>

    
    <!-- CAPA SITE -->
	<div class="bg-rodaviva">
    <div id="capa-site">

      <!-- BARRA SITE -->
      <div id="barra-site">
	  	<div class="topo-programa">
	  	  		  <h2>
		    <a href="http://tvcultura.cmais.com.br/rodaviva" title="Roda Viva">

		      <img title="Roda Viva" alt="Roda Viva" src="/uploads/programs/c0c589f6e792215816c6c5dfff6f9967e9e0d3fc.png">
		    </a>
		  </h2>
		  		  
                              <!-- curtir -->
          <div class="redes">
            <div class="curtir">
              <div style="display:block; float: left; margin-right:10px;">
              <g:plusone size="medium" count="false"></g:plusone>
              </div>

              <fb:like href="http://tvcultura.cmais.com.br/rodaviva/bastidores" layout="button_count" show_faces="false" send="true" width="160"></fb:like>
            </div>
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="rodaviva">Tweet</a>
            <ul>
              <li><a class="rss" href="/rodaviva/feed" title="RSS">RSS</a></li>
              <li><a class="ytb" href="http://youtube.com/rodaviva" title="YouTube">YouTube</a></li>
              <li><a class="fb" href="http://www.facebook.com/rodaviva" title="Facebook">Facebook</a></li>

              <li><a class="twt" href="http://twitter.com/rodaviva" title="Twitter">Twitter</a></li>
            </ul>
          </div>
          <!-- /curtir -->
                    
                    <!-- horario -->
          <div id="horario">
            <p>Segunda, às 22h00<br>
Reprise na quinta, à 0h30</p>

          </div>
          <!-- /horario -->
          		</div>
		<div class="box-topo grid3">
                    <ul class="menu">
            				<li><a href="http://tvcultura.cmais.com.br/rodaviva/envie-sua-pergunta" title="Envie sua Pergunta"><span>Envie sua Pergunta</span></a></li>
							<li><a href="http://tvcultura.cmais.com.br/rodaviva/sobre-o-programa" title="Sobre o programa"><span>Sobre o programa</span></a></li>
							<li><a href="http://tvcultura.cmais.com.br/rodaviva/apresentador" title="Apresentador"><span>Apresentador</span></a></li>

							<li><a href="http://tvcultura.cmais.com.br/rodaviva/fale-conosco" title="Fale Conosco"><span>Fale Conosco</span></a></li>
			          </ul>
          		</div>
	</div>
      <!-- /BARRA SITE -->
      <!-- MIOLO -->
      <div id="miolo">
      	
        <!-- BOX LATERAL -->

                <!-- BOX LATERAL -->
        <ul class="box-lateral posicao-lateral" id="menuFloat">
          <li><a class="cmais" href="http://cmais.com.br" title="cmais+ O portal de conteúdo da Cultura
">cmais+ O portal de conteúdo da Cultura</a></li>
          <li><a class="tvcultura" href="http://tvcultura.cmais.com.br" title="TV Cultura">TV Cultura</a></li>
          <li><a class="tvrtb" href="http://tvratimbum.com.br" title="TV R&aacute; Tim Bum">TV R&aacute; Tim Bum</a></li>
          <li><a class="multicultura" href="http://multicultura.com.br" title="multiCULTURA">multiCULTURA</a></li>

          <li><a class="univesptv" href="http://univesp.tv.br" title="Univesp TV">Univesp TV</a></li>
          <li><a class="culturabrasil" href="http://www.culturabrasil.com.br" title="culturabrasil">culturabrasil</a></li>
          <li><a class="radioculturafm" href="http://www2.tvcultura.com.br/radiofm" title="R&aacute;dio Cultura FM">R&aacute;dio Cultura FM</a></li>
        </ul>
        <!-- BOX LATERAL -->        <!-- BOX LATERAL -->
        
        <!-- CONTEUDO PAGINA -->

        <div id="conteudo-pagina exceptionn">
          <!-- CAPA -->
          <div class="capa grid3 exceptionn">
          	<div class="tudo-Rodaviva">
          		<span class="bordaTopRV"></span>
          		<div class="centroRV">
          			<div class="preShow">
                                                          				<div class="convidado">
          					<h2>Convidado</h2>

          					          					          					<img src="http://midia.cmais.com.br/assets/image/image-3/393d5c8897e66a46a6c1d3db01e8ab2f50006fc1.jpg" alt="Jô Soares" />
          					          					
				        	<h4>Jô Soares</h4>
				        	<p>Humorista, apresentador de televisão, escritor, artista plástico, dramaturgo, diretor teatral, músico e ator estará no centro do Roda Viva.</p>
				        	<a href="/rodaviva/envie-sua-pergunta" class="pergunta"><span>Envie sua pergunta</span></a>
          				</div>
          				          				<div class="wrapperDir">
	          				<div class="bastidores">

	          					<h2>Bastidores</h2>
	          					<div class="grid1" id="canal">
				                  <!-- BOX CANAL YOUTUBE -->
				                  <script src="http://www.gmodules.com/ig/ifr?url=http://www.google.com/ig/modules/youtube.xml&amp;up_channel=BASTIDORESRODAVIVA&amp;synd=open&amp;w=300&amp;h=390&amp;title=&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
				                  <!-- /BOX CANAL YOUTUBE -->
				                </div>
	          				</div>
	          				<div class="aoVivo">

	          					<h2><span>Ao Vivo</span></h2>
	          					<div id="aovivo"></div>
                                <script>
                                  var so = new SWFObject('/portal/js/mediaplayer/player.swf','mpl','310','238','9');
                                  so.addVariable('controlbar', 'bottom');
                                  so.addVariable('autostart', 'true');
                                  so.addVariable('streamer', 'rtmp://200.136.27.12/live');
                                  so.addVariable('file', 'bastidores');
                                  so.addVariable('type', 'video');
                                  so.addParam('allowscriptaccess','always');
                                  so.addParam('allowfullscreen','true');
                                  so.addParam('wmode','transparent');
                                  so.write('aovivo');
                                  timer1();
                                  timer2();
                                </script>	
	                            <span class="faixa"></span>
	          				</div>
          				</div>
          			</div>
          			<div class="chat">

          				<div class="repercussao">
          					<h2><span>Repercussão</span></h2>
          					<div class="grid1">
			                  <div id="twitter"></div>
			              </div>
          				</div>
          			</div>
          		</div>

          		<span class="bordaBottomRV"></span>
          	</div>
          </div>
        
        </div>
        <!-- /CONTEUDO PAGINA -->

      </div>
      <!-- /MIOLO -->

    </div>

    </div>
    <!-- / CAPA SITE -->
        <!-- RODAPE -->
		<div id="rodape-portal">
			<div class="capa-voltar-topo">
				<a class="voltar-topo" href="#"><span></span>voltar ao topo</a>
			</div>
			<div class="capa-rodape">

				<div class="box-rodape">
					<div class="col-esq">
						<ul>
							<li class="tit">Portal</li>
							<li><a href="http://www.cmais.com.br" title="Home">Home</a></li>
							<li><a href="http://www.cmais.com.br/videos" title="V&iacute;deos">V&iacute;deos</a></li>
              				<li><a href="http://www.cmais.com.br/aovivo" title="Home">Ao Vivo</a></li>

              				<li><a href="http://www2.tvcultura.com.br/faleconosco/" title="Fale Conosco">Fale Conosco</a></li>
							<!--li><a href="http://www.cmais.com.br/expediente" title="Expediente">Expediente</a></li-->
						</ul>
						<ul>
							<li class="tit">Editorias</li>
							<li><a href="http://www.cmais.com.br/arte-e-cultura" title="Arte &amp; Cultura">Arte &amp; Cultura</a></li>

							<li><a href="http://www.cmais.com.br/educacao" title="Educa&ccedil;&atilde;o">Educa&ccedil;&atilde;o</a></li>
							<li><a href="http://www.cmais.com.br/infantil" title="+ Crian&ccedil;a">+ Crian&ccedil;a</a></li>
							<li><a href="http://www.cmais.com.br/jornalismo" title="Jornalismo">Jornalismo</a></li>
							<li><a href="http://www.cmais.com.br/juvenil" title="Juvenil">Juvenil</a></li>
							<li><a href="http://www.cmais.com.br/musica" title="M&uacute;sica">M&uacute;sica</a></li>

						</ul>
					</div>
					<div class="col-central">
						<div class="posicao">
							<p class="tit">+Populares</p>
							<ul>
								<li><a href="http://tvcultura.cmais.com.br" class="tit">TV Cultura</a></li>
								<li><a href="http://tvcultura.cmais.com.br/jornaldacultura" title="Jornal da Cultura">Jornal da Cultura</a></li>

								<li><a href="http://tvcultura.cmais.com.br/metropolis" title="Metropolis">Metropolis</a></li>
								<li><a href="http://tvcultura.cmais.com.br/provocacoes" title="Provoca&ccedil;&otilde;es">Provoca&ccedil;&otilde;es</a></li>
                <li><a href="http://tvcultura.cmais.com.br/quintaldacultura" title="Quintal da Cultura">Quintal da Cultura</a></li>
								<li><a href="http://tvcultura.cmais.com.br/rodaviva" title="Roda Viva">Roda Viva</a></li>
								<li><a href="http://tvcultura.cmais.com.br/vitrine" title="Vitrine">Vitrine</a></li>
							</ul>

							<ul>
								<li><a href="http://www.culturabrasil.com.br/" class="tit" title="R&aacute;dio Cultura Brasil">R&aacute;dio Cultura Brasil</a></li>
								<li><a href="http://www.culturabrasil.com.br/especiais" title="Especiais">Especiais</a></li>
								<li><a href="http://www.culturabrasil.com.br/entrevistas" title="Entrevistas">Entrevistas</a></li>
								<li><a href="http://www.culturabrasil.com.br/radarcultura" title="RadarCultura">RadarCultura</a></li>
								<li><a href="http://www.culturabrasil.com.br/playlists" title="Playlists">Playlists</a></li>

								<li><a href="http://www.culturabrasil.com.br/podcasts" title="Podcasts">Podcasts</a></li>
							</ul>
							<ul>
								<li><a href="http://www2.tvcultura.com.br/radiofm" class="tit" title="R&aacute;dio Cultura FM">R&aacute;dio Cultura FM</a></li>
								<li><a href="http://www2.tvcultura.com.br/radiofm/selecaodoouvinte.htm" title="Sele&ccedil;&atilde;o do Ouvinte">Sele&ccedil;&atilde;o do Ouvinte</a></li>
								<li><a href="http://www2.tvcultura.com.br/radiofm/grade/grade.htm" title="Grade de Programa&ccedil;&atilde;o">Grade de Programa&ccedil;&atilde;o</a></li>

								<li><a href="http://www.tvcultura.com.br/radiofm/podcasts" title="Podcasts">Podcasts</a></li>
							</ul>
						</div>
						<div class="posicao">
							<ul>
								<li><a href="http://univesp.tv.br/" class="tit">Univesp TV</a></li>
								<li><a href="http://www.univesp.tv.br/programas/ingles-com-musica" title="Ingl&ecirc;s Com M&Uacute;sica">Ingl&ecirc;s Com M&Uacute;sica</a></li>

								<li><a href="http://univesp.tv.br/programas/pedagogia-unesp" title="Pedagogia Unesp">Pedagogia Unesp</a></li>
								<li><a href="http://univesp.tv.br/programas/noticias-univesp" title="Not&iacute;cias Univesp">Not&iacute;cias Univesp</a></li>
								<li><a href="http://univesp.tv.br/programas/nascimento-das-universidades" title="Nascimento das Universidades">Nascimento das Universidades</a></li>
								<li><a href="http://univesp.tv.br/programas/em-busca-da-arte" title="Em Busca da Arte">Em Busca da Arte</a></li>
							</ul>
							<ul>

								<li><a href="http://www.multicultura.com.br/" class="tit">multiCULTURA</a></li>
								<li><a href="http://www.multicultura.com.br/o-que-e" title="O que &eacute;">O que &eacute;</a></li>
								<li><a href="http://www.multicultura.com.br/como-assistir" title="Como Assistir">Como Assistir</a></li>
								<li><a href="http://www.multicultura.com.br/programacao" title="Programa&ccedil;&atilde;o">Programa&ccedil;&atilde;o</a></li>
							</ul>
							<ul>

								<li><a href="http://www.tvratimbum.com.br/" class="tit">TV R&aacute; Tim Bum</a></li>
                <li><a href="http://www.tvcultura.com.br/x-tudo/index.htm" title="X-Tudo ">X-Tudo </a></li>
								<li><a href="http://www.tvcultura.com.br/cocorico" title="Cocoric&oacute;">Cocoric&oacute;</a></li>
								<li><a href="http://www.tvratimbum.com.br/secoes/programas/?id=20" title="Ba&uacute; de Hist&oacute;rias">Ba&uacute; de Hist&oacute;rias</a></li>

								<li><a href="http://www.tvratimbum.com.br/secoes/programas/?id=9" title="Mundo da Lua">Mundo da Lua</a></li>
								<li><a href="http://www.tvratimbum.com.br/secoes/programas/?id=25" title="Ilha R&aacute; Tim Bum">Ilha R&aacute; Tim Bum</a></li>
							</ul>
						</div>
						<div class="posicao">
							<ul>
								<li class="tit">Pela Web</li>

								<li><a href="http://www.facebook.com/tvcultura" title="Facebook">Facebook</a></li>
								<li><a href="http://www.flickr.com/photos/televisaocultura" title="Flickr">Flickr</a></li>
								<li><a href="http://twitter.com/#!/tvcultura" title="Twitter">Twitter</a></li>
								<li><a href="http://www.youtube.com/radarcultura" title="Youtube">Youtube</a></li>
							</ul>
							<ul>
								<li><a href="http://www2.tvcultura.com.br/fpa/" class="tit">Funda&ccedil;&atilde;o Padre Anchieta</a></li>

								<li><a href="http://www2.tvcultura.com.br/captacao/" title="Captacao">Capta&ccedil;&atilde;o</a></li>
								<li><a href="http://www2.tvcultura.com.br/imprensa/" title="Imprensa">Imprensa</a></li>
								<li><a href="http://www2.tvcultura.com.br/selecao/" title="Trabalhe Conosco">Trabalhe Conosco</a></li>
							</ul>
							
              <a href="http://cmais.com.br/programas-de-a-z" class="tit todos">Todos os sites</a>
              <a href="http://cmais.com.br/busca?term=ver+todo+o+conte%C3%BAdo" class="tit todos">Todo o conteúdo</a>

						</div>
					</div>
					<div class="col-dir">
						<a class="fpa" href="http://www2.tvcultura.com.br/fpa/" title="Funda&ccedil;&atilde;o Padre Anchieta">Funda&ccedil;&atilde;o Padre Anchieta</a>
						<a class="cultura" href="http://tvcultura.cmais.com.br/" title="TV Cultura">TV Cultura</a>
					</div>
					<div class="copyright">

						<p>Copyright &copy; 1996 - 2011 Funda&ccedil;&atilde;o Padre Anchieta</p>
					</div>
				</div>
				
			</div>
		</div>
		<!-- /RODAPE -->    
    <div id="fb-root"></div>

    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '124792594261614', status: true, cookie: true, xfbml: true});
      };
      (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
          '//connect.facebook.net/pt_BR/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>

  </body>
</html>