body { background:#fff url(http://cmais.com.br/portal/images/capaPrograma/segundatela/grade2013/bg.jpg) repeat-x; color:#000; }

.hero-unit { background:none;  }
.hero-unit .bgtopo { }
.hero-unit .bgtopo h1 {/*background:url(http://cmais.com.br/portal/images/capaPrograma/segundatela/grade2013/logo.png) no-repeat;*/ float:left; margin:0; padding:0 4% 0 0; /*text-indent:-9999px;*/  }
.hero-unit .bgtopo h1 img { display:block; width: 341px !important; max-width: 341px; }
.hero-unit .redes { clear:both; float:right; margin-top:20px; }
.hero-unit .col-dir {  float:right; width: 58%; background:#eee; height:100%; padding:0 10px; overflow: hidden; }
.hero-unit .fechar { background:#666; text-transform:uppercase; color:#fff; margin-top:20px; border:none; text-shadow:none; padding:0 5px; font-weight:bold; float:right; font-size:12px;  }
.hero-unit .menu-topo {clear: both; margin-top:20px; float: right;  }
.hero-unit .menu-topo p,
.hero-unit .menu-topo a { text-transform:uppercase; color:#666; font-weight:bold; float:left; text-align:right; font-size:14px; height:20px; line-height:20px; }
.hero-unit .menu-topo a:hover { text-decoration:none; }
.hero-unit .menu-topo .como { background:#fff; padding:0 5px; text-decoration:none;}
.hero-unit .menu-topo .como:hover { background:#666; color:#fff;  text-decoration:none;}
.hero-unit .menu-topo span { margin:-6px 10px 0 10px; float:left; color:#c4c4c4; font-size: 18px; }
.hero-unit .menu-topo .numero { background:#666; color:#ccff33; padding:0 5px; margin:0; font-size:14px; min-width:20px; text-align:center; }
.hero-unit .menu-topo .seta { border:5px solid transparent;  border-left-color: #666; width: 0; height:0; margin:0; padding:0; display:block; float:left; margin-top:5px; }
.hero-unit .menu-topo .offline { color:#ce0002;}

.redes .twt,
.redes .fb,
.redes .gplus {  float:right; }

.tab-content ul { margin-left:0; }
.tab-content ul li { list-style:none; margin-bottom:10px; }
.tab-content ul li .download { width: 12px; height:12px; background:url(http://cmais.com.br/portal/images/capaPrograma/segundatela/grade2013/download.jpg) no-repeat; display: block;float:left; margin:5px 3px 0 0; }
.tab-content ul li a { color:#000; text-decoration:underline; }


/* media screen*/
@media screen and (max-width: 1200px){
  .hero-unit .col-dir { max-width: 57%; }
  .hero-unit .menu-topo { margin-top:20px; }
  .hero-unit .menu-topo .como { margin-bottom:10px; }
  .hero-unit .menu-topo a { font-size:12px; }
  .hero-unit .menu-topo span { margin-top:-6px;} 
}


@media screen and (max-width: 1024px){
  .hero-unit .col-dir { max-width: 57%; }
  .hero-unit .menu-topo { margin-top:20px; }
  .hero-unit .menu-topo .como { margin-bottom:10px; }
  .hero-unit .menu-topo a { font-size:12px; }
  .hero-unit .menu-topo span { margin-top:-6px;} 
  .conteudo .span8 { width:100% }
  .conteudo .span4 { width:100%; margin-left:0; }
  .accordion-inner iframe { width: 100%; height:390px;} 
}


@media screen and (max-width: 980px) {
 .hero-unit .col-dir { max-width: 46%; }
}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 768px)  {
  .hero-unit .bgtopo h1 { max-width:50%; }
  .hero-unit .col-dir { max-width: 42%; min-height:192px; }
  .conteudo { background:#fff; overflow:hidden; }
  .accordion-inner iframe { width:100%; height:auto; }
  .hero-unit .col-esq h1 { margin:2% auto; }
  .hero-unit .menu-topo { margin-top:5px; float:right; }
  .hero-unit .col-dir a { display:block;  }
  .hero-unit .bgtopo h1 { padding:0; }
}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 480px)  {
  .hero-unit .bgtopo h1 { margin-top:15%; width: 100% }
  /*.col-dir { display: none; }*/
}

.hero-unit .col-dir { *width:40%; }
