@font-face {
    font-family: 'source_sans_proregular';
    src: url('/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.eot');
    src: url('/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.woff') format('woff'),
         url('/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('/portal/css/fontes/sourcesans/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { background:#fff url(/portal/images/capaPrograma/segundatela/jornaldacultura/bg-jc.jpg) repeat-x; color:#000; }
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { max-width: 970px; }
.nav-tabs > li > a,
.hero-unit .fechar,
.hero-unit  {  border-radius:0; -moz-border-radius: 0; -webkit-border-radius: 0;  }

.nav-tabs > li > a,
.accordion-heading .accordion-toggle,
.conteudo h2,
.hero-unit .col-esq p,
.hero-unit .fechar { font-family: 'source_sans_proregular'; }

.hero-unit { padding:0; margin:0; background:#eee; height:200px; overflow:hidden; padding-right: 10px;}
.hero-unit .bgtopo { width: 260px; height:200px; background:url(/portal/images/capaPrograma/segundatela/jornaldacultura/bg-topo-jc.jpg) no-repeat; float:left; margin-right:10px; }
.hero-unit .col-esq { max-width: 40%; float:left; }
.hero-unit .col-esq h1 { margin:30px 0 0 0; padding:0; text-indent:-9999px; background:url(/portal/images/capaPrograma/segundatela/jornaldacultura/logo-jc.png) no-repeat; width: 176px; height:71px;}
.hero-unit .col-esq p {  font-size:14px; line-height: 18px; text-align: left; margin:20px 0 10px 0;  }
.hero-unit .redes { text-align:left; }
.hero-unit .col-dir {  float:right; width: 39%; }
.hero-unit .fechar { background:#666; text-transform:uppercase; color:#fff; margin-top:20px; border:none; text-shadow:none; padding:0 5px; font-weight:bold; float:right; font-size:12px;  }
.hero-unit .menu-jc {clear: both; margin-top:60px; float: right;  }
.hero-unit .menu-jc a { text-transform:uppercase; color:#666; font-weight:bold; float:left; text-align:right; font-size:14px; height:20px; line-height:20px; }
.hero-unit .menu-jc a:hover { text-decoration:none; }
.hero-unit .menu-jc .como { background:#fff; padding:0 5px;}
.hero-unit .menu-jc .como:hover { background:#666; color:#fff; }
.hero-unit .menu-jc span { margin:-6px 10px 0 10px; float:left; color:#c4c4c4; font-size: 18px; }
.hero-unit .menu-jc .numero { background:#666; color:#ccff33; padding:0 5px; margin:0; font-size:14px; }
.hero-unit .menu-jc .seta { border:5px solid transparent;  border-left-color: #666; width: 0; height:0; margin:0; padding:0; display:block; float:left; margin-top:5px; }
.hero-unit .menu-jc .offline { color:#ce0002;}
.conteudo h2 { font-size:22px; line-height:24px; margin:20px 0 5px 0; color:#666; text-transform:uppercase; }
.accordion-heading .accordion-toggle { background:#666; color:#fff; text-transform:uppercase; font-weight:bold; padding:4px 20px; border:1px dotted #fff; font-size:16px; text-decoration:none; position:relative; }
.accordion-heading .accordion-toggle:hover,
.accordion-heading .accordion-toggle.ativo { background:#333; text-decoration:none !important; }
.accordion-heading .accordion-toggle{position:relative; z-index:50000;}
.accordion-heading .accordion-toggle i { margin:4px 10px 0 0; }
.accordion-body img { max-width: 140px; float:left;  margin-right:10px;}
.accordion-body a { color:#000; text-decoration:underline; }

.nav-tabs > li { margin-bottom:0; }
.nav-tabs { background:#666; border:none; border-left: 1px dotted #fff;  }
.nav-tabs > li { border-right: 1px dotted #fff; }
.nav-tabs > li > a { font-weight:bold; text-transform:uppercase;color:#fff; background:#666;border:none; padding:0; height:30px; line-height: 30px; margin:0; font-size:16px; min-width:100px; text-align:center; }
.nav-tabs > li:hover > a,
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {  background:#333; color:#fff; border:none; }

.modal a { color:#000; text-decoration:underline; }
.conteudo { margin-bottom:50px; }
#twitter-widget-1 { min-height:600px; }
.accordion-group { border:none; }
.accordion-body,
.accordion-inner { border:none; background:#eee; overflow:hidden; }
.redes .fb {margin:-4px 10px 0 10px;  }
.redes .twt,
.redes .fb,
.redes .gplus {  display: block; float:left; }
.accordion-body p,
.accordion-body img { padding:0 15px;} 
.accordion-body #mais h3 { background:#333; color:#fff; padding:2px 5px; font-size:14px; height:18px; line-height:18px; float: left; text-transform:uppercase; margin:0 15px 10px 15px; font-weight:normal;}   
.accordion-body #mais ul { clear:both; margin-left:20px; } 
.accordion-body #mais li { list-style:none;} 
.accordion-body #mais li i { margin-right:5px;} 
.accordion-body #mais li a { text-decoration:none;}
.accordion-body #mais li a:hover { text-decoration:underline ;} 
.accordion-heading .loader { position:absolute; right:10px; top:7px; } 



/* ie */
.hero-unit .col-dir { width/*\**/:37%\9; }
.hero-unit .col-esq { *width:310px; } 
.hero-unit .col-dir { *width:360px;  }
.hero-unit .menu-jc { *width: 350px;} 
.hero-unit .col-dir span { *margin:-6px 0 0 0;}  
.row-fluid .span4 { *margin-left:0} 
/* /ie */

/* media screen*/
@media screen and (max-width: 1200px){
  .hero-unit .col-dir { max-width: 36%; }
  .hero-unit .col-esq { max-width:60%; margin-left:0; }
  .hero-unit .menu-jc { margin-top:20px; }
  .hero-unit .menu-jc .como { margin-bottom:10px; }
  .hero-unit .menu-jc a { font-size:12px; }
  .hero-unit .menu-jc span { margin-top:-6px;} 
}

@media screen and (max-width: 1024px){
  .hero-unit .col-dir { max-width: 18%; }
  .hero-unit .col-esq { max-width:60%; margin-left:0; }
  .hero-unit .menu-jc { margin-top:20px; }
  .hero-unit .menu-jc .como { margin-bottom:10px; }
  .hero-unit .menu-jc a { font-size:12px; }
  .hero-unit .menu-jc span { margin-top:-6px;} 
  .conteudo .span8 { width:100% }
  .conteudo .span4 { width:100%; margin-left:0; }
  .accordion-inner iframe { width: 100%; height:590px;} 
  .hero-unit .col-dir span.barra { display:none; }
  .hero-unit .menu-jc a.online { padding-right:10%; }
}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 768px)  {
  .hero-unit .bgtopo { display:none; }
  .conteudo { background:#fff; overflow:hidden; }
  .accordion-inner iframe { width:100%; height:410px; }
  .hero-unit { padding:1%; }
  .hero-unit .col-esq { width:50%; margin-left:0; }
  .hero-unit .col-dir { min-width:50%; float:left; }
  .hero-unit {  height:auto;}
  .hero-unit .col-esq p { text-align:center; }
  .hero-unit .col-esq h1 { margin:2% auto; }
  .hero-unit .redes { min-width:350px; margin:0 auto; }
  .hero-unit .menu-jc { margin-top:5px; float:right; }
  .hero-unit .col-dir span.barra { display:none; }
  .hero-unit .col-dir a { display:block;  }
  .hero-unit .col-dir .online { margin-top:5px; }
}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 480px)  {
  .hero-unit .col-dir,
  .hero-unit .col-esq { max-width: 100%; width:100%;}  
  .hero-unit .col-dir .fechar { display:none; }
  .hero-unit .col-esq p { margin:4px 0 0; text-align:left; }
  .hero-unit .col-esq h1 { margin:2% auto; background:url("/portal/images/capaPrograma/segundatela/jornaldacultura/logo-jc-small.png") no-repeat scroll 0 0 transparent }
  .hero-unit .col-dir span.barra { display:none;}
  .hero-unit .menu-jc { float:left; margin-left:1%; }
  .hero-unit .menu-jc .offline,
  .hero-unit .menu-jc a.online { clear:both; }
}

.accordion-body ul { margin:0; padding:15px;}
.accordion-body table,
.accordion-body img { padding:15px 15px 0 0;  float:left; margin-right:0;  }
.accordion-body { padding:0 15px; background:#eee; position: relative; z-index:10;}
.accordion-inner{ padding:0;position: relative; z-index: 10 }
.accordion-body p { padding:0; }
.accordion-body #mais ul,
.accordion-body #mais h3 { margin-left:0; }
.accordion-body #mais h3 { margin-top:15px; }
.accordion-body #mais ul { padding:0 0 15px 0; }
.accordion-heading { margin-bottom:0; } 
.accordion-body p { margin:10px 0 0 0; }
.logo-link img { padding:0 0 15px 0; }

