/* rodaviva*/

body { background:#fff url(http://cmais.com.br/portal/images/capaPrograma/segundatela/rodaviva/bg.jpg) repeat-x; color:#000; }
.hero-unit .bgtopo { width: 260px; height:200px; background:url(http://cmais.com.br/portal/images/capaPrograma/segundatela/rodaviva/bg-topo.jpg) no-repeat; float:left; margin-right:10px; }
.hero-unit .col-esq h1 {  background:url(http://cmais.com.br/portal/images/capaPrograma/segundatela/rodaviva/logo.png) no-repeat; width: 169px; height:85px;}
.hero-unit .col-esq p { max-width:190px; }

/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 480px)  {
  .hero-unit .col-esq h1 { margin:2% auto; background:url("http://cmais.com.br/portal/images/capaPrograma/segundatela/rodaviva/logo2.png") no-repeat scroll 0 0 transparent; width:150px; height:75px; }
}

@media screen and (min-width: 1025px){
  #myTab{clear:both;}   
  
}

@media screen and (max-width: 1024px){
  .conteudo .span4 .box { width:48%; float:left; }
  .conteudo .span4 .box.first { margin-right:4%; }
  .conteudo .span4 .box iframe { width: 100%; height:290px;}   
  
}

@media screen and (max-width: 980px){
  .conteudo .span8 { width:100% }
  .conteudo .span4 { width:100%; margin-left:0; }
  .conteudo .span4 .box { width:48%; float:left; }
  .conteudo .span4 .box.first { margin-right:4%; }
  .conteudo .span4 .box iframe { width: 100%; height:290px;}  
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .conteudo .span8 { width:100% }
  .conteudo .span4 { width:100%; margin-left:0; }
  .conteudo .span4 .box { width:100%; float:left; }
  .conteudo .span4 .box.first { margin-right:0%; }
  .conteudo .span4 .box iframe { width: 100%; height:290px;}  
}

@media screen and (max-width: 768px){
  .conteudo .span4 .box { width:100%; }
  .conteudo .span4 .box iframe { width: 100%; height:390px;}
}


@media screen and (max-width: 480px){
  .conteudo .span4 .box { width:100%; }
  .conteudo .span4 .box iframe { width: 100%; height:290px;} 
}

/* /rodaviva*/

