#slider {
	/*margin: 20px auto 0 auto;*/
	width: 100%;
	/*width: 960px;*/
	height: 450px;
}

#slider a,
#slider h2,
#slider h3 {
	line-height: 1em;
	white-space: nowrap;
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.slide01 {
	font-family: Arial, sans-serif; 
}
.slide01 h2 {
	font-size: 48px;
	/*line-height: 1em;*/
	color: #95b29b;
}
.slide01 h3 {
	font-size: 30px;
	color: #f1fac1;
}
.slide01 p {
	font-size: 18px;
	color: #fbf9eb;
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.slide01 .circle {
	border-radius: 6px;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #ccdccf;
	margin-right: 15px;
}

.slide02 {
	font-family: Arial, sans-serif;
	background: url('/testes/layer-slider/preview/6/slides/slide02bgp.jpg') repeat-x;
}
.slide02 h2 {
	font-size: 48px;
	color: #95b29b;
}
.slide02 h3 {
	font-family: Arial, sans-serif;
	font-size: 30px;
	color: #d4dcad;
}
.slide02 p {
	width: 800px;
	color: #fffef3;
	line-height: 1.5em;
	white-space: normal;
	text-align: center;
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.slide02 p a {
	text-decoration: none;
	background: #94b19a;
	color: #fffef3;
	padding: 2px 5px;
}

.slide03 {
	font-family: Arial, sans-serif;
}
.slide03 .bottom {
	background: #82363f;
	opacity: 0.5;
	height: 20%;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}
.slide03 h2 {
	font-size: 48px;
	color: #9e6768;
}
.slide03 p {
	width: 600px;
	color: #fbf9de;
	line-height: 1.5em;
	white-space: normal;
	text-align: right;
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.slide03 .read_more .plus {
	color: #82363F;
}

.slide04 {
	font-family: Arial, sans-serif;
}
.slide04 h2 {
	font-size: 22px;
	color: #8d5e68;
}
.slide04 h3 {
	font-size: 18px;
	color: #eff0e1;
	background: #a26d70;
	padding: 2px 5px;
}
.slide04 p {
	color: #646157;
	width: 420px;
	font-size: 13px;
	text-align: right;
	white-space: normal;
	line-height: 1.5em;
}

.read_more {
	text-align: right;
	text-decoration: none;
	color: #f5e8a4;
	padding-right: 30px;
	vertical-align: top;
}
.read_more .plus {
	font-size: 20px;
	display: inline-block;
	line-height: 14px;
	background: #f5e8a4;
	color: #95b29b;
	text-align: center;
	padding: 1px 1px 0px 1px;
	vertical-align: top;
	font-family: sans-serif;
}
.slide04 .read_more {
	color: #a26d70;
}
.slide04 .read_more .plus {
	background: #a26d70;
	color: #eff0e1;
	padding: 0px 1px 1px 1px;
}
.mpc_ls_thumb{
  opacity:1!important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"!important;
  filter: alpha(opacity=100)!important;
  -khtml-opacity: 1!important;
  -moz-opacity: 1!important;
}
.total{left: 0;top: 0;width: 100%; height: 100%;display:block;}
#carrossel-destaque .tit-banner,
#carrossel-destaque .desc-banner{font-family: 'din-blackregular', Arial, Helvetica, sans-serif;}
#carrossel-destaque .tit-banner{text-transform:uppercase;}
  
#carrossel-destaque .slide01 .tit-banner{font-size:117px; color:#00aa52;}
#carrossel-destaque .slide01 .desc-banner{font-size:60px; color:#00aa52;}
  
#carrossel-destaque .slide05 .barra{width:9000px; height: 130px; display: block; background:#fee133;}  